@import './settings';

@mixin content-padding($padding-value) {
  padding-right: $padding-value;
  padding-left: $padding-value;
}

.#{$bitstyles-namespace}a-content {
  width: 100%;
  max-width: map-get($bitstyles-content-max-width, $bitstyles-content-max-width-base);
  margin-right: auto;
  margin-left: auto;
  transition: padding $bitstyles-transition-duration $bitstyles-transition-easing;

  @each $breakpoint-alias, $padding-value in $bitstyles-content-padding {
    @if $breakpoint-alias == 'base' {
      @include content-padding($padding-value);
    }

    @else {
      /* stylelint-disable max-nesting-depth */
      @include media-query($breakpoint-alias) {
        @include content-padding($padding-value);
      }
      /* stylelint-enable max-nesting-depth */
    }
  }
}

@each $max-width-alias, $max-width-value in $bitstyles-content-max-width {
  .#{$bitstyles-namespace}a-content--#{$max-width-alias} {
    max-width: $max-width-value;
  }
}
