@use 'sass:map';
@use './settings';
@use '../../settings/animation';
@use '../../settings/setup';
@use '../../tools/media-query';

@mixin content-padding($padding-value) {
  padding-right: $padding-value;
  padding-left: $padding-value;
}

.#{setup.$namespace}a-content {
  width: 100%;
  max-width: map.get(settings.$max-width, settings.$max-width-base);
  margin-right: auto;
  margin-left: auto;
  transition: padding animation.$transition-duration animation.$transition-easing;

  @each $breakpoint-alias, $padding-value in settings.$padding {
    @if $breakpoint-alias == 'base' {
      @include content-padding($padding-value);
    }
    @else {
      /* stylelint-disable max-nesting-depth */
      @include media-query.get($breakpoint-alias) {
        @include content-padding($padding-value);
      }
      /* stylelint-enable max-nesting-depth */
    }
  }
}

@each $max-width-alias, $max-width-value in settings.$max-width {
  .#{setup.$namespace}a-content--#{$max-width-alias} {
    max-width: $max-width-value;
  }
}
