@forward 'settings';
@use 'sass:map';
@use './settings';
@use '../../tools/classname';
@use '../../tools/design-token';
@use '../../tools/media-query';

@mixin content-padding($padding-value) {
  padding-right: $padding-value;
  padding-left: $padding-value;
}

#{classname.get($classname-items: 'content', $layer: 'atom')} {
  width: 100%;
  max-width: map.get(settings.$max-width, settings.$max-width-base);
  margin-right: auto;
  margin-left: auto;
  transition: padding var(design-token.get('transition', 'default', 'duration'))
    var(design-token.get('transition', 'default', 'easing'));

  @each $breakpoint-name, $padding-value in settings.$padding {
    @include media-query.get($breakpoint-name) {
      @include content-padding($padding-value);
    }
  }
}

@each $max-width-alias, $max-width-value in settings.$max-width {
  #{classname.get($classname-items: 'content--#{$max-width-alias}', $layer: 'atom')} {
    max-width: $max-width-value;
  }
}
