@use '../../tools/size';

$max-width: (
  's4': 25rem,
  's': 35rem,
  'm': 65rem,
  'l': 85rem,
  'full': 100%,
) !default;
$max-width-base: 'm' !default;
$padding: (
  'base': size.get('m'),
  'l': size.get('l2'),
  'xl': size.get('l3'),
) !default;
