@use '../../settings/setup';
@use '../../tools/design-token';

$max-width: (
  'xs': 25rem,
  's': 35rem,
  'm': 65rem,
  'l': 85rem,
  'full': 100%,
) !default;
$max-width-base: 'm' !default;
$padding: (
  '#{setup.$no-media-query}':
    var(design-token.get('content', 'padding', 'base')),
  'l': var(design-token.get('content', 'padding', 'l1')),
) !default;
