$bitstyles-content-max-width: (
  'xs': 25rem,
  's': 35rem,
  'm': 65rem,
  'l': 85rem,
  'full': 100%
) !default;
$bitstyles-content-max-width-base: 'm' !default;
$bitstyles-content-padding: (
  'base':  spacing('m'),
  'l': spacing('l')
) !default;
