$bitstyles-content-max-width-s: 25rem !default;
$bitstyles-content-max-width-m: 35rem !default;
$bitstyles-content-max-width: 65rem !default;
$bitstyles-content-horizontal-padding: spacing('m') !default;
$bitstyles-content-horizontal-padding-large: spacing('l') !default;
$bitstyles-content-large-breakpoint: 'l' !default; // The breakpoint at which we implement the above horizontal-padding value.
