@use "../../tools/spacing";

$max-width: (
  'xs': 25rem,
  's': 35rem,
  'm': 65rem,
  'l': 85rem,
  'full': 100%
) !default;
$max-width-base: 'm' !default;
$padding: (
  'base':  spacing.spacing('m'),
  'l': spacing.spacing('l'),
  'xl': spacing.spacing('xl')
) !default;
