@import './settings';

.o-button--danger {
  padding: $bitstyles-button-danger-padding-vertical $bitstyles-button-danger-padding-horizontal;
  border-radius: $bitstyles-button-danger-border-radius;

  &,
  &:visited {
    color: $bitstyles-button-danger-color;
    background: $bitstyles-button-danger-background-color;
    border: $bitstyles-button-danger-border;
    box-shadow: $bitstyles-button-danger-box-shadow;
  }

  &:hover,
  &:focus {
    color: $bitstyles-button-danger-color-hover;
    text-decoration: none;
    background: $bitstyles-button-danger-background-color-hover;
    border: $bitstyles-button-danger-border-hover;
    outline: none;
    box-shadow: $bitstyles-button-danger-box-shadow-hover;
  }

  &:active {
    color: $bitstyles-button-danger-color-active;
    background: $bitstyles-button-danger-background-color-active;
    border: $bitstyles-button-danger-border-active;
    box-shadow: $bitstyles-button-danger-box-shadow-active;
  }

  &:disabled {
    color: $bitstyles-button-danger-color-disabled;
    cursor: default;
    background: $bitstyles-button-danger-background-color-disabled;
    border: $bitstyles-button-danger-border-disabled;
    box-shadow: $bitstyles-button-danger-box-shadow-disabled;
  }
}
