@forward './settings';
@use './settings';
@use '../../settings/layout';
@use '../../tools/classname';

#{classname.get($classname-items: 'avatar', $layer: 'atom')} {
  width: 2em;
  height: 2em;
  overflow: hidden;
  border-radius: layout.$border-radius-round;

  /* stylelint-disable selector-max-type */
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  /* stylelint-enable selector-max-type */
}

@each $size-alias, $size in settings.$sizes {
  #{classname.get($classname-items: 'avatar--#{$size-alias}', $layer: 'atom')} {
    width: $size;
    height: $size;
  }
}
