@use 'sass:color';
@use '../tools/color' as bs-color;

//
// Base colors /////////////////////////////////////////

$black: #000 !default;
$white: #fff !default;
$brand-1: #322cd7 !default;
$brand-2: #ffd000 !default;
$green: #50a802 !default;
$red: #e82915 !default;
$orange: #f57302 !default;

$grays-hint-color: $brand-1 !default;
$grays-hint-color-mix: 6% !default;

$default-key: '100' !default;

//
// Base palette /////////////////////////////////////////

$palette: (
  'pure-gray':
    bs-color.generate-tints(
      $base-color: $black,
    ),
  'brand-gray':
    bs-color.generate-tints-and-shades(
      $base-color: color.adjust($brand-1, $saturation: -50%),
    ),
  'brand-1':
    bs-color.generate-tints-and-shades(
      $base-color: $brand-1,
    ),
  'brand-2':
    bs-color.generate-tints-and-shades(
      $base-color: $brand-2,
    ),
  'red':
    bs-color.generate-tints-and-shades(
      $base-color: $red,
    ),
  'orange':
    bs-color.generate-tints-and-shades(
      $base-color: $orange,
    ),
  'green':
    bs-color.generate-tints-and-shades(
      $base-color: $green,
    ),
) !default;
