$colors: (
  'pure-gray': #000,
  'white': #fff,
  'brand-1': #3b37ab,
  'brand-2': #f3d13b,
  'green': #669f34,
  'red': #e44332,
  'orange': #f57302,
) !default;

/* prettier-ignore */
$tint-percentages: (1, 2, 3, 4, 5, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100) !default;
$shade-percentages: (95, 90, 80, 70, 60, 50, 40, 30, 20, 10) !default;

/* prettier-ignore */
$scale-percentages: (0, 1, 2, 3, 4, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100 ) !default;
