@use 'sass:color';
@use 'sass:map';
@use '../tools/color' as bs-color;
@use './base-colors';

$accent-gray-color: map.get(base-colors.$colors, 'brand-1') !default;
$accent-gray-saturation: -85% !default;
$palette: (
  'pure-gray':
    bs-color.generate-scale(
      $base-color: map.get(base-colors.$colors, 'pure-gray'),
      $percentages: base-colors.$grayscale-percentages,
    ),
  'accent-gray':
    bs-color.generate-scale(
      $base-color:
        color.scale(
          $color: $accent-gray-color,
          $saturation: $accent-gray-saturation,
          $lightness: 10%,
        ),
    ),
  'brand-1':
    bs-color.generate-scale(
      $base-color: map.get(base-colors.$colors, 'brand-1'),
    ),
  'brand-2':
    bs-color.generate-scale(
      $base-color: map.get(base-colors.$colors, 'brand-2'),
    ),
  'red':
    bs-color.generate-scale(
      $base-color: map.get(base-colors.$colors, 'red'),
    ),
  'orange':
    bs-color.generate-scale(
      $base-color: map.get(base-colors.$colors, 'orange'),
    ),
  'green':
    bs-color.generate-scale(
      $base-color: map.get(base-colors.$colors, 'green'),
    ),
) !default;
