// Styleguide Settings.bordered-header

$bitstyles-bordered-header-line-min-width: 20% !default;
$bitstyles-bordered-header-gutter: 1em !default;
$bitstyles-bordered-header-border: 1px solid $bitstyles-color-gray-20 !default;
