$breakpoint-boundary-width:    0.0625em !default;
$breakpoint-s-m-boundary:      30em !default;
$breakpoint-m-l-boundary:      55em !default;
$breakpoint-l-xl-boundary:     95em !default;

$breakpoints: (
  's':                  'screen and (max-width: #{$breakpoint-s-m-boundary - $breakpoint-boundary-width})',
  'm':                  'screen and (min-width: #{$breakpoint-s-m-boundary})',
  'l':                  'screen and (min-width: #{$breakpoint-m-l-boundary})',
  'xl':                 'screen and (min-width: #{$breakpoint-l-xl-boundary})',
  'hidpi':              '(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx)',
  'landscape':          'all and (orientation:landscape)',
  'portrait':           'all and (orientation:portrait)',
  'motion-ok':          'screen and (prefers-reduced-motion: no-preference)'
) !default;
