$boundary-width: 0.0625em !default;
$s-m-boundary: 30em !default;
$m-l-boundary: 55em !default;
$l-xl-boundary: 95em !default;

$breakpoints: (
  's': 'screen and (max-width: #{$s-m-boundary - $boundary-width})',
  'm': 'screen and (min-width: #{$s-m-boundary})',
  'l': 'screen and (min-width: #{$m-l-boundary})',
  'xl': 'screen and (min-width: #{$l-xl-boundary})',
  'hidpi':
    '(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx)',
  'landscape': 'all and (orientation:landscape)',
  'portrait': 'all and (orientation:portrait)',
  'motion-ok': 'screen and (prefers-reduced-motion: no-preference)',
) !default;
