$bitstyles-button-icon-padding: 1rem !default;
$bitstyles-button-icon-color: $bitstyles-color-white !default;
$bitstyles-button-icon-background-color: $bitstyles-color-black !default;
$bitstyles-button-icon-border: 0 !default;
$bitstyles-button-icon-border-radius: $bitstyles-border-radius-round !default;
