//
// Base styles ////////////////////////////////////////

$bitstyles-button-padding-vertical: spacing('s') !default;
$bitstyles-button-padding-horizontal: spacing('m') !default;
$bitstyles-button-border-radius: spacing('xxs') !default;
$bitstyles-button-transition:
  color $bitstyles-transition-duration $bitstyles-transition-easing,
  background-color $bitstyles-transition-duration $bitstyles-transition-easing !default;
$bitstyles-button-icon-spacing: spacing('s') !default;

//
// Base colors ////////////////////////////////////////

$bitstyles-button-border: none !default;
$bitstyles-button-background-color: palette('primary') !default;
$bitstyles-button-color: $bitstyles-color-white !default;

//
// Hover colors ////////////////////////////////////////

$bitstyles-button-border-hover: none !default;
$bitstyles-button-background-color-hover: palette('primary', 'light') !default;
$bitstyles-button-color-hover: $bitstyles-color-white !default;

//
// Active colors ////////////////////////////////////////

$bitstyles-button-border-active: none !default;
$bitstyles-button-background-color-active: palette('primary', 'dark') !default;
$bitstyles-button-color-active: $bitstyles-color-white !default;

//
// Disabled colors ////////////////////////////////////////

$bitstyles-button-border-disabled: none !default;
$bitstyles-button-background-color-disabled: $bitstyles-color-gray-30 !default;
$bitstyles-button-color-disabled: $bitstyles-color-gray-70 !default;
