@use 'sass:color';

$black: #000 !default;
$white: #fff !default;
$brand-1: #000dff !default;
$brand-2: #fa0 !default;
$text: #333 !default;
$background: color.mix($white, $brand-1, 97%) !default;
$positive: #50a802 !default;
$danger: #e82915 !default;
$warning: #fe881e !default;
