@use 'color-base';
@use 'sass:color';
@use '../tools/color' as bs-color;

// Use Sass map functions to merge in extra color maps in your project, or re-define the whole map.

$grays-hint-color: color-base.$brand-1 !default;
$grays-hint-color-mix: 10% !default;
$color-mix-percentages: (1, 2, 3, 5, 10, 20, 30, 40, 50, 60, 70, 80, 90, 95, 97, 98, 99, 100) !default;

$color-palette: (
  'black': bs-color.generate-palette(
    $base-color: color-base.$black,
    $mix-color: color-base.$white,
    $percentages: $color-mix-percentages
  ),
  'white': bs-color.generate-palette(
    $base-color: color-base.$white,
    $mix-color: color-base.$black,
    $percentages: $color-mix-percentages
  ),
  'gray': (
    '100': color.mix($grays-hint-color, color.mix(color-base.$white, color-base.$black, 0%), $grays-hint-color-mix),
    '99': color.mix($grays-hint-color, color.mix(color-base.$white, color-base.$black, 1%), $grays-hint-color-mix),
    '98': color.mix($grays-hint-color, color.mix(color-base.$white, color-base.$black, 2%), $grays-hint-color-mix),
    '97': color.mix($grays-hint-color, color.mix(color-base.$white, color-base.$black, 3%), $grays-hint-color-mix),
    '95': color.mix($grays-hint-color, color.mix(color-base.$white, color-base.$black, 5%), $grays-hint-color-mix),
    '90': color.mix($grays-hint-color, color.mix(color-base.$white, color-base.$black, 10%), $grays-hint-color-mix),
    '80': color.mix($grays-hint-color, color.mix(color-base.$white, color-base.$black, 20%), $grays-hint-color-mix),
    '70': color.mix($grays-hint-color, color.mix(color-base.$white, color-base.$black, 30%), $grays-hint-color-mix),
    '60': color.mix($grays-hint-color, color.mix(color-base.$white, color-base.$black, 40%), $grays-hint-color-mix),
    '50': color.mix($grays-hint-color, color.mix(color-base.$white, color-base.$black, 50%), $grays-hint-color-mix),
    '40': color.mix($grays-hint-color, color.mix(color-base.$white, color-base.$black, 60%), $grays-hint-color-mix),
    '30': color.mix($grays-hint-color, color.mix(color-base.$white, color-base.$black, 70%), $grays-hint-color-mix),
    '20': color.mix($grays-hint-color, color.mix(color-base.$white, color-base.$black, 80%), $grays-hint-color-mix),
    '10': color.mix($grays-hint-color, color.mix(color-base.$white, color-base.$black, 90%), $grays-hint-color-mix),
    '5': color.mix($grays-hint-color, color.mix(color-base.$white, color-base.$black, 95%), $grays-hint-color-mix),
    '3': color.mix($grays-hint-color, color.mix(color-base.$white, color-base.$black, 97%), $grays-hint-color-mix),
    '2': color.mix($grays-hint-color, color.mix(color-base.$white, color-base.$black, 98%), $grays-hint-color-mix),
    '1': color.mix($grays-hint-color, color.mix(color-base.$white, color-base.$black, 99%), $grays-hint-color-mix),
  ),
  'text': bs-color.generate-palette(
    $base-color: color-base.$text,
    $mix-color: color-base.$white,
    $percentages: $color-mix-percentages
  ),
  'background': bs-color.generate-palette(
    $base-color: color-base.$background,
    $mix-color: color-base.$brand-1,
    $percentages: $color-mix-percentages
  ),
  'brand-1': bs-color.generate-palette(
    $base-color: color-base.$brand-1,
    $mix-color: color-base.$white,
    $percentages: $color-mix-percentages
  ),
  'brand-1-shades': bs-color.generate-palette(
    $base-color: color-base.$brand-1,
    $mix-color: color-base.$black,
    $percentages: $color-mix-percentages
  ),
  'brand-2': bs-color.generate-palette(
    $base-color: color-base.$brand-2,
    $mix-color: color-base.$white,
    $percentages: $color-mix-percentages
  ),
  'brand-2-shades': bs-color.generate-palette(
    $base-color: color-base.$brand-2,
    $mix-color: color-base.$black,
    $percentages: $color-mix-percentages
  ),
  'danger': bs-color.generate-palette(
    $base-color: color-base.$danger,
    $mix-color: color-base.$white,
    $percentages: $color-mix-percentages
  ),
  'danger-shades': bs-color.generate-palette(
    $base-color: color-base.$danger,
    $mix-color: color-base.$black,
    $percentages: $color-mix-percentages
  ),
  'warning': bs-color.generate-palette(
    $base-color: color-base.$warning,
    $mix-color: color-base.$white,
    $percentages: $color-mix-percentages
  ),
  'warning-shades': bs-color.generate-palette(
    $base-color: color-base.$warning,
    $mix-color: color-base.$black,
    $percentages: $color-mix-percentages
  ),
  'positive': bs-color.generate-palette(
    $base-color: color-base.$positive,
    $mix-color: color-base.$white,
    $percentages: $color-mix-percentages
  ),
  'positive-shades': bs-color.generate-palette(
    $base-color: color-base.$positive,
    $mix-color: color-base.$black,
    $percentages: $color-mix-percentages
  ),
) !default;
