@use 'sass:color';

$color-black: #000 !default;
$color-white: #fff !default;
$color-brand-1: #000dff !default;
$color-brand-2: #fa0 !default;
$color-text: #333 !default;
$color-background: color.mix($color-white, $color-brand-1, 97%) !default;
$color-positive: #50a802 !default;
$color-danger: #e82915 !default;
$color-warning: #fe881e !default;
