$bitstyles-content-max-width: 45rem !default;
$bitstyles-content-horizontal-padding: spacing('m') !default;
$bitstyles-content-horizontal-padding-large: spacing('l') !default;
$bitstyles-content-large-breakpoint: 'large' !default; // The breakpoint at which we implement the above horizontal-padding value.
