$bitstyles-fieldset-border: 2px solid palette('text', '80') !default;
$bitstyles-fieldset-border-radius: 0 !default;
$bitstyles-fieldset-background: transparent !default;
$bitstyles-legend-background-color: transparent !default;
$bitstyles-legend-border: 2px solid palette('text', '80') !default;
$bitstyles-legend-border-radius: 0 !default;
$bitstyles-legend-color: palette('text') !default;
