// Monochrome
$bitstyles-base-color-black: #000 !default;
$bitstyles-base-color-white: #fff !default;
$bitstyles-base-color-brand-1: #000dff !default;
$bitstyles-base-color-brand-2: #fa0 !default;
$bitstyles-base-color-text: #333 !default;
$bitstyles-base-color-background: $bitstyles-base-color-white !default;
$bitstyles-base-color-positive: #0f0 !default;
$bitstyles-base-color-danger: #e82915 !default;
$bitstyles-base-color-warning: #fe881e !default;
