$bitstyles-color-primary: #0ab3bf !default;
$bitstyles-color-secondary: $bitstyles-color-gray-20 !default;
$bitstyles-color-text: $bitstyles-color-gray-80 !default;
$bitstyles-color-background: $bitstyles-color-white !default;
$bitstyles-color-positive: #0f0 !default;
$bitstyles-color-negative: #f00 !default;
$bitstyles-color-tone-factor: 10% !default;

// Colour palette. Each colour has variants (each needs at least the `base`), defined
// in its child map. Naming: `base`, `light`, `lighter`, `dark`, `darker`
// Use Sass map functions to merge in extra colour maps in your project, or re-define
// the whole map.
$bitstyles-palette: (
  'primary': (
    'base': $bitstyles-color-primary,
    'light': lighten($bitstyles-color-primary, $bitstyles-color-tone-factor),
    'dark': darken($bitstyles-color-primary, $bitstyles-color-tone-factor)
  ),
  'secondary': (
    'base': $bitstyles-color-secondary,
    'light': lighten($bitstyles-color-secondary, $bitstyles-color-tone-factor),
    'dark': darken($bitstyles-color-secondary, $bitstyles-color-tone-factor)
  ),
  'text': (
    'base': $bitstyles-color-text,
    'light': lighten($bitstyles-color-text, $bitstyles-color-tone-factor),
    'dark': darken($bitstyles-color-text, $bitstyles-color-tone-factor)
  ),
  'background': (
    'base': $bitstyles-color-background,
    'light': lighten($bitstyles-color-background, $bitstyles-color-tone-factor),
    'dark': darken($bitstyles-color-background, $bitstyles-color-tone-factor)
  ),
  'positive': (
    'base': $bitstyles-color-positive,
    'light': lighten($bitstyles-color-positive, $bitstyles-color-tone-factor),
    'dark': darken($bitstyles-color-positive, $bitstyles-color-tone-factor)
  ),
  'error': (
    'base': $bitstyles-color-negative,
    'light': lighten($bitstyles-color-negative, $bitstyles-color-tone-factor),
    'dark': darken($bitstyles-color-negative, $bitstyles-color-tone-factor)
  )
) !default;

$foreground-colors: ('primary', 'secondary', 'error') !default;
$background-colors: ('background', 'secondary') !default;
