$bitstyles-font-family-webfont: 'Nunito' !default;
$bitstyles-webfont-font-url: '../test/assets/fonts/nunito-v16-latin-regular' !default;
$bitstyles-webfont-variants: ('normal', 'italic', 'medium', 'bold') !default;
$bitstyles-font-family-header-stack: (-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, helvetica, arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol") !default;
$bitstyles-font-family-body-stack: (-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, helvetica, arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol") !default;

/* stylelint-disable value-keyword-case */
$bitstyles-font-family-header: append($bitstyles-font-family-webfont, $bitstyles-font-family-header-stack) !default;
$bitstyles-font-family-body: append($bitstyles-font-family-webfont, $bitstyles-font-family-body-stack) !default;
/* stylelint-enable value-keyword-case */

$bitstyles-font-weight-light: 300 !default;
$bitstyles-font-weight-normal: 400 !default;
$bitstyles-font-weight-medium: 500 !default;
$bitstyles-font-weight-bold: 700 !default;

$bitstyles-font-size-base-small: 16px !default;
$bitstyles-font-size-base: 18px !default;

$bitstyles-line-height-base: 1.5 !default;
$bitstyles-line-height-min: 1.25 !default;

$bitstyles-font-sizes: (
  'base': (
    'html': $bitstyles-font-size-base-small,
    'h0': 32px,
    'h1': 24px,
    'h2': 20px,
    'h3': 18px,
    'h4': $bitstyles-font-size-base-small,
    'h5': $bitstyles-font-size-base-small,
    'h6': 16px
  ),
  'm': (
    'html': $bitstyles-font-size-base,
    'h0': 86px,
    'h1': 40px,
    'h2': 28px,
    'h3': 20px,
    'h4': $bitstyles-font-size-base,
    'h5': $bitstyles-font-size-base,
    'h6': 16px
  )
) !default;
