//
// Base styles ////////////////////////////////////////

$bitstyles-input-padding: spacing('s') !default;
$bitstyles-input-border-radius: 0 !default;
$bitstyles-input-placeholder-color: $bitstyles-color-gray-50 !default;
$bitstyles-input-checkbox-size: spacing('m') !default;

//
// Base colors ////////////////////////////////////////

$bitstyles-input-color: palette('text') !default;
$bitstyles-input-border: 2px solid palette('text', 'light') !default;
$bitstyles-input-background: $bitstyles-color-white !default;

//
// Hover colors ////////////////////////////////////////

$bitstyles-input-background-hover: palette('background') !default;
$bitstyles-input-color-hover: palette('primary') !default;
$bitstyles-input-border-hover: 2px solid palette('primary') !default;

//
// Active colors ////////////////////////////////////////

$bitstyles-input-color-active: palette('primary') !default;
$bitstyles-input-border-active: 2px solid palette('primary') !default;
$bitstyles-input-background-active: $bitstyles-color-white !default;

//
// Disabled colors ////////////////////////////////////////

$bitstyles-input-background-disabled: palette('background', 'dark') !default;
$bitstyles-input-color-disabled: palette('text') !default;
$bitstyles-input-border-disabled: 2px solid palette('text', 'light') !default;

//
// Invalid colors ////////////////////////////////////////

$input-color-invalid: palette('error') !default;
$input-background-color-invalid: $bitstyles-color-white !default;
$input-border-color-invalid: palette('error') !default;
