$bitstyles-input-color: palette('text') !default;
$bitstyles-input-padding: size('small') !default;
$bitstyles-input-border: 1px solid $bitstyles-color-gray-30 !default;
$bitstyles-input-border-radius: 5px !default;
$bitstyles-input-border-active: 1px solid $bitstyles-color-gray-50 !default;
$bitstyles-input-background: $bitstyles-color-white !default;
$bitstyles-input-placeholder-color: $bitstyles-color-gray-50 !default;

$bitstyles-input-background-color-disabled: $bitstyles-color-gray-10 !default;
$bitstyles-input-color-disabled: palette('text') !default;

$bitstyles-input-checkbox-size: size('base');
