$global-z: ('topbar') !default;
$border-radius-round: 9999rem !default;
$size-base: 1rem !default;
$sizes: (
  '0': 0,
  '3xs': $size-base * 0.125, // 2px
  '2xs': $size-base * 0.25, // 4px
  'xs': $size-base * 0.5, // 8px
  's': $size-base * 0.75, // 12px
  'm': $size-base, // 16px
  'l': $size-base * 1.5, // 24px
  'xl': $size-base * 2, // 32px
  '2xl': $size-base * 2.5, // 40px
  '3xl': $size-base * 3, // 48px
  '4xl': $size-base * 4, // 64px
  '5xl': $size-base * 5, // 80px
) !default;
$viewport-elements: ('html', 'body', '#root') !default;
