@use 'sass:math';

$bitstyles-global-z: ('topbar') !default;
$bitstyles-border-radius-round: 9999rem !default;

$bitstyles-spacing-base: 0.8rem !default;
$bitstyles-spacing-sizes: (
  '0': 0,
  'xxxs': math.div($bitstyles-spacing-base, 8),
  'xxs': math.div($bitstyles-spacing-base, 4),
  'xs': math.div($bitstyles-spacing-base, 2),
  's': $bitstyles-spacing-base - math.div($bitstyles-spacing-base, 4),
  'm': $bitstyles-spacing-base,
  'l': $bitstyles-spacing-base + math.div($bitstyles-spacing-base, 4),
  'xl': $bitstyles-spacing-base * 2,
  'xxl': $bitstyles-spacing-base * 4,
  'xxxl': $bitstyles-spacing-base * 8
) !default;
