@use './typography';
@use '../tools/palette';
@use 'animation';

//
// Base styles /////////////////////////////////////////

$transition: color animation.$transition-duration animation.$transition-easing !default;
$font-weight: typography.$font-weight-medium !default;

//
// Base Colors /////////////////////////////////////////

$color: var(--color-brand-1-base) !default;
$text-decoration: none !default;
$background-color: transparent !default;
$box-shadow: none !default;

//
// Visited /////////////////////////////////////////

$color-visited: var(--color-brand-1-base) !default;
$text-decoration-visited: none !default;
$background-color-visited: transparent !default;
$box-shadow-visited: none !default;

//
// Hover /////////////////////////////////////////

$color-hover: var(--color-brand-1-light) !default;
$text-decoration-hover: underline !default;
$background-color-hover: transparent !default;
$box-shadow-hover: none !default;

//
// Active /////////////////////////////////////////

$color-active: var(--color-brand-1-dark) !default;
$text-decoration-active: underline !default;
$background-color-active: transparent !default;
$box-shadow-active: none !default;
