@use '../tools/palette';
@use 'animation';

$background-color-link: none !default;
$color-link:            palette.get('brand-1', '80') !default;
$color-link-visited:    palette.get('brand-1', '60') !default;
$color-link-hover:      palette.get('brand-1', '100') !default;
$background-color-link-hover: none !default;
$link-transition: color animation.$transition-duration animation.$transition-easing !default;
$text-decoration-link:       none !default;
$text-decoration-link-hover: underline !default;
