$bitstyles-background-color-link: none !default;
$bitstyles-color-link:            palette('primary') !default;
$bitstyles-color-link-visited:    palette('primary', 'light') !default;
$bitstyles-color-link-hover:      palette('primary', 'dark') !default;
$bitstyles-background-color-link-hover: none !default;
$bitstyles-link-transition: color $bitstyles-transition-duration $bitstyles-transition-easing !default;
$bitstyles-text-decoration-link:       underline !default;
$bitstyles-text-decoration-link-hover: underline !default;
