$bitstyles-modal-background-color: #d9d9d9 !default;
$bitstyles-modal-overlay-color: rgba($bitstyles-color-black, 0.7) !default;
$bitstyles-modal-transition-easing: ease-in-out !default;
$bitstyles-modal-transition-duration: 0.3s !default;
$bitstyles-modal-transition-duration-smallscreen: 0.25s !default;
$bitstyles-modal-transition-delay: 0.05s !default;
$bitstyles-modal-will-change: opacity, transform, visibility !default;
$bitstyles-modal-border-radius: 0 !default;
$bitstyles-modal-breakpoint: medium !default;
