//
// Base styles ////////////////////////////////////////
$bitstyles-radio-border-radius: $bitstyles-border-radius-round;

//
// Base colors ////////////////////////////////////////
$bitstyles-radio-color: palette('text', 'light');
$bitstyles-radio-background-color: palette('background');
$bitstyles-radio-border: 2px solid;

//
// Hover colors ////////////////////////////////////////
$bitstyles-radio-color-hover: palette('primary');
$bitstyles-radio-background-color-hover: palette('background');
$bitstyles-radio-border-hover: 2px solid;

//
// Checked colors ////////////////////////////////////////
$bitstyles-radio-color-checked: palette('primary');
$bitstyles-radio-background-color-checked: palette('background');
$bitstyles-radio-border-checked: 2px solid palette('primary');

//
// Disabled colors ////////////////////////////////////////
$bitstyles-radio-color-disabled: palette('text', 'light');
$bitstyles-radio-background-color-disabled: palette('background', 'dark');
$bitstyles-radio-border-disabled: 2px solid;

//
// Disabled-checked colors ////////////////////////////////////////
$bitstyles-radio-color-disabled-checked: palette('text', 'light');
$bitstyles-radio-background-color-disabled-checked: palette('background', 'dark');
$bitstyles-radio-border-disabled-checked: 2px solid;
