//
// Base styles ////////////////////////////////////////
$bitstyles-select-padding-vertical: spacing('s') !default;
$bitstyles-select-padding-horizontal: spacing('m') !default;
$bitstyles-select-border-radius: $bitstyles-border-radius-round !default;

//
// Base appearance ////////////////////////////////////////
$bitstyles-select-color: palette('text') !default;
$bitstyles-select-border: 2px solid !default;
$bitstyles-select-background-color: transparent !default;
$bitstyles-select-background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3E%3Cpath d='M52.8,68.9,86.32,36a4,4,0,0,0-2.8-6.86h-67A4,4,0,0,0,13.68,36L47.2,68.9A4,4,0,0,0,52.8,68.9Z'/%3E%3C/svg%3E") !default;

//
// Hover styles ////////////////////////////////////////
$bitstyles-select-color-hover: palette('brand-1') !default;
$bitstyles-select-border-hover: 2px solid !default;
$bitstyles-select-background-color-hover: transparent !default;
$bitstyles-select-background-image-hover: url("data:image/svg+xml,%3Csvg width='20' height='20' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3E%3Cpath fill='#{$bitstyles-select-color-hover}' d='M52.8,68.9,86.32,36a4,4,0,0,0-2.8-6.86h-67A4,4,0,0,0,13.68,36L47.2,68.9A4,4,0,0,0,52.8,68.9Z'/%3E%3C/svg%3E") !default;

//
// Active styles ////////////////////////////////////////
$bitstyles-select-color-active: palette('brand-1', '100') !default;
$bitstyles-select-border-active: 2px solid !default;
$bitstyles-select-background-color-active: transparent !default;
$bitstyles-select-background-image-active: url("data:image/svg+xml,%3Csvg width='20' height='20' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3E%3Cpath fill='#{$bitstyles-select-color-active}' d='M52.8,68.9,86.32,36a4,4,0,0,0-2.8-6.86h-67A4,4,0,0,0,13.68,36L47.2,68.9A4,4,0,0,0,52.8,68.9Z'/%3E%3C/svg%3E") !default;

//
// Disabled styles ////////////////////////////////////////
$bitstyles-select-color-disabled: palette('brand-2', '100') !default;
$bitstyles-select-border-disabled: 2px solid !default;
$bitstyles-select-background-color-disabled: transparent !default;
$bitstyles-select-background-image-disabled: url("data:image/svg+xml,%3Csvg width='20' height='20' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3E%3Cpath fill='#{$bitstyles-select-color-disabled}' d='M52.8,68.9,86.32,36a4,4,0,0,0-2.8-6.86h-67A4,4,0,0,0,13.68,36L47.2,68.9A4,4,0,0,0,52.8,68.9Z'/%3E%3C/svg%3E") !default;
