$namespace: null !default; // Defining a namespace will prepend it to every selector name
$custom-property-namespace: 'bs' !default;
$layer-prefixes: (
  'atom': 'a',
  'molecule': 'm',
  'organism': 'o',
  'utility': 'u',
) !default;
$no-media-query: 'no-mq' !default;
$default-token-format: 'custom-property' !default;
$default-color-key: 'base' !default;
