@use '../tools/palette';
@use '../tools/shadow';
@use '../tools/size';

$shadows: (
  'default':
    shadow.generate(
      $color: rgba(palette.get('brand-1', 'light'), 0.125),
      $offset: 2rem,
      $blur-radius: 2rem,
    ),
) !default;
