@use 'sass:color';
@use 'sass:map';
@use './color-palette';
@use '../tools/palette';

$default-theme: (
  'background': palette.get('grayscale', 'white'),
  'text': palette.get('grayscale', 'dark-3'),
) !default;
$dark-theme: (
  'background': palette.get('grayscale', 'dark-3'),
  'text': palette.get('grayscale', 'light-3'),
) !default;
$default-theme-name: 'default' !default;
$themes: (
  '#{$default-theme-name}': $default-theme,
  'dark': $dark-theme,
) !default;
