@use 'sass:color';
@use 'sass:map';
@use './color-palette';
@use '../tools/palette';

$default-theme: (
  'background': palette.get('grayscale', 'white'),
  'text': palette.get('grayscale', 'dark-3'),
) !default;
$dark-theme: (
  'background': palette.get('grayscale', 'dark-3'),
  'text': palette.get('grayscale', 'light-3'),
) !default;
$brand-1-theme: (
  'background': palette.get('brand-1', 'light-4'),
  'text': palette.get('brand-1', 'dark-1'),
) !default;
$brand-2-theme: (
  'background': palette.get('brand-2', 'light-4'),
  'text': palette.get('brand-2', 'dark-1'),
) !default;
$positive-theme: (
  'background': palette.get('positive', 'light-4'),
  'text': palette.get('positive', 'dark-1'),
) !default;
$warning-theme: (
  'background': palette.get('warning', 'light-4'),
  'text': palette.get('warning', 'dark-1'),
) !default;
$danger-theme: (
  'background': palette.get('danger', 'light-4'),
  'text': palette.get('danger', 'dark-1'),
) !default;
$grayscale-theme: (
  'background': palette.get('grayscale', 'light-4'),
  'text': palette.get('grayscale', 'dark-2'),
) !default;
$default-theme-name: 'default' !default;
$themes: (
  '#{$default-theme-name}': $default-theme,
  'dark': $dark-theme,
  'brand-1': $brand-1-theme,
  'brand-2': $brand-2-theme,
  'positive': $positive-theme,
  'warning': $warning-theme,
  'danger': $danger-theme,
  'grayscale': $grayscale-theme,
) !default;
