$bitstyles-topbar-vertical-padding: spacing('s') !default;
$bitstyles-topbar-horizontal-padding: spacing('m') !default;
$bitstyles-topbar-color: inherit !default;
$bitstyles-topbar-background-color: $bitstyles-color-white !default;
