@use 'sass:list';

//
// Font-weights /////////////////////////////////////////

$font-weight-thin: 100 !default;
$font-weight-extralight: 200 !default;
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-medium: 500 !default;
$font-weight-semibold: 600 !default;
$font-weight-bold: 700 !default;
$font-weight-extrabold: 800 !default;
$font-weight-black: 900 !default;

//
// Webfonts /////////////////////////////////////////

/* stylelint-disable value-keyword-case */
$webfont-family-name: ('Poppins') !default;
$webfont-base-url: '../assets/fonts/' !default;
$webfont-variants: (
  'normal': (
    'font-family': $webfont-family-name,
    'font-style': normal,
    'font-weight': $font-weight-normal,
    'filename': 'poppins-v20-latin-400',
  ),
  'italic': (
    'font-family': $webfont-family-name,
    'font-style': italic,
    'font-weight': $font-weight-normal,
    'filename': 'poppins-v20-latin-400italic',
  ),
  'medium': (
    'font-family': $webfont-family-name,
    'font-style': normal,
    'font-weight': $font-weight-medium,
    'filename': 'poppins-v20-latin-500',
  ),
  'medium-italic': (
    'font-family': $webfont-family-name,
    'font-style': italic,
    'font-weight': $font-weight-medium,
    'filename': 'poppins-v20-latin-500italic',
  ),
  'semibold': (
    'font-family': $webfont-family-name,
    'font-style': normal,
    'font-weight': $font-weight-semibold,
    'filename': 'poppins-v20-latin-600',
  ),
  'semibold-italic': (
    'font-family': $webfont-family-name,
    'font-style': italic,
    'font-weight': $font-weight-semibold,
    'filename': 'poppins-v20-latin-600italic',
  ),
) !default;
$font-family-header-stack: (
  -apple-system,
  BlinkMacSystemFont,
  'Segoe UI',
  Roboto,
  helvetica,
  arial,
  sans-serif,
  'Apple Color Emoji',
  'Segoe UI Emoji',
  'Segoe UI Symbol'
) !default;
$font-family-body-stack: (
  -apple-system,
  BlinkMacSystemFont,
  'Segoe UI',
  Roboto,
  helvetica,
  arial,
  sans-serif,
  'Apple Color Emoji',
  'Segoe UI Emoji',
  'Segoe UI Symbol'
) !default;
/* stylelint-enable value-keyword-case */

$font-family-header: list.join(
  $webfont-family-name,
  $font-family-header-stack
) !default;
$font-family-body: list.join(
  $webfont-family-name,
  $font-family-body-stack
) !default;

//
// Vertical rhythm /////////////////////////////////////////

$font-sizes: (
  '1': 0.8rem,
  '2': 1rem,
  '3': 1.25rem,
  '4': 1.45rem,
  '5': 1.7rem,
  '6': 2rem,
  '7': 3rem,
  '8': 4.8rem,
) !default;
$line-heights: (
  '1': 1.2,
  '2': 1.29,
  '3': 1.33,
  '4': 1.43,
  '5': 1.5,
  '6': 1.67,
) !default;
