@forward 'settings';
@use './settings.scss';
@use '../../tools/properties';
@use '../../tools/media-query';

@include properties.output(
  $property-name: 'grid-row-start',
  $classname-root: 'row-start',
  $values: settings.$values,
  $breakpoints: settings.$breakpoints
);
