@forward 'settings';
@use './settings';
@use '../../tools/properties';
@use '../../tools/media-query';

@include properties.output(
  $property-name: 'display',
  $classname-root: null,
  $values: settings.$values,
  $breakpoints: settings.$breakpoints
);
