@import './settings';

@each $breakpoint-alias in $bitstyles-grid-template-columns-breakpoints {
  @if $breakpoint-alias == 'base' {
    @include output-properties(
      $property-name: 'grid-template-columns',
      $classname-root: 'grid-cols',
      $values: $bitstyles-grid-template-columns
    );
  }

  @else {
    @include media-query($breakpoint-alias) {
      @include output-properties(
        $property-name: 'grid-template-columns',
        $classname-root: 'grid-cols',
        $values: $bitstyles-grid-template-columns,
        $breakpoint-suffix: '\\\@#{$breakpoint-alias}'
      );
    }
  }
}

.#{$bitstyles-namespace}u-grid__col-1 {
  grid-column-start: 1;
}

.#{$bitstyles-namespace}u-grid__col-2 {
  grid-column-start: 2;
}

@include media-query('m') {
  .#{$bitstyles-namespace}u-grid__col-1\@m {
    grid-column-start: 1;
  }

  .#{$bitstyles-namespace}u-grid__col-2\@m {
    grid-column-start: 2;
  }

  .#{$bitstyles-namespace}u-grid__col-3\@m {
    grid-column-start: 3;
  }
}

@include media-query('l') {

  .#{$bitstyles-namespace}u-grid__col-1\@l {
    grid-column-start: 1;
  }

  .#{$bitstyles-namespace}u-grid__col-2\@l {
    grid-column-start: 2;
  }

  .#{$bitstyles-namespace}u-grid__col-3\@l {
    grid-column-start: 3;
  }
}

@include media-query('xl') {

  .#{$bitstyles-namespace}u-grid__col-1\@xl {
    grid-column-start: 1;
  }

  .#{$bitstyles-namespace}u-grid__col-2\@xl {
    grid-column-start: 2;
  }

  .#{$bitstyles-namespace}u-grid__col-3\@xl {
    grid-column-start: 3;
  }
}
