@import './settings';

.#{$bitstyles-namespace}u-grid {
  display: grid;
  grid-gap: $bitstyles-grid-gap;
}

.#{$bitstyles-namespace}u-grid--2-col {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.#{$bitstyles-namespace}u-grid--3-col {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.#{$bitstyles-namespace}u-grid__col-span-2 {
  grid-column: span 2 / span 2;
}

.#{$bitstyles-namespace}u-grid__col-span-3 {
  grid-column: span 3 / span 3;
}

.#{$bitstyles-namespace}u-grid__col-1 {
  grid-column: 1;
}

@include media-query('m') {
  .#{$bitstyles-namespace}u-grid {
    grid-gap: $bitstyles-grid-gap-m;
  }

  .#{$bitstyles-namespace}u-grid\@m {
    display: grid;
    grid-gap: $bitstyles-grid-gap-m;
  }

  .#{$bitstyles-namespace}u-grid--2-col\@m {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .#{$bitstyles-namespace}u-grid--3-col\@m {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .#{$bitstyles-namespace}u-grid__col-span-2\@m {
    grid-column: span 2 / span 2;
  }

  .#{$bitstyles-namespace}u-grid__col-span-3\@m {
    grid-column: span 3 / span 3;
  }

  .#{$bitstyles-namespace}u-grid__col-1\@m {
    grid-column: 1;
  }
}
