@import './settings';

.o-table {
  width: 100%;

  /* stylelint-disable selector-max-type */
  th {
    padding: spacing('xs') spacing('m');
    color: palette('gray', '70');
    white-space: nowrap;
    background: palette('background', '95');
    border-bottom: $bitstyles-table-border;
  }

  td {
    padding: spacing('m');
    background: palette('background');
    border-bottom: $bitstyles-table-border;
  }

  tr:last-child {
    td {
      border: 0;
    }
  }
  /* stylelint-enable selector-max-type */
}
