@use '../../tools/palette';
@use '../../tools/size';

$border: 1px solid palette.get('gray', '5') !default;
$padding-horizontal: size.get('m') !default;
$padding-vertical-td: size.get('s') !default;
$padding-vertical-th: size.get('xxs') !default;
$background-color-td: palette.get('white') !default;
$color-th: palette.get('gray', '70') !default;
$background-color-th: palette.get('background') !default;
