@use './settings';
@use "../../settings/setup";

.#{setup.$namespace}o-table {
  width: 100%;

  /* stylelint-disable selector-max-type */
  th {
    padding: settings.$table-padding-vertical-th settings.$table-padding-horizontal;
    color: settings.$table-color-th;
    white-space: nowrap;
    background: settings.$table-background-color-th;
    border-bottom: settings.$table-border;
  }

  td {
    padding: settings.$table-padding-vertical-td settings.$table-padding-horizontal;
    background: settings.$table-background-color-td;
    border-bottom: settings.$table-border;
  }

  tr:last-child {
    td {
      border: 0;
    }
  }
  /* stylelint-enable selector-max-type */

  .#{setup.$namespace}o-table__actions {
    padding-right: settings.$table-padding-vertical-td;
  }
}
