$bitstyles-table-border: 1px solid palette('gray', '5') !default;
$bitstyles-table-padding-horizontal: spacing('m') !default;
$bitstyles-table-padding-vertical-td: spacing('s') !default;
$bitstyles-table-padding-vertical-th: spacing('xxs') !default;
$bitstyles-table-background-color-td: palette('background') !default;
$bitstyles-table-color-th: palette('gray', '70') !default;
$bitstyles-table-background-color-th: palette('background', '97') !default;
