// Font-weight
//
// **Override font-weight of an element**.
//
// Named `.t-text-` for consistency with the other text/font-related trumps
// (despite the CSS property being called `font-weight`).
//
// markup:
// <p class="{$modifiers}">Some content here</p>
//
//                           - Base text.
// .t-text-weight--light     - Ensure font-weight is light
// .t-text-weight--normal    - Ensure font-weight is normal
// .t-text-weight--bold      - Ensure font-weight is bold
//
// Styleguide 6.9

.#{$bitstyles-namespace}t-text-weight--light {
  font-weight: $bitstyles-font-weight-light;
}

.#{$bitstyles-namespace}t-text-weight--normal {
  font-weight: $bitstyles-font-weight-normal;
}

.#{$bitstyles-namespace}t-text-weight--bold {
  font-weight: $bitstyles-font-weight-bold;
}
