@use '../../scss/bitstyles' with (
  // global settings
  $animation-transition-easing: ease-out,
  $breakpoints-boundary-width: 10em,
  $color-palette-black: #f00,
  $color-palette-grays-hint-color: #f00,
  $color-palette-color-palette: (
    'black': (
      '10': #000,
      '20': #000,
      '30': #000,
      '40': #000,
      '50': #000,
      '80': #000,
      '100': #000,
    ),
    'white': (
      '95': #000,
      '100': #000,
    ),
    'gray': (
      '1': #000,
      '5': #000,
      '10': #000,
      '20': #000,
      '30': #000,
      '40': #000,
      '50': #000,
      '60': #000,
      '70': #000,
      '80': #000,
      '90': #000,
      '100': #000,
    ),
    'text': (
      '80': #000,
      '100': #000,
    ),
    'background': (
      '100': #000,
    ),
    'brand-1': (
      '10': #000,
      '60': #000,
      '70': #000,
      '80': #000,
      '90': #000,
      '100': #000
    ),
    'brand-2': (
      '10': #000,
      '80': #000,
      '100': #000,
    ),
    'danger': (
      '10': #000,
      '100': #000,
    ),
    'warning': (
      '10': #000,
      '90': #000,
      '100': #000,
    ),
    'positive': (
      '10': #000,
    )
  ),
  $layout-size-base: 10rem,
  $shadows-shadows: (
    'default': (
      (
        'color': #f00,
        'offset': 2.5rem,
        'blur-radius': 5rem,
      ), (
        'color': #f00,
        'offset': 5rem,
        'blur-radius': 10rem,
      ),
    )
  ),
  $setup-namespace: 'bs',
  $typography-webfont-family-name: 'FakeFont',
  $typography-webfont-base-url: './',
  $typography-margin-heading: 10rem,
  $typography-margin-paragraph: 10rem,
  $link-color: #f00,
  // base
  $figure-font-style: bold,
  $forms-fieldset-padding: 10rem,
  $html-color: red,
  $input-checkbox-border-radius: 10rem,
  $input-radio-border-radius: 10rem,
  $input-text-border-radius: 10rem,
  $select-border-radius: 10rem,
  // atoms
  $avatar-sizes: ('xl': 10rem),
  $badge-color: '10',
  $bordered-header-gutter: 10rem,
  $button-color-hover: #000,
  $button-danger-color-hover: #000,
  $button-icon-color-hover: #000,
  $button-icon-reversed-color-hover: #000,
  $button-menu-color-hover: #000,
  $button-mode-color-hover: #000,
  $button-nav-color-hover: #000,
  $button-nav-large-color-hover: #000,
  $button-small-padding-vertical: 10rem,
  $button-tab-color-hover: #000,
  $button-ui-color-hover: #000,
  $card-sizes: ('base': 10rem, 's': 20rem),
  $content-max-width-base: 'full',
  $dropdown-max-height: 1rem,
  $flash-color: '10',
  $icon-sizes: ('s': 10rem),
  $topbar-vertical-padding: 10rem,
  // organisms
  $modal-padding: 10rem,
  $navbar-will-change: opacity,
  $sidebar-large-width: 1rem,
  $table-color-th: #f00,
  $ui-group-border-radius: 10rem,
  // utilities
  $aspect-ratio-values: (
    '10-10': (
      'width': 1,
      'height': 1
    )
  ),
  $bg-values: (
    'f00': #f00,
  ),
  $border-values: (
    'f00': #f00,
  ),
  $box-shadow-breakpoints: (
    'xl'
  ),
  $col-span-values: (
    '100': span 100 / span 100
  ),
  $col-start-values: (
    '100': 100
  ),
  $display-values: (
    inline-block: inline-block,
  ),
  $drop-shadow-breakpoints: (
    's'
  ),
  $fg-values: (
    'f00': #f00,
  ),
  $flex-grow: (
    '100': 100
  ),
  $gap-sizes: (
    '100': 100rem
  ),
  $grid-cols-values: (
    '100': repeat(100, minmax(0, 1fr)),
  ),
  $items-values: (
    'start': start,
  ),
  $justify-values: (
    'start': start,
  ),
  $margin-breakpoints: ('xl', 's'),
  $overflow-values: (
    'overflow': (
      'hidden': hidden,
    )
  ),
  $padding-breakpoints: ('xl', 's'),
  $row-start-values: ('100': 100, '200': 200),
  $self-values: ('start': start),
  $sr-only-breakpoints: ('xl'),
  $z-index-values: ('100': 100)
);
