//
// Global settings /////////////////////////////////////

$bitstyles-animation-transition-easing: ease-out;
$bitstyles-breakpoints-breakpoint-boundary-width: 10em;
$bitstyles-color-palette-black: #f00;
$bitstyles-color-palette-grays-hint-color: #f00;
$bitstyles-color-palette-color-palette: (
  'black': (
    '10': #000,
    '20': #000,
    '30': #000,
    '40': #000,
    '50': #000,
    '80': #000,
    '100': #000,
  ),
  'white': (
    '95': #000,
    '100': #000,
  ),
  'gray': (
    '1': #000,
    '5': #000,
    '10': #000,
    '20': #000,
    '30': #000,
    '40': #000,
    '50': #000,
    '60': #000,
    '70': #000,
    '80': #000,
    '90': #000,
    '100': #000,
  ),
  'text': (
    '80': #000,
    '100': #000,
  ),
  'background': (
    '100': #000,
  ),
  'brand-1': (
    '10': #000,
    '60': #000,
    '70': #000,
    '80': #000,
    '90': #000,
    '100': #000,
  ),
  'brand-2': (
    '10': #000,
    '100': #000,
  ),
  'danger': (
    '10': #000,
    '100': #000,
  ),
  'warning': (
    '10': #000,
    '90': #000,
    '100': #000,
  ),
  'positive': (
    '10': #000,
  )
);
$bitstyles-layout-size-base: 10rem;
$bitstyles-setup-namespace: 'bs';
$bitstyles-typography-font-family-webfont: sans-serif;

//
// Base settings /////////////////////////////////////

$bitstyles-figure-font-style: bold;
$bitstyles-forms-fieldset-padding: 10rem;
$bitstyles-input-checkbox-border-radius: 10rem;
$bitstyles-input-radio-border-radius: 10rem;
$bitstyles-input-text-border-radius: 10rem;
$bitstyles-select-border-radius: 10rem;

//
// Atoms settings /////////////////////////////////////

$bitstyles-avatar-sizes: ('xl': 10rem);
$bitstyles-badge-color: '10';
$bitstyles-bordered-header-gutter: 10rem;
$bitstyles-button-color-hover: #000;
$bitstyles-button-danger-color-hover: #000;
$bitstyles-button-icon-color-hover: #000;
$bitstyles-button-icon-reversed-color-hover: #000;
$bitstyles-button-menu-color-hover: #000;
$bitstyles-button-mode-color-hover: #000;
$bitstyles-button-nav-color-hover: #000;
$bitstyles-button-nav-large-color-hover: #000;
$bitstyles-button-small-padding-vertical: 10rem;
$bitstyles-button-tab-color-hover: #000;
$bitstyles-button-ui-color-hover: #000;
$bitstyles-card-sizes: ('base': 10rem, 's': 20rem);
$bitstyles-content-max-width-base: 'full';
$bitstyles-dropdown-max-height: 1rem;
$bitstyles-flash-color: '10';
$bitstyles-icon-sizes: ('s': 10rem);
$bitstyles-topbar-vertical-padding: 10rem;

//
// Organisms settings /////////////////////////////////////

$bitstyles-modal-padding: 10rem;
$bitstyles-navbar-will-change: opacity;
$bitstyles-sidebar-large-width: 1rem;
$bitstyles-table-color-th: #f00;
$bitstyles-ui-group-border-radius: 10rem;

//
// Utilities settings /////////////////////////////////////

$bitstyles-aspect-ratio-values: (
  '10-10': (
    'width': 1,
    'height': 1
  )
);
$bitstyles-bg-values: (
  'f00': #f00,
);
$bitstyles-border-values: (
  'f00': #f00,
);
$bitstyles-col-span-values: (
  '100': span 100 / span 100
);
$bitstyles-col-start-values: (
  '100': 100
);
$bitstyles-display-values: (
  'inline-block': 'inline-block',
);
$bitstyles-fg-values: (
  'f00': #f00,
);
$bitstyles-flex-grow: (
  '100': 100
);
$bitstyles-gap-sizes: (
  '100': 100rem
);
$bitstyles-grid-cols-values: (
  '100': repeat(100, minmax(0, 1fr)),
);
$bitstyles-items-values: (
  'start': start,
);
$bitstyles-justify-values: (
  'start': start,
);
$bitstyles-margin-breakpoints: ('xl', 's');
$bitstyles-padding-breakpoints: ('xl', 's');
$bitstyles-row-start-values: (
  '100': 100,
  '200': 200
);
$bitstyles-self-values: (
  'start': start
);
$bitstyles-sr-only-breakpoints: ('xl');
$bitstyles-z-index-values: (
  '100': 100,
);

@import '../../scss/bitstyles';
