@use '../../scss/bitstyles' with (
  // global settings
  $animation-transition-easing: ease-out,
  $breakpoints-boundary-width: 10em,
  $color-palette-palette: (
    'text': (
      'lightest': #000,
      'lighter': #000,
      'light': #000,
      'base': #000,
      'dark': #000,
    ),
    'background': (
      'base': #000,
      'dark': #000,
      'darker': #000,
    ),
    'white': (
      'base': #000,
    ),
    'brand-1': (
      'lighter': #000,
      'light': #000,
      'base': #000,
      'dark': #000,
      'darker': #000,
    ),
    'brand-2': (
      'lighter': #000,
      'light': #000,
      'base': #000,
      'dark': #000,
    ),
    'grayscale': (
      'white': #000,
      'black': #000,
    ),
    'accent-gray': (
      'lighter': #000,
      'light': #000,
      'base': #000,
      'dark': #000,
      'darker': #000,
      'darkest': #000,
    ),
    'danger': (
      'lighter': #000,
      'light': #000,
      'base': #000,
      'dark': #000,
    ),
    'warning': (
      'lighter': #000,
      'light': #000,
      'base': #000,
      'dark': #000,
    ),
    'positive': (
      'lighter': #000,
      'light': #000,
      'base': #000,
      'dark': #000,
    )
  ),
  $layout-size-base: 10rem,
  $shadows-shadows: (
    'default': (
      ('color': #f00, 'offset': 2.5rem, 'blur-radius': 5rem),
      ('color': #f00, 'offset': 5rem, 'blur-radius': 10rem),
    )
  ),
  $setup-namespace: 'bs',
  $typography-webfont-family-name: 'FakeFont',
  $typography-webfont-base-url: './',
  $typography-responsive-typographic-scale: (
    'm': (
      'h1': (
        'font-size': 10rem,
        'line-height': 200,
      ),
    ),
    'xl': (
      'h1': (
        'font-size': 30rem,
        'line-height': 400,
      ),
    )
  ),
  $link-color: #f00,
  // base
  $figure-font-style: bold,
  $forms-fieldset-padding: 10rem,
  $html-color: red,
  $input-checkbox-border-radius: 10rem,
  $input-radio-border-radius: 10rem,
  $input-text-border-radius: 10rem,
  $select-border-radius: 10rem,
  $base-typography-margin-heading: 10rem,
  $base-typography-margin-paragraph: 10rem,
  // atoms
  $avatar-sizes: ('xl': 10rem),
  $badge-color: 'light',
  $bordered-header-gutter: 10rem,
  $button-color-hover: #000,
  $button-danger-color-hover: #000,
  $button-icon-color-hover: #000,
  $button-icon-reversed-color-hover: #000,
  $button-menu-color-hover: #000,
  $button-mode-color-hover: #000,
  $button-nav-color-hover: #000,
  $button-nav-large-color-hover: #000,
  $button-small-padding-vertical: 10rem,
  $button-tab-color-hover: #000,
  $button-ui-color-hover: #000,
  $card-sizes: ('base': 10rem, 's': 20rem),
  $content-max-width-base: 'full',
  $dropdown-max-height: 1rem,
  $flash-color: 'light',
  $icon-sizes: ('s': 10rem),
  $skip-link-color: #f00,
  $topbar-vertical-padding: 10rem,
  // organisms
  $modal-padding: 10rem,
  $navbar-will-change: opacity,
  $sidebar-large-width: 1rem,
  $sidebar-small-location: right,
  $table-color-th: #f00,
  $ui-group-border-radius: 10rem,
  // utilities
  $aspect-ratio-values:
    (
      '10-10': (
        'width': 1,
        'height': 1,
      )
    ),
  $bg-values: ('f00': #f00),
  $border-values: ('f00': #f00),
  $border-radius-values: ('m': 10rem),
  $box-shadow-breakpoints: ('xl'),
  $col-span-values: ('100': span 100 / span 100),
  $col-start-values: ('100': 100),
  $display-values: (inline-block: inline-block),
  $drop-shadow-breakpoints: ('s'),
  $fg-values: ('f00': #f00),
  $flex-grow: ('100': 100),
  $gap-sizes: ('100': 100rem),
  $grid-cols-values: ('100': repeat(100, minmax(0, 1fr))),
  $height-values: ('1em': 1em),
  $inset-values: ('100': 100rem),
  $items-values: ('start': start),
  $justify-values: ('start': start),
  $line-height-values: ('10': 10),
  $margin-breakpoints: ('xl', 's'),
  $max-height-values: ('1em': 1em),
  $max-width-values: ('1em': 1em),
  $min-height-values: ('1em': 1em),
  $min-width-values: ('1em': 1em),
  $overflow-values: (
    'overflow': (
      'hidden': hidden,
    )
  ),
  $padding-breakpoints: ('xl', 's'),
  $position-breakpoints: ('l'),
  $row-start-values: ('100': 100, '200': 200),
  $self-values: ('start': start),
  $sr-only-breakpoints: ('xl'),
  $typography-responsive-utilities-values: (
    'm': (
      'h1': (
        'font-size': 10rem,
        'line-height': 200,
      ),
    ),
    'xl': (
      'h1': (
        'font-size': 30rem,
        'line-height': 400,
      ),
    )
  ),
  $typography-utilities-values: ('100': 100rem),
  $z-index-values: ('100': 100)
);
