//
// Global settings /////////////////////////////////////

$bitstyles-animation-transition-easing: ease-out;
$bitstyles-breakpoints-boundary-width: 10em;
$bitstyles-color-palette-palette: (
  'text': (
    'lightest': #000,
    'lighter': #000,
    'light': #000,
    'base': #000,
    'dark': #000,
  ),
  'background': (
    'base': #000,
    'dark': #000,
    'darker': #000,
  ),
  'white': (
    'base': #000,
  ),
  'brand-1': (
    'lighter': #000,
    'light': #000,
    'base': #000,
    'dark': #000,
    'darker': #000,
  ),
  'brand-2': (
    'lighter': #000,
    'light': #000,
    'base': #000,
    'dark': #000,
  ),
  'grayscale': (
    'white': #000,
    'black': #000,
  ),
  'accent-gray': (
    'lighter': #000,
    'light': #000,
    'base': #000,
    'dark': #000,
    'darker': #000,
    'darkest': #000,
  ),
  'danger': (
    'lighter': #000,
    'light': #000,
    'base': #000,
    'dark': #000,
  ),
  'warning': (
    'lighter': #000,
    'light': #000,
    'base': #000,
    'dark': #000,
  ),
  'positive': (
    'lighter': #000,
    'light': #000,
    'base': #000,
    'dark': #000,
  ),
);
$bitstyles-layout-size-base: 10rem;
$bitstyles-setup-namespace: 'bs';
$bitstyles-setup-custom-property-namespace: 'bscpn';
$bitstyles-setup-layer-prefixes: (
  'atom': 'at',
  'molecule': 'mo',
  'organism': 'or',
  'utility': '',
);
$bitstyles-shadows-shadows: (
  'default': (
    (
      'color': #f00,
      'offset': 2.5rem,
      'blur-radius': 5rem,
    ),
    (
      'color': #f00,
      'offset': 5rem,
      'blur-radius': 10rem,
    ),
  ),
);
$bitstyles-typography-webfont-family-name: 'FakeFont';
$bitstyles-typography-webfont-base-url: './';
$bitstyles-typography-responsive-typographic-scale: (
  'm': (
    'h1': (
      'font-size': 10rem,
      'line-height': 200,
    ),
  ),
  'xl': (
    'h1': (
      'font-size': 30rem,
      'line-height': 400,
    ),
  ),
);
$bitstyles-link-color: #f00;

//
// Base settings /////////////////////////////////////

$bitstyles-figure-font-style: bold;
$bitstyles-forms-fieldset-padding: 10rem;
$bitstyles-html-color: red;
$bitstyles-input-checkbox-border-radius: 10rem;
$bitstyles-input-radio-border-radius: 10rem;
$bitstyles-input-text-border-radius: 10rem;
$bitstyles-select-border-radius: 10rem;
$bitstyles-base-typography-margin-heading: 10rem;
$bitstyles-base-typography-margin-paragraph: 10rem;

//
// Atoms settings /////////////////////////////////////

$bitstyles-avatar-sizes: (
  'xl': 10rem,
);
$bitstyles-badge-color: 'light';
$bitstyles-bordered-header-gutter: 10rem;
$bitstyles-button-transition: none;
$bitstyles-button-colors-default: (
  'default': (
    'color': var(--color-grayscale-white),
  ),
);
$bitstyles-button-tab-color-hover: #000;
$bitstyles-card-sizes: (
  'base': 10rem,
  's': 20rem,
);
$bitstyles-content-max-width-base: 'full';
$bitstyles-dropdown-max-height: 1rem;
$bitstyles-flash-color: 'light';
$bitstyles-icon-sizes: (
  's': 10rem,
);
$bitstyles-skip-link-color: #f00;
$bitstyles-topbar-vertical-padding: 10rem;

//
// Organisms settings /////////////////////////////////////

$bitstyles-modal-padding: 10rem;
$bitstyles-navbar-will-change: opacity;
$bitstyles-sidebar-large-width: 1rem;
$bitstyles-sidebar-small-location: right;
$bitstyles-table-color-th: #f00;
$bitstyles-ui-group-border-radius: 10rem;

//
// Utilities settings /////////////////////////////////////

$bitstyles-aspect-ratio-values: (
  '10-10': (
    'width': 1,
    'height': 1,
  ),
);
$bitstyles-bg-values: (
  'f00': #f00,
);
$bitstyles-border-values: (
  'f00': #f00,
);
$bitstyles-border-radius-values: (
  'm': 10rem,
);
$bitstyles-box-shadow-breakpoints: ('xl');
$bitstyles-col-span-values: (
  '100': span 100 / span 100,
);
$bitstyles-col-start-values: (
  '100': 100,
);
$bitstyles-display-values: (
  inline-block: inline-block,
);
$bitstyles-drop-shadow-breakpoints: ('s');
$bitstyles-fg-values: (
  'f00': #f00,
);
$bitstyles-flex-grow-values: (
  '100': 100,
);
$bitstyles-gap-sizes: (
  '100': 100rem,
);
$bitstyles-grid-cols-values: (
  '100': repeat(100, minmax(0, 1fr)),
);
$bitstyles-grid-rows-values: (
  'auto': auto,
);
$bitstyles-height-values: (
  '1em': 1em,
);
$bitstyles-inset-values: (
  '100': 100rem,
);
$bitstyles-items-values: (
  'start': start,
);
$bitstyles-justify-content-values: (
  'start': start,
);
$bitstyles-line-height-values: (
  '10': 10,
);
$bitstyles-list-values: (
  'none': none,
);
$bitstyles-margin-breakpoints: ('xl', 's');
$bitstyles-max-height-values: (
  '1em': 1em,
);
$bitstyles-max-width-values: (
  '1em': 1em,
);
$bitstyles-min-height-values: (
  '1em': 1em,
);
$bitstyles-min-width-values: (
  '1em': 1em,
);
$bitstyles-overflow-values: (
  'overflow': (
    'hidden': hidden,
  ),
);
$bitstyles-padding-breakpoints: ('xl', 's');
$bitstyles-position-breakpoints: ('l');
$bitstyles-row-start-values: (
  '100': 100,
  '200': 200,
);
$bitstyles-self-values: (
  'start': start,
);
$bitstyles-sr-only-breakpoints: ('xl');
$bitstyles-text-values: (
  'top': top,
);
$bitstyles-text-decoration-values: (
  'text-decoration-none': none,
);
$bitstyles-typography-responsive-utilities-values: (
  'm': (
    'h1': (
      'font-size': 10rem,
      'line-height': 200,
    ),
  ),
  'xl': (
    'h1': (
      'font-size': 30rem,
      'line-height': 400,
    ),
  ),
);
$bitstyles-typography-utilities-values: (
  '100': 100rem,
);
$bitstyles-white-space-values: (
  'normal': normal,
);
$bitstyles-width-values: (
  '0': 0,
);
$bitstyles-z-index-values: (
  '100': 100,
);

@import '../../scss/bitstyles';
