//
// Global settings /////////////////////////////////////

$bitstyles-animation-transition-easing: ease-out;
$bitstyles-breakpoints-boundary-width: 10em;
$bitstyles-color-palette-palette: (
  'grayscale': (
    'light-3': #000,
    'light-2': #000,
    'light-1': #000,
    'base': #000,
    'dark-1': #000,
  ),
  'background': (
    'base': #000,
    'dark-1': #000,
    'dark-2': #000,
  ),
  'white': (
    'base': #000,
  ),
  'brand-1': (
    'light-2': #000,
    'light-1': #000,
    'base': #000,
    'dark-1': #000,
    'dark-2': #000,
  ),
  'brand-2': (
    'light-2': #000,
    'light-1': #000,
    'base': #000,
    'dark-1': #000,
  ),
  'grayscale': (
    'white': #000,
    'black': #000,
  ),
  'accent-gray': (
    'light-2': #000,
    'light-1': #000,
    'base': #000,
    'dark-1': #000,
    'dark-2': #000,
    'dark-3': #000,
  ),
  'danger': (
    'light-2': #000,
    'light-1': #000,
    'base': #000,
    'dark-1': #000,
  ),
  'warning': (
    'light-2': #000,
    'light-1': #000,
    'base': #000,
    'dark-1': #000,
  ),
  'positive': (
    'light-2': #000,
    'light-1': #000,
    'base': #000,
    'dark-1': #000,
  ),
);
$bitstyles-layout-size-base: 10rem;
$bitstyles-setup-namespace: 'bs';
$bitstyles-setup-custom-property-namespace: 'bscpn';
$bitstyles-setup-layer-prefixes: (
  'atom': 'at',
  'molecule': 'mo',
  'organism': 'or',
  'utility': '',
);
$bitstyles-shadows-shadows: (
  'default': (
    (
      'color': #f00,
      'offset': 2.5rem,
      'blur-radius': 5rem,
    ),
    (
      'color': #f00,
      'offset': 5rem,
      'blur-radius': 10rem,
    ),
  ),
);
$bitstyles-themes-themes: (
  'default': (
    'color': (
      'background': var(--bscpn-color-brand-1-light-3),
      'color': var(--bscpn-color-brand-2-dark-3),
    ),
  ),
  'dark-1': (
    'color': (
      'background': var(--bscpn-color-brand-1-dark-3),
      'text': var(--bscpn-color-brand-2-light-3),
    ),
  ),
);
$bitstyles-typography-webfont-family-name: 'FakeFont';
$bitstyles-typography-webfont-base-url: './';
$bitstyles-typography-responsive-typographic-scale: (
  'm': (
    'h1': (
      'font-size': 10rem,
      'line-height': 200,
    ),
  ),
  'xl': (
    'h1': (
      'font-size': 30rem,
      'line-height': 400,
    ),
  ),
);
$bitstyles-link-color: #f00;

//
// Base settings /////////////////////////////////////

$bitstyles-figure-font-style: bold;
$bitstyles-forms-fieldset-padding: 10rem;
$bitstyles-input-checkbox-border-radius: 10rem;
$bitstyles-input-radio-border-radius: 10rem;
$bitstyles-input-text-border-radius: 10rem;
$bitstyles-select-border-radius: 10rem;
$bitstyles-base-typography-margin-heading: 10rem;
$bitstyles-base-typography-margin-paragraph: 10rem;

//
// Atoms settings /////////////////////////////////////

$bitstyles-avatar-sizes: (
  'xl': 10rem,
);
$bitstyles-badge-color: 'light-1';
$bitstyles-bordered-header-gutter: 10rem;
$bitstyles-button-transition: none;
$bitstyles-button-colors-default: (
  'default': (
    'default': (
      'color': var(--bscpn-color-grayscale-black),
    ),
  ),
  'dark-1': (
    'default': (
      'color': var(--bscpn-color-grayscale-white),
    ),
  ),
);
$bitstyles-button-tab-indicator-color: #f00;
$bitstyles-card-sizes: (
  'base': 10rem,
  's': 20rem,
);
$bitstyles-content-max-width-base: 'full';
$bitstyles-dropdown-max-height: 1rem;
$bitstyles-flash-color: 'light-1';
$bitstyles-icon-sizes: (
  's': 10rem,
);
$bitstyles-skip-link-color: #f00;
$bitstyles-topbar-vertical-padding: 10rem;

//
// Organisms settings /////////////////////////////////////

$bitstyles-modal-padding: 10rem;
$bitstyles-navbar-will-change: opacity;
$bitstyles-sidebar-large-width: 1rem;
$bitstyles-sidebar-small-location: right;
$bitstyles-table-color-th: #f00;
$bitstyles-ui-group-border-radius: 10rem;

//
// Utilities settings /////////////////////////////////////

$bitstyles-aspect-ratio-values: (
  '10-10': (
    'width': 1,
    'height': 1,
  ),
);
$bitstyles-bg-values: (
  'f00': #f00,
);
$bitstyles-box-shadow-breakpoints: ('xl');
$bitstyles-border-values: (
  'f00': #f00,
);
$bitstyles-border-radius-values: (
  'm': 10rem,
);
$bitstyles-col-span-values: (
  '100': span 100 / span 100,
);
$bitstyles-col-start-values: (
  '100': 100,
);
$bitstyles-display-values: (
  inline-block: inline-block,
);
$bitstyles-drop-shadow-breakpoints: ('s');
$bitstyles-fg-values: (
  'f00': #f00,
);
$bitstyles-flex-grow-values: (
  '100': 100,
);
$bitstyles-gap-sizes: (
  '100': 100rem,
);
$bitstyles-grid-cols-values: (
  '100': repeat(100, minmax(0, 1fr)),
);
$bitstyles-grid-rows-values: (
  'auto': auto,
);
$bitstyles-height-values: (
  '1em': 1em,
);
$bitstyles-inset-values: (
  '100': 100rem,
);
$bitstyles-items-values: (
  'start': start,
);
$bitstyles-justify-content-values: (
  'start': start,
);
$bitstyles-line-height-values: (
  '10': 10,
);
$bitstyles-list-values: (
  'none': none,
);
$bitstyles-margin-breakpoints: ('xl', 's');
$bitstyles-max-height-values: (
  '1em': 1em,
);
$bitstyles-max-width-values: (
  '1em': 1em,
);
$bitstyles-min-height-values: (
  '1em': 1em,
);
$bitstyles-min-width-values: (
  '1em': 1em,
);
$bitstyles-overflow-values: (
  'overflow': (
    'hidden': hidden,
  ),
);
$bitstyles-padding-breakpoints: ('xl', 's');
$bitstyles-position-breakpoints: ('l');
$bitstyles-row-start-values: (
  '100': 100,
  '200': 200,
);
$bitstyles-self-values: (
  'start': start,
);
$bitstyles-sr-only-breakpoints: ('xl');
$bitstyles-text-values: (
  'top': top,
);
$bitstyles-text-decoration-values: (
  'text-decoration-none': none,
);
$bitstyles-typography-responsive-utilities-values: (
  'm': (
    'h1': (
      'font-size': 10rem,
      'line-height': 200,
    ),
  ),
  'xl': (
    'h1': (
      'font-size': 30rem,
      'line-height': 400,
    ),
  ),
);
$bitstyles-typography-utilities-values: (
  '100': 100rem,
);
$bitstyles-white-space-values: (
  'normal': normal,
);
$bitstyles-width-values: (
  '0': 0,
);
$bitstyles-z-index-values: (
  '100': 100,
);

@import '../../scss/bitstyles/settings/animation';
@import '../../scss/bitstyles/settings/breakpoints';
@import '../../scss/bitstyles/settings/base-colors';
@import '../../scss/bitstyles/settings/base-palette';
@import '../../scss/bitstyles/settings/color-palette';
@import '../../scss/bitstyles/settings/layout';
@import '../../scss/bitstyles/settings/setup';
@import '../../scss/bitstyles/settings/shadows';
@import '../../scss/bitstyles/settings/themes';
@import '../../scss/bitstyles/settings/typography';
@import '../../scss/bitstyles/settings/typography-responsive';
@import '../../scss/bitstyles/settings/link';

//
// Custom properties ////////////////////////////////////

@import '../../scss/bitstyles/custom-properties/animation';
@import '../../scss/bitstyles/custom-properties/breakpoints';
@import '../../scss/bitstyles/custom-properties/color-palette';
@import '../../scss/bitstyles/custom-properties/layout';
@import '../../scss/bitstyles/custom-properties/shadows';
@import '../../scss/bitstyles/custom-properties/typography';

//
// Generic ////////////////////////////////////

@import '../../scss/bitstyles/generic/box-sizing';
@import '../../scss/bitstyles/generic/normalize';
@import '../../scss/bitstyles/generic/reset';

//
// Base /////////////////////////////////////////

@import '../../scss/bitstyles/base/anchor';
@import '../../scss/bitstyles/base/figure';
@import '../../scss/bitstyles/base/font-face';
@import '../../scss/bitstyles/base/forms';
@import '../../scss/bitstyles/base/html';
@import '../../scss/bitstyles/base/images';
@import '../../scss/bitstyles/base/input-checkbox';
@import '../../scss/bitstyles/base/input-radio';
@import '../../scss/bitstyles/base/input-text';
@import '../../scss/bitstyles/base/select';
@import '../../scss/bitstyles/base/themes';
@import '../../scss/bitstyles/base/typography';

//
// Atoms //////////////////////////////////////

@import '../../scss/bitstyles/atoms/avatar';
@import '../../scss/bitstyles/atoms/badge';
@import '../../scss/bitstyles/atoms/bordered-header';
@import '../../scss/bitstyles/atoms/button';
@import '../../scss/bitstyles/atoms/button-colors';
@import '../../scss/bitstyles/atoms/button-shapes';
@import '../../scss/bitstyles/atoms/button--tab';
@import '../../scss/bitstyles/atoms/card';
@import '../../scss/bitstyles/atoms/content';
@import '../../scss/bitstyles/atoms/dl';
@import '../../scss/bitstyles/atoms/dropdown';
@import '../../scss/bitstyles/atoms/flash';
@import '../../scss/bitstyles/atoms/icon';
@import '../../scss/bitstyles/atoms/link';
@import '../../scss/bitstyles/atoms/skip-link';
@import '../../scss/bitstyles/atoms/topbar';

//
// Organisms ///////////////////////////////////

@import '../../scss/bitstyles/organisms/modal';
@import '../../scss/bitstyles/organisms/navbar';
@import '../../scss/bitstyles/organisms/sidebar';
@import '../../scss/bitstyles/organisms/notification-center';
@import '../../scss/bitstyles/organisms/table';
@import '../../scss/bitstyles/organisms/ui-group';

//
// Utilities ////////////////////////////////////

@import '../../scss/bitstyles/utilities/aspect-ratio';
@import '../../scss/bitstyles/utilities/bg';
@import '../../scss/bitstyles/utilities/border';
@import '../../scss/bitstyles/utilities/border-radius';
@import '../../scss/bitstyles/utilities/box-shadow';
@import '../../scss/bitstyles/utilities/break-text';
@import '../../scss/bitstyles/utilities/clearfix';
@import '../../scss/bitstyles/utilities/col-span';
@import '../../scss/bitstyles/utilities/col-start';
@import '../../scss/bitstyles/utilities/display';
@import '../../scss/bitstyles/utilities/drop-shadow';
@import '../../scss/bitstyles/utilities/fg';
@import '../../scss/bitstyles/utilities/flex';
@import '../../scss/bitstyles/utilities/font';
@import '../../scss/bitstyles/utilities/gap';
@import '../../scss/bitstyles/utilities/grid-cols';
@import '../../scss/bitstyles/utilities/grid-rows';
@import '../../scss/bitstyles/utilities/height';
@import '../../scss/bitstyles/utilities/inset';
@import '../../scss/bitstyles/utilities/items';
@import '../../scss/bitstyles/utilities/justify';
@import '../../scss/bitstyles/utilities/line-height';
@import '../../scss/bitstyles/utilities/list';
@import '../../scss/bitstyles/utilities/margin';
@import '../../scss/bitstyles/utilities/max-height';
@import '../../scss/bitstyles/utilities/max-width';
@import '../../scss/bitstyles/utilities/min-height';
@import '../../scss/bitstyles/utilities/min-width';
@import '../../scss/bitstyles/utilities/object-cover';
@import '../../scss/bitstyles/utilities/outline';
@import '../../scss/bitstyles/utilities/overflow';
@import '../../scss/bitstyles/utilities/padding';
@import '../../scss/bitstyles/utilities/position';
@import '../../scss/bitstyles/utilities/row-start';
@import '../../scss/bitstyles/utilities/self';
@import '../../scss/bitstyles/utilities/sr-only';
@import '../../scss/bitstyles/utilities/text';
@import '../../scss/bitstyles/utilities/text-decoration';
@import '../../scss/bitstyles/utilities/truncate';
@import '../../scss/bitstyles/utilities/typography-responsive';
@import '../../scss/bitstyles/utilities/typography';
@import '../../scss/bitstyles/utilities/white-space';
@import '../../scss/bitstyles/utilities/width';
@import '../../scss/bitstyles/utilities/z-index';
