//
// Global settings /////////////////////////////////////

@use '../../scss/bitstyles/settings/animation' with (
  $transition-easing: ease-out
);
@use '../../scss/bitstyles/settings/breakpoints' with (
  $breakpoint-boundary-width: 10em
);
@use '../../scss/bitstyles/settings/color-palette' with (
  $grays-hint-color: #f00,
  $black: #f00,
  $color-palette: (
    'black': (
      '10': #000,
      '20': #000,
      '30': #000,
      '40': #000,
      '50': #000,
      '80': #000,
      '100': #000,
    ),
    'white': (
      '95': #000,
      '100': #000,
    ),
    'gray': (
      '1': #000,
      '5': #000,
      '10': #000,
      '20': #000,
      '30': #000,
      '40': #000,
      '50': #000,
      '60': #000,
      '70': #000,
      '80': #000,
      '90': #000,
      '100': #000,
    ),
    'text': (
      '80': #000,
      '100': #000,
    ),
    'background': (
      '100': #000,
    ),
    'brand-1': (
      '10': #000,
      '60': #000,
      '70': #000,
      '80': #000,
      '90': #000,
      '100': #000,
    ),
    'brand-2': (
      '10': #000,
      '100': #000,
    ),
    'danger': (
      '10': #000,
      '100': #000,
    ),
    'warning': (
      '10': #000,
      '90': #000,
      '100': #000,
    ),
    'positive': (
      '10': #000,
    )
  )
);
@use '../../scss/bitstyles/settings/layout' with (
  $size-base: 10rem
);
@use '../../scss/bitstyles/settings/setup' with (
  $namespace: 'bs'
);
@use '../../scss/bitstyles/settings/typography' as settings-typography with (
  $font-family-webfont: sans-serif
);

//
// Generic ////////////////////////////////////

@use '../../scss/bitstyles/generic/box-sizing';
@use '../../scss/bitstyles/generic/normalize';
@use '../../scss/bitstyles/generic/reset';

//
// Base /////////////////////////////////////////

@use '../../scss/bitstyles/base/anchor';
@use '../../scss/bitstyles/base/figure' with (
  $font-style: bold
);
@use '../../scss/bitstyles/base/font-face';
@use '../../scss/bitstyles/base/forms' with (
  $fieldset-padding: 10rem
);
@use '../../scss/bitstyles/base/images';
@use '../../scss/bitstyles/base/input-checkbox' with (
  $border-radius: 10rem
);
@use '../../scss/bitstyles/base/input-radio' with (
  $border-radius: 10rem
);
@use '../../scss/bitstyles/base/input-text' with (
  $border-radius: 10rem
);
@use '../../scss/bitstyles/base/select' with (
  $border-radius: 10rem
);
@use '../../scss/bitstyles/base/typography' as base-typography;

//
// Atoms //////////////////////////////////////

@use '../../scss/bitstyles/atoms/avatar' with (
  $sizes: ('xl': 10rem)
);
@use '../../scss/bitstyles/atoms/badge' with (
  $color: '10'
);
@use '../../scss/bitstyles/atoms/bordered-header' with (
  $gutter: 10rem
);
@use '../../scss/bitstyles/atoms/button' with (
  $color-hover: #000
);
@use '../../scss/bitstyles/atoms/button--danger' with (
  $color-hover: #000
);
@use '../../scss/bitstyles/atoms/button--icon' with (
  $color-hover: #000
);
@use '../../scss/bitstyles/atoms/button--icon-reversed' with (
  $color-hover: #000
);
@use '../../scss/bitstyles/atoms/button--menu' with (
  $color-hover: #000
);
@use '../../scss/bitstyles/atoms/button--mode' with (
  $color-hover: #000
);
@use '../../scss/bitstyles/atoms/button--nav' with (
  $color-hover: #000
);
@use '../../scss/bitstyles/atoms/button--nav-large' with (
  $color-hover: #000
);
@use '../../scss/bitstyles/atoms/button--small' with (
  $padding-vertical: 10rem
);
@use '../../scss/bitstyles/atoms/button--tab' with (
  $color-hover: #000
);
@use '../../scss/bitstyles/atoms/button--ui' with (
  $color-hover: #000
);
@use '../../scss/bitstyles/atoms/card' with (
  $sizes: ('base': 10rem, 's': 20rem)
);
@use '../../scss/bitstyles/atoms/content' with (
  $max-width-base: 'full'
);
@use '../../scss/bitstyles/atoms/dl';
@use '../../scss/bitstyles/atoms/dropdown' with (
  $max-height: 1rem
);
@use '../../scss/bitstyles/atoms/flash' with (
  $color: '10'
);
@use '../../scss/bitstyles/atoms/icon' with (
  $sizes: ('s': 10rem)
);
@use '../../scss/bitstyles/atoms/link';
@use '../../scss/bitstyles/atoms/list-reset';
@use '../../scss/bitstyles/atoms/topbar' with (
  $vertical-padding: 10rem
);

//
// Organisms ///////////////////////////////////

@use '../../scss/bitstyles/organisms/modal' with (
  $padding: 10rem
);
@use '../../scss/bitstyles/organisms/navbar' with (
  $will-change: opacity
);
@use '../../scss/bitstyles/organisms/sidebar' with (
  $large-width: 1rem
);
@use '../../scss/bitstyles/organisms/notification-center';
@use '../../scss/bitstyles/organisms/table' with (
  $color-th: #f00
);
@use '../../scss/bitstyles/organisms/ui-group' with (
  $border-radius: 10rem
);

//
// Utilities ////////////////////////////////////

@use '../../scss/bitstyles/utilities/absolute-center';
@use '../../scss/bitstyles/utilities/absolute-cover';
@use '../../scss/bitstyles/utilities/aspect-ratio' with (
  $values: (
    '10-10': (
      'width': 1,
      'height': 1
    )
  )
);
@use '../../scss/bitstyles/utilities/bg' with (
  $values: (
    'f00': #f00,
  )
);
@use '../../scss/bitstyles/utilities/border' with (
  $values: (
    'f00': #f00,
  )
);
@use '../../scss/bitstyles/utilities/break-text';
@use '../../scss/bitstyles/utilities/clearfix';
@use '../../scss/bitstyles/utilities/col-span' with (
  $values: (
    '100': span 100 / span 100
  )
);
@use '../../scss/bitstyles/utilities/col-start' with (
  $values: (
    '100': 100
  )
);
@use '../../scss/bitstyles/utilities/display' with (
  $values: (
    'inline-block': 'inline-block',
  )
);
@use '../../scss/bitstyles/utilities/fg' with (
  $values: (
    'f00': #f00,
  )
);
@use '../../scss/bitstyles/utilities/flex' with (
  $grow: (
    '100': 100
  )
);
@use '../../scss/bitstyles/utilities/font';
@use '../../scss/bitstyles/utilities/gap' with (
  $sizes: (
    '100': 100rem
  )
);
@use '../../scss/bitstyles/utilities/grid-cols';
@use '../../scss/bitstyles/utilities/height';
@use '../../scss/bitstyles/utilities/items';
@use '../../scss/bitstyles/utilities/justify';
@use '../../scss/bitstyles/utilities/line-height';
@use '../../scss/bitstyles/utilities/margin' with (
  $breakpoints: ('xl', 's')
);
@use '../../scss/bitstyles/utilities/object-cover';
@use '../../scss/bitstyles/utilities/outline';
@use '../../scss/bitstyles/utilities/overflow';
@use '../../scss/bitstyles/utilities/padding';
@use '../../scss/bitstyles/utilities/relative';
@use '../../scss/bitstyles/utilities/round';
@use '../../scss/bitstyles/utilities/row-start' with (
  $values: (
    '100': 100,
    '200': 200
  )
);
@use '../../scss/bitstyles/utilities/self';
@use '../../scss/bitstyles/utilities/sr-only';
@use '../../scss/bitstyles/utilities/text';
@use '../../scss/bitstyles/utilities/truncate';
@use '../../scss/bitstyles/utilities/typography';
@use '../../scss/bitstyles/utilities/z-index';
