/** @define content */
//
// Content
//
// **A generic wrapper for content with side padding and a maximum width**.
//
// This layout object ensures:
// - there is always whitespace at the sides of the viewport; content will never touch the edge.
// - content spans the full width of the screen, up to a maximum set by `$bitstyles-content-max-width`
// - content remains centred within its parent element.
//
// markup:
// <div class="l-content">
//   <p>Jelly cake marshmallow. Pie cotton candy chupa chups marzipan liquorice cheesecake wafer. Gummies cheesecake oat cake sugar plum icing cupcake tiramisu bonbon. Cotton candy chupa chups tootsie roll chupa chups cotton candy liquorice jelly gingerbread. Pastry gummi bears liquorice tart cotton candy marshmallow. Ice cream cotton candy chocolate cake cookie. Bonbon candy jelly-o sugar plum cotton candy carrot cake icing ice cream. Sweet chocolate marzipan. Candy canes danish cake carrot cake bonbon. Gummi bears sesame snaps tart bear claw pie chocolate bar. Ice cream candy canes sugar plum cookie. Macaroon biscuit biscuit carrot cake liquorice. Muffin pudding gingerbread powder jelly-o chocolate bar powder jelly beans toffee.</p>
// </div>
//
// Styleguide 3.1

@import '../settings/content';

.#{$bitstyles-namespace}l-content {
  display: block;
  width: 100%;
  max-width: $bitstyles-content-max-width;
  padding-right: $bitstyles-content-horizontal-padding;
  padding-left: $bitstyles-content-horizontal-padding;
  margin-right: auto;
  margin-left: auto;
  transition: padding $bitstyles-transition-duration $bitstyles-transition-easing;
}

@include media-query($bitstyles-content-large-breakpoint) {
  .#{$bitstyles-namespace}l-content {
    padding-right: $bitstyles-content-horizontal-padding-large;
    padding-left: $bitstyles-content-horizontal-padding-large;
  }
}
