// Grid Systems
//
// Responsive html grid system using inline-block (no floats, no clearfix, no flexbox).
// Note this means whitespace is important. If necessary, use html comments between
// each `.grid__item` to remove any whitespace, otherwise the browser will display
// a small gap between grid items.
//
// As it’s an HTML grid system (not CSS), add some wrapping elements to create rows
// and columns (see example markup below). Each of these grid items needs the class
// `.l-grid__item` and a width class. With current defaults, the widths provided
// include a 12-column system e.g. 1-of-12, 2-of-12, 3-of-12 … 11-of-12, 12-of-12.
//
// Grids can be nested.
//
// Dependencies:
// - `layout/width`
// - `tools/width`
//
// Styleguide 3.2

// Grid system — base
//
// In the base grid system, columns are of proportional widths (percentage of
// the full width) but not responsive.
//
// markup:
// <ul class="l-grid">
//    <li class="l-grid__item l-width--1-of-12">
//        <div class="background-grey">1-of-12</div>
//    </li><!--
// --><li class="l-grid__item l-width--11-of-12">
//        <div>11-of-12</div>
//    </li><!--
// --><li class="l-grid__item l-width--2-of-12">
//        <div class="background-grey">2-of-12</div>
//    </li><!--
// --><li class="l-grid__item l-width--10-of-12">
//        <div>10-of-12</div>
//    </li><!--
// --><li class="l-grid__item l-width--3-of-12">
//        <div class="background-grey">3-of-12</div>
//    </li><!--
// --><li class="l-grid__item l-width--9-of-12">
//        <div>9-of-12</div>
//    </li><!--
// --><li class="l-grid__item l-width--4-of-12">
//        <div class="background-grey">4-of-12</div>
//    </li><!--
// --><li class="l-grid__item l-width--8-of-12">
//        <div>8-of-12</div>
//    </li><!--
// --><li class="l-grid__item l-width--5-of-12">
//        <div class="background-grey">5-of-12</div>
//    </li><!--
// --><li class="l-grid__item l-width--7-of-12">
//        <div>7-of-12</div>
//    </li><!--
// --><li class="l-grid__item l-width--6-of-12">
//        <div class="background-grey">6-of-12</div>
//    </li><!--
// --><li class="l-grid__item l-width--6-of-12">
//        <div>6-of-12</div>
//    </li><!--
// --><li class="l-grid__item l-width--7-of-12">
//        <div class="background-grey">7-of-12</div>
//    </li><!--
// --><li class="l-grid__item l-width--5-of-12">
//        <div>5-of-12</div>
//    </li><!--
// --><li class="l-grid__item l-width--8-of-12">
//        <div class="background-grey">8-of-12</div>
//    </li><!--
// --><li class="l-grid__item l-width--4-of-12">
//        <div>4-of-12</div>
//     </li><!--
// --><li class="l-grid__item l-width--9-of-12">
//        <div class="background-grey">9-of-12</div>
//    </li><!--
// --><li class="l-grid__item l-width--3-of-12">
//        <div>3-of-12</div>
//    </li><!--
// --><li class="l-grid__item l-width--10-of-12">
//        <div class="background-grey">10-of-12</div>
//    </li><!--
// --><li class="l-grid__item l-width--2-of-12">
//        <div>2-of-12</div>
//    </li><!--
// --><li class="l-grid__item l-width--11-of-12">
//        <div class="background-grey">11-of-12</div>
//    </li><!--
// --><li class="l-grid__item l-width--1-of-12">
//        <div>1-of-12</div>
//    </li><!--
// --><li class="l-grid__item l-width--12-of-12">
//        <div class="background-grey">12-of-12</div>
//    </li><!--
// --><li class="l-grid__item l-width--3-of-12">
//        <div class="background-grey">3-of-12</div>
//    </li><!--
// --><li class="l-grid__item l-width--3-of-12">
//        <div>3-of-12</div>
//    </li><!--
// --><li class="l-grid__item l-width--3-of-12">
//        <div class="background-grey">3-of-12</div>
//    </li><!--
// --><li class="l-grid__item l-width--3-of-12">
//        <div>3-of-12</div>
//    </li>
// </ul>
//
// Styleguide 3.2.1

@import '../settings/grid';

.#{$bitstyles-namespace}l-grid {
  @include list-reset();

  margin-left: -$bitstyles-grid-gutter;
}

.#{$bitstyles-namespace}l-grid__item {
  display: inline-block;
  width: 100%;
  padding-left: $bitstyles-grid-gutter;
  box-sizing: border-box;
  vertical-align: top;
}

// Grid system - responsive
//
// The grid system can also be used responsively. Append the name of a breakpoint
// to the width class to have it activate only at that breakpoint. Multiple
// l-width--item/breakpoints combinations can be used to define a grid item’s width
// at various breakpoints (for all the breakpoints you define in the
// `$bitstyles-widths-breakpoints` Sass list).
//
// This is commonly used to set a default mobile-first width of `.l-width--12-of-12`
// and a larger-screen width of e.g. `.l-width--4-of-12-medium-and-up` for a
// three-column layout that becomes a single-column stack on small screens.
//
// markup:
// <ul class="l-grid">
//   <li class="l-grid__item l-width--12-of-12 l-width--4-of-12-medium-and-up">
//     <div class="background-grey">6-of-12 / 2-of-12-medium-and-up</div>
//   </li><!--
//--><li class="l-grid__item l-width--12-of-12 l-width--4-of-12-medium-and-up">
//     <div>6-of-12 / 2-of-12-medium-and-up</div>
//   </li><!--
//--><li class="l-grid__item l-width--12-of-12 l-width--4-of-12-medium-and-up">
//     <div class="background-grey">6-of-12 / 2-of-12-medium-and-up</div>
//   </li>
// </ul>
//
// Styleguide 3.2.2
