/** @define topbar */
//
// Topbar
//
// A fixed-position element that sticks to the top of the viewport, and spans
// its full width. Commonly used to contain site navigation, logo etc.
// Note that as it’s fixed, the main content element will need padding at the top
// to ensure it’s not obscured by the topbar.
//
// markup:
// <header class="l-topbar">
//   <h1 class="o-h2 t-no-margin">Logo, menu, search, and other important nav</h1>
// </header>
//
// Styleguide Layout.topbar

@import '../settings/topbar';

.#{$bitstyles-namespace}l-topbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: z($bitstyles-global-z, topbar);
  padding: $bitstyles-topbar-vertical-padding $bitstyles-topbar-horizontal-padding;
  color: $bitstyles-topbar-color;
  background-color: $bitstyles-topbar-background-color;
  transition:
    background-color $bitstyles-transition-duration $bitstyles-transition-easing,
    transform 0.3s $bitstyles-transition-easing;
  backface-visibility: hidden;
}
