/** @define topbar */
//
// Topbar
//
// A fixed-position element that sticks to the top of the viewport (and is hence
// broken here — best viewed in the styleguide’s fullscreen view), and spans
// its full width. Commonly used to contain site navigation, logo etc.
//
// markup:
// <header class="l-topbar">
//   <h1>Topbar content here (menu, logo…)</h1>
// </header>
//
// Styleguide 3.3

@import '../settings/topbar';

.#{$bitstyles-namespace}l-topbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: z($bitstyles-global-z, topbar);
  padding: $bitstyles-topbar-vertical-padding $bitstyles-topbar-horizontal-padding;
  transition: background-color $bitstyles-transition-duration $bitstyles-transition-easing, transform 0.3s $bitstyles-transition-easing;
  backface-visibility: hidden;
}
