@forward 'settings';
@use './settings';
@use '../../tools/line-height';
@use '../../tools/size';

/* stylelint-disable selector-max-type */

fieldset {
  padding: settings.$fieldset-padding;
  border: settings.$fieldset-border;
  border-radius: settings.$fieldset-border-radius;
  background-color: settings.$fieldset-background;
}

legend {
  padding: settings.$legend-padding;
  border: settings.$legend-border;
  border-radius: settings.$legend-border-radius;
  background-color: settings.$legend-background-color;
  color: settings.$legend-color;
}

label {
  display: block;
  margin-bottom: 0;
  cursor: pointer;
}

[type='color'] {
  height: calc(#{line-height.get('5') * 1em} + #{size.get('s')});
}
/* stylelint-enable selector-max-type */
