@forward 'settings';
@use './settings';
@use '../../tools/design-token';

/* stylelint-disable selector-max-type */

fieldset {
  padding: settings.$fieldset-padding;
  border: settings.$fieldset-border;
  border-radius: settings.$fieldset-border-radius;
  background-color: settings.$fieldset-background;
}

legend {
  padding: settings.$legend-padding;
  border: settings.$legend-border;
  border-radius: settings.$legend-border-radius;
  background-color: settings.$legend-background-color;
  color: settings.$legend-color;
}

label {
  display: flex;
  flex-direction: column;
  gap: settings.$label-gap;
  margin-bottom: 0;
  cursor: pointer;
}

[type='color'] {
  height: calc(
    var(design-token.get('line-height', '4')) * 1em +
      var(design-token.get('size', 's2'))
  );
}
/* stylelint-enable selector-max-type */
