@use '../../tools/size';

//
// Fieldset ////////////////////////////////////////

$fieldset-padding: 0 !default;
$fieldset-border: 0 !default;
$fieldset-border-radius: 0 !default;
$fieldset-background: transparent !default;

//
// Legend ////////////////////////////////////////

$legend-padding: 0 !default;
$legend-background-color: transparent !default;
$legend-border: 0 !default;
$legend-border-radius: 0 !default;
$legend-color: inherit !default;

//
// Label ////////////////////////////////////////

$label-gap: size.get('s7');
