@use './settings';
@use "../../settings/typography";
@use '../../tools/size';

/* stylelint-disable selector-max-type */

fieldset {
  padding: settings.$fieldset-padding;
  background-color: settings.$fieldset-background;
  border: settings.$fieldset-border;
  border-radius: settings.$fieldset-border-radius;
}

legend {
  padding: settings.$legend-padding;
  color: settings.$legend-color;
  background-color: settings.$legend-background-color;
  border: settings.$legend-border;
  border-radius: settings.$legend-border-radius;
}

label {
  display: block;
  margin-bottom: 0;
  cursor: pointer;
}

[type="color"] {
  height: calc(#{typography.$line-height-base * 1em} + #{size.get('s')});
}
/* stylelint-enable selector-max-type */
