$bitstyles-fieldset-padding: 0 !default;
$bitstyles-fieldset-border: 0 !default;
$bitstyles-fieldset-border-radius: 0 !default;
$bitstyles-fieldset-background: transparent !default;
$bitstyles-legend-padding: 0 !default;
$bitstyles-legend-background-color: transparent !default;
$bitstyles-legend-border: 0 !default;
$bitstyles-legend-border-radius: 0 !default;
$bitstyles-legend-color: inherit !default;
