//
// Base styles ////////////////////////////////////////
$bitstyles-radio-border-radius: $bitstyles-border-radius-round !default;

//
// Base colors ////////////////////////////////////////
$bitstyles-radio-color: palette('text', '80') !default;
$bitstyles-radio-background-color: palette('background') !default;
$bitstyles-radio-border-width: spacing('xxxs') !default;
$bitstyles-radio-border-color: palette('text', '80') !default;

//
// Hover colors ////////////////////////////////////////
$bitstyles-radio-color-hover: palette('brand-1') !default;
$bitstyles-radio-background-color-hover: palette('background') !default;
$bitstyles-radio-border-color-hover: palette('brand-1') !default;

//
// Checked colors ////////////////////////////////////////
$bitstyles-radio-color-checked: palette('brand-1') !default;
$bitstyles-radio-background-color-checked: palette('background') !default;
$bitstyles-radio-border-color-checked: palette('brand-1') !default;

//
// Disabled colors ////////////////////////////////////////
$bitstyles-radio-color-disabled: palette('black', '40') !default;
$bitstyles-radio-background-color-disabled: palette('black', '20') !default;
$bitstyles-radio-border-color-disabled: palette('black', '40') !default;

//
// Disabled-checked colors ////////////////////////////////////////
$bitstyles-radio-color-disabled-checked: palette('black', '40') !default;
$bitstyles-radio-background-color-disabled-checked: palette('black', '20') !default;
$bitstyles-radio-border-color-disabled-checked: palette('black', '40') !default;
