@use "../../settings/layout";
@use "../../tools/palette";
@use "../../tools/spacing";

//
// Base styles ////////////////////////////////////////
$radio-border-radius: layout.$border-radius-round !default;

//
// Base colors ////////////////////////////////////////
$radio-color: palette.get('text', '80') !default;
$radio-background-color: palette.get('white') !default;
$radio-border-width: spacing.spacing('xxxs') !default;
$radio-border-color: palette.get('text', '80') !default;

//
// Hover colors ////////////////////////////////////////
$radio-color-hover: palette.get('brand-1') !default;
$radio-background-color-hover: palette.get('white') !default;
$radio-border-color-hover: palette.get('brand-1') !default;

//
// Checked colors ////////////////////////////////////////
$radio-color-checked: palette.get('brand-1') !default;
$radio-background-color-checked: palette.get('white') !default;
$radio-border-color-checked: palette.get('brand-1') !default;

//
// Disabled colors ////////////////////////////////////////
$radio-color-disabled: palette.get('black', '40') !default;
$radio-background-color-disabled: palette.get('black', '20') !default;
$radio-border-color-disabled: palette.get('black', '40') !default;

//
// Disabled-checked colors ////////////////////////////////////////
$radio-color-disabled-checked: palette.get('black', '40') !default;
$radio-background-color-disabled-checked: palette.get('black', '20') !default;
$radio-border-color-disabled-checked: palette.get('black', '40') !default;
