@use "../../settings/typography";
@use "../../tools/palette";
@use "../../tools/size";

//
// Base styles ////////////////////////////////////////

$input-padding: size.get('xs') !default;
$input-border-radius: size.get('xs') !default;
$input-placeholder-font-style: italic !default;
$input-placeholder-font-weight: typography.$font-weight-normal !default;
$input-placeholder-color: palette.get('gray', '50') !default;
$input-checkbox-size: size.get('m') !default;

//
// Base colors ////////////////////////////////////////

$input-color: palette.get('text') !default;
$input-border-width: size.get('xxxs');
$input-border-color: palette.get('gray', '10') !default;
$input-background: palette.get('white') !default;
$input-box-shadow: 0 0 size.get('xs') rgba(palette.get('gray', '90'), 0.05);

//
// Hover colors ////////////////////////////////////////

$input-background-hover: palette.get('gray', '1') !default;
$input-color-hover: palette.get('gray', '70') !default;
$input-border-color-hover: palette.get('gray', '60') !default;
$input-box-shadow-hover: 0 0 size.get('s') rgba(palette.get('brand-1', '90'), 0.05);

//
// Active colors ////////////////////////////////////////

$input-color-active: palette.get('gray', '80') !default;
$input-border-color-active: palette.get('gray', '80') !default;
$input-background-active: palette.get('white') !default;
$input-box-shadow-active: 0 0 size.get('xxs') rgba(palette.get('brand-1', '90'), 0.15);

//
// Disabled colors ////////////////////////////////////////

$input-background-disabled: palette.get('black', '10') !default;
$input-color-disabled: palette.get('text') !default;
$input-border-color-disabled: palette.get('black', '20') !default;
$input-box-shadow-disabled: none;

//
// Invalid colors ////////////////////////////////////////

$input-color-invalid: palette.get('warning') !default;
$input-background-color-invalid: palette.get('white') !default;
$input-border-color-invalid: palette.get('warning') !default;
$input-box-shadow-invalid: 0 0 size.get('s') rgba(palette.get('warning', '90'), 0.1);
