@use "../../tools/spacing";
@use '../../tools/palette';
@use "../../tools/color";

//
// Base styles ////////////////////////////////////////
$checkbox-border-radius: spacing.spacing('xxs') !default;

//
// Base colors ////////////////////////////////////////
$checkbox-color: palette.get('black', '80') !default;
$checkbox-background-color: palette.get('white') !default;
$checkbox-border-width: spacing.spacing('xxxs') !default;
$checkbox-border-color: palette.get('black', '80') !default;

//
// Hover colors ////////////////////////////////////////
$checkbox-color-hover: palette.get('brand-1') !default;
$checkbox-background-color-hover: palette.get('white') !default;
$checkbox-border-color-hover: palette.get('brand-1') !default;

//
// Checked colors ////////////////////////////////////////
$checkbox-color-checked: palette.get('white') !default;
$checkbox-background-color-checked: palette.get('brand-1') !default;
$checkbox-border-color-checked: palette.get('brand-1') !default;
$checkbox-background-image-checked: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='#{color.url-encode-color(#ffffff)}' d='m83.07 11.71-44.41 44.59-21.73-21.81-15.93 15.99 37.65 37.81 60.35-60.59z'/%3E%3C/svg%3E") !default;

//
// Disabled colors ////////////////////////////////////////
$checkbox-color-disabled: palette.get('black', '40') !default;
$checkbox-background-color-disabled: palette.get('black', '20') !default;
$checkbox-border-color-disabled: palette.get('black', '40') !default;

//
// Disabled-checked colors ////////////////////////////////////////
$checkbox-color-disabled-checked: palette.get('text', '80') !default;
$checkbox-background-color-disabled-checked: palette.get('black', '30') !default;
$checkbox-border-color-disabled-checked: palette.get('black', '30') !default;
