//
// Base styles ////////////////////////////////////////

$bitstyles-input-padding: spacing('s') !default;
$bitstyles-input-border-radius: spacing('xs') !default;
$bitstyles-input-placeholder-color: palette('gray', '50') !default;
$bitstyles-input-checkbox-size: spacing('m') !default;

//
// Base colors ////////////////////////////////////////

$bitstyles-input-color: palette('text') !default;
$bitstyles-input-border-width: spacing('xxxs');
$bitstyles-input-border-color: palette('gray', '40') !default;
$bitstyles-input-background: palette('white') !default;
$bitstyles-input-box-shadow: 0 0 spacing('xs') rgba(palette('gray', '90'), 0.05);

//
// Hover colors ////////////////////////////////////////

$bitstyles-input-background-hover: palette('gray', '1') !default;
$bitstyles-input-color-hover: palette('gray', '70') !default;
$bitstyles-input-border-color-hover: 2px solid palette('gray', '60') !default;
$bitstyles-input-box-shadow-hover: 0 0 spacing('s') rgba(palette('brand-1', '90'), 0.05);

//
// Active colors ////////////////////////////////////////

$bitstyles-input-color-active: palette('gray', '80') !default;
$bitstyles-input-border-color-active: 2px solid palette('gray', '80') !default;
$bitstyles-input-background-active: palette('white') !default;
$bitstyles-input-box-shadow-active: 0 0 spacing('xxs') rgba(palette('brand-1', '90'), 0.15);

//
// Disabled colors ////////////////////////////////////////

$bitstyles-input-background-disabled: palette('black', '10') !default;
$bitstyles-input-color-disabled: palette('text') !default;
$bitstyles-input-border-color-disabled: 2px solid palette('black', '20') !default;
$bitstyles-input-box-shadow-disabled: none;

//
// Invalid colors ////////////////////////////////////////

$bitstyles-input-color-invalid: palette('warning') !default;
$bitstyles-input-background-color-invalid: palette('white') !default;
$bitstyles-input-border-color-invalid: palette('warning') !default;
$bitstyles-input-box-shadow-invalid: 0 0 spacing('s') rgba(palette('warning', '90'), 0.1);
