@import './settings';

.o-dropdown {
  position: absolute;
  z-index: 1;
  width: 15rem;
  max-height: $bitstyles-dropdown-max-height;
  padding: $bitstyles-dropdown-separator-spacing 0;
  background-color: $bitstyles-dropdown-background-color;
  border: $bitstyles-dropdown-border;
  border-radius: $bitstyles-dropdown-border-radius;
  box-shadow: $bitstyles-dropdown-box-shadow;

  [role="separator"] {
    margin: $bitstyles-dropdown-separator-spacing 0;
    border-top: 1px solid $bitstyles-dropdown-separator-border;
  }
}
