.sass-cache
node_modules
.npm
npm-debug.log*
/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/.test/
/build/

styleguide/*
storybook-static/
bitmaps_test
html_report
ci_report
specificity_graph
test/backstop_data/.cache
test/tmp
