{
  "extends": "stylelint-config-bitcrowd",
  "rules": {
    "at-rule-no-unknown": [ true, {
      "ignoreAtRules": ["else", "include", "mixin", "if", "each", "function", "return", "error", "for", "warn", "use"]
    }]
  }
}
