@forward 'settings';
@use './settings';
@use '../../tools/classname';

#{classname.get($classname-items: 'topbar', $layer: 'atom')} {
  position: settings.$position;
  z-index: settings.$z-index;
  top: 0;
  right: 0;
  left: 0;
  padding: settings.$vertical-padding settings.$horizontal-padding;
}
