@use '../../tools/size';
@use '../../tools/zindex';
@use '../../design-tokens/layout';

$position: relative !default;
$vertical-padding: size.get('s3') !default;
$horizontal-padding: size.get('s1') !default;
$z-index: zindex.get(layout.$global-z, 'topbar') !default;
