@use '../../tools/design-token';

$position: relative !default;
$vertical-padding: var(design-token.get('size', 's3')) !default;
$horizontal-padding: var(design-token.get('size', 's1')) !default;
$z-index: var(design-token.get('z-index', 'overlay')) !default;
