$bitstyles-topbar-position: relative !default;
$bitstyles-topbar-vertical-padding: spacing('s') !default;
$bitstyles-topbar-horizontal-padding: spacing('m') !default;
$bitstyles-topbar-z-index: z($bitstyles-global-z, 'topbar') !default;
