@use '../../tools/spacing';
@use '../../tools/zindex';
@use '../../settings/layout';

$position: relative !default;
$vertical-padding: spacing.spacing('s') !default;
$horizontal-padding: spacing.spacing('m') !default;
$z-index: zindex.z(layout.$global-z, 'topbar') !default;
