$bitstyles-button-small-padding-vertical: spacing('xxs');
$bitstyles-button-small-padding-horizontal: spacing('m');
$bitstyles-button-small-box-shadow: 0 0 spacing('xs') currentColor;
$bitstyles-button-small-border-radius: $bitstyles-border-radius-round;
