//
// Base styles ////////////////////////////////////////

$bitstyles-button-dropdown-transition:
  color $bitstyles-transition-duration $bitstyles-transition-easing,
  background-color $bitstyles-transition-duration $bitstyles-transition-easing,
  border $bitstyles-transition-duration $bitstyles-transition-easing,
  box-shadow $bitstyles-transition-duration $bitstyles-transition-easing !default;

//
// Base colors ////////////////////////////////////////

$bitstyles-button-dropdown-color: palette('gray', '60') !default;
$bitstyles-button-dropdown-background-color: palette('white', '100') !default;
$bitstyles-button-dropdown-border: 1px solid palette('gray', '5') !default;
$bitstyles-button-dropdown-box-shadow: 0 0 spacing('xs') rgba(palette('brand-1', '80'), 0.05) !default;

//
// Hover colors ////////////////////////////////////////

$bitstyles-button-dropdown-color-hover: palette('gray', '80') !default;
$bitstyles-button-dropdown-background-color-hover: palette('gray', '1') !default;
$bitstyles-button-dropdown-border-hover: 1px solid palette('gray', '10') !default;
$bitstyles-button-dropdown-box-shadow-hover: 0 0 spacing('xs') rgba(palette('brand-1'), 0.1) !default;

//
// Active colors ////////////////////////////////////////

$bitstyles-button-dropdown-color-active: palette('white') !default;
$bitstyles-button-dropdown-background-color-active: palette('brand-2', '100') !default;
$bitstyles-button-dropdown-border-active: 1px solid palette('brand-2', '100') !default;
$bitstyles-button-dropdown-box-shadow-active: 0 0 spacing('xs') rgba(palette('brand-2', '100'), 0.3) !default;

//
// Disabled colors ////////////////////////////////////////

$bitstyles-button-dropdown-color-disabled: palette('black', '50') !default;
$bitstyles-button-dropdown-background-color-disabled: palette('black', '10') !default;
$bitstyles-button-dropdown-border-disabled: none !default;
$bitstyles-button-dropdown-box-shadow-disabled: none !default;
