@forward 'settings';
@use './settings';
@use '../../tools/design-token';
@use '../../design-tokens/focus';

[type='radio'] {
  position: relative;
  flex-shrink: 0;
  width: 1em;
  height: 1em;
  margin: settings.$gap;
  font-size: settings.$size;
  cursor: pointer;
  appearance: none;
  top: calc(settings.$gap / 2);

  &:focus-visible {
    outline: focus.$outline-color solid focus.$outline-width;
    outline-offset: focus.$outline-offset;
  }
}

@supports (-webkit-appearance: none) or (-moz-appearance: none) or
  (appearance: none) {
  [type='radio'] {
    border: settings.$border-width solid settings.$border-color;
    border-radius: settings.$border-radius;
    background-color: settings.$background-color;
    box-shadow: settings.$box-shadow;
    color: settings.$color;

    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      transform: scale(0.5);
      transition: opacity
          var(design-token.get('transition', 'default', 'duration'))
          var(design-token.get('transition', 'default', 'easing')),
        transform var(design-token.get('transition', 'default', 'duration'))
          var(design-token.get('transition', 'default', 'easing'));
      border-radius: settings.$border-radius;
      opacity: 0;
      background: settings.$color-checked;
    }

    &:hover,
    &:focus {
      border-color: settings.$border-color-hover;
      background-color: settings.$background-color-hover;
      box-shadow: settings.$box-shadow-hover;
      color: settings.$color-hover;
    }

    &:active {
      border-color: settings.$border-color-active;
      background-color: settings.$background-color-active;
      box-shadow: settings.$box-shadow-active;
      color: settings.$color-active;
    }

    &:checked {
      border-color: settings.$border-color-checked;
      background-color: settings.$background-color-checked;
      box-shadow: settings.$box-shadow-checked;
      color: settings.$color-checked;

      &::after {
        transform: scale(0.7);
        opacity: 1;
      }
    }

    &:checked:hover,
    &:checked:focus {
      border-color: settings.$border-color-checked-hover;
      background-color: settings.$background-color-checked-hover;
      box-shadow: settings.$box-shadow-checked-hover;
      color: settings.$color-checked-hover;
    }

    &:checked:active {
      border-color: settings.$border-color-checked-active;
      background-color: settings.$background-color-checked-active;
      box-shadow: settings.$box-shadow-checked-active;
      color: settings.$color-checked-active;
    }

    &:invalid,
    &[aria-invalid='true'] {
      border-color: settings.$border-color-invalid;
      background-color: settings.$background-color-invalid;
      box-shadow: settings.$box-shadow-invalid;
      color: settings.$color-invalid;
    }

    &[disabled] {
      border-color: settings.$border-color-disabled;
      background-color: settings.$background-color-disabled;
      box-shadow: settings.$box-shadow-disabled;
      color: settings.$color-disabled;

      &:checked {
        border-color: settings.$border-color-disabled-checked;
        background-color: settings.$background-color-disabled-checked;
        box-shadow: settings.$box-shadow-disabled-checked;
        color: settings.$color-disabled-checked;
      }

      &::after {
        background: settings.$color-disabled-checked;
      }
    }
  }
}
