@use '../../design-tokens/layout';
@use '../../tools/design-token';

//
// Base styles ////////////////////////////////////////
$border-radius: layout.$border-radius-round !default;
$gap: var(design-token.get('size', 's4')) !default;
$border-width: 0.1875rem !default;
$size: var(design-token.get('size', 'l2')) !default;

//
// Base colors ////////////////////////////////////////
$color: var(design-token.get('color', 'grayscale', 'light-1')) !default;
$background-color: var(
  design-token.get('color', 'grayscale', 'white')
) !default;
$border-color: var(design-token.get('color', 'grayscale', 'dark-2')) !default;
$box-shadow: none !default;

//
// Hover colors ////////////////////////////////////////
$color-hover: var(design-token.get('color', 'brand-1')) !default;
$background-color-hover: var(
  design-token.get('color', 'grayscale', 'white')
) !default;
$border-color-hover: var(design-token.get('color', 'brand-1')) !default;
$box-shadow-hover: none !default;

//
// Active colors ////////////////////////////////////////
$color-active: var(design-token.get('color', 'brand-1')) !default;
$background-color-active: var(
  design-token.get('color', 'grayscale', 'white')
) !default;
$border-color-active: var(
  design-token.get('color', 'brand-1', 'dark-1')
) !default;
$box-shadow-active: none !default;

//
// Checked colors ////////////////////////////////////////
$color-checked: var(design-token.get('color', 'brand-1', 'dark-1')) !default;
$background-color-checked: var(
  design-token.get('color', 'grayscale', 'white')
) !default;
$border-color-checked: var(
  design-token.get('color', 'brand-1', 'dark-1')
) !default;
$box-shadow-checked: var(design-token.get('shadow', 'brand-1')) !default;

//
// Checked hover colors ////////////////////////////////////////
$color-checked-hover: var(design-token.get('color', 'brand-1')) !default;
$background-color-checked-hover: var(
  design-token.get('color', 'grayscale', 'white')
) !default;
$border-color-checked-hover: var(design-token.get('color', 'brand-1')) !default;
$box-shadow-checked-hover: none !default;

//
// Checked active colors ////////////////////////////////////////
$color-checked-active: var(design-token.get('color', 'brand-1')) !default;
$background-color-checked-active: var(
  design-token.get('color', 'grayscale', 'white')
) !default;
$border-color-checked-active: var(
  design-token.get('color', 'brand-1')
) !default;
$box-shadow-checked-active: none !default;

//
// Invalid colors ////////////////////////////////////////

$color-invalid: var(design-token.get('color', 'warning', 'dark-4')) !default;
$background-color-invalid: var(
  design-token.get('color', 'grayscale', 'white')
) !default;
$border-color-invalid: var(
  design-token.get('color', 'warning', 'dark-1')
) !default;
$box-shadow-invalid: none !default;

//
// Disabled colors ////////////////////////////////////////
$color-disabled: var(
  design-token.get('color', 'grayscale', 'light-1')
) !default;
$background-color-disabled: var(
  design-token.get('color', 'grayscale', 'white')
) !default;
$border-color-disabled: var(
  design-token.get('color', 'grayscale', 'light-1')
) !default;
$box-shadow-disabled: none !default;

//
// Disabled-checked colors ////////////////////////////////////////
$color-disabled-checked: var(
  design-token.get('color', 'grayscale', 'light-1')
) !default;
$background-color-disabled-checked: var(
  design-token.get('color', 'grayscale', 'white')
) !default;
$border-color-disabled-checked: var(
  design-token.get('color', 'grayscale', 'light-1')
) !default;
$box-shadow-disabled-checked: none !default;
