@forward 'settings';
@use './settings';
@use '../../tools/design-token';
@use '../../design-tokens/focus';

/* stylelint-disable selector-max-type */
textarea,
input {
  transition: color var(design-token.get('transition', 'default', 'duration'))
      var(design-token.get('transition', 'default', 'easing')),
    background-color var(design-token.get('transition', 'default', 'duration'))
      var(design-token.get('transition', 'default', 'easing')),
    border var(design-token.get('transition', 'default', 'duration'))
      var(design-token.get('transition', 'default', 'easing')),
    outline-offset var(design-token.get('transition', 'default', 'duration'))
      var(design-token.get('transition', 'default', 'easing'));
  outline-offset: 0;
  resize: vertical;

  &::placeholder {
    opacity: 1;
    color: settings.$placeholder-color;
    font-style: settings.$placeholder-font-style;
    font-weight: settings.$placeholder-font-weight;
  }
}

/* prettier-ignore */

[type='text'],
[type='email'],
[type='number'],
[type='date'],
[type='datetime-local'],
[type='month'],
[type='week'],
[type='password'],
[type='search'],
[type='tel'],
[type='time'],
[type='url'],
textarea {
  #{custom-property.get($items: ('input-text', 'border-top-right-radius'))}: settings.$border-radius;
  #{custom-property.get($items: ('input-text', 'border-bottom-right-radius'))}: settings.$border-radius;
  #{custom-property.get($items: ('input-text', 'border-bottom-left-radius'))}: settings.$border-radius;
  #{custom-property.get($items: ('input-text', 'border-top-left-radius'))}: settings.$border-radius;
  #{custom-property.get($items: ('input-text', 'padding-vertical'))}: settings.$padding-vertical;
  #{custom-property.get($items: ('input-text', 'padding-horizontal'))}: settings.$padding-horizontal;
  #{custom-property.get($items: ('input-text', 'border-width'))}: settings.$border-width;
  display: flex;
  flex-grow: 1;
  padding:
      calc(var(#{custom-property.get($items: ('input-text', 'padding-vertical'))}) - var(#{custom-property.get($items: ('input-text', 'border-width'))}, 0rem))
      calc(var(#{custom-property.get($items: ('input-text','padding-horizontal'))}) - var(#{custom-property.get($items: ('input-text', 'border-width'))}, 0rem));
  border: settings.$border-width solid settings.$border-color;
  border-radius:
    var(#{custom-property.get($items: ('input-text', 'border-top-left-radius'))})
    var(#{custom-property.get($items: ('input-text', 'border-top-right-radius'))})
    var(#{custom-property.get($items: ('input-text', 'border-bottom-right-radius'))})
    var(#{custom-property.get($items: ('input-text', 'border-bottom-left-radius'))});
  background-color: settings.$background;
  box-shadow: settings.$box-shadow;
  color: settings.$color;
  font: settings.$font;

  &:hover,
  &:focus {
    border-color: settings.$border-color-hover;
    background-color: settings.$background-hover;
    box-shadow: settings.$box-shadow-hover;
    color: settings.$color-hover;

    &::placeholder {
      color: settings.$placeholder-color-hover;
    }
  }

  &:focus-visible {
    z-index: 3;
    outline: focus.$outline-color solid focus.$outline-width;
    outline-offset: focus.$outline-offset;
  }

  &:active {
    border-color: settings.$border-color-active;
    outline-width: 0;
    background-color: settings.$background-active;
    box-shadow: settings.$box-shadow-active;
    color: settings.$color-active;

    &::placeholder {
      color: settings.$placeholder-color-active;
    }
  }

  &:invalid,
  &[aria-invalid='true'] {
    border-color: settings.$border-color-invalid;
    background-color: settings.$background-color-invalid;
    box-shadow: settings.$box-shadow-invalid;
    color: settings.$color-invalid;

    &::placeholder {
      color: settings.$placeholder-color-invalid;
    }
  }

  &:disabled {
    border-color: settings.$border-color-disabled;
    background: settings.$background-disabled;
    box-shadow: settings.$box-shadow-disabled;
    color: settings.$color-disabled;
    cursor: default;

    &::placeholder {
      color: settings.$placeholder-color-disabled;
    }
  }

  &:focus:not(:focus-visible) {
    outline-width: 0;
  }
}
/* stylelint-enable selector-max-type */
