@use '../../settings/typography';
@use '../../tools/palette';
@use '../../tools/size';

//
// Base styles ////////////////////////////////////////

$padding: size.get('xs') !default;
$border-radius: size.get('xs') !default;
$placeholder-font-style: italic !default;
$placeholder-font-weight: typography.$font-weight-normal !default;
$placeholder-color: palette.get('gray', '50') !default;
$checkbox-size: size.get('m') !default;

//
// Base colors ////////////////////////////////////////

$color: palette.get('text') !default;
$border-width: size.get('xxxs') !default;
$border-color: palette.get('gray', '10') !default;
$background: palette.get('white') !default;
$box-shadow: 0 0 size.get('xs') rgba(palette.get('gray', '90'), 0.05) !default;

//
// Hover colors ////////////////////////////////////////

$background-hover: palette.get('gray', '1') !default;
$color-hover: palette.get('gray', '70') !default;
$border-color-hover: palette.get('gray', '60') !default;
$box-shadow-hover: 0 0 size.get('s') rgba(palette.get('brand-1', '90'), 0.05) !default;

//
// Active colors ////////////////////////////////////////

$color-active: palette.get('gray', '80') !default;
$border-color-active: palette.get('gray', '80') !default;
$background-active: palette.get('white') !default;
$box-shadow-active: 0 0 size.get('xxs') rgba(palette.get('brand-1', '90'), 0.15) !default;

//
// Disabled colors ////////////////////////////////////////

$background-disabled: palette.get('black', '10') !default;
$color-disabled: palette.get('text') !default;
$border-color-disabled: palette.get('black', '20') !default;
$box-shadow-disabled: none !default;

//
// Invalid colors ////////////////////////////////////////

$color-invalid: palette.get('warning') !default;
$background-color-invalid: palette.get('white') !default;
$border-color-invalid: palette.get('warning') !default;
$box-shadow-invalid: 0 0 size.get('s') rgba(palette.get('warning', '90'), 0.1) !default;
