@use '../../settings/animation';
@use "../../settings/typography";
@use './settings';
@use 'sass:math';

textarea,
input {
  resize: vertical;
  transition:
    color animation.$transition-duration animation.$transition-easing,
    background-color animation.$transition-duration animation.$transition-easing,
    border animation.$transition-duration animation.$transition-easing;

  &::placeholder {
    font-style: settings.$placeholder-font-style;
    font-weight: settings.$placeholder-font-weight;
    color: settings.$placeholder-color;
    opacity: 1;
  }
}

/*
 * Selects all the text-like input types. We’re avoiding using e.g. `input[type="text"]` as it means we cannot use a single class later on
 */
[type="text"],
[type="email"],
[type="number"],
[type="date"],
[type="datetime-local"],
[type="month"],
[type="week"],
[type="password"],
[type="search"],
[type="tel"],
[type="time"],
[type="url"],
textarea {
  display: block;
  width: 100%;
  padding: (settings.$padding - math.div(settings.$border-width, 2)) settings.$padding;
  font: inherit;
  line-height: typography.$line-height-min;
  color: settings.$color;
  background-color: settings.$background;
  border: settings.$border-width solid settings.$border-color;
  border-radius: settings.$border-radius;
  box-shadow: settings.$box-shadow;

  &:hover {
    color: settings.$color-hover;
    background-color: settings.$background-hover;
    border-color: settings.$border-color-hover;
    box-shadow: settings.$box-shadow-hover;
  }

  &:active,
  &:focus {
    color: settings.$color-active;
    background-color: settings.$background-active;
    border-color: settings.$border-color-active;
    outline: none;
    box-shadow: settings.$box-shadow-active;
  }

  &:invalid,
  &[aria-invalid="true"] {
    color: settings.$color-invalid;
    background-color: settings.$background-color-invalid;
    border-color: settings.$border-color-invalid;
    box-shadow: settings.$box-shadow-invalid;
  }

  &:disabled {
    color: settings.$color-disabled;
    cursor: default;
    background: settings.$background-disabled;
    border-color: settings.$border-color-disabled;
    box-shadow: settings.$box-shadow-disabled;
  }
}
