@use 'sass:map';
@use 'settings';
@use '../../tools/directional-properties';

@each $property, $values in settings.$values {
  @include directional-properties.output-properties(
    $property-name: $property,
    $classname-root: $property,
    $values: $values,
  );
}
