@forward 'settings';
@use './settings';
@use '../../settings/setup';
@use '../../tools/media-query';

.#{setup.$namespace}a-dropdown {
  position: absolute;
  z-index: 1;
  top: 100%;
  width: min-content;
  min-width: 12rem;
  max-width: 90vw;
  max-height: settings.$max-height;
  padding: settings.$separator-spacing 0;
  overflow-x: hidden;
  overflow-y: auto;
  border: settings.$border;
  border-radius: settings.$border-radius;
  background-color: settings.$background-color;
  box-shadow: settings.$box-shadow;

  [role='separator'] {
    margin: settings.$separator-spacing 0;
    border-top: settings.$separator-border;
  }

  @include media-query.get('motion-ok') {
    &.is-transitioning {
      transition: settings.$transition;
      will-change: settings.$will-change;
    }
  }

  @each $state-alias, $state-properties in settings.$states {
    &.is-#{$state-alias} {
      /* stylelint-disable max-nesting-depth */
      @each $state-property, $state-value in $state-properties {
        #{$state-property}: $state-value;
      }
      /* stylelint-enable max-nesting-depth */
    }
  }
}

.#{setup.$namespace}a-dropdown--right {
  right: 0;
}

.#{setup.$namespace}a-dropdown--top {
  top: auto;
  bottom: 100%;
}

.a-dropdown--full-width {
  right: 0;
  left: 0;
  width: 100%;
  max-width: none;
}

@include media-query.get('s') {
  .#{setup.$namespace}a-dropdown {
    right: 0;
    left: 0;
    width: 100%;
  }
}
