@use '../../tools/design-token';
@use '../../tools/shadow';

$min-width: 17.5rem !default;
$max-height: 38rem !default;
$border-radius: var(design-token.get('size', 's4')) !default;
$border: 3px solid var(design-token.get('color', 'brand-1', 'dark-1')) !default;
$background-color: var(design-token.get('color', 'grayscale', 'white')) !default;
$box-shadow: shadow.to-box-shadow(
  shadow.generate(
    $color: rgba(var(design-token.get('color', 'brand-1', 'dark-2-rgb')), 0.125),
    $offset: 0,
    $blur-radius: var(design-token.get('size', 'm')),
  )
) !default;
$separator-border: 2px solid var(design-token.get('color', 'brand-1', 'light-2')) !default;
$separator-spacing: var(design-token.get('size', 's6')) !default;
$transition: opacity 0.12s ease-in !default;
$will-change: opacity !default;
$states: (
  'off-screen': (
    'opacity': 0,
  ),
  'on-screen': (
    'opacity': 1,
  ),
) !default;
