@use '../../tools/palette';
@use '../../tools/shadow';
@use '../../tools/size';

$max-height: 20rem !default;
$border-radius: size.get('xs') !default;
$border: 2px solid palette.get('brand-1', 'base') !default;
$background-color: palette.get('grayscale', 'white') !default;
$box-shadow: shadow.to-box-shadow(
  shadow.generate(
    $color: rgba(palette.get('brand-1', 'light'), 0.05),
    $offset: size.get('m'),
    $blur-radius: size.get('l'),
  )
) !default;
$separator-border: 1px solid palette.get('background', 'darker') !default;
$separator-spacing: size.get('xxs') !default;
$transition: opacity 0.12s ease-in !default;
$will-change: opacity !default;
$states: (
  'off-screen': (
    'opacity': 0,
  ),
  'on-screen': (
    'opacity': 1,
  ),
) !default;
