$bitstyles-dropdown-max-height: 20rem;
$bitstyles-dropdown-border-radius: spacing('xs');
$bitstyles-dropdown-border: 2px solid palette('brand-2', '100');
$bitstyles-dropdown-background-color: palette('white', '100');
$bitstyles-dropdown-box-shadow: 0 0 spacing('m') rgba(palette('gray', '80'), 0.1);
$bitstyles-dropdown-separator-border: 1px solid palette('gray', '1');
$bitstyles-dropdown-separator-spacing: spacing('xxs');
$bitstyles-dropdown-transition: opacity 0.12s ease-in !default;
$bitstyles-dropdown-will-change: opacity !default;
$bitstyles-dropdown-states: (
  "off-screen": (
    "opacity": 0
  ),
  "on-screen": (
    "opacity": 1
  )
) !default;
