@use '../../tools/palette';
@use '../../tools/size';

$max-height: 20rem;
$border-radius: size.get('xs');
$border: 2px solid palette.get('brand-2', '100');
$background-color: palette.get('white', '100');
$box-shadow: 0 0 size.get('m') rgba(palette.get('gray', '80'), 0.1);
$separator-border: 1px solid palette.get('gray', '1');
$separator-spacing: size.get('xxs');
$transition: opacity 0.12s ease-in !default;
$will-change: opacity !default;
$states: (
  "off-screen": (
    "opacity": 0
  ),
  "on-screen": (
    "opacity": 1
  )
) !default;
