.btn {
  -webkit-appearance: none;
  background: $bitstyles-button-background-color;
  border: $bitstyles-button-border;
  color: $bitstyles-button-color;
  cursor: pointer;
  display: inline-block;
  font: inherit;
  margin: 0;
  overflow: visible;
  padding: $bitstyles-button-padding-vertical $bitstyles-button-padding-horizontal;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  transition: $bitstyles-button-transition;
  user-select: none;
  vertical-align: middle;

  &:hover,
  &:focus {
    background: $bitstyles-button-background-color-hover;
    color: $bitstyles-button-color-hover;
    outline: none;
  }
}

.btn__label {
  display: inline;
  position: relative;
  vertical-align: middle;
}
