.icon {
  display: inline-block;
  fill: currentColor;
  height: $bitstyles-icon-size;
  outline: none;
  transition: fill $bitstyles-transition-duration $bitstyles-transition-easing, stroke $bitstyles-transition-duration $bitstyles-transition-easing, background-color $bitstyles-transition-duration $bitstyles-transition-easing, transform $bitstyles-transition-duration $bitstyles-transition-easing;
  vertical-align: middle;
  width: $bitstyles-icon-size;

  // inherit hover colours of a containing button
  .btn &:hover,
  .btn &:focus {
    fill: currentColor;
  }
}
