.icon {
  display: inline-block;
  width: $bitstyles-icon-size;
  height: $bitstyles-icon-size;
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
  outline: none;
  transition: fill $bitstyles-transition-duration $bitstyles-transition-easing, stroke $bitstyles-transition-duration $bitstyles-transition-easing, background-color $bitstyles-transition-duration $bitstyles-transition-easing, transform $bitstyles-transition-duration $bitstyles-transition-easing;
  fill: currentColor;
}
