.icon {
  display: inline-block;
  fill: currentColor;
  height: $bitstyles-icon-size;
  max-height: 100%;
  max-width: 100%;
  outline: none;
  vertical-align: middle;
  width: $bitstyles-icon-size;
}
