@use 'sass:math';

@import './settings';

.#{$bitstyles-namespace}a-button--small {
  min-height: spacing('xl');
  padding: $bitstyles-button-small-padding-vertical $bitstyles-button-small-padding-horizontal;

  &.#{$bitstyles-namespace}a-button--icon {
    padding: math.div($bitstyles-button-small-padding-horizontal, 2);
    border-radius: $bitstyles-button-small-border-radius;
  }
}
