@forward 'settings';
@use 'sass:math';
@use './settings';
@use '../../settings/setup';
@use '../../tools/properties';
@use '../../tools/size';

.#{properties.join-with-dashes((setup.$namespace, 'a', 'button--small'))} {
  min-height: size.get('xl');
  padding: settings.$padding-vertical settings.$padding-horizontal;

  &.#{properties.join-with-dashes((setup.$namespace, 'a', 'button--icon'))} {
    padding: math.div(settings.$padding-horizontal, 2);
    border-radius: settings.$border-radius;
  }
}
