@use '../../settings/layout';
@use '../../tools/size';

$padding-vertical: size.get('xs');
$padding-horizontal: size.get('m');
$box-shadow: 0 0 size.get('xs') currentColor;
$border-radius: layout.$border-radius-round;
