@use 'sass:math';

@use './settings';
@use "../../settings/setup";
@use "../../tools/spacing";

.#{setup.$namespace}a-button--small {
  min-height: spacing.spacing('xl');
  padding: settings.$padding-vertical settings.$padding-horizontal;

  &.#{setup.$namespace}a-button--icon {
    padding: math.div(settings.$padding-horizontal, 2);
    border-radius: settings.$border-radius;
  }
}
