@forward 'settings';
@use './settings';
@use '../../settings/setup';

.#{setup.$namespace}a-button--ui {
  &,
  &:visited {
    border-color: settings.$border-color;
    background: settings.$background-color;
    box-shadow: settings.$box-shadow;
    color: settings.$color;
  }

  &:hover,
  &:focus {
    border-color: settings.$border-color-hover;
    background: settings.$background-color-hover;
    box-shadow: settings.$box-shadow-hover;
    color: settings.$color-hover;
  }

  &:active {
    border-color: settings.$border-color-active;
    background: settings.$background-color-active;
    box-shadow: settings.$box-shadow-active;
    color: settings.$color-active;
  }

  &:disabled,
  &[aria-disabled='true'] {
    border-color: settings.$border-color-disabled;
    background: settings.$background-color-disabled;
    box-shadow: settings.$box-shadow-disabled;
    color: settings.$color-disabled;
  }

  &[aria-pressed='true'],
  &[aria-expanded='true'],
  &[aria-current] {
    border-color: settings.$border-color-pressed;
    background: settings.$background-color-pressed;
    color: settings.$color-pressed;
  }
}
