@use '../../settings/animation';
@use '../../tools/palette';
@use '../../tools/size';

//
// Base styles ////////////////////////////////////////

$border-radius: size.get('s') !default;
$transition: color animation.$transition-duration animation.$transition-easing,
  background-color animation.$transition-duration animation.$transition-easing,
  border animation.$transition-duration animation.$transition-easing !default;

//
// Base colors ////////////////////////////////////////

$color: palette.get('text', 'base') !default;
$background-color: palette.get('brand-2', 'base') !default;
$border-color: palette.get('brand-2', 'dark') !default;
$box-shadow: none !default;

//
// Hover colors ////////////////////////////////////////

$color-hover: palette.get('text', 'base') !default;
$background-color-hover: palette.get('brand-2', 'dark') !default;
$border-color-hover: palette.get('brand-2', 'dark') !default;
$box-shadow-hover: none !default;

//
// Active colors ////////////////////////////////////////

$color-active: palette.get('text', 'base') !default;
$background-color-active: palette.get('brand-2', 'base') !default;
$border-color-active: palette.get('brand-2', 'base') !default;
$box-shadow-active: none !default;

//
// Pressed colors ////////////////////////////////////////

$color-pressed: palette.get('text', 'dark') !default;
$background-color-pressed: palette.get('brand-2', 'base') !default;
$border-color-pressed: palette.get('brand-2', 'dark') !default;
$box-shadow-pressed: none !default;

//
// Disabled colors ////////////////////////////////////////

$color-disabled: palette.get('text', 'light') !default;
$background-color-disabled: rgba(
  palette.get('background', 'dark'),
  50%
) !default;
$border-color-disabled: palette.get('text', 'lighter') !default;
$box-shadow-disabled: none !default;
