@use '../../settings/animation';
@use '../../tools/palette';
@use '../../tools/shadow';
@use '../../tools/size';

//
// Base styles ////////////////////////////////////////

$border-radius: size.get('s') !default;
$transition: color animation.$transition-duration animation.$transition-easing,
  background-color animation.$transition-duration animation.$transition-easing,
  border animation.$transition-duration animation.$transition-easing !default;

//
// Base colors ////////////////////////////////////////

$color: palette.get('text', 'base') !default;
$background-color: palette.get('grayscale', 'white') !default;
$border-color: palette.get('text', 'base') !default;
$box-shadow: shadow.to-box-shadow(
  shadow.generate(
    $color: rgba(palette.get('brand-1', 'dark'), 0.025),
    $blur-radius: size.get('m'),
  )
) !default;

//
// Hover colors ////////////////////////////////////////

$color-hover: palette.get('brand-1', 'base') !default;
$background-color-hover: palette.get('brand-1', 'lighter') !default;
$border-color-hover: palette.get('brand-1', 'base') !default;
$box-shadow-hover: shadow.to-box-shadow(
  shadow.generate(
    $color: rgba(palette.get('brand-1', 'dark'), 0.025),
    $blur-radius: size.get('l'),
  )
) !default;

//
// Active colors ////////////////////////////////////////

$color-active: palette.get('text', 'base') !default;
$background-color-active: palette.get('brand-1', 'base') !default;
$border-color-active: palette.get('brand-1', 'base') !default;
$box-shadow-active: shadow.to-box-shadow(
  shadow.generate(
    $color: rgba(palette.get('brand-1', 'dark'), 0.025),
    $blur-radius: size.get('xs'),
  )
) !default;

//
// Pressed colors ////////////////////////////////////////

$color-pressed: palette.get('grayscale', 'white') !default;
$background-color-pressed: palette.get('brand-1', 'dark') !default;
$border-color-pressed: palette.get('brand-1', 'dark') !default;
$box-shadow-pressed: shadow.to-box-shadow(
  shadow.generate(
    $color: rgba(palette.get('brand-1', 'dark'), 0.025),
    $blur-radius: size.get('xs'),
  )
) !default;

//
// Disabled colors ////////////////////////////////////////

$color-disabled: palette.get('text', 'lighter') !default;
$background-color-disabled: rgba(palette.get('text', 'lighter'), 50%) !default;
$border-color-disabled: palette.get('text', 'dark') !default;
$box-shadow-disabled: none !default;
