//
// Base styles ////////////////////////////////////////

$bitstyles-button-ui-border-radius: spacing('s') !default;
$bitstyles-button-ui-transition:
  color $bitstyles-transition-duration $bitstyles-transition-easing,
  background-color $bitstyles-transition-duration $bitstyles-transition-easing,
  border $bitstyles-transition-duration $bitstyles-transition-easing !default;

//
// Base colors ////////////////////////////////////////

$bitstyles-button-ui-color: palette('gray', '60') !default;
$bitstyles-button-ui-background-color: palette('gray', '1') !default;
$bitstyles-button-ui-border-color: palette('gray', '10') !default;

//
// Hover colors ////////////////////////////////////////

$bitstyles-button-ui-color-hover: palette('gray', '80') !default;
$bitstyles-button-ui-background-color-hover: palette('gray', '10') !default;
$bitstyles-button-ui-border-color-hover: palette('gray', '20') !default;

//
// Active colors ////////////////////////////////////////

$bitstyles-button-ui-color-active: palette('white') !default;
$bitstyles-button-ui-background-color-active: palette('brand-2', '100') !default;
$bitstyles-button-ui-border-color-active: palette('brand-2', '100') !default;

//
// Pressed colors ////////////////////////////////////////

$bitstyles-button-ui-color-pressed: palette('gray', '90') !default;
$bitstyles-button-ui-background-color-pressed: palette('brand-2', '100') !default;
$bitstyles-button-ui-border-color-pressed: palette('brand-2', '100') !default;

//
// Disabled colors ////////////////////////////////////////

$bitstyles-button-ui-color-disabled: palette('black', '50') !default;
$bitstyles-button-ui-background-color-disabled: palette('black', '10') !default;
$bitstyles-button-ui-border-color-disabled: palette('gray', '5') !default;
