@forward 'settings';
@use 'settings';
@use '../../tools/properties';
@use '../../tools/media-query';

@include properties.output(
  $property-name: 'line-height',
  $classname-root: 'line-height',
  $values: settings.$values,
  $breakpoints: settings.$breakpoints,
);
