@use '../../settings/typography';
@use '../../tools/line-height';
@use 'sass:map';

$line-heights: ();
@each $name, $line-height in typography.$line-heights {
  $line-heights: map.set($line-heights, $name, line-height.get($name));
}

$values: $line-heights !default;
$breakpoints: () !default;
