@import './settings';

.#{$bitstyles-namespace}l-grid {
  display: grid;
  grid-gap: $bitstyles-grid-gap;
}

@include media-query('m') {
  .#{$bitstyles-namespace}l-grid\@m {
    display: grid;
    grid-gap: $bitstyles-grid-gap;
  }
}

.#{$bitstyles-namespace}l-grid--3-col {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.l-grid__col-span-2 {
  grid-column: span 2 / span 2;
}

.l-grid__col-start-2 {
  grid-column: span 2 / span 2;
}
