@forward 'settings';
@use './settings';
@use '../../tools/design-token';

[type='checkbox'] {
  display: inline-block;
  position: relative;
  flex-shrink: 0;
  width: 1em;
  height: 1em;
  margin-right: settings.$gap;
  font-size: settings.$size;
  vertical-align: middle;
  cursor: pointer;
  appearance: none;
}

@supports (-webkit-appearance: none) or (-moz-appearance: none) or
  (appearance: none) {
  [type='checkbox'] {
    border: settings.$border-width solid settings.$border-color;
    border-radius: settings.$border-radius;
    background-color: settings.$background-color;
    color: settings.$color;
    box-shadow: settings.$box-shadow;

    &:hover,
    &:focus {
      border-color: settings.$border-color-hover;
      outline: none;
      background-color: settings.$background-color-hover;
      color: settings.$color-hover;
      box-shadow: settings.$box-shadow-hover;
    }

    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      transform: scale(0.7);
      transition: opacity
          calc(var(design-token.get('transition', 'default', 'duration')) / 2)
          var(design-token.get('transition', 'default', 'duration'))
          var(design-token.get('transition', 'default', 'easing')),
        transform
          calc(var(design-token.get('transition', 'default', 'duration')) / 2)
          var(design-token.get('transition', 'default', 'duration'))
          var(design-token.get('transition', 'default', 'easing'));
      opacity: 0;
      background-image: settings.$background-image-checked;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: 0.75em;
    }

    &:checked {
      border-color: settings.$border-color-checked;
      background-color: settings.$background-color-checked;
      color: settings.$color-checked;
      box-shadow: settings.$box-shadow-checked;

      &::after {
        transform: scale(1);
        opacity: 1;
      }
    }

    &:invalid,
    &[aria-invalid='true'] {
      border-color: settings.$border-color-invalid;
      background-color: settings.$background-color-invalid;
      color: settings.$color-invalid;
      box-shadow: settings.$box-shadow-invalid;
    }

    &[disabled] {
      border-color: settings.$border-color-disabled;
      background-color: settings.$background-color-disabled;
      color: settings.$color-disabled;
      box-shadow: settings.$box-shadow-disabled;

      &:checked {
        border-color: settings.$border-color-disabled-checked;
        background-color: settings.$background-color-disabled-checked;
        color: settings.$color-disabled-checked;
        box-shadow: settings.$box-shadow-disabled-checked;
      }
    }
  }
}
