@use '../../tools/size';
@use '../../tools/palette';
@use '../../tools/color';

//
// Base styles ////////////////////////////////////////
$padding-vertical: size.get('xs') !default;
$padding-horizontal: size.get('m') !default;
$border-radius: size.get('xs') !default;
$border-width: size.get('xxxs') !default;
$font: inherit !default;

//
// Base appearance ////////////////////////////////////////
$color: palette.get('text', 'base') !default;
$border-color: palette.get('accent-gray') !default;
$background-color: palette.get('grayscale', 'white') !default;
$background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3E%3Cpath fill='#{color.url-encode-color(palette.get('accent-gray', 'base'))}' d='M6.64 34.23a5.57 5.57 0 0 1 7.87-7.89L49.92 61.91 85.49 26.34a5.57 5.57 0 0 1 7.87 7.89L53.94 73.66a5.58 5.58 0 0 1-7.88 0Z'/%3E%3C/svg%3E") !default;

//
// Hover styles ////////////////////////////////////////
$color-hover: palette.get('accent-gray', 'dark') !default;
$border-color-hover: palette.get('accent-gray', 'base') !default;
$background-color-hover: palette.get('background', 'base') !default;
$background-image-hover: url("data:image/svg+xml,%3Csvg width='20' height='20' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3E%3Cpath fill='#{color.url-encode-color($color-hover)}' d='M6.64 34.23a5.57 5.57 0 0 1 7.87-7.89L49.92 61.91 85.49 26.34a5.57 5.57 0 0 1 7.87 7.89L53.94 73.66a5.58 5.58 0 0 1-7.88 0Z'/%3E%3C/svg%3E") !default;

//
// Active styles ////////////////////////////////////////
$color-active: palette.get('accent-gray', 'dark') !default;
$border-color-active: palette.get('accent-gray', 'dark') !default;
$background-color-active: transparent !default;
$background-image-active: url("data:image/svg+xml,%3Csvg width='20' height='20' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3E%3Cpath fill='#{color.url-encode-color(palette.get('accent-gray', 'dark'))}' d='M6.64 34.23a5.57 5.57 0 0 1 7.87-7.89L49.92 61.91 85.49 26.34a5.57 5.57 0 0 1 7.87 7.89L53.94 73.66a5.58 5.58 0 0 1-7.88 0Z'/%3E%3C/svg%3E") !default;

//
// Invalid styles ////////////////////////////////////////
$color-invalid: palette.get('warning') !default;
$border-color-invalid: palette.get('warning') !default;
$background-color-invalid: palette.get('grayscale', 'white') !default;
$background-image-invalid: url("data:image/svg+xml,%3Csvg width='20' height='20' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3E%3Cpath fill='#{color.url-encode-color(palette.get('warning', 'base'))}' d='M6.64 34.23a5.57 5.57 0 0 1 7.87-7.89L49.92 61.91 85.49 26.34a5.57 5.57 0 0 1 7.87 7.89L53.94 73.66a5.58 5.58 0 0 1-7.88 0Z'/%3E%3C/svg%3E") !default;

//
// Disabled styles ////////////////////////////////////////
$color-disabled: palette.get('text') !default;
$border-color-disabled: palette.get('text', 'lightest') !default;
$background-color-disabled: palette.get('text', 'lightest') !default;
$background-image-disabled: url("data:image/svg+xml,%3Csvg width='20' height='20' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3E%3Cpath fill='#{color.url-encode-color(palette.get('text', 'light'))}' d='M6.64 34.23a5.57 5.57 0 0 1 7.87-7.89L49.92 61.91 85.49 26.34a5.57 5.57 0 0 1 7.87 7.89L53.94 73.66a5.58 5.58 0 0 1-7.88 0Z'/%3E%3C/svg%3E") !default;
