@use 'settings';
@use "../../settings/typography";
@use '../../settings/animation';

@supports (-webkit-appearance: none) or (-moz-appearance: none) or (appearance: none) {
  select {
    display: block;
    width: 100%;
    padding: settings.$padding-vertical (settings.$padding-horizontal * 2) settings.$padding-vertical settings.$padding-horizontal;
    overflow: hidden;
    font: inherit;
    line-height: typography.$line-height-min;
    color: settings.$color;
    text-overflow: ellipsis;
    cursor: pointer;
    background-color: settings.$background-color;
    background-image: settings.$background-image;
    background-position: right 0.75em top 50%;
    background-repeat: no-repeat;
    background-size: 1em;
    border: settings.$border-width solid settings.$border-color;
    border-radius: settings.$border-radius;
    transition:
      color animation.$transition-duration animation.$transition-easing,
      background-color animation.$transition-duration animation.$transition-easing,
      border animation.$transition-duration animation.$transition-easing;
    appearance: none;

    &::-ms-expand {
      display: none;
    }

    &:hover {
      color: settings.$color-hover;
      background-color: settings.$background-color-hover;
      background-image: settings.$background-image-hover;
      border-color: settings.$border-color-hover;
    }

    &:focus,
    &:active {
      color: settings.$color-active;
      background-color: settings.$background-color-active;
      background-image: settings.$background-image-active;
      border-color: settings.$border-color-active;
      outline: none;
    }

    &:invalid {
      color: settings.$color-invalid;
      background-color: settings.$background-color-invalid;
      background-image: settings.$background-image-invalid;
      border-color: settings.$border-color-invalid;
    }

    &[disabled] {
      color: settings.$color-disabled;
      cursor: default;
      background-color: settings.$background-color-disabled;
      background-image: settings.$background-image-disabled;
      border-color: settings.$border-color-disabled;
    }
  }
}
