@use './settings';
@use "../../settings/setup";
@use "../../tools/media-query";

.#{setup.$namespace}o-navbar {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;

  @include media-query.media-query('motion-ok') {
    &.is-transitioning {
      transition: settings.$navbar-transition;
      will-change: settings.$navbar-will-change;
    }
  }

  @each $state-alias, $state-properties in settings.$navbar-states {
    &.is-#{$state-alias} {
      /* stylelint-disable max-nesting-depth */
      @each $state-property, $state-value in $state-properties {
        #{$state-property}: $state-value;
      }
      /* stylelint-enable max-nesting-depth */
    }
  }
}
