// Grid Layouts
//
// **IMPORTANT!** This layout module requires the following files:
// - `settings/grid`
// - `layout/grid-columns`
// - `tools/grid-column-generator`
//
// Styleguide 5.3

// Grid layout - basic
//
// Responsive grid using a inline-block grid system (no floats, no flexbox). Note this means whitespace is important
// — use html comments between each `.grid__item` to remove any whitespace otherwise the browser will display them as a small gap!
//
// Each column needs the class `.grid__item` and a width class. With current defaults,
// the widths create a 12-column system e.g. 1-of-12, 2-of-12, 3-of-12…, 11-of-12.
//
//
// markup:
// <ul class="l-grid">
//    <li class="l-grid__item l-grid-1-of-12">
//        <div class="background-grey">1-of-12</div>
//      </li><!--
// --><li class="l-grid__item l-grid-11-of-12">
//        <div>11-of-12</div>
//      </li><!--
// --><li class="l-grid__item l-grid-2-of-12">
//        <div class="background-grey">2-of-12</div>
//      </li><!--
// --><li class="l-grid__item l-grid-10-of-12">
//        <div>10-of-12</div>
//      </li><!--
// --><li class="l-grid__item l-grid-3-of-12">
//        <div class="background-grey">3-of-12</div>
//      </li><!--
// --><li class="l-grid__item l-grid-9-of-12">
//        <div>9-of-12</div>
//      </li><!--
// --><li class="l-grid__item l-grid-4-of-12">
//        <div class="background-grey">4-of-12</div>
//      </li><!--
// --><li class="l-grid__item l-grid-8-of-12">
//        <div>8-of-12</div>
//      </li><!--
// --><li class="l-grid__item l-grid-5-of-12">
//        <div class="background-grey">5-of-12</div>
//      </li><!--
// --><li class="l-grid__item l-grid-7-of-12">
//        <div>7-of-12</div>
//      </li><!--
// --><li class="l-grid__item l-grid-6-of-12">
//        <div class="background-grey">6-of-12</div>
//      </li><!--
// --><li class="l-grid__item l-grid-6-of-12">
//        <div>6-of-12</div>
//      </li><!--
// --><li class="l-grid__item l-grid-7-of-12">
//        <div class="background-grey">7-of-12</div>
//      </li><!--
// --><li class="l-grid__item l-grid-5-of-12">
//        <div>5-of-12</div>
//      </li><!--
// --><li class="l-grid__item l-grid-8-of-12">
//        <div class="background-grey">8-of-12</div>
//      </li><!--
// --><li class="l-grid__item l-grid-4-of-12">
//        <div>4-of-12</div>
//     </li><!--
// --><li class="l-grid__item l-grid-9-of-12">
//        <div class="background-grey">9-of-12</div>
//      </li><!--
// --><li class="l-grid__item l-grid-3-of-12">
//        <div>3-of-12</div>
//      </li><!--
// --><li class="l-grid__item l-grid-10-of-12">
//        <div class="background-grey">10-of-12</div>
//      </li><!--
// --><li class="l-grid__item l-grid-2-of-12">
//        <div>2-of-12</div>
//      </li><!--
// --><li class="l-grid__item l-grid-11-of-12">
//        <div class="background-grey">11-of-12</div>
//      </li><!--
// --><li class="l-grid__item l-grid-1-of-12">
//        <div>1-of-12</div>
//      </li><!--
// --><li class="l-grid__item l-grid-12-of-12">
//        <div class="background-grey">12-of-12</div>
//      </li><!--
// --><li class="l-grid__item l-grid-3-of-12">
//        <div class="background-grey">3-of-12</div>
//      </li><!--
// --><li class="l-grid__item l-grid-3-of-12">
//        <div>3-of-12</div>
//      </li><!--
// --><li class="l-grid__item l-grid-3-of-12">
//        <div class="background-grey">3-of-12</div>
//      </li><!--
// --><li class="l-grid__item l-grid-3-of-12">
//        <div>3-of-12</div>
//      </li>
// </ul>
//
// Styleguide 5.3.1

// styleguide:ignore:start
// Check to see if Grid settings file is present
$bitstyles-grid-settings: false !default;

@if ($bitstyles-grid-settings == false) {
  @include output-settings-warning(grid);
}
// styleguide:ignore:end

// Set default gutter
$bitstyles-grid-gutter: $bitstyles-spacing-horizontal !default;

// Define main grid layout
.#{$bitstyles-namespace}l-grid {
  @include list-reset();
  margin-left: -$bitstyles-grid-gutter;
}

// Define individual grid items
.#{$bitstyles-namespace}l-grid__item {
  display: inline-block;
  width: 100%;
  padding-left: $bitstyles-grid-gutter;
  box-sizing: border-box;
  vertical-align: top;
}

// Grid layout - responsive
//
// Grids can also be used responsively. Append the name of a breakpoint to the
// end of a grid item to have it activate only at that breakpoint. Multiple
// l-grid-item/breakpoints combinations can be used
//
// markup:
// <ul class="l-grid">
//   <li class="l-grid__item l-grid-6-of-12-small l-grid-2-of-12-large"><div class="background-grey">6-of-12-small / 2-of-12-large</div></li><!--
//   --><li class="l-grid__item l-grid-6-of-12-small l-grid-10-of-12-large"><div>6-of-12-small / 10-of-12-large</div></li>
// </ul>
//
// Styleguide 5.3.2
