@import '../../settings/link';

.#{$bitstyles-namespace}o-link {
  @include link;

  padding: 0;
  border: 0;
  transition: $bitstyles-link-transition;
  -webkit-appearance: none; // stylelint-disable-line property-no-vendor-prefix
}
