@use '../../settings/animation';
@use '../../tools/palette';
@use '../../tools/shadow';
@use '../../tools/size';

$gap: size.get('xs') !default;
$padding: size.get('xs') !default;
$border-radius: size.get('s') !default;
$background: palette.get('gray', '10') !default;
