@use '../../settings/animation';
@use '../../tools/palette';
@use '../../tools/shadow';
@use '../../tools/size';

$gap: size.get('xs');
$padding: size.get('xs');
$border-radius: size.get('s');
$background: palette.get('gray', '10');
