.#{$bitstyles-namespace}u-items-center {
  align-items: center;
}

.#{$bitstyles-namespace}u-items-start {
  align-items: flex-start;
}

.#{$bitstyles-namespace}u-items-end {
  align-items: flex-end;
}

.#{$bitstyles-namespace}u-items-stretch {
  align-items: stretch;
}

.#{$bitstyles-namespace}u-items-baseline {
  align-items: baseline;
}

@include media-query('m') {
  .#{$bitstyles-namespace}u-items-center\@m {
    align-items: center;
  }
}
