@import 'settings';

@include output-properties(
  $property-name: 'align-items',
  $classname-root: 'items',
  $values: $bitstyles-items
);

@each $breakpoint-alias in $bitstyles-items-breakpoints {
  @include media-query($breakpoint-alias) {
    @include output-properties(
      $property-name: 'align-items',
      $classname-root: 'items',
      $values: $bitstyles-items,
      $breakpoint-suffix: '\\\@#{$breakpoint-alias}'
    );
  }
}
