@forward 'settings';
@use 'settings';
@use '../../tools/properties';
@use '../../tools/media-query';

@include properties.output(
  $property-name: 'align-items',
  $classname-root: 'items',
  $values: settings.$values,
  $breakpoints: settings.$breakpoints
);
