@import './settings';

.a-card {
  padding: $bitstyles-card-padding;
  overflow: hidden;
  border-radius: $bitstyles-card-border-radius;
  box-shadow: $bitstyles-card-box-shadow;
}

@include media-query('m') {
  .a-card\@m {
    padding: $bitstyles-card-padding;
    overflow: hidden;
    border-radius: $bitstyles-card-border-radius;
    box-shadow: $bitstyles-card-box-shadow;
  }
}
