@import './settings';

@mixin card {
  padding: $bitstyles-card-padding;
  overflow: hidden;
  border-radius: $bitstyles-card-border-radius;
  box-shadow: $bitstyles-card-box-shadow;
}

@each $breakpoint-alias in $bitstyles-card-breakpoints {
  @if $breakpoint-alias == 'base' {
    @include output-block(
      $object-level: 'a',
      $classname-root: 'card'
    ) {
      @include card;
    }
  }

  @else {
    @include media-query($breakpoint-alias) {
      @include output-block(
        $object-level: 'a',
        $classname-root: 'card',
        $breakpoint-suffix: '\\\@#{$breakpoint-alias}'
      ) {
        @include card;
      }
    }
  }
}
