@import './settings';

.#{$bitstyles-namespace}a-card {
  padding: $bitstyles-card-padding;
  overflow: hidden;
  border-radius: $bitstyles-card-border-radius;
  box-shadow: $bitstyles-card-box-shadow;
}

@include media-query('m') {
  .#{$bitstyles-namespace}a-card\@m {
    padding: $bitstyles-card-padding;
    overflow: hidden;
    border-radius: $bitstyles-card-border-radius;
    box-shadow: $bitstyles-card-box-shadow;
  }
}
