@use '../../tools/palette';
@use '../../tools/shadow';
@use '../../tools/size';

$sizes: (
  'base': size.get('m'),
  'l': size.get('xl'),
) !default;
$border-radius: size.get('m') !default;
$box-shadow: shadow.to-box-shadow(
  shadow.generate(
    $color: rgba(palette.get('brand-1', '100'), 0.025),
    $offset: size.get('s'),
    $blur-radius: size.get('l'),
    $layers: 6,
  )
) !default;
$breakpoints: ('m', 'l') !default;
$header-background-color: palette.get('gray', '1') !default;
