@use '../../tools/palette';
@use '../../tools/shadow';
@use '../../tools/size';

$sizes: (
  'base': size.get('m'),
  'l': size.get('l3'),
) !default;
$border-radius: size.get('m') !default;
$box-shadow: shadow.to-box-shadow(
  shadow.generate(
    $color: rgba(palette.get('brand-1'), 0.025),
    $offset: size.get('m'),
    $blur-radius: size.get('l4'),
    $layers: 6,
  )
) !default;
$breakpoints: ('m', 'l') !default;
$header-background-color: palette.get('grayscale', 'light-2') !default;
