@use '../../tools/design-token';
@use '../../tools/shadow';

$sizes: (
  'base': var(design-token.get('size', 's1')),
  'l': var(design-token.get('size', 'l2')),
) !default;
$border-radius: var(design-token.get('size', 's1')) !default;
$box-shadow: shadow.to-box-shadow(
  shadow.generate(
    $color: rgba(var(design-token.get('color', 'brand-1', 'rgb')), 0.025),
    $offset: var(design-token.get('size', 's1')),
    $blur-radius: var(design-token.get('size', 'l5')),
    $layers: 6,
  )
) !default;
$breakpoints: ('m', 'l') !default;
$header-background-color: var(design-token.get('color', 'grayscale', 'light-2')) !default;
