@use './settings';
@use "../../tools/directional-properties";
@use "../../tools/media-query";

@mixin card {
  padding: settings.$padding;
  overflow: hidden;
  border-radius: settings.$border-radius;
  box-shadow: settings.$box-shadow;
}

@include directional-properties.output-block(
  $object-level: 'a',
  $classname-root: 'card'
) {
  @include card;
}

@each $breakpoint-alias in settings.$breakpoints {
  @include media-query.media-query($breakpoint-alias) {
    @include directional-properties.output-block(
      $object-level: 'a',
      $classname-root: 'card',
      $breakpoint-suffix: '\\\@#{$breakpoint-alias}'
    ) {
      @include card;
    }
  }
}
