@use "../../tools/palette";
@use "../../tools/spacing";

$padding: spacing.spacing('m') !default;
$border-radius: spacing.spacing('m') !default;
$box-shadow:
  0 spacing.spacing('xs') spacing.spacing('m') rgba(palette.get('brand-1', '100'), 0.1),
  0 spacing.spacing('xxxs') spacing.spacing('xxs') rgba(palette.get('gray', '90'), 0.04),
  0 0 spacing.spacing('xxs') rgba(palette.get('gray', '90'), 0.1) !default;
$breakpoints: ('m', 'l') !default;
