$bitstyles-grid-settings: true;

$inuit-layout-namespace: $bitstyles-namespace !default;
$inuit-layout-gutter: 0 !default;
$inuit-enable-layout--bottom: false !default;

// These column variables can be lists — (10, 12) will give multiple grid systems: every permutation of 10 columns
// (1/10, 2/10, 3/10… 9/10, 10/10) and 12 columns (1/12, 2/12, 3/12… 11/12, 12/12).
// We normally only need one grid system (i.e. one set of columns).
$inuit-widths-columns: (12) !default;
$inuit-widths-columns-responsive: (12) !default;
