// Box sizing across the site
$bitstyles-box-sizing: border-box !default;

$breakpoint-boundary-width:            0.625em !default;
$breakpoint-small-medium-boundary:     45em !default;
$breakpoint-medium-large-boundary:     64em !default;

$bitstyles-breakpoints: (
  'small'               'screen and (max-width: #{$breakpoint-small-medium-boundary - $breakpoint-boundary-width})',
  'medium'              'screen and (min-width: #{$breakpoint-small-medium-boundary}) and (max-width: #{$breakpoint-medium-large-boundary - $breakpoint-boundary-width})',
  'medium-and-up'       'screen and (min-width: #{$breakpoint-small-medium-boundary})',
  'small-and-medium'    'screen and (max-width: #{$breakpoint-medium-large-boundary - $breakpoint-boundary-width})',
  'large'               'screen and (min-width: #{$breakpoint-medium-large-boundary})',
  'hidpi'               '(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx)'
) !default;
