$bitstyles-typography-settings: true;

// Font families
$bitstyles-font-family-header: serif !default;
$bitstyles-font-family-header-loaded: serif !default;
$bitstyles-font-family-body: helvetica, sans-serif !default;
$bitstyles-font-family-body-loaded: helvetica, sans-serif !default;

$bitstyles-font-weight-light: 300 !default;
$bitstyles-font-weight-normal: 400 !default;
$bitstyles-font-weight-bold: 700 !default;

$bitstyles-link-transition: color $bitstyles-transition-duration $bitstyles-transition-easing !default;

$bitstyles-typography-breakpoint: medium-and-up !default;

$bitstyles-font-size-base-small: 16px !default;
$bitstyles-font-size-h0-small: 32px !default;
$bitstyles-font-size-h1-small: 24px !default;
$bitstyles-font-size-h2-small: 20px !default;
$bitstyles-font-size-h3-small: 18px !default;
$bitstyles-font-size-h4-small: $bitstyles-font-size-base-small !default;
$bitstyles-font-size-h5-small: $bitstyles-font-size-base-small !default;
$bitstyles-font-size-h6-small: $bitstyles-font-size-base-small !default;

$bitstyles-font-size-base: 18px !default;
$bitstyles-font-size-h0: 86px !default;
$bitstyles-font-size-h1: 40px !default;
$bitstyles-font-size-h2: 28px !default;
$bitstyles-font-size-h3: 20px !default;
$bitstyles-font-size-h4: $bitstyles-font-size-base !default;
$bitstyles-font-size-h5: $bitstyles-font-size-base !default;
$bitstyles-font-size-h6: $bitstyles-font-size-base !default;
