@forward 'settings';
@use './settings';
@use '../../tools/properties';

@include properties.output(
  $property-name: 'grid-column-start',
  $classname-root: 'col-start',
  $values: settings.$values,
  $breakpoints: settings.$breakpoints
);
