@forward './settings';
@use './settings';
@use '../../tools/properties';

@include properties.output(
  $property-name: 'min-height',
  $classname-root: 'min-height',
  $values: settings.$values
);

@each $breakpoint-alias in settings.$breakpoints {
  @include properties.output(
    $property-name: 'min-height',
    $classname-root: 'min-height',
    $values: settings.$values
  );
}
