// Text styling helpers
.#{$bitstyles-namespace}text-bold {
  font-weight: bold;
}

.#{$bitstyles-namespace}text-italic {
  font-weight: italic;
}

// Text positioning helpers
.#{$bitstyles-namespace}text-nowrap {
  white-space: nowrap;
}

.#{$bitstyles-namespace}text-center {
  text-align: center;
}

.#{$bitstyles-namespace}text-left {
  text-align: left;
}

.#{$bitstyles-namespace}text-right {
  text-align: right;
}

.#{$bitstyles-namespace}text-uppercase {
  text-transform: uppercase;
}

.#{$bitstyles-namespace}text-size-base {
  font-size: $bitstyles-font-size-base;
}
