@use '../tools/design-token';

$transition-duration: 0.075s !default;
$transition-duration-long: 0.5s !default;
$transition-easing: ease-in-out !default;

:root {
  #{design-token.get('transition', 'duration')}: $transition-duration;
  #{design-token.get('transition', 'duration-long')}: $transition-duration-long;
  #{design-token.get('transition', 'easing')}: $transition-easing;
}
