@use '../tools/design-token';

$outline-color: var(design-token.get('color', 'brand-2')) !default;
$outline-width: calc(
  var(design-token.get('size', 's7')) + var(design-token.get('size', 's7')) / 2
) !default;
$outline-offset: var(design-token.get('size', 's7')) !default;
