@use '../tools/palette';
@use '../tools/size';
@use '../tools/shadow';
@use '../tools/custom-property';

$shadows: (
  'brand-1':
    shadow.generate(
      $color: rgba(palette.get('brand-1', 'dark-2-rgb'), 0.075),
      $offset: size.get('s6'),
      $blur-radius: size.get('s3'),
    ),
  'brand-1-center':
    shadow.generate(
      $color: rgba(palette.get('brand-1', 'dark-2-rgb'), 0.075),
      $offset: 0rem,
      $blur-radius: size.get('s3'),
    ),
  'gray':
    shadow.generate(
      $color: rgba(palette.get('grayscale', 'dark-2-rgb'), 0.0875),
      $offset: size.get('s6'),
      $blur-radius: size.get('s3'),
    ),
  'gray-center':
    shadow.generate(
      $color: rgba(palette.get('grayscale', 'dark-2-rgb'), 0.0875),
      $offset: size.get('s7'),
      $blur-radius: size.get('s3'),
    ),
  'brand-2':
    shadow.generate(
      $color: rgba(palette.get('brand-2', 'dark-1-rgb'), 0.1375),
      $offset: size.get('s7'),
      $blur-radius: size.get('s1'),
    ),
  'positive':
    shadow.generate(
      $color: rgba(palette.get('positive', 'dark-1-rgb'), 0.125),
      $offset: size.get('s7'),
      $blur-radius: size.get('s1'),
    ),
  'warning':
    shadow.generate(
      $color: rgba(palette.get('warning', 'dark-1-rgb'), 0.125),
      $offset: size.get('s7'),
      $blur-radius: size.get('s1'),
    ),
  'danger':
    shadow.generate(
      $color: rgba(palette.get('danger', 'dark-1-rgb'), 0.1),
      $offset: size.get('s7'),
      $blur-radius: size.get('s2'),
    ),
) !default;

/* prettier-ignore */
:root {
  @each $shadow-name, $shadow in $shadows {
    #{custom-property.get($items: ('shadow', $shadow-name))}-drop: shadows.get($shadow-name, $type: 'drop', $format: 'css');
    #{custom-property.get($items: ('shadow', $shadow-name))}-box: shadows.get($shadow-name, $format: 'css');
  }
}
