@use '../tools/design-token';

$default-theme: (
  'background': var(design-token.get('color', 'grayscale', 'white')),
  'text': var(design-token.get('color', 'grayscale', 'dark-3')),
) !default;
$dark-theme: (
  'background': var(design-token.get('color', 'grayscale', 'dark-3')),
  'text': var(design-token.get('color', 'grayscale', 'light-3')),
) !default;
$brand-1-theme: (
  'background': var(design-token.get('color', 'brand-1', 'light-4')),
  'background-dark': var(design-token.get('color', 'brand-1', 'light-2')),
  'text': var(design-token.get('color', 'brand-1', 'dark-2')),
  'text-dark': var(design-token.get('color', 'brand-1', 'dark-2')),
) !default;
$brand-2-theme: (
  'background': var(design-token.get('color', 'brand-2', 'light-4')),
  'text': var(design-token.get('color', 'brand-2', 'dark-2')),
) !default;
$positive-theme: (
  'background': var(design-token.get('color', 'positive', 'light-4')),
  'background-dark': var(design-token.get('color', 'positive', 'light-2')),
  'text': var(design-token.get('color', 'positive', 'dark-2')),
  'text-dark': var(design-token.get('color', 'positive', 'dark-2')),
) !default;
$warning-theme: (
  'background': var(design-token.get('color', 'warning', 'light-4')),
  'background-dark': var(design-token.get('color', 'warning', 'light-1')),
  'text': var(design-token.get('color', 'warning', 'dark-2')),
  'text-dark': var(design-token.get('color', 'grayscale', 'dark-4')),
) !default;
$danger-theme: (
  'background': var(design-token.get('color', 'danger', 'light-4')),
  'background-dark': var(design-token.get('color', 'danger', 'light-2')),
  'text': var(design-token.get('color', 'danger', 'dark-1')),
  'text-dark': var(design-token.get('color', 'danger', 'dark-2')),
) !default;
$grayscale-theme: (
  'background': var(design-token.get('color', 'grayscale', 'light-4')),
  'text': var(design-token.get('color', 'grayscale', 'dark-2')),
) !default;
$default-theme-name: 'default' !default;
$themes: (
  '#{$default-theme-name}': $default-theme,
  'dark': $dark-theme,
  'brand-1': $brand-1-theme,
  'brand-2': $brand-2-theme,
  'positive': $positive-theme,
  'warning': $warning-theme,
  'danger': $danger-theme,
  'grayscale': $grayscale-theme,
) !default;
