@forward 'settings';
@use './settings';
@use '../../tools/properties';

@include properties.output(
  $property-name: 'list-style-type',
  $classname-root: 'list',
  $values: settings.$values,
  $breakpoints: settings.$breakpoints
);
