@use '../../design-tokens/themes' as settings;
@use '../../tools/custom-properties';
@use '../../tools/design-token';
@use '../../tools/themes';

/* stylelint-disable selector-max-type */
:root,
[data-theme] {
  background-color: var(design-token.get('theme', 'background'));
  color: var(design-token.get('theme', 'text'));
}
/* stylelint-enable selector-max-type */

@each $theme-name, $theme in settings.$themes {
  @include themes.get($theme-name) {
    @include custom-properties.output-filtered(
      $properties: $theme,
      $module-name: 'theme',
      $allow-list: (
        'text',
        'text-dark',
        'background',
        'background-dark',
      )
    );
  }
}
