.#{$bitstyles-namespace}l-justify-between {
  justify-content: space-between;
}

.#{$bitstyles-namespace}l-justify-end {
  justify-content: flex-end;
}

.#{$bitstyles-namespace}l-items-center {
  align-items: center;
}

.#{$bitstyles-namespace}l-items-start {
  align-items: flex-start;
}

.#{$bitstyles-namespace}l-items-end {
  align-items: flex-end;
}

.#{$bitstyles-namespace}l-items-stretch {
  align-items: stretch;
}

.#{$bitstyles-namespace}l-items-baseline {
  align-items: baseline;
}
