@use 'sass:string';
@use './settings';
@use '../../tools/media-query';
@use '../../tools/properties';
@use '../../tools/shadows';

@each $name, $shadow in settings.$values {
  @include properties.output-block(
    $classname-prefix: 'u',
    $classname-root: 'shadow-#{$name}',
  ) {
    box-shadow: $shadow;
  }
}

@each $breakpoint in settings.$breakpoints {
  @include media-query.get($breakpoint) {
    @each $name, $shadow in settings.$values {
      @include properties.output-block(
        $classname-prefix: 'u',
        $classname-root: 'shadow-#{$name}',
        $breakpoint-suffix: '\\\@#{$breakpoint}',
      ) {
        box-shadow: $shadow;
      }
    }
  }
}
