@forward 'settings';
@use 'sass:string';
@use './settings';
@use '../../tools/media-query';
@use '../../tools/properties';

@include properties.output(
  $property-name: 'box-shadow',
  $classname-root: 'shadow',
  $values: settings.$values,
  $breakpoints: settings.$breakpoints
);
