@use '../../design-tokens/layout';
@use '../../tools/design-token';

/* stylelint-disable length-zero-no-unit */
$default: (
  'padding-vertical': var(design-token.get('size', 's2')),
  'padding-horizontal': var(design-token.get('size', 'l1')),
  'border-width': 0rem,
  'border-radius': var(design-token.get('size', 's4')),
  'min-height': 1em,
  'min-width': 0,
  'font-size': var(design-token.get('font-size', '2')),
  'font-weight': var(design-token.get('font-weight', 'semibold')),
  'line-height': var(design-token.get('line-height', '4')),
) !default;
/* stylelint-enable length-zero-no-unit */
$small: (
  'padding-vertical': var(design-token.get('size', 's4')),
  'padding-horizontal': var(design-token.get('size', 'm')),
  'min-height': var(design-token.get('size', 'l1')),
  'min-width': var(design-token.get('size', 'l2')),
  'font-weight': var(design-token.get('font-weight', 'medium')),
) !default;
$x-small: (
  'padding-vertical': var(design-token.get('size', 's6')),
  'padding-horizontal': var(design-token.get('size', 's2')),
  'font-weight': var(design-token.get('font-weight', 'medium')),
) !default;
$transparent: (
  'border-width': 0.1875rem,
) !default;
$outline: (
  'border-width': 0.1875rem,
) !default;
$menu: (
  'justify-content': flex-start,
  'border-radius': 0,
) !default;
$tab: (
  'border-radius': 0,
) !default;
$square: (
  'padding-vertical':
    calc(
      var(design-token.get('size', 's2')) + var(design-token.get('size', 's7'))
    ),
  'padding-horizontal':
    calc(
      var(design-token.get('size', 's2')) + var(design-token.get('size', 's7'))
    ),
) !default;
$round: (
  'border-radius': layout.$border-radius-round,
) !default;
$variants: (
  '': $default,
  '--small': $small,
  '--x-small': $x-small,
  '--transparent': $transparent,
  '--outline': $outline,
  '--menu': $menu,
  '--tab': $tab,
  '--square': $square,
  '--round': $round,
) !default;
$with-square-variants: ('--small', '--x-small', '') !default;
