@use 'sass:math';
@use '../../settings/layout';
@use '../../settings/typography';
@use '../../tools/font-size';
@use '../../tools/size';

/* stylelint-disable length-zero-no-unit */
$default: (
  'padding-vertical': size.get('s2'),
  'padding-horizontal': size.get('l1'),
  'border-width': 0rem,
  'border-radius': size.get('s4'),
  'min-height': 1em,
  'min-width': 0,
  'font-size': font-size.get('2'),
  'font-weight': typography.$font-weight-semibold,
) !default;
/* stylelint-enable length-zero-no-unit */
$small: (
  'padding-vertical': size.get('s6'),
  'padding-horizontal': size.get('s3'),
  'border-radius': size.get('s6'),
  'min-height': size.get('l1'),
  'min-width': size.get('l2'),
  'font-size': font-size.get('1'),
  'font-weight': typography.$font-weight-medium,
) !default;
$large: (
  'padding-vertical': size.get('m'),
  'padding-horizontal': size.get('l3'),
  'border-radius': size.get('s3'),
  'font-size': font-size.get('2'),
) !default;
$transparent: (
  'border-width': 0.1875rem,
) !default;
$outline: (
  'border-width': 0.1875rem,
) !default;
$menu: (
  'justify-content': flex-start,
) !default;
$square: (
  'padding-vertical': calc(size.get('s2') + size.get('s7')),
  'padding-horizontal': calc(size.get('s2') + size.get('s7')),
) !default;
$round: (
  'border-radius': layout.$border-radius-round,
) !default;
$variants: (
  '': $default,
  '--small': $small,
  '--large': $large,
  '--transparent': $transparent,
  '--outline': $outline,
  '--menu': $menu,
  '--square': $square,
  '--round': $round,
) !default;
$with-square-variants: ('--small', '--large', '') !default;
