@forward "./settings";
@use "./settings";
@use '../../tools/classname';
@use '../../tools/design-token';
@use '../../tools/themes';
@use 'sass:map';

/* prettier-ignore */
$highlight-color-property: design-token.get('notification', 'highlight-color');
$highlight-background-color-property: design-token.get('notification', 'highlight-background-color');
$button-border-top-right-radius-property: design-token.get(
  'button',
  'border',
  'top',
  'right',
  'radius'
);
$button-border-bottom-right-radius-property: design-token.get(
  'button',
  'border',
  'bottom',
  'right',
  'radius'
);
$button-border-bottom-left-radius-property: design-token.get(
  'button',
  'border',
  'bottom',
  'left',
  'radius'
);
$button-border-top-left-radius-property: design-token.get(
  'button',
  'border',
  'top',
  'left',
  'radius'
);

#{classname.get($classname-items: 'notification', $layer: 'molecule')} {
  display: flex;
  background-color: var(design-token.get("color", "grayscale", "white"));
  color: var(design-token.get("color", "grayscale", "dark-3"));
}

#{classname.get($classname-items: 'notification__button', $layer: 'molecule')} {
  #{$button-border-top-right-radius-property}: 0;
  #{$button-border-bottom-right-radius-property}: 0;
  #{$button-border-bottom-left-radius-property}: 0;
  #{$button-border-top-left-radius-property}: 0;
}

#{classname.get($classname-items: 'notification__highlight', $layer: 'molecule')} {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  padding: 0 var(design-token.get("size", "s1"));
  color: var($highlight-color-property, var(design-token.get("color", "brand-1", "dark-1")));
  background-color: var($highlight-background-color-property, var(design-token.get("color", "brand-1", "light-4")));
}

#{classname.get($classname-items: 'notification__content', $layer: 'molecule')} {
  flex: 1;
  min-width: 0;
  padding: var(design-token.get("size", "l2")) 0 var(design-token.get("size", "l2")) var(design-token.get("size", "l2"));
}

@each $theme-name, $theme in settings.$theme-variants {
  @include themes.get($theme-name) {
    #{$highlight-color-property}: map.get($theme, 'highlight-color');
    #{$highlight-background-color-property}: map.get($theme, 'highlight-background-color');
  }
}
