/** @define bordered-header */
//
// Bordered Header
//
// Creates equally-sized horizontal lines to the left & right of the element.
//
// markup:
// <h2 class="bordered-header">Bordered header</h2>
//
// Styleguide 1.17

// styleguide:ignore:start
$bitstyles-bordered-header-settings: false !default;

@if ($bitstyles-bordered-header-settings == false) {
  @include output-settings-warning(bordered-header);
}
// styleguide:ignore:end

.bordered-header {
  display: table;
  width: 100%;
  text-align: center;
  white-space: nowrap;

  &::before,
  &::after {
    position: relative;
    top: 0.8em;
    display: table-cell;
    width: $bitstyles-bordered-header-horizontal-space;
    border-top: 1px solid $bitstyles-bordered-header-border-color;
    content: '';
  }

  &::before {
    left: $bitstyles-bordered-header-horizontal-space;
  }

  &::after {
    right: $bitstyles-bordered-header-horizontal-space;
  }
}
