// Icon Button
//
// A specialised button type — (visible) content is intended to be only an icon.
// Icon title element should give valid text to use as button label, or provide a `.visuallyhidden` text element as sibling to the icon.
//
// markup:
// <button class="button button--icon">
//   <svg class="icon">
//     <title>Twitter logo</title>
//     <use xlink:href="images/icons.svg#twitter-logo"></use>
//   </svg>
// </button>
//
// :hover       - Hover state.
// :focus       - Focus state.
//
// Styleguide 1.2

$bitstyles-button-icon-settings: false !default;
@if ($bitstyles-button-icon-settings == false) {
  @include output-settings-warning(button--icon);
};

.button--icon {
  padding: $bitstyles-button-icon-padding;
  color: $bitstyles-button-icon-color;
  background-color: $bitstyles-button-icon-background-color;
  border: $bitstyles-button-icon-border;
  border-radius: $bitstyles-button-icon-border-radius;
}
