// Icon Button
//
// A specialised button type — (visible) content is intended to be only an icon.
// Specify the svg `<title>` when `<use>`ing the icon element so the button has valid text to use as button label (see example markup),
// or provide a `<span class="visuallyhidden"></span>` as sibling to the icon.
//
// markup:
// <button class="button button--icon {$modifiers}">
//   <svg class="icon">
//     <title>Twitter logo</title>
//     <use xlink:href="assets/images/icons.svg#icon-twitter"></use>
//   </svg>
// </button>
//
//               - Base state
// :hover        - Hover state.
// :focus        - Focus state.
//
// Styleguide 1.2

// styleguide:ignore:start
$bitstyles-button-icon-settings: false !default;
@if ($bitstyles-button-icon-settings == false) {
  @include output-settings-warning(button--icon);
};
// styleguide:ignore:end

.button--icon {
  padding: $bitstyles-button-icon-padding;
  line-height: 1;
  color: $bitstyles-button-icon-color;
  background-color: $bitstyles-button-icon-background-color;
  border: $bitstyles-button-icon-border;
  border-radius: $bitstyles-button-icon-border-radius;
}
