// Generic buttons — produces a larger-than-text hit target, these are intended to be actions not links.
// Most often a `<button>` rather than `<a href="#">`.
// ```<button class="button"><span class="button__label">Button Text</span></button>```
//
// :hover       - Hover state.
// :focus       - Focus state.
//
// Styleguide Button

$bitstyles-button-settings: false !default;
@if ($bitstyles-button-settings == false) {
  @include output-settings-warning(button);
};

.button {
  position: relative;
  display: inline-block;
  padding: $bitstyles-button-padding-vertical $bitstyles-button-padding-horizontal;
  margin: 0;
  overflow: visible;
  font: inherit;
  color: $bitstyles-button-color;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background: $bitstyles-button-background-color;
  border: $bitstyles-button-border;
  transition: $bitstyles-button-transition;
  -webkit-appearance: none;
  user-select: none;
  touch-action: manipulation;

  &:hover,
  &:focus {
    color: $bitstyles-button-color-hover;
    background: $bitstyles-button-background-color-hover;
    outline: none;
  }
}

.button__label {
  position: relative;
  display: inline;
  vertical-align: middle;
}
