// Objects
//
// Styleguide 1.0

// Generic Button
//
// Produces a larger-than-text hit target. Intended to be an action, not a link — most often a `<button>` rather than `<a href="#">`.
//
// markup:
// <button class="button">
//   <span class="button__label">Button Text</span>
// </button>
//
// :hover       - Hover state.
// :focus       - Focus state.
//
// Styleguide 1.1

$bitstyles-button-settings: false !default;
@if ($bitstyles-button-settings == false) {
  @include output-settings-warning(button);
};

.button {
  position: relative;
  display: inline-block;
  padding: $bitstyles-button-padding-vertical $bitstyles-button-padding-horizontal;
  margin: 0;
  overflow: visible;
  font: inherit;
  color: $bitstyles-button-color;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background: $bitstyles-button-background-color;
  border: $bitstyles-button-border;
  border-radius: $bitstyles-button-border-radius;
  transition: $bitstyles-button-transition;
  -webkit-appearance: none;
  user-select: none;
  touch-action: manipulation;

  &:hover,
  &:focus {
    color: $bitstyles-button-color-hover;
    background: $bitstyles-button-background-color-hover;
    outline: none;
  }
}

.button__label {
  position: relative;
  display: inline;
  vertical-align: middle;
}
