// Flex
//
// Simple flex layout.
// Make one of the children `.flex__primary` to make it take as much space as is available.
//
// Styleguide 1.10

.flex {
  display: flex;
  align-items: stretch;
}

.flex__primary {
  flex: 1 0 auto;
}
