// Typography
//
// These typographic classes mimic the html elements `<h1>`..`<h6>` — use the semantically correct
// element in markup, then apply the correct class to achieve the correct visual appearance.
// Note the `.o-h0` has been added as an additional layer above `.o-h1`, use to acheive an extra-large
// 'hero' (using Bootstrap nomenclature) text.
//
// Markup:
// <h1 class="o-h0">Header 0</h1>
// <h2 class="o-h1">Header 1</h2>
// <h3 class="o-h2">Header 2</h3>
// <h4 class="o-h3">Header 3</h4>
// <h5 class="o-h4">Header 4</h5>
// <h6 class="o-h5">Header 5</h6>
// <h6 class="o-h5">Header 6</h6>
// <h1 class="o-h6">Header 6</h1>
// <h2 class="o-h5">Header 5</h2>
// <h3 class="o-h4">Header 4</h3>
// <h4 class="o-h3">Header 3</h4>
// <h5 class="o-h2">Header 2</h5>
// <h6 class="o-h1">Header 1</h6>
// <h6 class="o-h0">Header 0</h6>
//
// Styleguide 1.20

// styleguide:ignore:start
$bitstyles-typography-settings: false !default;

@if ($bitstyles-typography-settings == false) {
  @include output-settings-warning(typography);
}
// styleguide:ignore:end

.o-h0,
.o-h1,
.o-h2,
.o-h3,
.o-h4,
.o-h5,
.o-h6 {
  @include generic-heading;
}

.o-h0 {
  font-size: $bitstyles-font-size-h0-small;
}

.o-h1 {
  font-size: $bitstyles-font-size-h1-small;
}

.o-h2 {
  font-size: $bitstyles-font-size-h2-small;
}

.o-h3 {
  font-size: $bitstyles-font-size-h3-small;
}

.o-h4 {
  font-size: $bitstyles-font-size-h4-small;
}

.o-h5 {
  font-size: $bitstyles-font-size-h5-small;
}

.o-h6 {
  font-size: $bitstyles-font-size-h6-small;
}

@include media-query($bitstyles-typography-breakpoint) {
  .o-h0 {
    font-size: $bitstyles-font-size-h0;
  }

  .o-h1 {
    font-size: $bitstyles-font-size-h1;
  }

  .o-h2 {
    font-size: $bitstyles-font-size-h2;
  }

  .o-h3 {
    font-size: $bitstyles-font-size-h3;
  }

  .o-h4 {
    font-size: $bitstyles-font-size-h4;
  }

  .o-h5 {
    font-size: $bitstyles-font-size-h5;
  }

  .o-h6 {
    font-size: $bitstyles-font-size-h6;
  }
}
