@forward 'settings';
@use './settings';
@use '../../tools/properties';
@use '../../tools/media-query';

@include properties.output(
  $property-name: 'color',
  $classname-root: 'fg',
  $values: settings.$values,
  $breakpoints: settings.$breakpoints
);
