/* stylelint-disable max-empty-lines */

/********* Units */

$bitstyles-spacing: 1rem !default;
$bitstyles-spacing-vertical: $bitstyles-spacing !default;
$bitstyles-spacing-horizontal: $bitstyles-spacing !default;


/********* Layout */

$bitstyles-breakpoint-boundary-width:            0.0625em !default;
$bitstyles-breakpoint-small-medium-boundary:     45em !default;
$bitstyles-breakpoint-medium-large-boundary:     64em !default;

$bitstyles-breakpoints: (
  'small':               'screen and (max-width: #{$bitstyles-breakpoint-small-medium-boundary - $bitstyles-breakpoint-boundary-width})',
  'medium':              'screen and (min-width: #{$bitstyles-breakpoint-small-medium-boundary}) and (max-width: #{$bitstyles-breakpoint-medium-large-boundary - $bitstyles-breakpoint-boundary-width})',
  'medium-and-up':       'screen and (min-width: #{$bitstyles-breakpoint-small-medium-boundary})',
  'small-and-medium':    'screen and (max-width: #{$bitstyles-breakpoint-medium-large-boundary - $bitstyles-breakpoint-boundary-width})',
  'large':               'screen and (min-width: #{$bitstyles-breakpoint-medium-large-boundary})',
  'hidpi':               '(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx)'
) !default;

$bitstyles-global-z: topbar !default;


/********* Animations */

$bitstyles-transition-easing: ease-in-out !default;
$bitstyles-transition-duration: 0.15s !default;
$bitstyles-transition-duration-long: 0.5s !default;


/********* Colors */

// Monochrome
$bitstyles-color-black:           #000 !default;
$bitstyles-color-white:           #fff !default;

// Greys
$bitstyles-color-gray-10:         #e5e5e5 !default;
$bitstyles-color-gray-20:         #ccc !default;
$bitstyles-color-gray-30:         #b2b2b2 !default;
$bitstyles-color-gray-40:         #999 !default;
$bitstyles-color-gray-50:         #7f7f7f !default;
$bitstyles-color-gray-60:         #666 !default;
$bitstyles-color-gray-70:         #4c4c4c !default;
$bitstyles-color-gray-80:         #333 !default;
$bitstyles-color-gray-90:         #191919 !default;

$bitstyles-colors-theme: (
  'primary':     $bitstyles-color-gray-70,
  'secondary':   $bitstyles-color-gray-20,
  'text':        $bitstyles-color-gray-80,
  'background':  $bitstyles-color-white,
  'positive':    #0f0,
  'negative':    #f00
) !default;

// Implementations
$bitstyles-color-link:            $bitstyles-color-gray-50 !default;
$bitstyles-color-link-visited:    $bitstyles-color-gray-70 !default;
$bitstyles-color-link-hover:      $bitstyles-color-gray-20 !default;
$bitstyles-color-error:           map-get($bitstyles-colors-theme, 'negative') !default;


/********* Typography */

$bitstyles-font-family-header: serif !default;
$bitstyles-font-family-header-loaded: serif !default;
$bitstyles-font-family-body: helvetica, sans-serif !default;
$bitstyles-font-family-body-loaded: helvetica, sans-serif !default;

$bitstyles-font-weight-light: 300 !default;
$bitstyles-font-weight-normal: 400 !default;
$bitstyles-font-weight-bold: 700 !default;

$bitstyles-link-transition: color $bitstyles-transition-duration $bitstyles-transition-easing !default;

$bitstyles-typography-breakpoint: medium-and-up !default;

$bitstyles-font-size-base-small: 16px !default;
$bitstyles-font-size-h0-small: 32px !default;
$bitstyles-font-size-h1-small: 24px !default;
$bitstyles-font-size-h2-small: 20px !default;
$bitstyles-font-size-h3-small: 18px !default;
$bitstyles-font-size-h4-small: $bitstyles-font-size-base-small !default;
$bitstyles-font-size-h5-small: $bitstyles-font-size-base-small !default;
$bitstyles-font-size-h6-small: $bitstyles-font-size-base-small !default;

$bitstyles-font-size-base: 18px !default;
$bitstyles-font-size-h0: 86px !default;
$bitstyles-font-size-h1: 40px !default;
$bitstyles-font-size-h2: 28px !default;
$bitstyles-font-size-h3: 20px !default;
$bitstyles-font-size-h4: $bitstyles-font-size-base !default;
$bitstyles-font-size-h5: $bitstyles-font-size-base !default;
$bitstyles-font-size-h6: $bitstyles-font-size-base !default;


/********* Namespacing */
// Defining a namespace will prepend it to every selector name
$bitstyles-namespace: null !default;

$bitstyles-border-radius-round: 9999rem !default;
