$bitstyles-colors-theme: (
  'primary':     $bitstyles-color-gray-70,
  'secondary':   $bitstyles-color-gray-20,
  'text':        $bitstyles-color-gray-80,
  'background':  $bitstyles-color-white,
  'positive':    #0f0,
  'negative':    #f00
) !default;

$foreground-colors: ('primary', 'secondary');
$background-colors: ('background', 'secondary');
