$bitstyles-input-padding: $bitstyles-spacing / 2 !default;
$bitstyles-input-border: $bitstyles-color-gray-30 !default;
$bitstyles-input-border-active: $bitstyles-color-gray-50 !default;
$bitstyles-input-background: $bitstyles-color-white !default;
$bitstyles-input-min-width: 20rem !default;
$bitstyles-input-checkbox-width: 1.5rem !default;
$bitstyles-input-checkbox-width-gutter: 0.5rem !default;
$bitstyles-input-border-radius: 5px !default;
$bitstyles-input-border-width: 1px !default;
$bitstyles-input-border-style: solid !default;
$bitstyles-input-padding: 0.5rem !default;
$bitstyles-input-placeholder-color: $bitstyles-color-gray-50 !default;

$bitstyles-input-background-color-disabled: $bitstyles-color-gray-10 !default;
$bitstyles-input-color-disabled: $bitstyles-color-text !default;
