$bitstyles-input-padding: $bitstyles-spacing / 2 !default;
$bitstyles-input-border: $bitstyles-color-gray-30 !default;
$bitstyles-input-border-active: $bitstyles-color-gray-50 !default;
$bitstyles-input-background: $bitstyles-color-white !default;
$bitstyles-input-placeholder: $bitstyles-color-gray-50 !default;
$bitstyles-input-width-minimum: 20rem !default;
$bitstyles-input-checkbox-width: 1.5rem !default;
$bitstyles-input-checkbox-width-offset: 0.5rem !default;
$bitstyles-input-border-radius: 5px !default;
