$bitstyles-input-padding: $bitstyles-spacing / 2 !default;
$bitstyles-input-border: $bitstyles-color-gray-30 !default;
$bitstyles-input-border-active: $bitstyles-color-gray-50 !default;
$bitstyles-input-background: $bitstyles-color-white !default;
$bitstyles-input-placeholder: $bitstyles-color-gray-50 !default;

$bitstyles-input-border-error: $bitstyles-color-negative !default;
$bitstyles-input-color-error: $bitstyles-color-negative !default;
$bitstyles-input-width-minimum: 20rem !default;
$bitstyles-input-checkbox-width: 1.5rem !default;
