@import './settings';

.#{$bitstyles-namespace}a-button--nav-large {
  display: flex;
  padding: $bitstyles-button-nav-large-padding-vertical $bitstyles-button-nav-large-padding-horizontal;
  justify-content: flex-start;
  border-radius: $bitstyles-button-nav-large-border-radius;

  &,
  &:visited {
    color: $bitstyles-button-nav-large-color;
    background: $bitstyles-button-nav-large-background-color;
    border-color: $bitstyles-button-nav-large-border-color;
    box-shadow: $bitstyles-button-nav-large-box-shadow;
  }

  &:hover,
  &:focus {
    color: $bitstyles-button-nav-large-color-hover;
    background: $bitstyles-button-nav-large-background-color-hover;
    border-color: $bitstyles-button-nav-large-border-color-hover;
    box-shadow: $bitstyles-button-nav-large-box-shadow-hover;
  }

  &:active {
    color: $bitstyles-button-nav-large-color-active;
    background: $bitstyles-button-nav-large-background-color-active;
    border-color: $bitstyles-button-nav-large-border-color-active;
    box-shadow: $bitstyles-button-nav-large-box-shadow-active;
  }

  &[aria-current],
  &[aria-expanded="true"] {
    color: $bitstyles-button-nav-large-color-current;
    background: $bitstyles-button-nav-large-background-color-current;
    border-color: $bitstyles-button-nav-large-border-color-current;
    box-shadow: $bitstyles-button-nav-large-box-shadow-current;
  }

  &:disabled,
  &[aria-disabled="true"] {
    color: $bitstyles-button-nav-large-color-disabled;
    background: $bitstyles-button-nav-large-background-color-disabled;
    border: $bitstyles-button-nav-large-border-color-disabled;
    box-shadow: $bitstyles-button-nav-large-box-shadow-disabled;
  }
}
