@use './settings';
@use '../../settings/setup';

.#{setup.$namespace}a-button--nav-large {
  display: flex;
  width: 100%;
  padding: settings.$padding-vertical settings.$padding-horizontal;
  justify-content: flex-start;
  border-radius: settings.$border-radius;

  &,
  &:visited {
    color: settings.$color;
    background: settings.$background-color;
    border-color: settings.$border-color;
    box-shadow: settings.$box-shadow;
  }

  &:hover,
  &:focus {
    color: settings.$color-hover;
    background: settings.$background-color-hover;
    border-color: settings.$border-color-hover;
    box-shadow: settings.$box-shadow-hover;
  }

  &:active {
    color: settings.$color-active;
    background: settings.$background-color-active;
    border-color: settings.$border-color-active;
    box-shadow: settings.$box-shadow-active;
  }

  &[aria-current],
  &[aria-expanded='true'] {
    color: settings.$color-current;
    background: settings.$background-color-current;
    border-color: settings.$border-color-current;
    box-shadow: settings.$box-shadow-current;
  }

  &:disabled,
  &[aria-disabled='true'] {
    color: settings.$color-disabled;
    background: settings.$background-color-disabled;
    border: settings.$border-color-disabled;
    box-shadow: settings.$box-shadow-disabled;
  }
}
