@forward 'settings';
@use './settings';
@use '../../tools/classname';

.#{classname.get($classname-items: 'button--nav-large', $layer: 'atom')} {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  padding: settings.$padding-vertical settings.$padding-horizontal;
  border-radius: settings.$border-radius;

  &,
  &:visited {
    border-color: settings.$border-color;
    background: settings.$background-color;
    box-shadow: settings.$box-shadow;
    color: settings.$color;
  }

  &:hover,
  &:focus {
    border-color: settings.$border-color-hover;
    background: settings.$background-color-hover;
    box-shadow: settings.$box-shadow-hover;
    color: settings.$color-hover;
  }

  &:active {
    border-color: settings.$border-color-active;
    background: settings.$background-color-active;
    box-shadow: settings.$box-shadow-active;
    color: settings.$color-active;
  }

  &[aria-current],
  &[aria-expanded='true'] {
    border-color: settings.$border-color-current;
    background: settings.$background-color-current;
    box-shadow: settings.$box-shadow-current;
    color: settings.$color-current;
  }

  &:disabled,
  &[aria-disabled='true'] {
    border: settings.$border-color-disabled;
    background: settings.$background-color-disabled;
    box-shadow: settings.$box-shadow-disabled;
    color: settings.$color-disabled;
  }
}
