@use '../../settings/animation';
@use '../../tools/palette';
@use '../../tools/size';

//
// Base styles ////////////////////////////////////////

$padding-vertical: size.get('l') !default;
$padding-horizontal: size.get('l') !default;
$border-radius: size.get('s') !default;
$transition: color animation.$transition-duration animation.$transition-easing,
  background-color animation.$transition-duration animation.$transition-easing,
  border animation.$transition-duration animation.$transition-easing !default;

//
// Base colors ////////////////////////////////////////

$color: palette.get('accent-gray', 'lighter') !default;
$background-color: palette.get('accent-gray', 'darker') !default;
$border-color: palette.get('accent-gray', 'darker') !default;
$box-shadow: none !default;

//
// Hover colors ////////////////////////////////////////

$color-hover: palette.get('grayscale', 'white') !default;
$background-color-hover: palette.get('accent-gray', 'base') !default;
$border-color-hover: palette.get('accent-gray', 'base') !default;
$box-shadow-hover: none !default;

//
// Active colors ////////////////////////////////////////

$color-active: palette.get('text') !default;
$background-color-active: palette.get('accent-gray', 'light') !default;
$border-color-active: palette.get('accent-gray', 'light') !default;
$box-shadow-active: none !default;

//
// Disabled colors ////////////////////////////////////////

$color-disabled: palette.get('text', 'light') !default;
$background-color-disabled: palette.get('text', 'lightest') !default;
$border-color-disabled: palette.get('text', 'lightest') !default;
$box-shadow-disabled: none !default;

//
// Current colors ////////////////////////////////////////

$color-current: palette.get('grayscale', 'white') !default;
$background-color-current: palette.get('text', 'dark') !default;
$border-color-current: palette.get('text', 'dark') !default;
$box-shadow-current: none !default;
