@import './settings';

@mixin modal-is-hidden {
  opacity: 0;
  visibility: hidden;
}

.#{$bitstyles-namespace}o-modal__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  cursor: pointer;
  background: $bitstyles-modal-overlay-color;
  transition: all $bitstyles-modal-transition-duration $bitstyles-modal-transition-easing;
  -webkit-backface-visibility: hidden; // stylelint-disable-line property-no-vendor-prefix
  backface-visibility: hidden;
  will-change: $bitstyles-modal-will-change;

  [aria-hidden="true"] & {
    @include modal-is-hidden;

    transition: all $bitstyles-modal-transition-duration $bitstyles-modal-transition-easing, visibility 0 $bitstyles-modal-transition-easing $bitstyles-modal-transition-duration;
  }
}

.#{$bitstyles-namespace}o-modal__content {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 20;
  width: calc(100% - 2 * #{$bitstyles-modal-padding});
  height: auto;
  max-height: calc(100vh - 2 * #{$bitstyles-modal-padding});
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  background-color: $bitstyles-modal-background-color;
  transform: translate(-50%, -50%);
  transform-origin: 50% 50%;
  transition: all $bitstyles-modal-transition-duration-smallscreen $bitstyles-modal-transition-easing;
  -webkit-backface-visibility: hidden; // stylelint-disable-line property-no-vendor-prefix
  backface-visibility: hidden;
  will-change: $bitstyles-modal-will-change;

  [aria-hidden="true"] & {
    @include modal-is-hidden;

    transform: translate(-50%, 50%);
    transition: all $bitstyles-modal-transition-duration-smallscreen $bitstyles-modal-transition-easing, visibility 0 $bitstyles-modal-transition-easing $bitstyles-modal-transition-duration;
  }
}

@include media-query($bitstyles-modal-breakpoint) {
  .#{$bitstyles-namespace}o-modal__content {
    transition: all $bitstyles-modal-transition-duration $bitstyles-modal-transition-easing, visibility 0 $bitstyles-modal-transition-easing;

    [aria-hidden="true"] & {
      transform: translate(-50%, -50%) scale(0.875);
      transition: all $bitstyles-modal-transition-duration $bitstyles-modal-transition-easing, visibility 0 $bitstyles-modal-transition-easing $bitstyles-modal-transition-duration;
    }
  }
}

@mixin modal-variation($state) {
  .#{$bitstyles-namespace}o-modal--animation-#{$state} {
    &[aria-hidden="true"] {
      .#{$bitstyles-namespace}o-modal__content {
        @content;
      }
    }
  }
}

@include modal-variation(cancel) {
  transform: translate(-50%, 50%);
}

@include modal-variation(ok) {
  opacity: 1;
  transform: translate(-50%, -200%);
}
