@forward 'settings';
@use './settings';
@use '../../tools/media-query';
@use '../../tools/classname';

@mixin modal-is-hidden {
  visibility: hidden;
  opacity: 0;
}

#{classname.get($classname-items: 'modal__overlay', $layer: 'organism')} {
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-backface-visibility: hidden; // stylelint-disable-line property-no-vendor-prefix
  backface-visibility: hidden;
  transition: all settings.$transition-duration settings.$transition-easing;
  background: settings.$overlay-color;
  cursor: pointer;
  will-change: settings.$will-change;

  [aria-hidden='true'] & {
    @include modal-is-hidden;

    transition: all settings.$transition-duration settings.$transition-easing,
      visibility 0 settings.$transition-easing settings.$transition-duration;
  }
}

#{classname.get($classname-items: 'modal__content', $layer: 'organism')} {
  position: fixed;
  z-index: 20;
  top: 50%;
  left: 50%;
  width: calc(100% - 2 * #{settings.$padding});
  height: auto;
  max-height: calc(100vh - 2 * #{settings.$padding});
  overflow: auto;
  transform: translate(-50%, -50%);
  transform-origin: 50% 50%;
  -webkit-backface-visibility: hidden; // stylelint-disable-line property-no-vendor-prefix
  backface-visibility: hidden;
  transition: all settings.$transition-duration-smallscreen
    settings.$transition-easing;
  background-color: settings.$background-color;
  -webkit-overflow-scrolling: touch;
  will-change: settings.$will-change;

  [aria-hidden='true'] & {
    @include modal-is-hidden;

    transform: translate(-50%, 50%);
    transition: all settings.$transition-duration-smallscreen
        settings.$transition-easing,
      visibility 0 settings.$transition-easing settings.$transition-duration;
  }
}

@include media-query.get(settings.$breakpoint) {
  #{classname.get($classname-items: 'modal__content', $layer: 'organism')} {
    transition: all settings.$transition-duration settings.$transition-easing,
      visibility 0 settings.$transition-easing;

    [aria-hidden='true'] & {
      transform: translate(-50%, -50%) scale(0.875);
      transition: all settings.$transition-duration settings.$transition-easing,
        visibility 0 settings.$transition-easing settings.$transition-duration;
    }
  }
}

@mixin modal-variation($state) {
  #{classname.get($classname-items: ('modal--animation', $state), $layer: 'organism')} {
    &[aria-hidden='true'] {
      #{classname.get($classname-items: 'modal__content', $layer: 'organism')} {
        @content;
      }
    }
  }
}

@include modal-variation(cancel) {
  transform: translate(-50%, 50%);
}

@include modal-variation(ok) {
  transform: translate(-50%, -200%);
  opacity: 1;
}
