@use '../../tools/palette';
@use '../../tools/size';

$padding: size.get('m') !default;
$background-color: palette.get('white') !default;
$overlay-color: rgb(palette.get('white') / 95%) !default;
$transition-easing: ease-in-out !default;
$transition-duration: 0.2s !default;
$transition-duration-smallscreen: 0.25s !default;
$transition-delay: 0.05s !default;
$will-change: opacity, transform, visibility !default;
$border-radius: 0 !default;
$breakpoint: 'm' !default;
