$bitstyles-modal-padding: spacing('m') !default;
$bitstyles-modal-background-color: palette('background') !default;
$bitstyles-modal-overlay-color: rgba(palette('white'), 0.85) !default;
$bitstyles-modal-transition-easing: ease-in-out !default;
$bitstyles-modal-transition-duration: 0.3s !default;
$bitstyles-modal-transition-duration-smallscreen: 0.25s !default;
$bitstyles-modal-transition-delay: 0.05s !default;
$bitstyles-modal-will-change: opacity, transform, visibility !default;
$bitstyles-modal-border-radius: 0 !default;
$bitstyles-modal-breakpoint: 'm' !default;
