@use "../../tools/palette";
@use "../../tools/size";

$modal-padding: size.get('m') !default;
$modal-background-color: palette.get('white') !default;
$modal-overlay-color: rgba(palette.get('white'), 0.95) !default;
$modal-transition-easing: ease-in-out !default;
$modal-transition-duration: 0.2s !default;
$modal-transition-duration-smallscreen: 0.25s !default;
$modal-transition-delay: 0.05s !default;
$modal-will-change: opacity, transform, visibility !default;
$modal-border-radius: 0 !default;
$modal-breakpoint: 'm' !default;
