// Absolute Center
//
// Vertically & horizontally centred element.
// Absolutely positioned, so centred relative to nearest relatively-positioned parent.
//
// Styleguide 2.1

@mixin absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
