// Media
//
// Nicole Sullivan’s OOCSS media object.
//
// Styleguide 2.18

@mixin media {
  display: block;
  overflow: hidden;
}

@mixin media__feature {
  float: left;
  margin-right: $bitstyles-spacing;
}
