@import './settings';

@each $size in $bitstyles-margin-sizes {
  .#{$bitstyles-namespace}u-margin-#{$size} {
    margin: spacing($size);
  }

  .u-margin-neg-#{$size} {
    margin: -#{spacing($size)};
  }

  .u-margin-#{$size}--y {
    margin-top: spacing($size);
    margin-bottom: spacing($size);
  }

  @each $position in ('left', 'top', 'right', 'bottom') {
    .#{$bitstyles-namespace}u-margin-#{$size}--#{$position} {
      margin-#{$position}: spacing($size);
    }
  }
}

@each $breakpoint in $bitstyles-margin-breakpoints {
  @include media-query($breakpoint) {
    @each $size in $bitstyles-margin-sizes {
      .#{$bitstyles-namespace}u-margin-#{$size}\@#{$breakpoint} {
        margin: spacing($size);
      }
    }

    @each $size in $bitstyles-margin-sizes {
      .u-margin-neg-#{$size}\@#{$breakpoint} {
        margin: -#{spacing($size)};
      }
    }

    @each $size in $bitstyles-margin-sizes {
      @each $position in ('left', 'top', 'right', 'bottom') {
        .#{$bitstyles-namespace}u-margin-#{$size}--#{$position}\@#{$breakpoint} {
          margin-#{$position}: spacing($size);
        }
      }
    }
  }
}
