@forward 'settings';
@use 'sass:map';
@use './settings';
@use '../../tools/properties';
@use '../../tools/media-query';

@include properties.output-directional(
  $property-name: 'margin',
  $classname-root: 'margin',
  $values: map.get(settings.$sizes, 'positive'),
  $directions: settings.$directions,
  $breakpoints: settings.$breakpoints
);
@include properties.output-directional(
  $property-name: 'margin',
  $classname-root: 'margin-neg',
  $values: map.get(settings.$sizes, 'negative'),
  $directions: settings.$directions,
  $breakpoints: settings.$breakpoints
);
