@use 'sass:map';
@use './settings';
@use '../../tools/directional-properties';
@use '../../tools/media-query';

@include directional-properties.output-directional-properties(
  $property-name: 'margin',
  $classname-root: 'margin',
  $values: map.get(settings.$sizes, 'positive'),
  $directions: settings.$directions
);
@include directional-properties.output-directional-properties(
  $property-name: 'margin',
  $classname-root: 'margin-neg',
  $values: map.get(settings.$sizes, 'negative'),
  $directions: settings.$directions
);

@each $breakpoint-alias in settings.$breakpoints {
  @include media-query.get($breakpoint-alias) {
    @include directional-properties.output-directional-properties(
      $property-name: 'margin',
      $classname-root: 'margin',
      $values: map.get(settings.$sizes, 'positive'),
      $directions: settings.$directions,
      $breakpoint-suffix: '\\\@#{$breakpoint-alias}'
    );
    @include directional-properties.output-directional-properties(
      $property-name: 'margin',
      $classname-root: 'margin-neg',
      $values: map.get(settings.$sizes, 'negative'),
      $directions: settings.$directions,
      $breakpoint-suffix: '\\\@#{$breakpoint-alias}'
    );
  }
}
