@use '../../tools/size';

$sizes: (
  'positive': (
    '0': 0,
    's6': size.get('s6'),
    's4': size.get('s4'),
    's': size.get('s2'),
    'm': size.get('m'),
    'l': size.get('l2'),
    'l3': size.get('l3'),
    'auto': auto,
  ),
  'negative': (
    's6': -#{size.get('s6')},
    's4': -#{size.get('s4')},
    's': -#{size.get('s2')},
    'm': -#{size.get('m')},
    'l': -#{size.get('l2')},
    'l3': -#{size.get('l3')},
  ),
) !default;
$breakpoints: ('s', 'm') !default;
$directions: (
  '': null,
  'top': (
    'top',
  ),
  'right': (
    'right',
  ),
  'bottom': (
    'bottom',
  ),
  'left': (
    'left',
  ),
  'x': (
    'right',
    'left',
  ),
  'y': (
    'top',
    'bottom',
  ),
) !default;
