@use '../../tools/size';

$sizes: (
  'positive': (
    '0': 0,
    's7': size.get('s7'),
    's6': size.get('s6'),
    's5': size.get('s5'),
    's4': size.get('s4'),
    's3': size.get('s3'),
    's2': size.get('s2'),
    's1': size.get('s1'),
    'm': size.get('m'),
    'l1': size.get('l1'),
    'l2': size.get('l2'),
    'l3': size.get('l3'),
    'l4': size.get('l4'),
    'l5': size.get('l5'),
    'l6': size.get('l6'),
    'l7': size.get('l7'),
    'auto': auto,
  ),
  'negative': (
    's7': calc(#{size.get('s7')} * -1),
    's6': calc(#{size.get('s6')} * -1),
    's5': calc(#{size.get('s5')} * -1),
    's4': calc(#{size.get('s4')} * -1),
    's3': calc(#{size.get('s3')} * -1),
    's2': calc(#{size.get('s2')} * -1),
    's1': calc(#{size.get('s1')} * -1),
    'm': calc(#{size.get('m')} * -1),
    'l1': calc(#{size.get('l1')} * -1),
    'l2': calc(#{size.get('l2')} * -1),
    'l3': calc(#{size.get('l3')} * -1),
    'l4': calc(#{size.get('l4')} * -1),
    'l5': calc(#{size.get('l5')} * -1),
    'l6': calc(#{size.get('l6')} * -1),
    'l7': calc(#{size.get('l7')} * -1),
  ),
) !default;
$breakpoints: ('s', 'm') !default;
$directions: (
  '': null,
  'top': (
    'top',
  ),
  'right': (
    'right',
  ),
  'bottom': (
    'bottom',
  ),
  'left': (
    'left',
  ),
  'x': (
    'right',
    'left',
  ),
  'y': (
    'top',
    'bottom',
  ),
) !default;
