@use "../../tools/spacing";

$margin-sizes: (
  'positive': (
    '0': 0,
    'xxs': spacing.spacing('xxs'),
    'xs': spacing.spacing('xs'),
    's': spacing.spacing('s'),
    'm': spacing.spacing('m'),
    'l': spacing.spacing('l'),
    'xl': spacing.spacing('xl'),
    'auto': auto
  ),
  'negative': (
    'xxs': -#{spacing.spacing('xxs')},
    'xs': -#{spacing.spacing('xs')},
    's': -#{spacing.spacing('s')},
    'm': -#{spacing.spacing('m')},
    'l': -#{spacing.spacing('l')},
    'xl': -#{spacing.spacing('xl')}
  )
) !default;
$margin-breakpoints: ('s', 'm') !default;
$margin-directions: (
  '': null,
  'top': ('top'),
  'right': ('right'),
  'bottom': ('bottom'),
  'left': ('left'),
  'x': ('right', 'left'),
  'y': ('top', 'bottom')
) !default;
