@use '../settings/link';

// Link
//
// Styling for all links.
//

@mixin link {
  --link-color: settings.$color;
  --link-background-color: settings.$background-color;

  padding: 0;
  transition: link.$transition;
  border: none;
  background-color: var(--link-background-color);
  box-shadow: link.$box-shadow;
  color: var(--link-color);
  font-weight: link.$font-weight;
  text-decoration: link.$text-decoration;
  cursor: pointer;
  text-decoration-skip-ink: auto;
  -webkit-appearance: none; // stylelint-disable-line property-no-vendor-prefix

  &:visited {
    --link-color: settings.$color-visited;
    --link-background-color: settings.$background-color-visited;

    box-shadow: link.$box-shadow-visited;
    text-decoration: link.$text-decoration-visited;
  }

  &:hover,
  &:focus {
    --link-color: settings.$color-hover;
    --link-background-color: settings.$background-color-hover;

    box-shadow: link.$box-shadow-hover;
    text-decoration: link.$text-decoration-hover;
  }

  &:active {
    --link-color: settings.$color-active;
    --link-background-color: settings.$background-color-active;

    box-shadow: link.$box-shadow-active;
    text-decoration: link.$text-decoration-active;
  }
}
