@use '../settings/link' as settings;

// Link
//
// Styling for all links.
//

@mixin link {
  --link-color: #{settings.$color};
  --link-background-color: #{settings.$background-color};

  padding: 0;
  transition: settings.$transition;
  border: none;
  background-color: var(--link-background-color);
  box-shadow: settings.$box-shadow;
  color: var(--link-color);
  font-weight: settings.$font-weight;
  text-decoration: settings.$text-decoration;
  cursor: pointer;
  text-decoration-skip-ink: auto;
  -webkit-appearance: none; // stylelint-disable-line property-no-vendor-prefix

  &:visited {
    --link-color: #{settings.$color-visited};
    --link-background-color: #{settings.$background-color-visited};

    box-shadow: settings.$box-shadow-visited;
    text-decoration: settings.$text-decoration-visited;
  }

  &:hover,
  &:focus {
    --link-color: #{settings.$color-hover};
    --link-background-color: #{settings.$background-color-hover};

    box-shadow: settings.$box-shadow-hover;
    text-decoration: settings.$text-decoration-hover;
  }

  &:active {
    --link-color: #{settings.$color-active};
    --link-background-color: #{settings.$background-color-active};

    box-shadow: settings.$box-shadow-active;
    text-decoration: settings.$text-decoration-active;
  }
}
