@import './settings';

.#{$bitstyles-namespace}a-button--icon-reversed {
  &,
  &:visited {
    color: var(--button-fg, $bitstyles-button-icon-reversed-color);
    background: var(--button-bg, $bitstyles-button-icon-reversed-background-color);
    border-color: $bitstyles-button-icon-reversed-border-color;
    box-shadow: $bitstyles-button-icon-reversed-box-shadow;
  }

  &:hover,
  &:focus {
    color: var(--button-fg-hover, $bitstyles-button-icon-reversed-color-hover);
    text-decoration: none;
    background: var(--button-bg-hover, $bitstyles-button-icon-reversed-background-color-hover);
    border-color: $bitstyles-button-icon-reversed-border-color-hover;
    outline: none;
    box-shadow: $bitstyles-button-icon-reversed-box-shadow-hover;
  }

  &:active {
    color: $bitstyles-button-icon-reversed-color-active;
    background: $bitstyles-button-icon-reversed-background-color-active;
    border-color: $bitstyles-button-icon-reversed-border-color-active;
    box-shadow: $bitstyles-button-icon-reversed-box-shadow-active;
  }

  &:disabled {
    color: $bitstyles-button-icon-reversed-color-disabled;
    cursor: default;
    background: $bitstyles-button-icon-reversed-background-color-disabled;
    border-color: $bitstyles-button-icon-reversed-border-color-disabled;
    box-shadow: $bitstyles-button-icon-reversed-box-shadow-disabled;
  }
}
