@forward 'settings';
@use './settings';
@use '../../tools/classname';
@use '../../tools/custom-property';

#{classname.get($classname-items: 'button--icon-reversed', $layer: 'atom')} {
  &,
  &:visited {
    border-color: settings.$border-color;
    background: var(
      #{custom-property.get(
          $items: (
            'button',
            'background-color',
          ),
          $layer: 'atom'
        )},
      settings.$background-color
    );
    box-shadow: settings.$box-shadow;
    color: var(
      #{custom-property.get(
          $items: (
            'button',
            'color',
          ),
          $layer: 'atom'
        )},
      settings.$color
    );
  }

  &:hover,
  &:focus {
    border-color: settings.$border-color-hover;
    background: var(
      #{custom-property.get(
          $items: (
            'button',
            'background-color',
            'hover',
          ),
          $layer: 'atom'
        )},
      settings.$background-color-hover
    );
    box-shadow: settings.$box-shadow-hover;
    color: var(
      #{custom-property.get(
          $items: (
            'button',
            'color',
            'hover',
          ),
          $layer: 'atom'
        )},
      settings.$color-hover
    );
  }

  &:active {
    border-color: settings.$border-color-active;
    background: settings.$background-color-active;
    box-shadow: settings.$box-shadow-active;
    color: settings.$color-active;
  }

  &:disabled,
  &[aria-disabled='true'] {
    border-color: settings.$border-color-disabled;
    background: settings.$background-color-disabled;
    box-shadow: settings.$box-shadow-disabled;
    color: settings.$color-disabled;
  }
}
