@forward 'settings';
@use './settings';
@use '../../tools/classname';

.#{classname.get($classname-items: 'button--icon-reversed', $layer: 'atom')} {
  &,
  &:visited {
    border-color: settings.$border-color;
    background: var(--button-bg, settings.$background-color);
    box-shadow: settings.$box-shadow;
    color: var(--button-fg, settings.$color);
  }

  &:hover,
  &:focus {
    border-color: settings.$border-color-hover;
    background: var(--button-bg-hover, settings.$background-color-hover);
    box-shadow: settings.$box-shadow-hover;
    color: var(--button-fg-hover, settings.$color-hover);
  }

  &:active {
    border-color: settings.$border-color-active;
    background: settings.$background-color-active;
    box-shadow: settings.$box-shadow-active;
    color: settings.$color-active;
  }

  &:disabled,
  &[aria-disabled='true'] {
    border-color: settings.$border-color-disabled;
    background: settings.$background-color-disabled;
    box-shadow: settings.$box-shadow-disabled;
    color: settings.$color-disabled;
  }
}
