@use './settings';
@use "../../settings/setup";

.#{setup.$namespace}a-button--icon-reversed {
  &,
  &:visited {
    color: var(--button-fg, settings.$button-icon-reversed-color);
    background: var(--button-bg, settings.$button-icon-reversed-background-color);
    border-color: settings.$button-icon-reversed-border-color;
    box-shadow: settings.$button-icon-reversed-box-shadow;
  }

  &:hover,
  &:focus {
    color: var(--button-fg-hover, settings.$button-icon-reversed-color-hover);
    background: var(--button-bg-hover, settings.$button-icon-reversed-background-color-hover);
    border-color: settings.$button-icon-reversed-border-color-hover;
    box-shadow: settings.$button-icon-reversed-box-shadow-hover;
  }

  &:active {
    color: settings.$button-icon-reversed-color-active;
    background: settings.$button-icon-reversed-background-color-active;
    border-color: settings.$button-icon-reversed-border-color-active;
    box-shadow: settings.$button-icon-reversed-box-shadow-active;
  }

  &:disabled,
  &[aria-disabled="true"] {
    color: settings.$button-icon-reversed-color-disabled;
    background: settings.$button-icon-reversed-background-color-disabled;
    border-color: settings.$button-icon-reversed-border-color-disabled;
    box-shadow: settings.$button-icon-reversed-box-shadow-disabled;
  }
}
