//
// Base styles ////////////////////////////////////////

$bitstyles-button-icon-reversed-padding-vertical: spacing('m') !default;
$bitstyles-button-icon-reversed-padding-horizontal: spacing('m') !default;

//
// Base colors ////////////////////////////////////////

$bitstyles-button-icon-reversed-color: palette('gray', '20') !default;
$bitstyles-button-icon-reversed-background-color: transparent !default;
$bitstyles-button-icon-reversed-border: none !default;
$bitstyles-button-icon-reversed-border-radius: spacing('s') !default;
$bitstyles-button-icon-reversed-box-shadow: none !default;

//
// Hover colors ////////////////////////////////////////

$bitstyles-button-icon-reversed-color-hover: palette('white') !default;
$bitstyles-button-icon-reversed-background-color-hover: palette('gray', '80') !default;
$bitstyles-button-icon-reversed-border-hover: none !default;
$bitstyles-button-icon-reversed-box-shadow-hover: none !default;

//
// Active colors ////////////////////////////////////////

$bitstyles-button-icon-reversed-color-active: palette('white') !default;
$bitstyles-button-icon-reversed-background-color-active: palette('gray', '80') !default;
$bitstyles-button-icon-reversed-border-active: none !default;
$bitstyles-button-icon-reversed-box-shadow-active: none !default;

//
// Disabled colors ////////////////////////////////////////

$bitstyles-button-icon-reversed-color-disabled: palette('black', '50') !default;
$bitstyles-button-icon-reversed-background-color-disabled: transparent !default;
$bitstyles-button-icon-reversed-border-disabled: none !default;
$bitstyles-button-icon-reversed-box-shadow-disabled: none !default;
