@use "../../tools/palette";
@use "../../tools/spacing";

//
// Base styles ////////////////////////////////////////

$button-icon-reversed-padding-vertical: spacing.spacing('m') !default;
$button-icon-reversed-padding-horizontal: spacing.spacing('m') !default;

//
// Base colors ////////////////////////////////////////

$button-icon-reversed-color: palette.get('gray', '20') !default;
$button-icon-reversed-background-color: transparent !default;
$button-icon-reversed-border-color: transparent !default;
$button-icon-reversed-border-radius: spacing.spacing('s') !default;
$button-icon-reversed-box-shadow: none !default;

//
// Hover colors ////////////////////////////////////////

$button-icon-reversed-color-hover: palette.get('white') !default;
$button-icon-reversed-background-color-hover: palette.get('gray', '80') !default;
$button-icon-reversed-border-color-hover: palette.get('gray', '80') !default;
$button-icon-reversed-box-shadow-hover: none !default;

//
// Active colors ////////////////////////////////////////

$button-icon-reversed-color-active: palette.get('white') !default;
$button-icon-reversed-background-color-active: palette.get('gray', '80') !default;
$button-icon-reversed-border-color-active: palette.get('gray', '80') !default;
$button-icon-reversed-box-shadow-active: none !default;

//
// Disabled colors ////////////////////////////////////////

$button-icon-reversed-color-disabled: palette.get('black', '50') !default;
$button-icon-reversed-background-color-disabled: transparent !default;
$button-icon-reversed-border-color-disabled: transparent !default;
$button-icon-reversed-box-shadow-disabled: none !default;
