.#{$bitstyles-namespace}u-font--light {
  font-weight: $bitstyles-font-weight-light;
}

.#{$bitstyles-namespace}u-font--normal {
  font-weight: $bitstyles-font-weight-normal;
}

.#{$bitstyles-namespace}u-font--medium {
  font-weight: $bitstyles-font-weight-medium;
}

.#{$bitstyles-namespace}u-font--bold {
  font-weight: $bitstyles-font-weight-bold;
}

.#{$bitstyles-namespace}u-font--italic {
  font-style: italic;
}

.#{$bitstyles-namespace}u-font--not-italic {
  font-style: normal;
}
