@use './settings';
@use '../../tools/directional-properties';
@use '../../tools/media-query';

@include directional-properties.output-properties(
  $property-name: 'font-weight',
  $classname-root: 'font',
  $values: settings.$weight-values
);

@each $breakpoint in settings.$weight-breakpoints {
  @include media-query.media-query($breakpoint) {
    @include directional-properties.output-properties(
      $property-name: 'font-weight',
      $classname-root: 'font',
      $values: settings.$weight-values
    );
  }
}

@include directional-properties.output-properties(
  $property-name: 'font-style',
  $classname-root: 'font',
  $values: settings.$style-values
);

@each $breakpoint in settings.$style-breakpoints {
  @include media-query.media-query($breakpoint) {
    @include directional-properties.output-properties(
      $property-name: 'font-style',
      $classname-root: 'font',
      $values: settings.$style-values
    );
  }
}

@include directional-properties.output-properties(
  $property-name: 'font-family',
  $classname-root: 'font',
  $values: settings.$family-values
);

@each $breakpoint in settings.$family-breakpoints {
  @include media-query.media-query($breakpoint) {
    @include directional-properties.output-properties(
      $property-name: 'font-family',
      $classname-root: 'font',
      $values: settings.$family-values
    );
  }
}
