@forward 'settings';
@use './settings';
@use '../../tools/properties';
@use '../../tools/media-query';

@include properties.output(
  $property-name: 'font-weight',
  $classname-root: 'font',
  $values: settings.$weight-values,
  $breakpoints: settings.$weight-breakpoints
);

@include properties.output(
  $property-name: 'font-style',
  $classname-root: 'font',
  $values: settings.$style-values,
  $breakpoints: settings.$style-breakpoints
);

@include properties.output(
  $property-name: 'font-family',
  $classname-root: 'font',
  $values: settings.$family-values,
  $breakpoints: settings.$family-breakpoints
);
