@use '../../design-tokens/typography';
@use '../../tools/design-token';

$weight-values: (
  'light': var(design-token.get('font-weight', 'light')),
  'normal': var(design-token.get('font-weight', 'normal')),
  'medium': var(design-token.get('font-weight', 'medium')),
  'bold': var(design-token.get('font-weight', 'bold')),
) !default;
$weight-breakpoints: () !default;
$style-values: (
  'italic': italic,
  'not-italic': normal,
) !default;
$style-breakpoints: () !default;
$family-values: (
  'header': typography.$font-family-header,
  'body': typography.$font-family-body,
) !default;
$family-breakpoints: () !default;
