@import './settings';

.a-button--nav {
  padding: $bitstyles-button-nav-padding-vertical $bitstyles-button-nav-padding-horizontal;
  border-radius: $bitstyles-button-nav-border-radius;

  &,
  &:visited {
    color: $bitstyles-button-nav-color;
    background: $bitstyles-button-nav-background-color;
    border-color: $bitstyles-button-nav-border-color;
    box-shadow: $bitstyles-button-nav-box-shadow;
  }

  &:hover,
  &:focus {
    color: $bitstyles-button-nav-color-hover;
    background: $bitstyles-button-nav-background-color-hover;
    border-color: $bitstyles-button-nav-border-color-hover;
    box-shadow: $bitstyles-button-nav-box-shadow-hover;
  }

  &:active {
    color: $bitstyles-button-nav-color-active;
    background: $bitstyles-button-nav-background-color-active;
    border-color: $bitstyles-button-nav-border-color-active;
    box-shadow: $bitstyles-button-nav-box-shadow-active;
  }

  &[aria-current],
  &[aria-expanded="true"] {
    color: $bitstyles-button-nav-color-current;
    background: $bitstyles-button-nav-background-color-current;
    border-color: $bitstyles-button-nav-border-color-current;
    box-shadow: $bitstyles-button-nav-box-shadow-current;
  }

  &:disabled,
  &[aria-disabled="true"] {
    color: $bitstyles-button-nav-color-disabled;
    background: $bitstyles-button-nav-background-color-disabled;
    border-color: $bitstyles-button-nav-border-color-disabled;
    box-shadow: $bitstyles-button-nav-box-shadow-disabled;
  }
}

.a-button-nav__icon {
  margin-right: $bitstyles-button-nav-padding-horizontal;
  margin-left: -#{$bitstyles-button-nav-padding-horizontal / 4};
}
