@use '../../settings/animation';
@use '../../tools/palette';
@use '../../tools/shadow';
@use '../../tools/size';

//
// Base styles ////////////////////////////////////////

$padding-vertical: size.get('xs') !default;
$padding-horizontal: size.get('m') !default;
$border-radius: size.get('xs') !default;
$transition: color animation.$transition-duration animation.$transition-easing,
  background-color animation.$transition-duration animation.$transition-easing,
  border animation.$transition-duration animation.$transition-easing,
  box-shadow animation.$transition-duration animation.$transition-easing !default;

//
// Base colors ////////////////////////////////////////

$color: palette.get('accent-gray', 'light') !default;
$background-color: transparent !default;
$border-color: transparent !default;
$box-shadow: none !default;

//
// Hover colors ////////////////////////////////////////

$color-hover: palette.get('grayscale', 'white') !default;
$background-color-hover: palette.get('accent-gray', 'dark') !default;
$border-color-hover: palette.get('accent-gray', 'dark') !default;
$box-shadow-hover: shadow.to-box-shadow(
  shadow.generate(
    $color: rgba(palette.get('text', 'dark'), 0.15),
    $blur-radius: size.get('l'),
  )
) !default;

//
// Active colors ////////////////////////////////////////

$color-active: palette.get('text') !default;
$background-color-active: palette.get('accent-gray', 'light') !default;
$border-color-active: palette.get('accent-gray', 'light') !default;
$box-shadow-active: shadow.to-box-shadow(
  shadow.generate(
    $color: rgba(palette.get('text', 'dark'), 0.15),
    $blur-radius: size.get('xs'),
  )
) !default;

//
// Disabled colors ////////////////////////////////////////

$color-disabled: palette.get('text', 'light') !default;
$background-color-disabled: transparent !default;
$border-color-disabled: transparent !default;
$box-shadow-disabled: none !default;

//
// Current colors ////////////////////////////////////////

$color-current: palette.get('grayscale', 'white') !default;
$background-color-current: palette.get('text', 'dark') !default;
$border-color-current: palette.get('text', 'dark') !default;
$box-shadow-current: none !default;
