@use "../../settings/animation";
@use "../../tools/palette";
@use "../../tools/spacing";

//
// Base styles ////////////////////////////////////////

$button-nav-padding-vertical: spacing.spacing('xs') !default;
$button-nav-padding-horizontal: spacing.spacing('m') !default;
$button-nav-border-radius: spacing.spacing('xs') !default;
$button-nav-transition:
  color animation.$transition-duration animation.$transition-easing,
  background-color animation.$transition-duration animation.$transition-easing,
  border animation.$transition-duration animation.$transition-easing,
  box-shadow animation.$transition-duration animation.$transition-easing !default;

//
// Base colors ////////////////////////////////////////

$button-nav-color: palette.get('gray', '20') !default;
$button-nav-background-color: transparent !default;
$button-nav-border-color: transparent !default;
$button-nav-box-shadow: none !default;

//
// Hover colors ////////////////////////////////////////

$button-nav-color-hover: palette.get('white') !default;
$button-nav-background-color-hover: palette.get('gray', '60') !default;
$button-nav-border-color-hover: palette.get('gray', '60') !default;
$button-nav-box-shadow-hover: 0 0 spacing.spacing('l') rgba(palette.get('black', '100'), 0.3) !default;

//
// Active colors ////////////////////////////////////////

$button-nav-color-active: palette.get('text') !default;
$button-nav-background-color-active: palette.get('gray', '10') !default;
$button-nav-border-color-active: palette.get('gray', '10') !default;
$button-nav-box-shadow-active: 0 0 spacing.spacing('xs') rgba(palette.get('black', '100'), 0.3) !default;

//
// Disabled colors ////////////////////////////////////////

$button-nav-color-disabled: palette.get('black', '50') !default;
$button-nav-background-color-disabled: transparent !default;
$button-nav-border-color-disabled: transparent !default;
$button-nav-box-shadow-disabled: none !default;

//
// Current colors ////////////////////////////////////////

$button-nav-color-current: palette.get('white', '100') !default;
$button-nav-background-color-current: palette.get('black', '100') !default;
$button-nav-border-color-current: palette.get('gray', '80') !default;
$button-nav-box-shadow-current: none !default;
