@use "../../settings/animation";
@use "../../tools/palette";
@use "../../tools/size";

//
// Base styles ////////////////////////////////////////

$padding-vertical: size.get('xs') !default;
$padding-horizontal: size.get('m') !default;
$border-radius: size.get('xs') !default;
$transition:
  color animation.$transition-duration animation.$transition-easing,
  background-color animation.$transition-duration animation.$transition-easing,
  border animation.$transition-duration animation.$transition-easing,
  box-shadow animation.$transition-duration animation.$transition-easing !default;

//
// Base colors ////////////////////////////////////////

$color: palette.get('gray', '20') !default;
$background-color: transparent !default;
$border-color: transparent !default;
$box-shadow: none !default;

//
// Hover colors ////////////////////////////////////////

$color-hover: palette.get('white') !default;
$background-color-hover: palette.get('gray', '60') !default;
$border-color-hover: palette.get('gray', '60') !default;
$box-shadow-hover: 0 0 size.get('l') rgba(palette.get('black', '100'), 0.3) !default;

//
// Active colors ////////////////////////////////////////

$color-active: palette.get('text') !default;
$background-color-active: palette.get('gray', '10') !default;
$border-color-active: palette.get('gray', '10') !default;
$box-shadow-active: 0 0 size.get('xs') rgba(palette.get('black', '100'), 0.3) !default;

//
// Disabled colors ////////////////////////////////////////

$color-disabled: palette.get('black', '50') !default;
$background-color-disabled: transparent !default;
$border-color-disabled: transparent !default;
$box-shadow-disabled: none !default;

//
// Current colors ////////////////////////////////////////

$color-current: palette.get('white', '100') !default;
$background-color-current: palette.get('black', '100') !default;
$border-color-current: palette.get('gray', '80') !default;
$box-shadow-current: none !default;
