//
// Base styles ////////////////////////////////////////

$bitstyles-button-nav-padding-vertical: spacing('xs') !default;
$bitstyles-button-nav-padding-horizontal: spacing('m') !default;
$bitstyles-button-nav-border-radius: spacing('s') !default;
$bitstyles-button-nav-transition:
  color $bitstyles-transition-duration $bitstyles-transition-easing,
  background-color $bitstyles-transition-duration $bitstyles-transition-easing,
  border $bitstyles-transition-duration $bitstyles-transition-easing,
  box-shadow $bitstyles-transition-duration $bitstyles-transition-easing !default;

//
// Base colors ////////////////////////////////////////

$bitstyles-button-nav-color: palette('gray', '20') !default;
$bitstyles-button-nav-background-color: transparent !default;
$bitstyles-button-nav-border-color: transparent !default;
$bitstyles-button-nav-box-shadow: none !default;

//
// Hover colors ////////////////////////////////////////

$bitstyles-button-nav-color-hover: palette('white') !default;
$bitstyles-button-nav-background-color-hover: palette('gray', '60') !default;
$bitstyles-button-nav-border-color-hover: palette('gray', '60') !default;
$bitstyles-button-nav-box-shadow-hover: 0 0 spacing('l') rgba(palette('black', '100'), 0.3) !default;

//
// Active colors ////////////////////////////////////////

$bitstyles-button-nav-color-active: palette('text') !default;
$bitstyles-button-nav-background-color-active: palette('gray', '10') !default;
$bitstyles-button-nav-border-color-active: palette('gray', '10') !default;
$bitstyles-button-nav-box-shadow-active: 0 0 spacing('xs') rgba(palette('black', '100'), 0.3) !default;

//
// Disabled colors ////////////////////////////////////////

$bitstyles-button-nav-color-disabled: palette('black', '50') !default;
$bitstyles-button-nav-background-color-disabled: palette('black', '10') !default;
$bitstyles-button-nav-border-color-disabled: palette('black', '10') !default;
$bitstyles-button-nav-box-shadow-disabled: none !default;

//
// Current colors ////////////////////////////////////////

$bitstyles-button-nav-color-current: palette('white', '100') !default;
$bitstyles-button-nav-background-color-current: palette('black', '100') !default;
$bitstyles-button-nav-border-color-current: palette('gray', '80') !default;
$bitstyles-button-nav-box-shadow-current: none !default;
