@import './settings';

.#{$bitstyles-namespace}o-sidebar--large {
  width: $bitstyles-sidebar-large-width;
}

.#{$bitstyles-namespace}o-sidebar--small {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: $bitstyles-sidebar-small-width;
  box-shadow: $bitstyles-sidebar-small-box-shadow;

  &.is-transitioning {
    transition: $bitstyles-sidebar-transition;
    will-change: $bitstyles-sidebar-will-change;
  }

  @each $state-alias, $state-properties in $bitstyles-sidebar-states {
    &.is-#{$state-alias} {
      /* stylelint-disable max-nesting-depth */
      @each $state-property, $state-value in $state-properties {
        #{$state-property}: $state-value;
      }
      /* stylelint-enable max-nesting-depth */
    }
  }
}
