@use '../../tools/palette';
@use '../../tools/size';

$large-width: 15rem !default;
$small-width: 80vw !default;
$small-location: left !default;
$small-box-shadow: size.get('m') 0 size.get('l')
    rgba(palette.get('brand-1', 'base'), 10%),
  size.get('l') 0 size.get('m') rgba(palette.get('grayscale', 'light-1'), 7%),
  0 0 size.get('xl') rgba(palette.get('grayscale', 'light-1'), 10%) !default;
$will-change: transform !default;
$transition: transform 0.12s ease-in !default;
$states: (
  'off-screen': (
    'transform': translateX(-100%),
  ),
  'on-screen': (
    'transform': none,
  ),
) !default;
