@use '../../tools/palette';
@use '../../tools/size';

$large-width: 15rem !default;
$small-width: 80vw !default;
$small-location: left !default;
$small-box-shadow: size.get('s1') 0 size.get('m')
    rgba(palette.get('brand-1', 'base-rgb'), 10%),
  size.get('m') 0 size.get('s1')
    rgba(palette.get('grayscale', 'light-1-rgb'), 7%),
  0 0 size.get('l1') rgba(palette.get('grayscale', 'light-1-rgb'), 10%) !default;
$will-change: transform !default;
$transition: transform 0.12s ease-in !default;
$states: (
  'off-screen': (
    'transform': translateX(-100%),
  ),
  'on-screen': (
    'transform': none,
  ),
) !default;
