@use './settings';
@use "../../settings/setup";
@use "../../tools/media-query";

.#{setup.$namespace}o-sidebar--large {
  width: settings.$sidebar-large-width;
}

.#{setup.$namespace}o-sidebar--small {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: settings.$sidebar-small-width;
  box-shadow: settings.$sidebar-small-box-shadow;

  @include media-query.media-query('motion-ok') {
    &.is-transitioning {
      transition: settings.$sidebar-transition;
      will-change: settings.$sidebar-will-change;
    }
  }

  @each $state-alias, $state-properties in settings.$sidebar-states {
    &.is-#{$state-alias} {
      /* stylelint-disable max-nesting-depth */
      @each $state-property, $state-value in $state-properties {
        #{$state-property}: $state-value;
      }
      /* stylelint-enable max-nesting-depth */
    }
  }
}
