@use "../../tools/palette";
@use "../../tools/spacing";

$sidebar-large-width: 15rem !default;
$sidebar-small-width: 80vw !default;
$sidebar-small-box-shadow:
  spacing.spacing('m') 0 spacing.spacing('l') rgba(palette.get('brand-1', '100'), 0.1),
  spacing.spacing('l') 0 spacing.spacing('m') rgba(palette.get('gray', '90'), 0.07),
  0 0 spacing.spacing('xl') rgba(palette.get('gray', '90'), 0.1) !default;
$sidebar-will-change: transform !default;
$sidebar-transition: transform 0.12s ease-in !default;
$sidebar-states: (
  "off-screen": (
    "transform": translateX(-100%)
  ),
  "on-screen": (
    "transform": none
  )
) !default;
