/* stylelint-disable selector-no-type */
html {
  font-family: $bitstyles-font-family-body;
  font-size: px-to-em($bitstyles-font-size-base-small);
  line-height: 1.5;
  color: palette('text');
  background: palette('background');

  &.fonts-loaded {
    font-family: $bitstyles-font-family-body-loaded;
  }
}

// Headers
//
// Semantic headers, `<h1>` being the most important in a section or page, `<h6>` being the least.
//
// markup:
// <h1>Header 1</h1>
// <h2>Header 2</h2>
// <h3>Header 3</h3>
// <h4>Header 4</h4>
// <h5>Header 5</h5>
// <h6>Header 6</h6>
//
// Styleguide 2.8

h1,
h2,
h3,
h4,
h5,
h6 {
  @include generic-heading;
}

h1 {
  @include font-size($bitstyles-font-size-h1-small);
}

h2 {
  @include font-size($bitstyles-font-size-h2-small);
}

h3 {
  @include font-size($bitstyles-font-size-h3-small);
}

h4 {
  @include font-size($bitstyles-font-size-h4-small);
}

h5 {
  @include font-size($bitstyles-font-size-h5-small);
}

h6 {
  @include font-size($bitstyles-font-size-h6-small);
}

@include media-query($bitstyles-typography-breakpoint) {
  html {
    font-size: px-to-em($bitstyles-font-size-base, $bitstyles-font-size-base);
  }

  h1 {
    @include font-size($bitstyles-font-size-h1, $bitstyles-font-size-base);
  }

  h2 {
    @include font-size($bitstyles-font-size-h2, $bitstyles-font-size-base);
  }

  h3 {
    @include font-size($bitstyles-font-size-h3, $bitstyles-font-size-base);
  }

  h4 {
    @include font-size($bitstyles-font-size-h4, $bitstyles-font-size-base);
  }

  h5 {
    @include font-size($bitstyles-font-size-h5, $bitstyles-font-size-base);
  }

  h6 {
    @include font-size($bitstyles-font-size-h6, $bitstyles-font-size-base);
  }
}

// Paragraphs
//
// A paragraph of text.
//
// markup:
// <p>Jelly cake marshmallow. Pie cotton candy chupa chups marzipan liquorice cheesecake wafer. Gummies cheesecake oat cake sugar plum icing cupcake tiramisu bonbon. Cotton candy chupa chups tootsie roll chupa chups cotton candy liquorice jelly gingerbread. Pastry gummi bears liquorice tart cotton candy marshmallow. Ice cream cotton candy chocolate cake cookie. Bonbon candy jelly-o sugar plum cotton candy carrot cake icing ice cream. Sweet chocolate marzipan. Candy canes danish cake carrot cake bonbon. Gummi bears sesame snaps tart bear claw pie chocolate bar. Ice cream candy canes sugar plum cookie. Macaroon biscuit biscuit carrot cake liquorice. Muffin pudding gingerbread powder jelly-o chocolate bar powder jelly beans toffee.</p>
//
// Styleguide 2.9

p {
  margin: 0 0 spacing('base');
}

// Address
//
// Address element. Often used to indicate authorship and contact information.
//
// markup:
// <address>Pie cotton candy chupa chups marzipan liquorice cheesecake wafer.</address
//
// Styleguide 2.10

address {
  font-style: normal;
}

// Definition list
//
// Used to define terms.
//
// markup:
// <dl>
//   <dt>Gummies cheesecake oat cake sugar plum icing cupcake tiramisu bonbon.</dt>
//   <dd>Gummies cheesecake oat cake sugar plum icing cupcake tiramisu bonbon.</dd>
// </dl>
//
// Styleguide 2.11

dt {
  font-weight: $bitstyles-font-weight-bold;
}

// List - Unordered
//
// An unordered list.
//
// markup:
// <ul>
//   <li>Pie cotton candy chupa chups.</li>
//   <li>Liquorice cheesecake wafer.</li>
//   <li>Gummies cheesecake oat cake sugar.</li>
// </ul>
//
// Styleguide 2.12

// List - Ordered
//
// An unordered list.
//
// markup:
// <ol>
//   <li>Pie cotton candy chupa chups.</li>
//   <li>Liquorice cheesecake wafer.</li>
//   <li>Gummies cheesecake oat cake sugar.</li>
// </ol>
//
// Styleguide 2.13

// Blockquote
//
// Quoted text.
//
// markup:
// <blockquote>Jelly cake marshmallow. Pie cotton candy chupa chups marzipan liquorice cheesecake wafer. Gummies cheesecake oat cake sugar plum icing cupcake tiramisu bonbon. Cotton candy chupa chups tootsie roll chupa chups cotton candy liquorice jelly</blockquote>
//
// Styleguide 2.14

// Typographic styles
//
// Inline elements that have a default typographic representation in a browser.
//
// Styleguide 2.15

// strong
//
// markup:
// <strong>Jelly cake marshmallow. Pie cotton candy chupa chups marzipan liquorice cheesecake wafer. Gummies cheesecake oat cake sugar plum icing cupcake tiramisu bonbon. Cotton candy chupa chups tootsie roll chupa chups cotton candy liquorice jelly</strong>
//
// Styleguide 2.15.1

// em
//
// markup:
// <em>Jelly cake marshmallow. Pie cotton candy chupa chups marzipan liquorice cheesecake wafer.</em>
//
// Styleguide 2.15.2

// pre
//
// markup:
// <pre>Jelly cake marshmallow. Pie cotton candy chupa chups marzipan liquorice cheesecake wafer.</pre>
//
// Styleguide 2.15.3

// code
//
// markup:
// <code>Jelly cake marshmallow. Pie cotton candy chupa chups marzipan liquorice cheesecake wafer.</code>
//
// Styleguide 2.15.4

// kbd
//
// markup:
// <kbd>Jelly cake marshmallow. Pie cotton candy chupa chups marzipan liquorice cheesecake wafer.</kbd>
//
// Styleguide 2.15.5

// samp
//
// markup:
// <samp>Jelly cake marshmallow. Pie cotton candy chupa chups marzipan liquorice cheesecake wafer.</samp>
//
// Styleguide 2.15.6

// var
//
// markup:
// <var>Jelly cake marshmallow. Pie cotton candy chupa chups marzipan liquorice cheesecake wafer.</var>
//
// Styleguide 2.15.7

// cite
//
// markup:
// <cite>Jelly cake marshmallow. Pie cotton candy chupa chups marzipan liquorice cheesecake wafer.</cite>
//
// Styleguide 2.15.8

// del
//
// markup:
// <del>Jelly cake marshmallow. Pie cotton candy chupa chups marzipan liquorice cheesecake wafer.</del>
//
// Styleguide 2.15.9

// abbr
//
// markup:
// <abbr>Jelly cake marshmallow. Pie cotton candy chupa chups marzipan liquorice cheesecake wafer.</abbr>
//
// Styleguide 2.15.10

// i
//
// markup:
// <i>Jelly cake marshmallow. Pie cotton candy chupa chups marzipan liquorice cheesecake wafer.</i>
//
// Styleguide 2.15.11

// b
//
// markup:
// <b>Jelly cake marshmallow. Pie cotton candy chupa chups marzipan liquorice cheesecake wafer.</b>
//
// Styleguide 2.15.12

// ins
//
// markup:
// <ins>Jelly cake marshmallow. Pie cotton candy chupa chups marzipan liquorice cheesecake wafer.</ins>
//
// Styleguide 2.15.13

// dfn
//
// markup:
// <dfn>Jelly cake marshmallow. Pie cotton candy chupa chups marzipan liquorice cheesecake wafer.</dfn>
//
// Styleguide 2.15.14

// small
//
// markup:
// <small>Jelly cake marshmallow. Pie cotton candy chupa chups marzipan liquorice cheesecake wafer.</small>
//
// Styleguide 2.15.15

// sub
//
// markup:
// <sub>Jelly cake marshmallow. Pie cotton candy chupa chups marzipan liquorice cheesecake wafer.</sub>
//
// Styleguide 2.15.16

// sup
//
// markup:
// <sup>Jelly cake marshmallow. Pie cotton candy chupa chups marzipan liquorice cheesecake wafer.</sup>
//
// Styleguide 2.15.17

// big
//
// markup:
// <big>Jelly cake marshmallow. Pie cotton candy chupa chups marzipan liquorice cheesecake wafer.</big>
//
// Styleguide 2.15.18

// s
//
// markup:
// <s>Jelly cake marshmallow. Pie cotton candy chupa chups marzipan liquorice cheesecake wafer.</s>
//
// Styleguide 2.15.19

// strike
//
// markup:
// <strike>Jelly cake marshmallow. Pie cotton candy chupa chups marzipan liquorice cheesecake wafer.</strike>
//
// Styleguide 2.15.20

// q
//
// markup:
// <q>Jelly cake marshmallow. Pie cotton candy chupa chups marzipan liquorice cheesecake wafer.</q>
//
// Styleguide 2.15.21

// time
//
// markup:
// <time>20:57</time>
//
// Styleguide 2.15.22

// Table
//
// markup:
// <table>
//   <caption>Awesome caption</caption>
//   <thead>
//     <tr>
//       <th>Header content 1</th>
//       <th>Header content 2</th>
//     </tr>
//   </thead>
//   <tfoot>
//     <tr>
//       <td>Footer content 1</td>
//       <td>Footer content 2</td>
//     </tr>
//   </tfoot>
//   <tbody>
//     <tr>
//       <td>Body content 1</td>
//       <td>Body content 2</td>
//     </tr>
//   </tbody>
// </table>
//
// Styleguide 2.16

/* stylelint-enable selector-no-type */
