@import './settings';

.a-badge {
  display: inline-flex;
  align-items: center;
  padding: $bitstyles-badge-padding-vertical $bitstyles-badge-padding-horizontal;
  white-space: nowrap;
  border-radius: $bitstyles-border-radius-round;
}

@each $variant in ($bitstyles-badge-variants) {
  .a-badge--#{$variant} {
    --button-fg: #{palette($variant, $bitstyles-badge-color)};
    --button-bg: #{palette($variant, $bitstyles-badge-background-color)};
    --button-fg-hover: #{palette($variant, $bitstyles-badge-background-color)};
    --button-bg-hover: #{palette($variant, $bitstyles-badge-color)};

    color: palette($variant, $bitstyles-badge-color);
    background-color: palette($variant, $bitstyles-badge-background-color);
  }
}

.a-badge__button {
  margin-right: -#{spacing('s')};
  margin-left: spacing('xs');
}
