@forward './settings';
@use './settings';
@use '../../settings/layout';
@use '../../tools/classname';
@use '../../tools/custom-property';
@use '../../tools/palette';
@use '../../tools/size';

#{classname.get($classname-items: 'badge', $layer: 'atom')} {
  display: inline-flex;
  align-items: center;
  padding: settings.$padding-vertical settings.$padding-horizontal;
  border-radius: layout.$border-radius-round;
  white-space: nowrap;

  #{classname.get($classname-items: 'badge__button', $layer: 'atom')} {
    margin-right: -#{size.get('s')};
    margin-left: size.get('xs');
  }
}

@each $variant in (settings.$variants) {
  #{classname.get($classname-items: 'badge--#{$variant}', $layer: 'atom')} {
    #{custom-property.get($items: ('button', 'fg'), $layer: 'atom')}: #{palette.get(
        $variant,
        settings.$color
      )};
    #{custom-property.get($items: ('button', 'bg'), $layer: 'atom')}: #{palette.get(
        $variant,
        settings.$background-color
      )};
    #{custom-property.get($items: ('button', 'fg', 'hover'), $layer: 'atom')}: #{palette.get(
        $variant,
        settings.$background-color
      )};
    #{custom-property.get($items: ('button', 'bg', 'hover'), $layer: 'atom')}: #{palette.get(
        $variant,
        settings.$color
      )};
    background-color: palette.get($variant, settings.$background-color);
    color: palette.get($variant, settings.$color);
  }
}
