@use './settings';
@use '../../settings/layout';
@use '../../settings/setup';
@use '../../tools/palette';
@use '../../tools/size';

.#{setup.$namespace}a-badge {
  display: inline-flex;
  align-items: center;
  padding: settings.$padding-vertical settings.$padding-horizontal;
  white-space: nowrap;
  border-radius: layout.$border-radius-round;
}

@each $variant in (settings.$variants) {
  .#{setup.$namespace}a-badge--#{$variant} {
    --button-fg: #{palette.get($variant, settings.$color)};
    --button-bg: #{palette.get($variant, settings.$background-color)};
    --button-fg-hover: #{palette.get($variant, settings.$background-color)};
    --button-bg-hover: #{palette.get($variant, settings.$color)};

    color: palette.get($variant, settings.$color);
    background-color: palette.get($variant, settings.$background-color);
  }
}

.#{setup.$namespace}a-badge__button {
  margin-right: -#{size.get('s')};
  margin-left: size.get('xs');
}
