@use '../../tools/size';

$padding-vertical: size.get('xxs') !default;
$padding-horizontal: size.get('m') !default;
$color: 'dark' !default;
$background-color: 'lighter' !default;
$variants: ('brand-gray', 'danger', 'brand-1', 'brand-2', 'positive') !default;
