$bitstyles-badge-padding-vertical: spacing('xxs') !default;
$bitstyles-badge-padding-horizontal: spacing('m') !default;
$bitstyles-badge-color: '80' !default;
$bitstyles-badge-background-color: '10' !default;
$bitstyles-badge-variants: ('gray', 'danger', 'brand-1', 'brand-2', 'positive') !default;
