@import 'settings';

@each $position in ('left', 'right', 'center', 'justify') {
  .#{$bitstyles-namespace}u-text--#{$position} {
    text-align: #{$position};
  }
}

@include generate-font-sizes(
  $selector-prefix: '.#{$bitstyles-namespace}u-text-',
  $indices: $bitstyles-text-font-sizes
);
