@use './settings';
@use '../../tools/directional-properties';
@use '../../tools/media-query';

@include directional-properties.output-properties(
  $property-name: 'text-align',
  $classname-root: 'text',
  $values: settings.$values
);

@each $breakpoint-alias in settings.$breakpoints {
  @include media-query.get($breakpoint-alias) {
    @include directional-properties.output-properties(
      $property-name: 'text-align',
      $classname-root: 'text',
      $values: settings.$values,
      $breakpoint-suffix: '\\\@#{$breakpoint-alias}'
    );
  }
}
