@import 'settings';

@include output-properties(
  $property-name: 'align-self',
  $classname-root: 'self',
  $values: $bitstyles-self
);

@each $breakpoint-alias in $bitstyles-self-breakpoints {
  @include media-query($breakpoint-alias) {
    @include output-properties(
      $property-name: 'align-self',
      $classname-root: 'self',
      $values: $bitstyles-self,
      $breakpoint-suffix: '\\\@#{$breakpoint-alias}'
    );
  }
}
