@forward 'settings';
@use 'settings';
@use '../../tools/properties';

@include properties.output(
  $property-name: 'align-self',
  $classname-root: 'self',
  $values: settings.$values,
  $breakpoints: settings.$breakpoints
);
