@use './settings';
@use '../../tools/directional-properties';
@use '../../tools/media-query';

@include directional-properties.output-properties(
  $property-name: 'background-color',
  $classname-root: 'bg',
  $values: settings.$values
);

@each $breakpoint in settings.$breakpoints {
  @include media-query.media-query($breakpoint) {
    @include directional-properties.output-properties(
      $property-name: 'background-color',
      $classname-root: 'bg',
      $values: settings.$values
    );
  }
}
