@forward 'settings';
@use './settings';
@use '../../tools/properties';

@include properties.output(
  $property-name: 'background-color',
  $classname-root: 'bg',
  $values: settings.$values,
  $breakpoints: settings.$breakpoints
);
