@forward 'settings';
@use './settings';
@use '../../tools/classname';
@use '../../tools/design-token';

/* stylelint-disable scss/dollar-variable-default */

$button-classname: classname.get(
  $classname-items: 'button',
  $layer: 'atom',
);
$button-border-top-left-radius-name: design-token.get(
  'button',
  'border',
  'top',
  'left',
  'radius'
);
$button-border-top-right-radius-name: design-token.get(
  'button',
  'border',
  'top',
  'right',
  'radius'
);
$button-border-bottom-right-radius-name: design-token.get(
  'button',
  'border',
  'bottom',
  'right',
  'radius'
);
$button-border-bottom-left-radius-name: design-token.get(
  'button',
  'border',
  'bottom',
  'left',
  'radius'
);
$button-border-width-name: design-token.get('button', 'border', 'width');
$button-box-shadow-name: design-token.get('button', 'box-shadow');

/* stylelint-enable scss/dollar-variable-default */

#{classname.get($classname-items: 'joined-ui', $layer: 'organism')} {
  border-radius: settings.$border-radius;
  box-shadow: settings.$box-shadow;

  > :first-child #{$button-classname},
  > #{$button-classname}:first-child {
    #{$button-box-shadow-name}: none;
    #{$button-border-top-right-radius-name}: #{0};
    #{$button-border-bottom-right-radius-name}: #{0};
    margin-right: calc(var(#{$button-border-width-name}) * -1);
  }

  > :last-child #{$button-classname},
  > #{$button-classname}:last-child {
    #{$button-box-shadow-name}: none;
    #{$button-border-top-left-radius-name}: #{0};
    #{$button-border-bottom-left-radius-name}: #{0};
    margin-right: 0;
  }

  > :not(:first-child):not(:last-child) #{$button-classname},
  > #{$button-classname}:not(:first-child):not(:last-child) {
    #{$button-border-top-left-radius-name}: #{0};
    #{$button-border-top-right-radius-name}: #{0};
    #{$button-border-bottom-right-radius-name}: #{0};
    #{$button-border-bottom-left-radius-name}: #{0};
    margin-right: calc(var(#{$button-border-width-name}) * -1);
  }
}
