// Forces text content within an element to break if longer than the element is wide.

@mixin break-long-words {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word; // all 3 are required for cross-browser reasonablness. Without, some browsers force-break *everything*
}
