// Fixed Ratio
//
// An element that has intrinsic shape — width will be 100%, height will be limited to keep 16:9 aspect ratio.
//
// Styleguide 2.5

// scss-lint:disable NameFormat

@mixin fixed-ratio {
  position: relative;
  display: block;
  width: 100%;
  overflow: hidden;

  &::before {
    display: block;
    padding-top: 56.25%;
    content: '';
  }
}

@mixin fixed-ratio__inner {
  @include absolute-cover;
  display: block;
  width: 100%;
  height: auto;
  min-height: 100%;
}
