// Helper function to ease usage of media-queries. Uses the breakpoints listed in $breakpoint sass variable.
// Usage:
// @media-query(breakpoint-name) {
//    .selector {
//       …styles here…
//    }
// }

@mixin media-query($mq) {
  $breakpoint-found: false;

  @each $breakpoint in $breakpoints {
    $alias:     nth($breakpoint, 1);
    $condition: nth($breakpoint, 2);

    @if $mq == $alias and $condition {
      $breakpoint-found: true;

      @media #{$condition} {
        @content
      }
    }
  }

  // If the user specifies a non-exitent alias, send them a warning.
  @if $breakpoint-found == false {
    @warn "Oops! Breakpoint ‘#{$mq}’ does not exist.";
  }
}
