@forward 'settings';
@use './settings';
@use '../../tools/media-query';
@use '../../tools/properties';
@use '../../tools/sr-only';

@include properties.output-block(
  $classname-prefix: 'u',
  $classname-root: 'sr-only'
) {
  @include sr-only.sr-only;
}

@each $breakpoint-alias in settings.$breakpoints {
  @include media-query.get($breakpoint-alias) {
    @include properties.output-block(
      $classname-prefix: 'u',
      $classname-root: 'sr-only',
      $breakpoint-suffix: '\\\@#{$breakpoint-alias}'
    ) {
      @include sr-only.sr-only;
    }
  }
}
