// Can be used to apply the border-box box model to all elements instead of the default content-box,
// while still allowing components to change.

/* stylelint-disable selector-max-type */
html {
  height: 100%;
  box-sizing: border-box;
}

body {
  min-height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
/* stylelint-enable selector-max-type */
