/* stylelint-disable selector-max-type */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
button,
input,
select {
  margin: 0;
}

ul {
  padding: 0;
}

iframe,
img {
  display: block;
  border-style: none;
}
/* stylelint-enable selector-max-type */
