@import './settings';

@each $breakpoint-alias in $bitstyles-border-breakpoints {
  @if $breakpoint-alias == 'base' {
    @include output-directional-property(
      $property-name: 'border',
      $classname-root: 'border',
      $values: $bitstyles-border-colors,
      $directions: $bitstyles-border-directions
    );
  }

  @else {
    @include media-query($breakpoint-alias) {
      @include output-directional-property(
        $property-name: 'border',
        $classname-root: 'border',
        $values: $bitstyles-border-colors,
        $directions: $bitstyles-border-directions,
        $breakpoint-suffix: '\\\@#{$breakpoint-alias}'
      );
    }
  }
}
