@use './settings';
@use '../../tools/directional-properties';
@use '../../tools/media-query';

@include directional-properties.output-directional-properties(
  $property-name: 'border',
  $classname-root: 'border',
  $values: settings.$values,
  $directions: settings.$directions
);

@each $breakpoint-alias in settings.$breakpoints {
  @include media-query.get($breakpoint-alias) {
    @include directional-properties.output-directional-properties(
      $property-name: 'border',
      $classname-root: 'border',
      $values: settings.$values,
      $directions: settings.$directions,
      $breakpoint-suffix: '\\\@#{$breakpoint-alias}'
    );
  }
}
