@forward 'settings';
@use './settings';
@use '../../tools/properties';

@include properties.output-directional(
  $property-name: 'border',
  $classname-root: 'border',
  $values: settings.$values,
  $directions: settings.$directions,
  $breakpoints: settings.$breakpoints
);
