@use '../../tools/palette';

$values: (
  'grayscale-dark-1': 1px solid palette.get('grayscale', 'dark-1'),
  'grayscale-light-1': 1px solid palette.get('grayscale', 'light-1'),
) !default;
$breakpoints: () !default;
$directions: (
  '': null,
  'top': (
    'top',
  ),
  'right': (
    'right',
  ),
  'bottom': (
    'bottom',
  ),
  'left': (
    'left',
  ),
  'x': (
    'left',
    'right',
  ),
  'y': (
    'top',
    'bottom',
  ),
) !default;
