@forward 'settings';
@use './settings';
@use '../../tools/classname';
@use '../../tools/design-token';

#{classname.get($classname-items: 'icon', $layer: 'atom')} {
  display: inline-block;
  flex-shrink: 0;
  width: 1em;
  height: 1em;
  transition: fill var(design-token.get('transition', 'default', 'duration'))
      var(design-token.get('transition', 'default', 'easing')),
    stroke var(design-token.get('transition', 'default', 'duration'))
      var(design-token.get('transition', 'default', 'easing')),
    background-color var(design-token.get('transition', 'default', 'duration'))
      var(design-token.get('transition', 'default', 'easing')),
    transform var(design-token.get('transition', 'default', 'duration'))
      var(design-token.get('transition', 'default', 'easing'));
  outline: none;
  fill: currentColor;
  font-size: 1em;
  vertical-align: middle;
}

@each $size-alias, $size-size in settings.$sizes {
  #{classname.get($classname-items: 'icon--#{$size-alias}', $layer: 'atom')} {
    font-size: $size-size;
  }
}
