@forward 'settings';
@use './settings';
@use '../../design-tokens/animation';
@use '../../tools/classname';

#{classname.get($classname-items: 'icon', $layer: 'atom')} {
  display: inline-block;
  flex-shrink: 0;
  width: 1em;
  height: 1em;
  transition: fill animation.$transition-duration animation.$transition-easing,
    stroke animation.$transition-duration animation.$transition-easing,
    background-color animation.$transition-duration animation.$transition-easing,
    transform animation.$transition-duration animation.$transition-easing;
  outline: none;
  fill: currentColor;
  font-size: 1em;
  vertical-align: middle;
}

@each $size-alias, $size-size in settings.$sizes {
  #{classname.get($classname-items: 'icon--#{$size-alias}', $layer: 'atom')} {
    font-size: $size-size;
  }
}
