@import './settings';

@each $size in $bitstyles-padding-sizes {
  .#{$bitstyles-namespace}u-padding-#{$size} {
    padding: spacing($size);
  }

  .#{$bitstyles-namespace}u-padding-#{$size}--x {
    padding-right: spacing($size);
    padding-left: spacing($size);
  }

  .#{$bitstyles-namespace}u-padding-#{$size}--y {
    padding-top: spacing($size);
    padding-bottom: spacing($size);
  }

  @each $position in ('left', 'top', 'right', 'bottom') {
    .#{$bitstyles-namespace}u-padding-#{$size}--#{$position} {
      padding-#{$position}: spacing($size);
    }
  }
}

@each $breakpoint in $bitstyles-padding-breakpoints {
  @include media-query($breakpoint) {
    @each $size in $bitstyles-padding-sizes {
      .#{$bitstyles-namespace}u-padding-#{$size}\@#{$breakpoint} {
        padding: spacing($size);
      }

      .#{$bitstyles-namespace}u-padding-#{$size}--y\@#{$breakpoint} {
        padding-top: spacing($size);
        padding-bottom: spacing($size);
      }

      @each $position in ('left', 'top', 'right', 'bottom') {
        .#{$bitstyles-namespace}u-padding-#{$size}--#{$position}\@#{$breakpoint} {
          padding-#{$position}: spacing($size);
        }
      }
    }
  }
}
