@forward 'settings';
@use 'sass:map';
@use './settings';
@use '../../tools/properties';
@use '../../tools/media-query';

@include properties.output-directional(
  $property-name: 'padding',
  $classname-root: 'padding',
  $values: map.get(settings.$sizes, 'positive'),
  $directions: settings.$directions
);

@each $breakpoint-alias in settings.$breakpoints {
  @include media-query.get($breakpoint-alias) {
    @include properties.output-directional(
      $property-name: 'padding',
      $classname-root: 'padding',
      $values: map.get(settings.$sizes, 'positive'),
      $directions: settings.$directions,
      $breakpoint-suffix: '\\\@#{$breakpoint-alias}'
    );
  }
}
