@forward 'settings';
@use 'sass:map';
@use './settings';
@use '../../tools/properties';
@use '../../tools/media-query';

@include properties.output-directional(
  $property-name: 'padding',
  $classname-root: 'padding',
  $values: settings.$sizes,
  $directions: settings.$directions,
  $breakpoints: settings.$breakpoints
);
