@use '../../tools/size';

$sizes: (
  '0': 0,
  'xxs': size.get('xxs'),
  'xs': size.get('xs'),
  's': size.get('s'),
  'm': size.get('m'),
  'l': size.get('l'),
  'xl': size.get('xl'),
  'xxl': size.get('xxl'),
) !default;
$breakpoints: ('m', 'l') !default;
$directions: (
  '': null,
  'top': (
    'top',
  ),
  'right': (
    'right',
  ),
  'bottom': (
    'bottom',
  ),
  'left': (
    'left',
  ),
  'x': (
    'right',
    'left',
  ),
  'y': (
    'top',
    'bottom',
  ),
) !default;
