@use '../../tools/design-token';

$sizes: (
  '0': 0,
  's7': var(design-token.get('size', 's7')),
  's6': var(design-token.get('size', 's6')),
  's5': var(design-token.get('size', 's5')),
  's4': var(design-token.get('size', 's4')),
  's3': var(design-token.get('size', 's3')),
  's2': var(design-token.get('size', 's2')),
  's1': var(design-token.get('size', 's1')),
  'm': var(design-token.get('size', 'm')),
  'l1': var(design-token.get('size', 'l1')),
  'l2': var(design-token.get('size', 'l2')),
  'l3': var(design-token.get('size', 'l3')),
  'l4': var(design-token.get('size', 'l4')),
  'l5': var(design-token.get('size', 'l5')),
  'l6': var(design-token.get('size', 'l6')),
  'l7': var(design-token.get('size', 'l7')),
) !default;
$breakpoints: ('m', 'l') !default;
$directions: (
  '': null,
  'top': (
    'top',
  ),
  'right': (
    'right',
  ),
  'bottom': (
    'bottom',
  ),
  'left': (
    'left',
  ),
  'x': (
    'right',
    'left',
  ),
  'y': (
    'top',
    'bottom',
  ),
) !default;
