@use "../../tools/spacing";

$padding-sizes: (
  'positive': (
    '0': 0,
    'xxs': spacing.spacing('xxs'),
    'xs': spacing.spacing('xs'),
    's': spacing.spacing('s'),
    'm': spacing.spacing('m'),
    'l': spacing.spacing('l'),
    'xl': spacing.spacing('xl'),
    'xxl': spacing.spacing('xxl')
  )
) !default;
$padding-breakpoints: ('m', 'l') !default;
$padding-directions: (
  '': null,
  'top': ('top'),
  'right': ('right'),
  'bottom': ('bottom'),
  'left': ('left'),
  'x': ('right', 'left'),
  'y': ('top', 'bottom')
) !default;
