@import './settings';

@include output-properties(
  $property-name: 'z-index',
  $classname-root: 'z',
  $values: $bitstyles-z-index
);

@each $breakpoint-alias in $bitstyles-z-index-breakpoints {
  @include media-query($breakpoint-alias) {
    @include output-properties(
      $property-name: 'z-index',
      $classname-root: 'z',
      $values: $bitstyles-z-index,
      $breakpoint-suffix: '\\\@#{$breakpoint-alias}'
    );
  }
}
