@use './settings';
@use '../../tools/directional-properties';
@use '../../tools/media-query';

@include directional-properties.output-properties(
  $property-name: 'z-index',
  $classname-root: 'z',
  $values: settings.$z-index
);

@each $breakpoint-alias in settings.$z-index-breakpoints {
  @include media-query.media-query($breakpoint-alias) {
    @include directional-properties.output-properties(
      $property-name: 'z-index',
      $classname-root: 'z',
      $values: settings.$z-index,
      $breakpoint-suffix: '\\\@#{$breakpoint-alias}'
    );
  }
}
