@import './settings';

.#{$bitstyles-namespace}a-button--menu {
  display: flex;
  min-height: 0;
  padding: $bitstyles-button-menu-padding-vertical $bitstyles-button-menu-padding-horizontal;
  justify-content: flex-start;
  border-radius: 0;

  &,
  &:visited {
    color: $bitstyles-button-menu-color;
    background: $bitstyles-button-menu-background-color;
    border-color: $bitstyles-button-menu-border-color;
    box-shadow: $bitstyles-button-menu-box-shadow;
  }

  &:hover,
  &:focus {
    color: $bitstyles-button-menu-color-hover;
    background: $bitstyles-button-menu-background-color-hover;
    border-color: $bitstyles-button-menu-border-color-hover;
    box-shadow: $bitstyles-button-menu-box-shadow-hover;
  }

  &:active {
    color: $bitstyles-button-menu-color-active;
    background: $bitstyles-button-menu-background-color-active;
    border-color: $bitstyles-button-menu-border-color-active;
    box-shadow: $bitstyles-button-menu-box-shadow-active;
  }

  &:disabled,
  &[aria-disabled="true"] {
    color: $bitstyles-button-menu-color-disabled;
    background: $bitstyles-button-menu-background-color-disabled;
    border-color: $bitstyles-button-menu-border-color-disabled;
    box-shadow: $bitstyles-button-menu-box-shadow-disabled;
  }
}
