@import './settings';

.a-button--menu {
  display: flex;
  min-height: 0;
  padding: $bitstyles-button-menu-padding-vertical $bitstyles-button-menu-padding-horizontal;
  border-radius: 0;

  &,
  &:visited {
    color: $bitstyles-button-menu-color;
    background: $bitstyles-button-menu-background-color;
    border-color: $bitstyles-button-menu-border-color;
    box-shadow: none;
  }

  &:hover,
  &:focus {
    color: $bitstyles-button-menu-color-hover;
    text-decoration: none;
    background: $bitstyles-button-menu-background-color-hover;
    border-color: $bitstyles-button-menu-border-color-hover;
    outline: none;
    box-shadow: none;
  }

  &:active {
    color: $bitstyles-button-menu-color-active;
    background: $bitstyles-button-menu-background-color-active;
    border-color: $bitstyles-button-menu-border-color-active;
    box-shadow: none;
  }
}
