@use "../../tools/palette";
@use "../../tools/spacing";

//
// Base styles ////////////////////////////////////////

$button-menu-padding-vertical: spacing.spacing('s') !default;
$button-menu-padding-horizontal: spacing.spacing('m') !default;

//
// Base colors ////////////////////////////////////////

$button-menu-color: palette.get('gray', '60') !default;
$button-menu-background-color: palette.get('white', '100') !default;
$button-menu-border-color: palette.get('white', '100') !default;
$button-menu-box-shadow: none !default;

//
// Hover colors ////////////////////////////////////////

$button-menu-color-hover: palette.get('gray', '80') !default;
$button-menu-background-color-hover: palette.get('gray', '1') !default;
$button-menu-border-color-hover: palette.get('gray', '1') !default;
$button-menu-box-shadow-hover: none !default;

//
// Active colors ////////////////////////////////////////

$button-menu-color-active: palette.get('white') !default;
$button-menu-background-color-active: palette.get('brand-2', '100') !default;
$button-menu-border-color-active: palette.get('brand-2', '100') !default;
$button-menu-box-shadow-active: none !default;

//
// Disabled colors ////////////////////////////////////////

$button-menu-color-disabled: palette.get('gray', '30') !default;
$button-menu-background-color-disabled: transparent !default;
$button-menu-border-color-disabled: transparent !default;
$button-menu-box-shadow-disabled: none !default;
