@use "../../tools/palette";
@use "../../tools/spacing";

//
// Base styles ////////////////////////////////////////

$padding-vertical: spacing.spacing('s') !default;
$padding-horizontal: spacing.spacing('m') !default;

//
// Base colors ////////////////////////////////////////

$color: palette.get('gray', '60') !default;
$background-color: palette.get('white', '100') !default;
$border-color: palette.get('white', '100') !default;
$box-shadow: none !default;

//
// Hover colors ////////////////////////////////////////

$color-hover: palette.get('gray', '80') !default;
$background-color-hover: palette.get('gray', '1') !default;
$border-color-hover: palette.get('gray', '1') !default;
$box-shadow-hover: none !default;

//
// Active colors ////////////////////////////////////////

$color-active: palette.get('white') !default;
$background-color-active: palette.get('brand-2', '100') !default;
$border-color-active: palette.get('brand-2', '100') !default;
$box-shadow-active: none !default;

//
// Disabled colors ////////////////////////////////////////

$color-disabled: palette.get('gray', '30') !default;
$background-color-disabled: transparent !default;
$border-color-disabled: transparent !default;
$box-shadow-disabled: none !default;
