@use '../../design-tokens/typography';
@use '../../tools/font-face';
@use 'sass:map';

@each $webfont-variant,
  $webfont-variant-settings in typography.$webfont-variants
{
  @include font-face.webfont(
    $font-family: map.get($webfont-variant-settings, 'font-family'),
    $font-style: map.get($webfont-variant-settings, 'font-style'),
    $font-weight: map.get($webfont-variant-settings, 'font-weight'),
    $font-url: typography.$webfont-base-url +
      map.get($webfont-variant-settings, 'filename')
  );
}
