// Expander
//
// Needs JS to function. The toggle is an interactive element of some kind (button, link),
// the body is the content you want to be revealed — it starts at zero height,
// expands to size of content once active.
//
// Use the `.o-button` classes on the `.c-expander-toggle` to set size & appearance.
//
// markup:
// <p>
//   <button class="c-expander-toggle o-button" aria-expanded="false" aria-controls="expander-0" id="expander_button">
//     Toggle content
//     <svg class="o-icon c-expander-toggle__indicator">
//       <use xlink:href="assets/images/icons.svg#icon-arrow-up"></use>
//     </svg>
//   </button>
// </p>
// <p>Other content</p>
// <div class="c-expander-body" id="expander-0" aria-hidden="true">
//   <p>Pudding oat cake brownie. Gummies jelly beans apple pie. Donut sugar plum cotton candy sesame snaps muffin oat cake. Lemon drops carrot cake croissant gingerbread danish. Gingerbread liquorice soufflé croissant dessert sweet roll candy sweet roll. Pastry chocolate bar donut tiramisu marshmallow donut. Brownie chupa chups macaroon cupcake. Marzipan soufflé jelly sweet roll sesame snaps chocolate bar cake cotton candy brownie.</p>
//   <p>Powder sweet roll sesame snaps. Sweet roll fruitcake ice cream cheesecake croissant. Candy cupcake cake brownie muffin oat cake gummi bears bear claw. Chupa chups liquorice jelly cotton candy gummies gummies. Jujubes lemon drops candy gummi bears cake cake fruitcake tart pastry. Cake topping candy canes. Lollipop dragée icing chocolate cake sugar plum. Jujubes halvah tootsie roll chocolate gingerbread sweet roll danish. Biscuit bonbon sweet.</p>
// </div>
//
// Styleguide 6.3

.#{$bitstyles-namespace}c-expander-toggle__indicator {
  transform: rotate(180deg);
  transition: transform $bitstyles-transition-duration $bitstyles-transition-easing;

  .#{$bitstyles-namespace}c-expander-toggle[aria-expanded="true"] & {
    transform: rotate(0deg); /* stylelint-disable-line length-zero-no-unit */
  }
}

.#{$bitstyles-namespace}c-expander-body {
  height: auto;
  max-height: 0;
  overflow: hidden;
  transition: max-height $bitstyles-transition-duration-long $bitstyles-transition-easing;

  &[aria-hidden="false"] {
    max-height: 999rem;
    max-height: 200vh; // stylelint-disable-line declaration-block-no-duplicate-properties
  }
}
