.#{$bitstyles-namespace}l-flex {
  display: flex;
}

.#{$bitstyles-namespace}l-flex--inline {
  display: inline-flex;
}

.#{$bitstyles-namespace}l-flex--wrap {
  flex-wrap: wrap;
}

.#{$bitstyles-namespace}l-flex--col {
  flex-direction: column;
}

.#{$bitstyles-namespace}l-flex__grow-1 {
  flex-grow: 1;
}

.#{$bitstyles-namespace}l-flex__shrink-0 {
  flex-shrink: 0;
}
