/* stylelint-disable selector-no-type */
// Links
//
// Standard links.
//
// markup:
// <a href="#"" class="{$modifiers}">Jelly cake marshmallow</a>
//
// default        - Default state
// :hover         - Hover state
// :focus         - Focus state
// :visited       - Visited state
//
// Styleguide 4.3

@import '../settings/link';

a {
  color: $bitstyles-color-link;
  text-decoration: none;
  transition: $bitstyles-link-transition;

  &:visited {
    color: $bitstyles-color-link-visited;
  }

  &:hover,
  &:focus {
    color: $bitstyles-color-link-hover;
    text-decoration: underline;
  }
}
