@forward 'settings';
@use './settings';
@use '../../tools/media-query';
@use '../../tools/properties';
@use '../../tools/shadows';

@include properties.output(
  $property-name: 'filter',
  $classname-root: 'drop-shadow',
  $values: settings.$values,
  $breakpoints: settings.$breakpoints
);
