//
// Base styles ////////////////////////////////////////

$bitstyles-button-nav-large-padding-vertical: spacing('l') !default;
$bitstyles-button-nav-large-padding-horizontal: spacing('l') !default;
$bitstyles-button-nav-large-border-radius: spacing('s') !default;
$bitstyles-button-nav-large-transition:
  color $bitstyles-transition-duration $bitstyles-transition-easing,
  background-color $bitstyles-transition-duration $bitstyles-transition-easing,
  border $bitstyles-transition-duration $bitstyles-transition-easing !default;

//
// Base colors ////////////////////////////////////////

$bitstyles-button-nav-large-color: palette('gray', '5') !default;
$bitstyles-button-nav-large-background-color: palette('gray', '90') !default;
$bitstyles-button-nav-large-border: none !default;
$bitstyles-button-nav-large-box-shadow: none !default;

//
// Hover colors ////////////////////////////////////////

$bitstyles-button-nav-large-color-hover: palette('white') !default;
$bitstyles-button-nav-large-background-color-hover: palette('gray', '70') !default;
$bitstyles-button-nav-large-border-hover: none !default;
$bitstyles-button-nav-large-box-shadow-hover: none !default;

//
// Active colors ////////////////////////////////////////

$bitstyles-button-nav-large-color-active: palette('white') !default;
$bitstyles-button-nav-large-background-color-active: palette('brand-1', '100') !default;
$bitstyles-button-nav-large-border-active: none !default;
$bitstyles-button-nav-large-box-shadow-active: none !default;

//
// Disabled colors ////////////////////////////////////////

$bitstyles-button-nav-large-color-disabled: palette('black', '50') !default;
$bitstyles-button-nav-large-background-color-disabled: palette('black', '10') !default;
$bitstyles-button-nav-large-border-disabled: none !default;
$bitstyles-button-nav-large-box-shadow-disabled: none !default;

//
// Current colors ////////////////////////////////////////

$bitstyles-button-nav-large-color-current: palette('white', '100') !default;
$bitstyles-button-nav-large-background-color-current: palette('gray', '100') !default;
$bitstyles-button-nav-large-border-current: none !default;
$bitstyles-button-nav-large-box-shadow-current: none !default;
