@import 'settings';

@include output-properties(
  $property-name: 'justify-content',
  $classname-root: 'justify',
  $values: $bitstyles-justify
);

@each $breakpoint-alias in $bitstyles-justify-breakpoints {
  @include media-query($breakpoint-alias) {
    @include output-properties(
      $property-name: 'justify-content',
      $classname-root: 'justify',
      $values: $bitstyles-justify,
      $breakpoint-suffix: '\\\@#{$breakpoint-alias}'
    );
  }
}
