@forward 'settings';
@use 'settings';
@use '../../tools/properties';

@include properties.output(
  $property-name: 'justify-content',
  $classname-root: 'justify',
  $values: settings.$content-values,
  $breakpoints: settings.$content-breakpoints
);

@include properties.output(
  $property-name: 'justify-self',
  $classname-root: 'justify-self',
  $values: settings.$self-values,
  $breakpoints: settings.$self-breakpoints
);

@include properties.output(
  $property-name: 'justify-items',
  $classname-root: 'justify-items',
  $values: settings.$items-values,
  $breakpoints: settings.$items-breakpoints
);
