@use 'settings';
@use '../../tools/directional-properties';
@use '../../tools/media-query';

@include directional-properties.output-properties(
  $property-name: 'justify-content',
  $classname-root: 'justify',
  $values: settings.$justify
);

@each $breakpoint-alias in settings.$justify-breakpoints {
  @include media-query.media-query($breakpoint-alias) {
    @include directional-properties.output-properties(
      $property-name: 'justify-content',
      $classname-root: 'justify',
      $values: settings.$justify,
      $breakpoint-suffix: '\\\@#{$breakpoint-alias}'
    );
  }
}
