@import './settings';

.#{$bitstyles-namespace}a-button--icon {
  padding: $bitstyles-button-icon-padding-vertical $bitstyles-button-icon-padding-horizontal;
  justify-content: flex-start;
  border-radius: $bitstyles-button-icon-border-radius;

  &,
  &:visited {
    color: $bitstyles-button-icon-color;
    background-color: $bitstyles-button-icon-background-color;
    border-color: $bitstyles-button-icon-border-color;
    box-shadow: $bitstyles-button-icon-box-shadow;
  }

  &:hover,
  &:focus {
    color: $bitstyles-button-icon-color-hover;
    background: $bitstyles-button-icon-background-color-hover;
    border-color: $bitstyles-button-icon-border-color-hover;
    box-shadow: $bitstyles-button-icon-box-shadow-hover;
  }

  &:active {
    color: $bitstyles-button-icon-color-active;
    background: $bitstyles-button-icon-background-color-active;
    border-color: $bitstyles-button-icon-border-color-active;
    box-shadow: $bitstyles-button-icon-box-shadow-active;
  }

  &:disabled,
  &[aria-disabled="true"] {
    color: $bitstyles-button-icon-color-disabled;
    background: $bitstyles-button-icon-background-color-disabled;
    border-color: $bitstyles-button-icon-border-color-disabled;
    box-shadow: $bitstyles-button-icon-box-shadow-disabled;
  }

  .a-button__icon {
    margin: 0;
  }
}
