@use './settings';
@use '../../settings/setup';

.#{setup.$namespace}a-button--icon {
  justify-content: flex-start;
  padding: settings.$padding-vertical settings.$padding-horizontal;
  border-radius: settings.$border-radius;

  &,
  &:visited {
    border-color: settings.$border-color;
    background-color: settings.$background-color;
    box-shadow: settings.$box-shadow;
    color: settings.$color;
  }

  &:hover,
  &:focus {
    border-color: settings.$border-color-hover;
    background: settings.$background-color-hover;
    box-shadow: settings.$box-shadow-hover;
    color: settings.$color-hover;
  }

  &:active {
    border-color: settings.$border-color-active;
    background: settings.$background-color-active;
    box-shadow: settings.$box-shadow-active;
    color: settings.$color-active;
  }

  &:disabled,
  &[aria-disabled='true'] {
    border-color: settings.$border-color-disabled;
    background: settings.$background-color-disabled;
    box-shadow: settings.$box-shadow-disabled;
    color: settings.$color-disabled;
  }

  .#{setup.$namespace}a-button__icon {
    margin: 0;
  }
}
