@use '../../tools/palette';
@use '../../tools/size';

//
// Base styles ////////////////////////////////////////

$padding-vertical: size.get('m') !default;
$padding-horizontal: size.get('m') !default;

//
// Base colors ////////////////////////////////////////

$color: palette.get('text', 'light') !default;
$background-color: palette.get('brand-gray', 'lighter') !default;
$border-color: palette.get('brand-gray', 'lighter') !default;
$border-radius: size.get('s') !default;
$box-shadow: none !default;

//
// Hover colors ////////////////////////////////////////

$color-hover: palette.get('brand-gray', 'dark') !default;
$background-color-hover: palette.get('brand-gray', 'light') !default;
$border-color-hover: palette.get('brand-gray', 'light') !default;
$box-shadow-hover: none !default;

//
// Active colors ////////////////////////////////////////

$color-active: palette.get('white') !default;
$background-color-active: palette.get('brand-1', 'base') !default;
$border-color-active: palette.get('brand-1', 'base') !default;
$box-shadow-active: none !default;

//
// Disabled colors ////////////////////////////////////////

$color-disabled: palette.get('brand-gray', 'light') !default;
$background-color-disabled: palette.get('background', 'base') !default;
$border-color-disabled: palette.get('background', 'base') !default;
$box-shadow-disabled: none !default;
