@use './settings';
@use "../../settings/setup";

.#{setup.$namespace}a-button--icon {
  padding: settings.$button-icon-padding-vertical settings.$button-icon-padding-horizontal;
  justify-content: flex-start;
  border-radius: settings.$button-icon-border-radius;

  &,
  &:visited {
    color: settings.$button-icon-color;
    background-color: settings.$button-icon-background-color;
    border-color: settings.$button-icon-border-color;
    box-shadow: settings.$button-icon-box-shadow;
  }

  &:hover,
  &:focus {
    color: settings.$button-icon-color-hover;
    background: settings.$button-icon-background-color-hover;
    border-color: settings.$button-icon-border-color-hover;
    box-shadow: settings.$button-icon-box-shadow-hover;
  }

  &:active {
    color: settings.$button-icon-color-active;
    background: settings.$button-icon-background-color-active;
    border-color: settings.$button-icon-border-color-active;
    box-shadow: settings.$button-icon-box-shadow-active;
  }

  &:disabled,
  &[aria-disabled="true"] {
    color: settings.$button-icon-color-disabled;
    background: settings.$button-icon-background-color-disabled;
    border-color: settings.$button-icon-border-color-disabled;
    box-shadow: settings.$button-icon-box-shadow-disabled;
  }

  .#{setup.$namespace}a-button__icon {
    margin: 0;
  }
}
