//
// Base styles ////////////////////////////////////////

$bitstyles-button-icon-padding-vertical: spacing('m') !default;
$bitstyles-button-icon-padding-horizontal: spacing('m') !default;

//
// Base colors ////////////////////////////////////////

$bitstyles-button-icon-color: palette('gray', '50') !default;
$bitstyles-button-icon-background-color: palette('gray', '5') !default;
$bitstyles-button-icon-border: none !default;
$bitstyles-button-icon-border-radius: spacing('s') !default;
$bitstyles-button-icon-box-shadow: none !default;

//
// Hover colors ////////////////////////////////////////

$bitstyles-button-icon-color-hover: palette('gray', '80') !default;
$bitstyles-button-icon-background-color-hover: palette('gray', '10') !default;
$bitstyles-button-icon-border-hover: none !default;
$bitstyles-button-icon-box-shadow-hover: none !default;

//
// Active colors ////////////////////////////////////////

$bitstyles-button-icon-color-active: palette('white') !default;
$bitstyles-button-icon-background-color-active: palette('brand-1', '100') !default;
$bitstyles-button-icon-border-active: none !default;
$bitstyles-button-icon-box-shadow-active: none !default;

//
// Disabled colors ////////////////////////////////////////

$bitstyles-button-icon-color-disabled: palette('gray', '20') !default;
$bitstyles-button-icon-background-color-disabled: palette('gray', '1') !default;
$bitstyles-button-icon-border-disabled: none !default;
$bitstyles-button-icon-box-shadow-disabled: none !default;
