.background-grey {
  background: #ccc;
  outline: 1px #0f0 solid;
  margin-bottom: 0;
}

.floated-element {
  float: left;
  width: 50%;
  min-height: 5rem;
  outline: 1px solid #f00;
}

.min-height-block {
  position: relative;
  min-height: 50vh;
}

.fixed-height-block {
  height: 10em;
}
