@import './settings';

@include output-properties(
  $property-name: 'grid-template-columns',
  $classname-root: 'grid-cols',
  $values: $bitstyles-grid-template-columns
);

@each $breakpoint-alias in $bitstyles-grid-template-columns-breakpoints {
  @include media-query($breakpoint-alias) {
    @include output-properties(
      $property-name: 'grid-template-columns',
      $classname-root: 'grid-cols',
      $values: $bitstyles-grid-template-columns,
      $breakpoint-suffix: '\\\@#{$breakpoint-alias}'
    );
  }
}
