@forward 'settings';
@use './settings';
@use '../../tools/properties';

@include properties.output(
  $property-name: 'grid-template-columns',
  $classname-root: 'grid-cols',
  $values: settings.$values,
  $breakpoints: settings.$breakpoints
);
