@import './settings';

.o-button--dropdown {
  &,
  &:visited {
    color: $bitstyles-button-dropdown-color;
    background: $bitstyles-button-dropdown-background-color;
    border: $bitstyles-button-dropdown-border;
    box-shadow: $bitstyles-button-dropdown-box-shadow;
  }

  &:hover,
  &:focus {
    color: $bitstyles-button-dropdown-color-hover;
    text-decoration: none;
    background: $bitstyles-button-dropdown-background-color-hover;
    border: $bitstyles-button-dropdown-border-hover;
    outline: none;
    box-shadow: $bitstyles-button-dropdown-box-shadow-hover;
  }

  &:active {
    color: $bitstyles-button-dropdown-color-active;
    background: $bitstyles-button-dropdown-background-color-active;
    border: $bitstyles-button-dropdown-border-active;
    box-shadow: $bitstyles-button-dropdown-box-shadow-active;
  }

  &[aria-expanded="true"] {
    color: $bitstyles-button-dropdown-color-expanded;
    background: $bitstyles-button-dropdown-background-color-expanded;
    border: $bitstyles-button-dropdown-border-expanded;
    box-shadow: $bitstyles-button-dropdown-box-shadow-expanded;
  }

  &:disabled {
    color: $bitstyles-button-dropdown-color-disabled;
    cursor: default;
    background: $bitstyles-button-dropdown-background-color-disabled;
    border: $bitstyles-button-dropdown-border-disabled;
    box-shadow: $bitstyles-button-dropdown-box-shadow-disabled;
  }
}
