@forward './settings';
@use './settings';
@use '../../design-tokens/focus';
@use '../../tools/classname';

#{classname.get($classname-items: 'skip-link', $layer: 'atom')} {
  position: absolute;
  z-index: settings.$z-index;
  top: -100%;
  left: 50%;
  padding: settings.$padding;
  transform: translateX(-50%);
  border-radius: settings.$border-radius;
  outline-offset: 0;
  font-weight: settings.$font-weight;

  &,
  &:visited,
  &:focus {
    border: settings.$border;
    outline-width: 0;
    background: settings.$background;
    box-shadow: settings.$shadow;
    color: settings.$color;
    text-decoration: settings.$text-decoration;
  }

  &:hover {
    background: settings.$background-hover;
    color: settings.$color-hover;
  }

  &:focus {
    top: settings.$spacing;
  }

  &:focus-visible {
    outline: focus.$outline-color solid focus.$outline-width;
    outline-offset: focus.$outline-offset;
  }
}
