@forward './settings';
@use './settings';

.a-skip-link {
  position: absolute;
  z-index: 1;
  top: -100%;
  left: -50%;
  padding: settings.$padding;
  transform: translateX(-50%);
  border: settings.$border;
  background: settings.$background;

  &:focus {
    top: 0;
  }
}
