@use '../../tools/palette';
@use '../../tools/size';

$padding: size.get('m') !default;
$background: palette.get('white') !default;
$color: palette.get('black') !default;
$border: size.get('xxs') palette.get('black') solid !default;
