@use '../../design-tokens/typography';
@use '../../tools/palette';
@use '../../tools/size';

//
// Base styles /////////////////////////////////////////

$padding: size.get('s1') !default;
$font-weight: typography.$font-weight-medium !default;

//
// Base/hover Colors /////////////////////////////////////////

$background: palette.get('grayscale', 'white') !default;
$color: palette.get('grayscale', 'dark-1') !default;
$border: size.get('s6') palette.get('grayscale', 'dark-1') solid !default;
