@use '../../tools/design-token';

//
// Base styles /////////////////////////////////////////

$padding: var(design-token.get('size', 's1')) !default;
$font-weight: var(design-token.get('font-weight', 'medium')) !default;

//
// Base/hover Colors /////////////////////////////////////////

$background: var(design-token.get('color', 'grayscale', 'white')) !default;
$color: var(design-token.get('color', 'grayscale', 'dark-1')) !default;
$border: var(design-token.get('size', 's6'))
  var(design-token.get('color', 'grayscale', 'dark-1')) solid !default;
