/** @define bordered-header */
//
// Bordered Header
//
// Creates equally-sized horizontal lines to the left & right of the element.
//
// markup:
// <h2 class="o-bordered-header">Bordered header</h2>
//
// Styleguide 1.17

@import '../settings/bordered-header';

.#{$bitstyles-namespace}o-bordered-header {
  display: table;
  width: 100%;
  text-align: center;
  white-space: nowrap;

  &::before,
  &::after {
    position: relative;
    top: 0.8em;
    display: table-cell;
    width: $bitstyles-bordered-header-horizontal-space;
    border-top: 1px solid $bitstyles-bordered-header-border-color;
    content: '';
  }

  &::before {
    left: $bitstyles-bordered-header-horizontal-space;
  }

  &::after {
    right: $bitstyles-bordered-header-horizontal-space;
  }
}
