/** @define o-button */
//
// Button
//
// Styleguide 1.1

// Button - generic
//
// Produces a larger-than-text hit target. Intended to be an action, not a link — most often a `<button>` rather than `<a href="#">`.
//
// markup:
// <button class="o-button {$modifiers}">
//   <span class="o-button__label">Button Text</span>
// </button>
//
//              - Base state
// :hover       - Hover state.
// :focus       - Focus state.
//
// Styleguide 1.1.1

@import '../settings/button';

.#{$bitstyles-namespace}o-button {
  position: relative;
  display: inline-block;
  padding: $bitstyles-button-padding-vertical $bitstyles-button-padding-horizontal;
  margin: 0;
  overflow: visible;
  font: inherit;
  color: $bitstyles-button-color;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background: $bitstyles-button-background-color;
  border: $bitstyles-button-border;
  border-radius: $bitstyles-button-border-radius;
  transition: $bitstyles-button-transition;
  -webkit-appearance: none; // stylelint-disable-line property-no-vendor-prefix
  user-select: none;
  touch-action: manipulation;

  &:hover,
  &:focus {
    color: $bitstyles-button-color-hover;
    background: $bitstyles-button-background-color-hover;
    outline: none;
  }
}

.#{$bitstyles-namespace}o-button__label {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

// Button - with icon
//
// A button can be used with an optional decorative icon, placed before the
// text. Source order dictates icon position.
//
// markup:
// <button class="o-button {$modifiers}">
//   <svg class="o-button__icon o-icon"><use xlink:href="assets/images/icons.svg#icon-twitter"></use></svg><span class="o-button__label">Button Text</span>
// </button>
//
//              - Base state
// :hover       - Hover state.
// :focus       - Focus state.
//
// Styleguide 1.1.2

// Button - with icon, reversed
//
// A button can be used with an optional decorative icon, placed before the
// text. Source order dictates icon position.
//
// markup:
// <button class="o-button {$modifiers}">
//   <span class="o-button__label">Button Text</span><svg class="o-button__icon o-icon"><use xlink:href="assets/images/icons.svg#icon-twitter"></use></svg>
// </button>
//
//              - Base state
// :hover       - Hover state.
// :focus       - Focus state.
//
// Styleguide 1.1.3

.#{$bitstyles-namespace}o-button__icon + .#{$bitstyles-namespace}o-button__label {
  margin-left: $bitstyles-button-icon-spacing;
}

.#{$bitstyles-namespace}o-button__label + .#{$bitstyles-namespace}o-button__icon {
  margin-left: $bitstyles-button-icon-spacing;
}
