/** @define flex */
//
// Flex
//
// Simple flex layout.
// Make one of the children `.o-flex__primary` to make it take as much space as is available.
//
// markup:
// <ul class="o-flex">
//  <li>Some content here</li>
//  <li class="o-flex__primary">Some more important content here</li>
//  <li>Some content here</li>
//  <li>Some content here</li>
// </ul>
//
// Styleguide 1.10

.#{$bitstyles-namespace}o-flex {
  display: flex;
  align-items: stretch;
}

.#{$bitstyles-namespace}o-flex__primary {
  flex: 1 0 auto;
}
