@forward 'settings';
@use './settings';
@use '../../tools/button';
@use '../../tools/classname';
@use 'sass:list';

@each $variant-name, $variant in settings.$variants {
  $withSquareVariant: not list.index(settings.$square-variants, $variant-name);

  #{classname.get($classname-items: 'button#{$variant-name}', $layer: 'atom')} {
    @include button.sizes(
      $sizes: $variant,
      $withSquareVariant: $withSquareVariant,
    );
  }
}

#{classname.get($classname-items: 'button--menu', $layer: 'atom')} {
  justify-content: flex-start;
}
