@use '../../settings/layout';
@use '../../tools/size';

$button-default: (
  'default' : (
    'padding': size.get('xs') size.get('l'),
    'border-width': size.get('xxxs'),
    'border-radius': size.get('xs'),
    'min-height': calc(#{size.get('l')} + 1em),
  )
) !default;
$button-icon: (
  'default' : (
    'padding': size.get('m'),
    'border-radius': size.get('s'),
    'min-height': calc(#{size.get('l')} + 1em),
    'min-width': calc(#{size.get('l')} + 1em),
  ),
) !default;
$button-small: (
  'default' : (
    'padding': size.get('xxs') size.get('xs'),
  )
) !default;
$button-menu: (
  'default': (
    'justify-content': flex-start,
    'padding': size.get('s') size.get('m'),
    'border-radius': 0,
  )
) !default;
$variants: (
  '': $button-default,
  '-icon': $button-icon,
  '-small': $button-small,
  '-menu': $button-menu,
) !default;
