@import './settings';

@include output-properties(
  $property-name: 'grid-column',
  $classname-root: 'col-span',
  $values: $bitstyles-col-span
);

@each $breakpoint-alias in $bitstyles-col-span-breakpoints {
  @include media-query($breakpoint-alias) {
    @include output-properties(
      $property-name: 'grid-column',
      $classname-root: 'col-span',
      $values: $bitstyles-col-span,
      $breakpoint-suffix: '\\\@#{$breakpoint-alias}'
    );
  }
}
