@use './settings';
@use "../../tools/directional-properties";
@use "../../tools/media-query";

@include directional-properties.output-properties(
  $property-name: 'grid-column',
  $classname-root: 'col-span',
  $values: settings.$col-span
);

@each $breakpoint-alias in settings.$col-span-breakpoints {
  @include media-query.media-query($breakpoint-alias) {
    @include directional-properties.output-properties(
      $property-name: 'grid-column',
      $classname-root: 'col-span',
      $values: settings.$col-span,
      $breakpoint-suffix: '\\\@#{$breakpoint-alias}'
    );
  }
}
