@forward './settings';
@use './settings';
@use '../../tools/properties';
@use '../../tools/media-query';

@include properties.output(
  $property-name: 'max-width',
  $classname-root: 'max-width',
  $values: settings.$values
);

@each $breakpoint-alias in settings.$breakpoints {
  @include media-query.get($breakpoint-alias) {
    @include properties.output(
      $property-name: 'max-width',
      $classname-root: 'max-width',
      $values: settings.$values,
      $breakpoint-suffix: '\\\@#{$breakpoint-alias}'
    );
  }
}
