@forward 'settings';
@use './settings';
@use '../../tools/classname';
@use 'sass:math';

#{classname.get($classname-items: 'button', $layer: 'atom')} {
  --button-transition: #{settings.$transition};

  display: flex;
  position: relative;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  box-sizing: content-box;
  min-width: var(--button-min-width);
  max-width: 100%;
  min-height: var(--button-min-height);
  margin: 0;
  padding: var(--button-padding-vertical) var(--button-padding-horizontal);
  overflow: visible;
  transition: var(--button-transition);
  border-width: var(--button-border-width);
  border-style: solid;
  border-radius: var(--button-border-radius);
  font-family: settings.$font-family;
  font-size: var(--button-font-size);
  font-weight: var(--button-font-weight);
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  -webkit-appearance: none; // stylelint-disable-line property-no-vendor-prefix
  touch-action: manipulation;

  &,
  &:visited {
    border-color: var(--button-border-color);
    background-color: var(--button-background-color);
    box-shadow: var(--button-box-shadow);
    color: var(--button-color);
  }

  &:hover,
  &:focus {
    outline: none;
    text-decoration: none;
  }

  &:disabled,
  &[aria-disabled='true'],
  &:disabled:hover,
  &[aria-disabled='true']:hover,
  &:disabled:focus,
  &[aria-disabled='true']:focus {
    cursor: not-allowed;
  }
}

#{classname.get($classname-items: 'button__avatar', $layer: 'atom')},
#{classname.get($classname-items: 'button__icon', $layer: 'atom')} {
  margin-right: settings.$icon-spacing;
  margin-left: math.div(-(settings.$icon-spacing), 4);
}

#{classname.get($classname-items: 'button__label', $layer: 'atom')}
  + #{classname.get($classname-items: 'button__icon', $layer: 'atom')} {
  margin-right: math.div(-(settings.$icon-spacing), 4);
  margin-left: settings.$icon-spacing;
}
