@forward 'settings';
@use './settings';
@use '../../tools/classname';
@use '../../tools/custom-property';
@use 'sass:math';

/* prettier-ignore */

#{classname.get($classname-items: 'button', $layer: 'atom')} {
  #{custom-property.get($items: ('button', 'transition'), $layer: 'atom')}: #{settings.$transition};
  #{custom-property.get($items: ('button', 'justify-content'), $layer: 'atom')}: #{settings.$justify-content};
  display: flex;
  position: relative;
  box-sizing: content-box;
  flex-shrink: 0;
  align-items: center;
  justify-content: var(#{custom-property.get($items: ('button', 'justify-content'), $layer: 'atom')});
  min-width: var(#{custom-property.get($items: ('button', 'min-width'), $layer: 'atom')});
  max-width: 100%;
  min-height: var(#{custom-property.get($items: ('button', 'min-height'), $layer: 'atom')});
  margin: 0;
  padding: var(#{custom-property.get($items: ('button', 'padding-vertical'), $layer: 'atom')})
    var(#{custom-property.get($items: ('button','padding-horizontal'), $layer: 'atom')});
  overflow: visible;
  transition: var(#{custom-property.get($items: ('button', 'transition'), $layer: 'atom')});
  border-width: var(#{custom-property.get($items: ('button', 'border-width'), $layer: 'atom')});
  border-style: solid;
  border-radius: var(#{custom-property.get($items: ('button', 'border-radius'), $layer: 'atom')});
  font-family: settings.$font-family;
  font-size: var(#{custom-property.get($items: ('button', 'font-size'), $layer: 'atom')});
  font-weight: var(#{custom-property.get($items: ('button', 'font-weight'), $layer: 'atom')});
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  -webkit-appearance: none; // stylelint-disable-line property-no-vendor-prefix
  touch-action: manipulation;

  &:hover,
  &:focus {
    outline: none;
    text-decoration: none;
  }

  &:disabled,
  &[aria-disabled='true'],
  &:disabled:hover,
  &[aria-disabled='true']:hover,
  &:disabled:focus,
  &[aria-disabled='true']:focus {
    cursor: not-allowed;
  }
}

#{classname.get($classname-items: 'button__avatar', $layer: 'atom')},
#{classname.get($classname-items: 'button__icon', $layer: 'atom')} {
  margin-right: settings.$icon-spacing;
  margin-left: math.div(-(settings.$icon-spacing), 4);
}

#{classname.get($classname-items: 'button__label', $layer: 'atom')}
  + #{classname.get($classname-items: 'button__icon', $layer: 'atom')} {
  margin-right: math.div(-(settings.$icon-spacing), 4);
  margin-left: settings.$icon-spacing;
}
