@forward 'settings';
@use 'sass:math';
@use './settings';
@use '../../settings/setup';
@use '../../tools/properties';

.#{properties.join-with-dashes((setup.$namespace, 'a', 'button'))} {
  display: inline-flex;
  position: relative;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  min-height: calc(#{settings.$padding-vertical * 2} + 1em);
  margin: 0;
  padding: settings.$padding-vertical settings.$padding-horizontal;
  overflow: visible;
  transition: settings.$transition;
  border-radius: settings.$border-radius;
  font: settings.$font;
  font-weight: settings.$font-weight;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  -webkit-appearance: none; // stylelint-disable-line property-no-vendor-prefix
  touch-action: manipulation;

  &,
  &:visited {
    border: settings.$border-width solid settings.$border-color;
    background: settings.$background-color;
    box-shadow: settings.$box-shadow;
    color: settings.$color;
  }

  &:hover,
  &:focus {
    border-color: settings.$border-color-hover;
    outline: none;
    background: settings.$background-color-hover;
    box-shadow: settings.$box-shadow-hover;
    color: settings.$color-hover;
    text-decoration: none;
  }

  &:active {
    border-color: settings.$border-color-active;
    background: settings.$background-color-active;
    box-shadow: settings.$box-shadow-active;
    color: settings.$color-active;
  }

  &:disabled,
  &[aria-disabled='true'] {
    border-color: settings.$border-color-disabled;
    background: settings.$background-color-disabled;
    box-shadow: settings.$box-shadow-disabled;
    color: settings.$color-disabled;
    cursor: not-allowed;
  }
}

.#{properties.join-with-dashes((setup.$namespace, 'a', 'button__avatar'))},
.#{properties.join-with-dashes((setup.$namespace, 'a', 'button__icon'))} {
  margin-right: settings.$icon-spacing;
  margin-left: math.div(-(settings.$icon-spacing), 4);
}

.#{properties.join-with-dashes((setup.$namespace, 'a', 'button__label'))} + .#{properties.join-with-dashes((setup.$namespace, 'a', 'button__icon'))} {
  margin-right: math.div(-(settings.$icon-spacing), 4);
  margin-left: settings.$icon-spacing;
}
