@use '../../settings/animation';
@use '../../settings/typography';
@use '../../tools/palette';
@use '../../tools/shadow';
@use '../../tools/size';

//
// Base styles ////////////////////////////////////////

$padding-vertical: size.get('xs') !default;
$padding-horizontal: size.get('m') !default;
$border-width: size.get('xxxs') !default;
$border-radius: size.get('xs') !default;
$font: inherit !default;
$font-weight: typography.$font-weight-normal !default;
$transition: color animation.$transition-duration animation.$transition-easing,
  background-color animation.$transition-duration animation.$transition-easing,
  border animation.$transition-duration animation.$transition-easing,
  box-shadow animation.$transition-duration animation.$transition-easing !default;
$icon-spacing: size.get('s') !default;

//
// Base colors ////////////////////////////////////////

$color: palette.get('white') !default;
$background-color: palette.get('brand-1', '80') !default;
$border-color: palette.get('brand-1', '80') !default;
$box-shadow: shadow.to-box-shadow(
  shadow.generate(
    $color: rgba(palette.get('brand-1', '80'), 0.2),
    $blur-radius: size.get('xs'),
  )
) !default;

//
// Hover colors ////////////////////////////////////////

$color-hover: palette.get('white') !default;
$background-color-hover: palette.get('brand-1') !default;
$border-color-hover: palette.get('brand-1') !default;
$box-shadow-hover: shadow.to-box-shadow(
  shadow.generate(
    $color: rgba(palette.get('brand-1', '80'), 0.2),
    $blur-radius: size.get('s'),
  )
) !default;

//
// Active colors ////////////////////////////////////////

$color-active: palette.get('white') !default;
$background-color-active: palette.get('brand-2', '100') !default;
$border-color-active: palette.get('brand-2', '100') !default;
$box-shadow-active: shadow.to-box-shadow(
  shadow.generate(
    $color: rgba(palette.get('brand-2', '100'), 0.3),
    $blur-radius: size.get('xs'),
  )
) !default;

//
// Disabled colors ////////////////////////////////////////

$color-disabled: palette.get('black', '50') !default;
$background-color-disabled: palette.get('black', '10') !default;
$border-color-disabled: palette.get('black', '10') !default;
$box-shadow-disabled: none !default;
