@use '../../tools/design-token';

//
// Base styles ////////////////////////////////////////

$font-family: inherit !default;
$transition: color var(design-token.get('transition', 'default', 'duration'))
    var(design-token.get('transition', 'default', 'easing')),
  background-color var(design-token.get('transition', 'default', 'duration'))
    var(design-token.get('transition', 'default', 'easing')),
  border var(design-token.get('transition', 'default', 'duration'))
    var(design-token.get('transition', 'default', 'easing')),
  box-shadow var(design-token.get('transition', 'default', 'duration'))
    var(design-token.get('transition', 'default', 'easing')),
  outline-offset var(design-token.get('transition', 'default', 'duration'))
    var(design-token.get('transition', 'default', 'easing')) !default;
$icon-spacing: var(design-token.get('size', 's2')) !default;
$justify-content: center !default;
$allowed-color-properties: (
  'color',
  'background-color',
  'border-color',
  'box-shadow'
) !default;
$extra-color-properties: ('icon-color') !default;
$allowed-shape-properties: (
  'padding-vertical',
  'padding-horizontal',
  'border-width',
  'border-radius',
  'min-height',
  'min-width',
  'font-size',
  'font-weight',
  'justify-content'
) !default;
