@use '../../design-tokens/animation';
@use '../../tools/design-token';

//
// Base styles ////////////////////////////////////////

$font-family: inherit !default;
$transition: color animation.$transition-duration animation.$transition-easing,
  background-color animation.$transition-duration animation.$transition-easing,
  border animation.$transition-duration animation.$transition-easing,
  box-shadow animation.$transition-duration animation.$transition-easing,
  outline-offset animation.$transition-duration animation.$transition-easing !default;
$icon-spacing: var(design-token.get('size', 's2')) !default;
$justify-content: center !default;
$allowed-color-properties: (
  'color',
  'background-color',
  'border-color',
  'box-shadow'
) !default;
$extra-color-properties: ('icon-color') !default;
$allowed-shape-properties: (
  'padding-vertical',
  'padding-horizontal',
  'border-width',
  'border-radius',
  'min-height',
  'min-width',
  'font-size',
  'font-weight',
  'justify-content'
) !default;
