//
// Base styles ////////////////////////////////////////

$bitstyles-button-padding-vertical: spacing('s') !default;
$bitstyles-button-padding-horizontal: spacing('m') !default;
$bitstyles-button-border-radius: spacing('xs') !default;
$bitstyles-button-transition:
  color $bitstyles-transition-duration $bitstyles-transition-easing,
  background-color $bitstyles-transition-duration $bitstyles-transition-easing,
  border $bitstyles-transition-duration $bitstyles-transition-easing,
  box-shadow $bitstyles-transition-duration $bitstyles-transition-easing !default;
$bitstyles-button-icon-spacing: spacing('s') !default;

//
// Base colors ////////////////////////////////////////

$bitstyles-button-color: palette('white') !default;
$bitstyles-button-background-color: palette('brand-1', '80') !default;
$bitstyles-button-border: none !default;
$bitstyles-button-box-shadow: 0 0 spacing('xs') rgba(palette('brand-1', '80'), 0.2) !default;

//
// Hover colors ////////////////////////////////////////

$bitstyles-button-color-hover: palette('white') !default;
$bitstyles-button-background-color-hover: palette('brand-1') !default;
$bitstyles-button-border-hover: none !default;
$bitstyles-button-box-shadow-hover: 0 0 spacing('s') rgba(palette('brand-1'), 0.2) !default;

//
// Active colors ////////////////////////////////////////

$bitstyles-button-color-active: palette('white') !default;
$bitstyles-button-background-color-active: palette('brand-2', '100') !default;
$bitstyles-button-border-active: none !default;
$bitstyles-button-box-shadow-active: 0 0 spacing('s') rgba(palette('brand-1', '100'), 0.3) !default;

//
// Disabled colors ////////////////////////////////////////

$bitstyles-button-color-disabled: palette('black', '50') !default;
$bitstyles-button-background-color-disabled: palette('black', '10') !default;
$bitstyles-button-border-disabled: none !default;
$bitstyles-button-box-shadow-disabled: none !default;
