@forward './settings';
@use './settings';
@use '../../settings/setup';
@use '../../tools/properties';

@include properties.output(
  $property-name: 'font-size',
  $classname-root: 'text',
  $values: settings.$values,
  $breakpoints: settings.$breakpoints
);
