@use '../../design-tokens/typography';
@use '../../tools/design-token';
@use 'sass:map';

/* stylelint-disable scss/dollar-variable-default */
$font-sizes: ();
@each $name, $font-size in typography.$font-sizes {
  $font-sizes: map.set($font-sizes, $name, var(design-token.get('font-size', $name)));
}
/* stylelint-enable scss/dollar-variable-default */

$values: $font-sizes !default;
$breakpoints: ('m') !default;
