@use '../../settings/typography';
@use '../../tools/font-size';
@use 'sass:map';

$font-sizes: ();
@each $name, $font-size in typography.$font-sizes {
  $font-sizes: map.set($font-sizes, $name, font-size.get($name));
}

$values: $font-sizes !default;
$breakpoints: ('m') !default;
