@import './settings.scss';

.o-button--mode-container {
  border-radius: spacing('s');
}

.o-button--mode {
  padding-top: 0;
  padding-bottom: 0;

  &,
  &:visited {
    color: $bitstyles-button-mode-color;
    background: $bitstyles-button-mode-background-color;
    border: $bitstyles-button-mode-border;
    box-shadow: $bitstyles-button-mode-box-shadow;
  }

  &:hover,
  &:focus {
    color: $bitstyles-button-mode-color-hover;
    background: $bitstyles-button-mode-background-color-hover;
    border: $bitstyles-button-mode-border-hover;
    box-shadow: $bitstyles-button-mode-box-shadow-hover;
  }

  &:active {
    color: $bitstyles-button-mode-color-active;
    background: $bitstyles-button-mode-background-color-active;
    border: $bitstyles-button-mode-border-active;
    box-shadow: $bitstyles-button-mode-box-shadow-active;
  }

  &[aria-pressed="true"] {
    color: $bitstyles-button-mode-color-pressed;
    background: $bitstyles-button-mode-background-color-pressed;
    border: $bitstyles-button-mode-border-pressed;
    box-shadow: $bitstyles-button-mode-box-shadow-pressed;
  }

  &:disabled {
    color: $bitstyles-button-mode-color-disabled;
    cursor: default;
    background: $bitstyles-button-mode-background-color-disabled;
    border: $bitstyles-button-mode-border-disabled;
    box-shadow: $bitstyles-button-mode-box-shadow-disabled;
  }
}
