@import './settings';

.#{$bitstyles-namespace}a-button--tab-container {
  & > *:first-child {
    margin-left: -$bitstyles-button-padding-horizontal;
  }
}

.#{$bitstyles-namespace}a-button--tab {
  position: relative;
  border: 0;
  border-radius: $bitstyles-button-tab-border-radius;

  &,
  &:visited {
    color: $bitstyles-button-tab-color;
    background: $bitstyles-button-tab-background-color;
    border: $bitstyles-button-tab-border;
    box-shadow: $bitstyles-button-tab-box-shadow;

    &::after {
      position: absolute;
      right: $bitstyles-button-padding-horizontal;
      bottom: 0;
      left: $bitstyles-button-padding-horizontal;
      height: $bitstyles-button-tab-border-width;
      background-color: $bitstyles-button-tab-indicator-color;
      border-radius: $bitstyles-border-radius-round;
      content: '';
      transition: background-color $bitstyles-transition-duration $bitstyles-transition-easing;
    }
  }

  &:hover,
  &:focus {
    color: $bitstyles-button-tab-color-hover;
    background: $bitstyles-button-tab-background-color-hover;
    border: $bitstyles-button-tab-border-hover;
    box-shadow: $bitstyles-button-tab-box-shadow-hover;

    &::after {
      background-color: $bitstyles-button-tab-indicator-color-hover;
    }
  }

  &:active {
    color: $bitstyles-button-tab-color-active;
    background: $bitstyles-button-tab-background-color-active;
    border: $bitstyles-button-tab-border-active;
    box-shadow: $bitstyles-button-tab-box-shadow-active;

    &::after {
      background-color: $bitstyles-button-tab-indicator-color-active;
    }
  }

  &[aria-selected="true"],
  &[aria-current] {
    color: $bitstyles-button-tab-color-selected;
    background: $bitstyles-button-tab-background-color-selected;
    box-shadow: $bitstyles-button-tab-box-shadow-selected;

    &::after {
      background-color: $bitstyles-button-tab-indicator-color-selected;
    }
  }

  &:disabled,
  &[aria-disabled="true"] {
    color: $bitstyles-button-tab-color-disabled;
    background: $bitstyles-button-tab-background-color-disabled;
    border: $bitstyles-button-tab-border-disabled;
    box-shadow: $bitstyles-button-tab-box-shadow-disabled;

    &::after {
      background-color: $bitstyles-button-tab-indicator-color-disabled;
    }
  }
}
