@forward 'settings';
@use './settings';
@use '../../settings/layout';
@use '../../tools/classname';
@use '../../tools/custom-property';
@use '../../tools/button';
@use '../button/settings' as button-settings;

#{classname.get($classname-items: 'button--tab-container', $layer: 'atom')} {
  & > *:first-child {
    margin-left: -(var(#{custom-property.get($items: ('button', 'padding-horizontal'), $layer: 'atom')}));
  }
}

#{classname.get($classname-items: 'button--tab', $layer: 'atom')} {
  position: relative;
  border: 0;
  border-radius: settings.$border-radius;

  &,
  &:visited {
    &::after {
      content: '';
      position: absolute;
      right: var(#{custom-property.get($items: ('button', 'padding-horizontal'), $layer: 'atom')});
      bottom: 0;
      left: var(#{custom-property.get($items: ('button', 'padding-horizontal'), $layer: 'atom')});
      height: settings.$border-width;
      transition: settings.$indicator-transition;
      border-radius: layout.$border-radius-round;
      background-color: settings.$indicator-color;
    }
  }

  &:hover,
  &:focus {
    &::after {
      background-color: settings.$indicator-color-hover;
    }
  }

  &:active {
    &::after {
      background-color: settings.$indicator-color-active;
    }
  }

  &[aria-selected='true'],
  &[aria-current] {
    &::after {
      background-color: settings.$indicator-color-pressed;
    }
  }

  &:disabled,
  &[aria-disabled='true'],
  &:disabled:hover,
  &[aria-disabled='true']:hover,
  &:disabled:focus,
  &[aria-disabled='true']:focus {
    &::after {
      background-color: settings.$indicator-color-disabled;
    }
  }
}
