@use '../../settings/animation';
@use '../../tools/palette';
@use '../../tools/size';

//
// Base styles ////////////////////////////////////////

$transition: color animation.$transition-duration animation.$transition-easing,
  border animation.$transition-duration animation.$transition-easing !default;
$indicator-transition: background-color animation.$transition-duration
  animation.$transition-easing !default;

//
// Indicator colors ////////////////////////////////////////
$indicator-width: size.get('s6') !default;
$indicator-border-radius: 0 !default;
$indicator-color: palette.get('brand-1', 'light-4') !default;
$indicator-color-hover: palette.get('brand-1', 'light-4') !default;
$indicator-color-active: palette.get('brand-1', 'light-2') !default;
$indicator-color-pressed: palette.get('brand-1', 'dark-1') !default;
$indicator-color-disabled: palette.get('grayscale', 'base') !default;
