@use '../../settings/animation';
@use '../../tools/palette';
@use '../../tools/size';

//
// Base styles ////////////////////////////////////////

$border-radius: 0 !default;
$border-width: size.get('s6') !default;
$transition: color animation.$transition-duration animation.$transition-easing,
  border animation.$transition-duration animation.$transition-easing !default;
$indicator-transition: background-color animation.$transition-duration
  animation.$transition-easing !default;

//
// Indicator colors ////////////////////////////////////////

$indicator-color: transparent !default;
$indicator-color-hover: palette.get('brand-1') !default;
$indicator-color-active: palette.get('brand-1') !default;
$indicator-color-pressed: palette.get('brand-1') !default;
$indicator-color-disabled: transparent !default;
