@use '../../settings/animation';
@use '../../tools/custom-property';
@use '../../tools/palette';
@use '../../tools/size';

//
// Base styles ////////////////////////////////////////

$border-radius: 0 !default;
$border-width: size.get('s6') !default;
$transition: color animation.$transition-duration animation.$transition-easing,
  border animation.$transition-duration animation.$transition-easing !default;
$indicator-transition: background-color animation.$transition-duration
  animation.$transition-easing !default;

//
// Indicator colors ////////////////////////////////////////

$indicator-color: transparent !default;
$indicator-color-hover: var(
  #{custom-property.get(
      $items: (
        'color',
        'brand-1',
        'base',
      ),
    )}
) !default;
$indicator-color-active: var(
  #{custom-property.get(
      $items: (
        'color',
        'brand-1',
        'base',
      ),
    )}
) !default;
$indicator-color-pressed: var(
  #{custom-property.get(
      $items: (
        'color',
        'brand-1',
        'base',
      ),
    )}
) !default;
$indicator-color-disabled: transparent !default;
