@use './settings' as settings2;
@use "../../settings/animation";
@use "../../settings/layout";
@use "../../settings/setup";
@use "../button/settings";

.#{setup.$namespace}a-button--tab-container {
  & > *:first-child {
    margin-left: -(settings.$button-padding-horizontal);
  }
}

.#{setup.$namespace}a-button--tab {
  position: relative;
  border: 0;
  border-radius: settings2.$button-tab-border-radius;

  &,
  &:visited {
    color: settings2.$button-tab-color;
    background: settings2.$button-tab-background-color;
    border: settings2.$button-tab-border;
    box-shadow: settings2.$button-tab-box-shadow;

    &::after {
      position: absolute;
      right: settings.$button-padding-horizontal;
      bottom: 0;
      left: settings.$button-padding-horizontal;
      height: settings2.$button-tab-border-width;
      background-color: settings2.$button-tab-indicator-color;
      border-radius: layout.$border-radius-round;
      content: '';
      transition: background-color animation.$transition-duration animation.$transition-easing;
    }
  }

  &:hover,
  &:focus {
    color: settings2.$button-tab-color-hover;
    background: settings2.$button-tab-background-color-hover;
    border: settings2.$button-tab-border-hover;
    box-shadow: settings2.$button-tab-box-shadow-hover;

    &::after {
      background-color: settings2.$button-tab-indicator-color-hover;
    }
  }

  &:active {
    color: settings2.$button-tab-color-active;
    background: settings2.$button-tab-background-color-active;
    border: settings2.$button-tab-border-active;
    box-shadow: settings2.$button-tab-box-shadow-active;

    &::after {
      background-color: settings2.$button-tab-indicator-color-active;
    }
  }

  &[aria-selected="true"],
  &[aria-current] {
    color: settings2.$button-tab-color-selected;
    background: settings2.$button-tab-background-color-selected;
    box-shadow: settings2.$button-tab-box-shadow-selected;

    &::after {
      background-color: settings2.$button-tab-indicator-color-selected;
    }
  }

  &:disabled,
  &[aria-disabled="true"] {
    color: settings2.$button-tab-color-disabled;
    background: settings2.$button-tab-background-color-disabled;
    border: settings2.$button-tab-border-disabled;
    box-shadow: settings2.$button-tab-box-shadow-disabled;

    &::after {
      background-color: settings2.$button-tab-indicator-color-disabled;
    }
  }
}
