@use "../../settings/animation";
@use "../../tools/palette";
@use "../../tools/spacing";

//
// Base styles ////////////////////////////////////////

$button-tab-border-radius: 0 !default;
$button-tab-border-width: spacing.spacing('xxs');
$button-tab-transition:
  color animation.$transition-duration animation.$transition-easing,
  border animation.$transition-duration animation.$transition-easing !default;

//
// Base colors ////////////////////////////////////////

$button-tab-color: palette.get('gray', '60') !default;
$button-tab-background-color: transparent !default;
$button-tab-indicator-color: transparent !default;
$button-tab-border: 2px solid transparent !default;
$button-tab-box-shadow: none !default;

//
// Hover colors ////////////////////////////////////////

$button-tab-color-hover: palette.get('brand-1', '70') !default;
$button-tab-background-color-hover: transparent !default;
$button-tab-indicator-color-hover: palette.get('brand-1', '70') !default;
$button-tab-border-hover: 2px solid transparent !default;
$button-tab-box-shadow-hover: none !default;

//
// Active colors ////////////////////////////////////////

$button-tab-color-active: palette.get('brand-1', '90') !default;
$button-tab-background-color-active: transparent !default;
$button-tab-indicator-color-active: palette.get('brand-1', '90') !default;
$button-tab-border-active: 2px solid transparent !default;
$button-tab-box-shadow-active: none !default;

//
// Selected colors ////////////////////////////////////////

$button-tab-color-selected: palette.get('gray', '90') !default;
$button-tab-background-color-selected: transparent !default;
$button-tab-indicator-color-selected: palette.get('brand-1', '90') !default;
$button-tab-box-shadow-selected: none !default;

//
// Disabled colors ////////////////////////////////////////

$button-tab-color-disabled: palette.get('gray', '30') !default;
$button-tab-background-color-disabled: transparent !default;
$button-tab-indicator-color-disabled: transparent !default;
$button-tab-border-disabled: 2px solid transparent !default;
$button-tab-box-shadow-disabled: none !default;
