@import 'settings';

@include output-properties(
  $property-name: 'flex-wrap',
  $classname-root: 'flex',
  $values: $bitstyles-flex-wrap
);

@include output-properties(
  $property-name: 'flex-direction',
  $classname-root: 'flex',
  $values: $bitstyles-flex-direction
);

@include output-properties(
  $property-name: 'flex-grow',
  $classname-root: 'flex-grow',
  $values: $bitstyles-flex-grow
);

@include output-properties(
  $property-name: 'flex-shrink',
  $classname-root: 'flex-shrink',
  $values: $bitstyles-flex-shrink
);

@each $breakpoint-alias in $bitstyles-flex-breakpoints {
  @include media-query($breakpoint-alias) {
    @include output-properties(
      $property-name: 'flex-wrap',
      $classname-root: 'flex',
      $values: $bitstyles-flex-wrap,
      $breakpoint-suffix: '\\\@#{$breakpoint-alias}'
    );
    @include output-properties(
      $property-name: 'flex-direction',
      $classname-root: 'flex',
      $values: $bitstyles-flex-direction,
      $breakpoint-suffix: '\\\@#{$breakpoint-alias}'
    );
    @include output-properties(
      $property-name: 'flex-grow',
      $classname-root: 'flex-grow',
      $values: $bitstyles-flex-grow,
      $breakpoint-suffix: '\\\@#{$breakpoint-alias}'
    );
    @include output-properties(
      $property-name: 'flex-shrink',
      $classname-root: 'flex-shrink',
      $values: $bitstyles-flex-shrink,
      $breakpoint-suffix: '\\\@#{$breakpoint-alias}'
    );
  }
}
