@forward 'settings';
@use 'settings';
@use '../../tools/properties';
@use '../../tools/media-query';

@include properties.output(
  $property-name: 'flex-wrap',
  $classname-root: 'flex',
  $values: settings.$wrap,
  $breakpoints: settings.$breakpoints
);
@include properties.output(
  $property-name: 'flex-direction',
  $classname-root: 'flex',
  $values: settings.$direction,
  $breakpoints: settings.$breakpoints
);
@include properties.output(
  $property-name: 'flex-grow',
  $classname-root: 'flex-grow',
  $values: settings.$grow,
  $breakpoints: settings.$breakpoints
);
@include properties.output(
  $property-name: 'flex-shrink',
  $classname-root: 'flex-shrink',
  $values: settings.$shrink,
  $breakpoints: settings.$breakpoints
);
