$direction-values: (
  'col': column,
  'row': row,
) !default;
$direction-breakpoints: ('m') !default;

$wrap-values: (
  'wrap': wrap,
  'nowrap': nowrap,
) !default;
$wrap-breakpoints: ('m') !default;

$grow-values: (
  '0': 0,
  '1': 1,
) !default;
$grow-breakpoints: ('m') !default;

$shrink-values: (
  '0': 0,
  '1': 1,
) !default;
$shrink-breakpoints: ('m') !default;
