$bitstyles-flex-direction: (
  'col': column,
  'row': row
) !default;
$bitstyles-flex-wrap: (
  'wrap': wrap,
  'nowrap': nowrap
) !default;
$bitstyles-flex-grow: (
  '0': 0,
  '1': 1
) !default;
$bitstyles-flex-shrink: (
  '0': 0,
  '1': 1
) !default;
$bitstyles-flex-breakpoints: ('m') !default;
