@use '../../tools/media-query';
@use '../../tools/classname';
@use '../../tools/design-token';

#{classname.get($classname-items: 'page-header', $layer: 'organism')} {
  padding-top: var(design-token.get('size', 'm'));
  background-color: var(design-token.get('color', 'grayscale', 'light-3'));

  @include media-query.get('m') {
    &__content {
      display: grid;
      grid-template-areas:
        'top-left top-right'
        'center-left center-right'
        'bottom-left bottom-right';
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    &__top-left {
      grid-area: top-left;
    }
    &__top-right {
      grid-area: top-right;
      display: flex;
      justify-content: flex-end;
    }
    &__center-left {
      grid-area: center-left;
    }
    &__center-right {
      grid-area: center-right;
      display: flex;
      justify-content: flex-end;
    }
    &__bottom-left {
      grid-area: bottom-left;
    }
    &__bottom-right {
      grid-area: bottom-right;
      display: flex;
      justify-content: flex-end;
    }
  }
}
