// Absolute Cover
//
// An element that covers its nearest relatively-positioned parent from edge to edge.
//
// Styleguide 1.2

@mixin absolute-cover($distance: 0) {
  position: absolute;
  top: $distance;
  right: $distance;
  bottom: $distance;
  left: $distance;
}
