// Absolute Cover
//
// **An element that covers its parent element from edge to edge** — vertically and
// horizontally — **regardless of how it may stretch**.
//
// Not recommended for images, media etc. (elements width inherent dimensions) due
// to that. This is most commonly used for container elements.
//
// @param {Number} $distance  CSS dimension with unit. Distance from the edges of the closest parent element with non-static positioning.
//

@mixin absolute-cover($distance: 0) {
  position: absolute;
  top: $distance;
  right: $distance;
  bottom: $distance;
  left: $distance;
}
