@mixin bordered-header() {
  display: grid;
  grid-template-columns: auto minmax(1px, 1fr);
  grid-gap: spacing('m');
  align-items: center;
  width: 100%;

  &::after {
    border-top: $bitstyles-bordered-header-border;
    content: '';
  }
}
