@use "../atoms/bordered-header/settings";

@mixin bordered-header() {
  display: grid;
  grid-template-columns: auto minmax(1px, 1fr);
  grid-gap: settings.$bordered-header-gutter;
  align-items: center;
  width: 100%;

  &::after {
    border-top: settings.$bordered-header-border;
    content: '';
  }
}
