// Break long words
//
// Forces text content within an element to break if longer than the element is wide.
//
// Styleguide 1.4

@mixin break-long-words {
  overflow-wrap: break-word;
  word-break: break-word; // all 3 are required for cross-browser reasonablness. Without, some browsers force-break *everything*
  word-wrap: break-word;
}
