// Break text
//
// **Forces text content within an element to break if longer than the element is wide.**.
//
// A cross-browser friendly method of ensuring no words exceed the width of the
// container. Commonly used to ensure user-generated content doesn’t break or
// overflow your page layout.
//

@mixin break-text {
  overflow-wrap: break-word;
  word-break: break-word; // all 3 are required for cross-browser reasonablness. Without, some browsers force-break *everything*
  word-wrap: break-word;
}
