@use 'sass:map';
@use 'sass:list';
@use './classname';
@use '../design-tokens/typography';
@use '../atoms/button/settings';
@use './design-token';
@use './custom-properties';

/* prettier-ignore */

@mixin colors($colors, $variant-name) {
  $allow-list: list.join(
    settings.$allowed-color-properties,
    settings.$extra-color-properties
  );

  @if map.has-key($colors, 'default') {
    @include custom-properties.output-filtered(
      $properties: map.get($colors, 'default'),
      $allow-list: $allow-list,
      $module-name: ($variant-name)
    );
  }

  @if map.has-key($colors, 'hover') {
    @include custom-properties.output-filtered(
      $properties: map.get($colors, 'hover'),
      $allow-list: $allow-list,
      $module-name: ($variant-name, 'hover')
    );
  }

  @if map.has-key($colors, 'active') {
    @include custom-properties.output-filtered(
      $properties: map.get($colors, 'active'),
      $allow-list: $allow-list,
      $module-name: ($variant-name, 'active')
    );
  }

  @if map.has-key($colors, 'pressed') {
    @include custom-properties.output-filtered(
      $properties: map.get($colors, 'pressed'),
      $allow-list: $allow-list,
      $module-name: ($variant-name, 'pressed')
    );
  }

  @if map.has-key($colors, 'disabled') {
    @include custom-properties.output-filtered(
      $properties: map.get($colors, 'disabled'),
      $allow-list: $allow-list,
      $module-name: ($variant-name, 'disabled')
    );
  }
}

/* prettier-ignore */

@mixin sizes($sizes, $with-square-variant: true) {
  @include custom-properties.output-filtered(
    $properties: $sizes,
    $allow-list: settings.$allowed-shape-properties,
    $module-name: 'button',
  );

  @each $property-name in (settings.$allowed-shape-properties) {
    @if map.has-key($sizes, $property-name) {
      /* prettier-ignore */
      #{design-token.get('button', $property-name)}: map.get($sizes, $property-name);
    }
  }

  @if $with-square-variant {
    $line-height-property: design-token.get('line-height', '5');
    $min-width-property: design-token.get('button', 'min-width');
    $min-height-property: design-token.get('button', 'min-height');

    &#{classname.get($classname-items: 'button--square', $layer: 'atom')} {
      #{$min-width-property}: #{calc(1em * var(#{$line-height-property}) + 2 * #{map.get($sizes, 'padding-vertical')})};
      #{$min-height-property}: #{calc(1em * var(#{$line-height}) + 2 * #{map.get($sizes, 'padding-vertical')})};

      @if map.has-key($sizes, 'padding-vertical') {
        #{design-token.get('button', 'padding-horizontal')}: map.get(
          $sizes,
          'padding-vertical'
        );
        #{design-token.get('button', 'padding-vertical')}: map.get(
          $sizes,
          'padding-vertical'
        );
        #{design-token.get('button', 'padding-horizontal')}: #{map.get($sizes, 'padding-vertical')};
        #{design-token.get('button', 'padding-vertical')}: #{map.get($sizes, 'padding-vertical')};
      }
    }
  }
}
