// Clearfix
//
// Apply to a floated element (or its parent) to ensure following elements are cleared.
//
// Styleguide 1.5

@mixin clearfix {
  &::after {
    display: table;
    clear: both;
    content: '';
  }
}
