@use 'sass:color';
@use 'sass:map';
@use 'sass:math';
@use 'sass:meta';
@use 'sass:string';
@use '../settings/base-colors';

// Generate palette
//
// **Generates a Sass map of colors. Each color is a `name: color` pair, with the name being the percentage as a string (one for each of the percentages in the list you pass in), and the color being the mix-color mixed into the base-color to that percentage.
//
// @param {String} $base-color  Base colour into which the other color will be mixed
//
// @param {String} $mix-color  The color to mix into the base color at different percentages
//
// @param {list} $percentages  A list of decmial values representing the percentages at which the mix-color will be mixed into the base-color

@function generate-scale(
  $base-color,
  $percentages: base-colors.$color-scale-percentages
) {
  $color-map: ();

  @each $color-name, $percentage in $percentages {
    $lightness-value: math.percentage(math.div($percentage, 100));
    $color-map: map.merge(
      $color-map,
      (
        '#{$color-name}':
          color.scale($base-color, $lightness: $lightness-value),
      )
    );
  }

  @return $color-map;
}

@function url-encode-color($color) {
  @if meta.type-of($color) == 'color' and string.index(#{$color}, '#') == 1 {
    @return '%23' + string.unquote('#{string.slice(#{$color}, 2)}');
  }

  @return $color;
}
