@use "../base/forms/settings-fieldset";

@mixin fieldset {
  padding: settings-fieldset.$fieldset-padding;
  background-color: settings-fieldset.$fieldset-background;
  border: settings-fieldset.$fieldset-border;
  border-radius: settings-fieldset.$fieldset-border-radius;
}

@mixin legend {
  padding: settings-fieldset.$legend-padding;
  color: settings-fieldset.$legend-color;
  background-color: settings-fieldset.$legend-background-color;
  border: settings-fieldset.$legend-border;
  border-radius: settings-fieldset.$legend-border-radius;
}
