// Flex
//
// **Basic flex layout**.
//
// Apply to an element to simply make its children share the available width e.g.
// a list of links in a menu.
// Use `flex__primary` to make a flex-child take as much space as is
// available i.e. all the horizontal space left after its siblings take the minimum width they need.
//

@mixin flex {
  display: flex;
  align-items: stretch;
}

@mixin flex--wrap {
  flex-wrap: wrap;
}

@mixin flex__primary {
  flex-grow: 1;
}

@mixin flex__no-shrink {
  flex-shrink: 0;
}
