@use 'sass:map';
@use '../settings/typography';
@use 'unit-conversions';

// Palette
//
// **Returns requested colours from the global `$palette` map.**
// e.g. `color: palette('text');`
//
// @param {String} $color  Base colour within the palette
//
// @param {String} $percent   Optional. Percentage of the color to mix with white. Defaults to `100%` (fuly the specified color, no white)
//

@function get($font-size, $breakpoint: 'base') {
  @if map.has-key(typography.$font-sizes, $breakpoint) {
    $font-sizes: map.get(typography.$font-sizes, $breakpoint);
    $base-size: typography.$font-size-base-small;

    @if map.has-key($font-sizes, 'html') {
      $base-size: map.get($font-sizes, 'html');
    }

    @if map.has-key($font-sizes, $font-size) {
      @if $font-size == 'html' {
        @return unit-conversions.px-to-rem(map.get($font-sizes, $font-size), 16px);
      }

      @else {
        @return unit-conversions.px-to-rem(map.get($font-sizes, $font-size), $base-size);
      }
    }

    @else {
      @error 'Oops! There’s no font-size at that breakpoint ‘#{$font-size}/#{$breakpoint}’.';
    }
  }

  @else {
    @error 'Oops! Font-sizes at breakpoint ‘#{$breakpoint}’ do not exist.';
  }
}
