// Webfont
//
// Helper mixin to output a widely cross-browser-compatible `@font-face` declaration
// for importing webfonts.
//
// ```@include webfont(Roboto, italic, 700, 'fonts/roboto-bold-italic');```
//
// @param {String} $font-family  The name by which this font will be referred to.
//
// @param {String} $font-style  The `font-style` of the font you’re defining e.g. `normal`, `italic`.
//
// @param {String} $font-weight  The `font-weight` of the font you’re defining e.g. `100`, `400`, `bold`.
//
// @param {String} $font-url  The location at which the font assets can be found. Expects `.eot`, `.woff2`, `.woff`, and `.ttf` versions to exist there.
//
// Styleguide Tools.font-face

@mixin webfont($font-family, $font-style, $font-weight, $font-url) {
  @font-face {
    font-family: $font-family;
    font-style: $font-style;
    font-weight: $font-weight;
    src: font-url('#{$font-url}.eot');
    src:
      font-url('#{$font-url}.eot?#iefix') format('embedded-opentype'),
      font-url('#{$font-url}.woff2') format('woff2'),
      font-url('#{$font-url}.woff') format('woff'),
      font-url('#{$font-url}.ttf') format('truetype');
  }
}
