@mixin grid {
  @include list-reset();

  margin-left: -$bitstyles-grid-gutter;
}

@mixin grid__item {
  display: inline-block;
  width: 100%;
  padding-left: $bitstyles-grid-gutter;
  vertical-align: top;
  box-sizing: border-box;
}
