@use '../settings/animation';

@mixin icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  font-size: 1em;
  vertical-align: middle;
  flex-shrink: 0;
  outline: none;
  transition:
    fill animation.$transition-duration animation.$transition-easing,
    stroke animation.$transition-duration animation.$transition-easing,
    background-color animation.$transition-duration animation.$transition-easing,
    transform animation.$transition-duration animation.$transition-easing;
  fill: currentColor;
}
