@mixin input {
  transition:
    color $bitstyles-transition-duration $bitstyles-transition-easing,
    background-color $bitstyles-transition-duration $bitstyles-transition-easing,
    border $bitstyles-transition-duration $bitstyles-transition-easing;
}

@mixin input--checkbox-radio {
  @include input;

  position: relative;
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-right: $bitstyles-input-padding;
  vertical-align: middle;
  cursor: pointer;
  appearance: none;
}

@mixin input--text {
  @include block;
  @include input;

  width: 100%;
  padding: ($bitstyles-input-padding - $bitstyles-input-border-width / 2) $bitstyles-input-padding;
  font: inherit;
  line-height: $bitstyles-line-height-min;
  color: $bitstyles-input-color;
  background-color: $bitstyles-input-background;
  border: $bitstyles-input-border-width solid $bitstyles-input-border-color;
  border-radius: $bitstyles-input-border-radius;
  box-shadow: $bitstyles-input-box-shadow;

  &:hover {
    color: $bitstyles-input-color-hover;
    background-color: $bitstyles-input-background-hover;
    border-color: $bitstyles-input-border-color-hover;
    box-shadow: $bitstyles-input-box-shadow-hover;
  }

  &:active,
  &:focus {
    color: $bitstyles-input-color-active;
    background-color: $bitstyles-input-background-active;
    border-color: $bitstyles-input-border-color-active;
    outline: none;
    box-shadow: $bitstyles-input-box-shadow-active;
  }

  &:invalid,
  &[aria-invalid="true"] {
    color: $bitstyles-input-color-invalid;
    background-color: $bitstyles-input-background-color-invalid;
    border-color: $bitstyles-input-border-color-invalid;
    box-shadow: $bitstyles-input-box-shadow-invalid;
  }

  &:disabled {
    color: $bitstyles-input-color-disabled;
    cursor: default;
    background: $bitstyles-input-background-disabled;
    border-color: $bitstyles-input-border-color-disabled;
    box-shadow: $bitstyles-input-box-shadow-disabled;
  }
}

@mixin input-placeholder {
  &::placeholder {
    font-style: italic;
    color: $bitstyles-input-placeholder-color;
    opacity: 1;
  }
}
