@mixin input--radio {
  color: $bitstyles-radio-color;
  background-color: $bitstyles-radio-background-color;
  border: $bitstyles-radio-border-width solid $bitstyles-radio-border-color;
  border-radius: $bitstyles-radio-border-radius;

  &::after {
    display: block;
    width: 100%;
    height: 100%;
    background: $bitstyles-radio-color-checked;
    border-radius: $bitstyles-radio-border-radius;
    content: '';
    opacity: 0;
    transform: scale(0.5);
    transition:
      opacity $bitstyles-transition-duration $bitstyles-transition-easing,
      transform $bitstyles-transition-duration $bitstyles-transition-easing;
  }

  &:hover,
  &:focus {
    color: $bitstyles-radio-color-hover;
    background-color: $bitstyles-radio-background-color-hover;
    border-color: $bitstyles-radio-border-color-hover;
    outline: none;
  }

  &:checked {
    color: $bitstyles-radio-color-checked;
    background-color: $bitstyles-radio-background-color-checked;
    border-color: $bitstyles-radio-border-color-checked;

    &::after {
      opacity: 1;
      transform: scale(0.7);
    }
  }

  &[disabled] {
    color: $bitstyles-radio-color-disabled;
    background-color: $bitstyles-radio-background-color-disabled;
    border-color: $bitstyles-radio-border-color-disabled;

    &:checked {
      color: $bitstyles-radio-color-disabled-checked;
      background-color: $bitstyles-radio-background-color-disabled-checked;
      border-color: $bitstyles-radio-border-color-disabled-checked;
    }

    &::after {
      background: $bitstyles-radio-color-disabled-checked;
    }
  }
}
