@use "../base/forms/settings-checkbox";
@use "../settings/animation";

@use 'sass:math';

@mixin input--checkbox {
  color: settings-checkbox.$checkbox-color;
  background-color: settings-checkbox.$checkbox-background-color;
  border: settings-checkbox.$checkbox-border-width solid settings-checkbox.$checkbox-border-color;
  border-radius: settings-checkbox.$checkbox-border-radius;

  &:hover,
  &:focus {
    color: settings-checkbox.$checkbox-color-hover;
    background-color: settings-checkbox.$checkbox-background-color-hover;
    border-color: settings-checkbox.$checkbox-border-color-hover;
    outline: none;
  }

  &::after {
    display: block;
    width: 100%;
    height: 100%;
    background-image: settings-checkbox.$checkbox-background-image-checked;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 0.75em;
    content: '';
    opacity: 0;
    transform: scale(0.7);
    transition:
      opacity math.div(animation.$transition-duration, 2) animation.$transition-duration animation.$transition-easing,
      transform math.div(animation.$transition-duration, 2) animation.$transition-duration animation.$transition-easing;
  }

  &:checked {
    color: settings-checkbox.$checkbox-color-checked;
    background-color: settings-checkbox.$checkbox-background-color-checked;
    border-color: settings-checkbox.$checkbox-border-color-checked;

    &::after {
      opacity: 1;
      transform: scale(1);
    }
  }

  &[disabled] {
    color: settings-checkbox.$checkbox-color-disabled;
    background-color: settings-checkbox.$checkbox-background-color-disabled;
    border-color: settings-checkbox.$checkbox-border-color-disabled;

    &:checked {
      color: settings-checkbox.$checkbox-color-disabled-checked;
      background-color: settings-checkbox.$checkbox-background-color-disabled-checked;
      border-color: settings-checkbox.$checkbox-border-color-disabled-checked;
    }
  }
}
