// Link
//
// Styling for all links.
//

@mixin link {
  padding: 0;
  color: $bitstyles-color-link;
  text-decoration: $bitstyles-text-decoration-link;
  text-decoration-skip-ink: auto;
  cursor: pointer;
  background: $bitstyles-background-color-link;
  border: 0;
  box-shadow: none;
  transition: $bitstyles-link-transition;
  -webkit-appearance: none; // stylelint-disable-line property-no-vendor-prefix

  &:visited {
    color: $bitstyles-color-link-visited;
  }

  &:hover,
  &:focus {
    color: $bitstyles-color-link-hover;
    background: $bitstyles-background-color-link-hover;
    box-shadow: none;
    text-decoration: $bitstyles-text-decoration-link-hover;
  }
}
