@use '../settings/link';
@use '../settings/typography';

// Link
//
// Styling for all links.
//

@mixin link {
  padding: 0;
  font-weight: typography.$font-weight-medium;
  color: link.$color-link;
  text-decoration: link.$text-decoration-link;
  text-decoration-skip-ink: auto;
  cursor: pointer;
  background: link.$background-color-link;
  border: 0;
  box-shadow: none;
  transition: link.$link-transition;
  -webkit-appearance: none; // stylelint-disable-line property-no-vendor-prefix

  &:visited {
    color: link.$color-link-visited;
  }

  &:hover,
  &:focus {
    color: link.$color-link-hover;
    text-decoration: link.$text-decoration-link-hover;
    background: link.$background-color-link-hover;
    box-shadow: none;
  }
}
