// List reset
//
// **Removes the default margin, padding and bullets**
//
// This makes `<ul>`s much more usable as a semantic container, without it creating
// styling issues due to browser defaults intended for bullet lists in text documents.
//
// Optional parameters to prevent removal of margins and padding.
//
// @param $spacing  Boolean. If true, all default margins & padding will removed, as well as the list’s bullets.
//
// Styleguide 1.10

@mixin list-reset($spacing: true) {
  @if $spacing {
    padding: 0;
    margin: 0;
  }

  list-style-type: none;
}
