// Media
//
// **[Nicole Sullivan’s OOCSS media object](http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code/)**.
//
// Contains a ‘feature’ element floated left e.g. a small user image. All other content
// (perhaps the user’s comment) flows around it to the right. The feature element
// should have either implicit size (like an image or video element), or have width set.
//
// If the feature element is as wide as the viewport, any adjacent content will drop drown
// below it instead of ranging right.
//
// Styleguide 1.12

@mixin media {
  display: block;
  overflow: hidden;
}

@mixin media__feature {
  float: left;
  margin-right: spacing('base');
}
