// Media
//
// Nicole Sullivan’s OOCSS media object.
//
// Styleguide 1.12

@mixin media {
  display: block;
  overflow: hidden;
}

@mixin media__feature {
  float: left;
  margin-right: spacing('base');
}
