// (1) Fixes bug in safari that causes the scrollbars to appear behind some content within the overflow element.

@mixin overflow {
  max-height: 100%;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  transform: translateZ(0); // (1)
}
