@mixin select {
  display: block;
  width: 100%;
  padding: $bitstyles-select-padding-vertical ($bitstyles-select-padding-horizontal * 2) $bitstyles-select-padding-vertical $bitstyles-select-padding-horizontal;
  overflow: hidden;
  font: inherit;
  line-height: $bitstyles-line-height-min;
  color: $bitstyles-select-color;
  text-overflow: ellipsis;
  cursor: pointer;
  background-color: $bitstyles-select-background-color;
  background-image: $bitstyles-select-background-image;
  background-position: right 0.75em top 50%;
  background-repeat: no-repeat;
  background-size: 1em;
  border: $bitstyles-select-border-width solid $bitstyles-select-border-color;
  border-radius: $bitstyles-select-border-radius;
  transition:
    color $bitstyles-transition-duration $bitstyles-transition-easing,
    background-color $bitstyles-transition-duration $bitstyles-transition-easing,
    border $bitstyles-transition-duration $bitstyles-transition-easing;
  appearance: none;

  &::-ms-expand {
    display: none;
  }

  &:hover {
    color: $bitstyles-select-color-hover;
    background-color: $bitstyles-select-background-color-hover;
    background-image: $bitstyles-select-background-image-hover;
    border-color: $bitstyles-select-border-color-hover;
  }

  &:focus,
  &:active {
    color: $bitstyles-select-color-active;
    background-color: $bitstyles-select-background-color-active;
    background-image: $bitstyles-select-background-image-active;
    border-color: $bitstyles-select-border-color-active;
    outline: none;
  }

  &:invalid {
    color: $bitstyles-select-color-invalid;
    background-color: $bitstyles-select-background-color-invalid;
    background-image: $bitstyles-select-background-image-invalid;
    border: $bitstyles-select-border-color-invalid;
  }

  &[disabled] {
    color: $bitstyles-select-color-disabled;
    cursor: default;
    background-color: $bitstyles-select-background-color-disabled;
    background-image: $bitstyles-select-background-image-disabled;
    border-color: $bitstyles-select-border-color-disabled;
  }
}
