@use 'sass:list';
@use 'sass:math';
@use 'sass:string';

/* stylelint-disable scss/no-duplicate-dollar-variables */
@function generate($color, $offset, $blur-radius, $layers: 4) {
  $shadow: ();

  @for $layer-index from $layers through 1 {
    $layer-blur-radius: math.div($blur-radius, $layer-index);
    $layer-offset: math.div($offset, $layer-index);
    $layer: (
      'color': $color,
      'offset': $layer-offset,
      'blur-radius': $layer-blur-radius,
    );

    $shadow: list.append($shadow, $layer);
  }

  @return $shadow;
}
/* stylelint-enable scss/no-duplicate-dollar-variables */
