@use 'sass:list';
@use 'sass:map';
@use 'sass:math';
@use 'sass:string';

/*
 * Converts a list of shadow-layers to CSS suitable for use with the `box-shadow` property
 *
 * @param {List} $shadow The list of shadow-layer maps
 */

@function to-box-shadow($shadow) {
  $shadow-definition: ();

  @each $layer in $shadow {
    $shadow-definition: list.append($shadow-definition, string.unquote('0 #{map.get($layer, 'offset')} #{map.get($layer, 'blur-radius')} #{map.get($layer, 'color')}'), comma);
  }

  @return $shadow-definition;
}

/*
 * Converts a list of shadow-layers to CSS suitable for use with the `filter` property
 *
 * @param {List} $shadow The list of shadow-layer maps
 */

@function to-drop-shadow($shadow) {
  $shadow-definition: ();

  @each $layer in $shadow {
    $shadow-definition: list.append($shadow-definition, string.unquote('drop-shadow(#{map.get($layer, 'color')} 0 #{map.get($layer, 'offset')} #{map.get($layer, 'blur-radius')})'), space);
  }

  @return $shadow-definition;
}

/*
 * Generates a list of shadow-layers, which is a list of sass maps in the following format:
 * (
 *   'color': <color>
 *   'offset': <length>
 *   'blur-radius': <length>
 * )
 *
 * @param {Color} $color. The shadow color (will be the same for each layer)
 * @param {Length} $offset. The shadow offset in the y-axis
 * @param {Length} $blur-radius. The amount of blur applied to the shadow
 * @param {Number} $layers. The number of layers the shadow should be built with. More produces a more natural-looking result, but with diminishing returns — past some value there is no visible difference, but larger values may cause some performance impact on rendering in the browser.
 */

/* stylelint-disable scss/no-duplicate-dollar-variables */
@function generate($color, $offset: 0, $blur-radius, $layers: 4) {
  $shadow: ();

  @for $layer-index from $layers through 1 {
    $layer-blur-radius: math.div($blur-radius, $layer-index);
    $layer-offset: math.div($offset, $layer-index);
    $layer: (
      'color': $color,
      'offset': $layer-offset,
      'blur-radius': $layer-blur-radius,
    );

    $shadow: list.append($shadow, $layer);
  }

  @return $shadow;
}
/* stylelint-enable scss/no-duplicate-dollar-variables */
