// sr-only
//
// **Hide an element visually while leaving it readable & accessible by search engines & screenreaders**
//
// Use this to give more complete & understandable labels for UI and to help explain
// connections between content that may otherwise only be visually apparent.
//

@mixin sr-only {
  position: absolute !important; // stylelint-disable-line declaration-no-important
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  white-space: nowrap;
  border: 0;
}
