@use "../atoms/topbar/settings";

@mixin topbar {
  position: settings.$topbar-position;
  top: 0;
  right: 0;
  left: 0;
  z-index: settings.$topbar-z-index;
  padding: settings.$topbar-vertical-padding settings.$topbar-horizontal-padding;
}
