// Truncate with ellipsis(…)
//
// If an element is single-line inline or inline-block, this will truncate its content
// and display an ellipsis (…) at the end of the line.
//
// Styleguide 1.13

@mixin truncate-with-ellipsis($truncation-boundary: 100%) {
  max-width: $truncation-boundary;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
