@use 'sass:map';
@use '../settings/typography';
@use '../settings/setup';
@use 'media-query';
@use 'font-size';

// Output font sizes
//
// **Private mixin**
//
// Used to output font-sizes from a map of font-sizes in `element-name: font-size` pairs.
//
// @param {Map} $font-sizes  A map of font-sizes in `element-name: font-size` pairs. See `typography.$font-sizes` for an example.
//
// @param {String} $prefix  A string to prefix to the ouput selector.
//
// @param {List} $subset  Provide a list of element names for which to output font-sizes. Defaults to include all sizes defined in the `$font-sizes` parameter.
//

@mixin _output-font-sizes($font-sizes, $prefix, $subset, $breakpoint) {
  @each $element-name, $font-size in ($font-sizes) {
    @if length($subset) == 0 or index($subset, $element-name) {
      #{$prefix}#{$element-name} {
        /* stylelint-disable max-nesting-depth */
        font-size: font-size.get(
          $font-size: $element-name,
          $breakpoint: $breakpoint
        );
        /* stylelint-enable max-nesting-depth */
      }
    }
  }
}

// Font-size generator
//
// **Generate your typographic scale**
//
// Set your font-sizes in the map `$bitstyles-font-sizes` e.g.
//
// ```scss
// $bitstyles-font-sizes: (
//   'base': (
//     'html': $font-size-base-small,
//     'h0': 3rem,
//     'h1': 2rem,
//     'h2': 1.7rem,
//     'h3': 1.45rem,
//     'h4': 1.2rem,
//     'h5': $font-size-base-small,
//     'h6': 0.8rem,
//   ),
//   'm': (
//     'html': $font-size-base,
//     'h0': 4.8rem,
//     'h1': 3rem,
//     'h2': 2.45rem,
//     'h3': 1.95rem,
//     'h4': 1.25rem,
//     'h5': $font-size-base,
//     'h6': 0.8rem,
//   )
// );
// ```
//
// Use `rem` to define font-sizes.
//
// `html` is a reserved word, and results in font-sizes being output without an enclosing media query.
//
// The media-query names used should be defined in `$bitstyles-breakpoints`.
//
// @param {String} $prefix  Optional. Provide a string that will be prepended to the element name. Can include `.` to output classname selectors instead of elements.
//
// @param {List} $subset  Optional. Provide a list of element names for which to output font-sizes. Defaults to include all sizes defined in `$bitstyles-font-sizes`.
//

@mixin generate-font-sizes($prefix: '', $subset: ()) {
  @each $breakpoint, $font-sizes in typography.$font-sizes {
    // Don’t wrap base classes in a media-query
    @if $breakpoint == 'base' {
      @include _output-font-sizes($font-sizes, $prefix, $subset, $breakpoint);
    } @else {
      @include media-query.get($breakpoint) {
        @include _output-font-sizes($font-sizes, $prefix, $subset, $breakpoint);
      }
    }
  }
}
