// Vertical Center
//
// **Centres an element vertically (not horizontally)**
//
// Centres the element vertically, relative to its closest positioned parent.
// Uses absolute positioning, therefore the element will be outside the document flow.
//

@mixin vertical-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
