.#{$bitstyles-namespace}t-text-weight--light {
  font-weight: $bitstyles-font-weight-light;
}

.#{$bitstyles-namespace}t-text-weight--normal {
  font-weight: $bitstyles-font-weight-normal;
}

.#{$bitstyles-namespace}t-text-weight--bold {
  font-weight: $bitstyles-font-weight-bold;
}
