@import './settings';

.#{$bitstyles-namespace}o-ui-group {
  border-radius: $bitstyles-ui-group-border-radius;
  box-shadow: $bitstyles-ui-group-box-shadow;
}

.#{$bitstyles-namespace}o-ui-group__item {
  box-shadow: none;

  &,
  &:hover,
  &:active,
  &:focus {
    &:not(.#{$bitstyles-namespace}o-ui-group__last) {
      border-right: 0;
    }
  }
}
