@forward 'settings';
@use './settings';
@use '../../tools/classname';

#{classname.get($classname-items: 'ui-group', $layer: 'organism')} {
  border-radius: settings.$border-radius;
  box-shadow: settings.$box-shadow;
}

#{classname.get($classname-items: 'ui-group__item', $layer: 'organism')} {
  box-shadow: none;

  &,
  &:hover,
  &:active,
  &:focus {
    &:not(
        #{classname.get($classname-items: 'ui-group__last', $layer: 'organism')}
      ) {
      border-right: 0;
    }
  }
}
