@forward 'settings';
@use './settings';
@use '../../settings/setup';
@use '../../tools/properties';

.#{properties.join-with-dashes((setup.$namespace, 'o', 'ui-group'))} {
  border-radius: settings.$border-radius;
  box-shadow: settings.$box-shadow;
}

.#{properties.join-with-dashes((setup.$namespace, 'o', 'ui-group__item'))} {
  box-shadow: none;

  &,
  &:hover,
  &:active,
  &:focus {
    &:not(.#{properties.join-with-dashes((setup.$namespace, 'o', 'ui-group__last'))}) {
      border-right: 0;
    }
  }
}
