@use '../../tools/palette';
@use '../../tools/shadow';
@use '../../tools/size';

$border-radius: size.get('s') !default;
$box-shadow: shadow.to-box-shadow(
  shadow.generate(
    $color: rgba(palette.get('brand-1', '80'), 0.025),
    $blur-radius: size.get('xs'),
  )
) !default;
