@use '../../tools/palette';
@use '../../tools/shadow';
@use '../../tools/size';

$border-radius: size.get('s') !default;
$box-shadow: shadow.to-css(
  shadow.generate(
    $color: rgba(palette.get('brand-1', '80'), 0.025),
    $offset: 0,
    $blur-radius: size.get('xs'),
    $layers: 4,
  )
) !default;
