@use './settings';
@use "../../settings/setup";

.#{setup.$namespace}o-ui-group {
  border-radius: settings.$ui-group-border-radius;
  box-shadow: settings.$ui-group-box-shadow;
}

.#{setup.$namespace}o-ui-group__item {
  box-shadow: none;

  &,
  &:hover,
  &:active,
  &:focus {
    &:not(.#{setup.$namespace}o-ui-group__last) {
      border-right: 0;
    }
  }
}
