@forward 'settings';
@use './settings';
@use '../../tools/properties';
@use '../../tools/media-query';

@include properties.output-directional(
  $property-name: '',
  $classname-root: '',
  $values: settings.$values,
  $directions: settings.$directions,
  $breakpoints: settings.$breakpoints
);
