$values: (
  '0': 0,
) !default;
$breakpoints: () !default;
$directions: (
  'top': (
    'top',
  ),
  'right': (
    'right',
  ),
  'bottom': (
    'bottom',
  ),
  'left': (
    'left',
  ),
) !default;
