/* stylelint-disable selector-max-type */
html {
  font-family: $bitstyles-font-family-body;
  line-height: $bitstyles-line-height-base;
  color: palette('text');
  -webkit-text-size-adjust: 100%; // stylelint-disable-line property-no-vendor-prefix
  background: palette('background');
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include generic-heading;
}

@include generate-font-sizes('', (html, h1, h2, h3, h4, h5, h6));

p {
  margin: 0 0 spacing('base');
}

address {
  font-style: normal;
}

dt {
  font-weight: $bitstyles-font-weight-bold;
}

table {
  max-width: 100%;
  text-align: left;
  border-collapse: collapse;
}

caption {
  padding-left: spacing('small');
  margin-bottom: spacing('small');
  text-align: left;
}

td,
th {
  padding: spacing('small') spacing('small');
  line-height: 1;
  border-bottom: 1px solid palette('background', 'dark');
}

thead {
  th {
    background-color: palette('background');
    white-space: pre;
    border-bottom: 1px solid palette('background', 'dark');
    padding-bottom: spacing('base');
  }
}

tfoot {
  td,
  th {
    padding-top: spacing('base');
    border: 0;
  }
}
/* stylelint-enable selector-max-type */
