/* stylelint-disable selector-max-type */
html {
  font-family: $bitstyles-font-family-body;
  line-height: $bitstyles-line-height-base;
  color: palette('text');
  -webkit-text-size-adjust: 100%; // stylelint-disable-line property-no-vendor-prefix
  background: palette('background');
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include generic-heading;
}

@include generate-font-sizes('', (html, h1, h2, h3, h4, h5, h6));

p {
  margin: 0 0 spacing('base');
}

address {
  font-style: normal;
}

dt {
  font-weight: $bitstyles-font-weight-bold;
}

table {
  max-width: 100%;
  text-align: left;
  border-collapse: collapse;
}
/* stylelint-enable selector-max-type */
