@forward 'settings';
@use './settings';
@use '../../tools/typography' as typography;

/* stylelint-disable selector-max-type */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: settings.$margin-heading;
  font-family: settings.$font-family-heading;
  font-weight: settings.$font-weight-heading;
  text-rendering: optimizeLegibility;
}

@include typography.output-responsive-font-sizes(
  $font-sizes: settings.$typographic-scale,
  $filter-list: settings.$typographic-scale-filter
);

p {
  margin: 0 0 settings.$margin-paragraph;
}

address {
  font-style: normal;
}

dt {
  font-weight: settings.$font-weight-dt;
}

table {
  max-width: 100%;
  border-collapse: collapse;
  text-align: left;
}
/* stylelint-enable selector-max-type */
