@use '../../settings/typography';
@use '../../tools/typography' as typography-tools;

/* stylelint-disable selector-max-type */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: typography.$margin-heading;
  font-family: typography.$font-family-header;
  font-weight: typography.$font-weight-bold;
  text-rendering: optimizeLegibility;
}

@include typography-tools.generate-font-sizes(
  '',
  (html, h1, h2, h3, h4, h5, h6)
);

p {
  margin: 0 0 typography.$margin-paragraph;
}

address {
  font-style: normal;
}

dt {
  font-weight: typography.$font-weight-bold;
}

table {
  max-width: 100%;
  text-align: left;
  border-collapse: collapse;
}
/* stylelint-enable selector-max-type */
