@use '../../settings/typography-responsive';

$margin-heading: 0 !default;
$margin-paragraph: 0 !default;
$typographic-scale: typography-responsive.$typographic-scale !default;
$typographic-scale-filter: ('h7', 'h8') !default;
