//
// Base styles ////////////////////////////////////////

$bitstyles-button-grouped-container-box-shadow: 0 0 spacing('xs') rgba(palette('brand-1', '80'), 0.1) !default;

$bitstyles-button-grouped-border-radius: spacing('s') !default;
$bitstyles-button-grouped-transition:
  color $bitstyles-transition-duration $bitstyles-transition-easing,
  background-color $bitstyles-transition-duration $bitstyles-transition-easing,
  border $bitstyles-transition-duration $bitstyles-transition-easing !default;

//
// Base colors ////////////////////////////////////////

$bitstyles-button-grouped-color: palette('gray', '60') !default;
$bitstyles-button-grouped-background-color: palette('white', '100') !default;
$bitstyles-button-grouped-border: 1px solid palette('gray', '10') !default;

//
// Hover colors ////////////////////////////////////////

$bitstyles-button-grouped-color-hover: palette('gray', '80') !default;
$bitstyles-button-grouped-background-color-hover: palette('gray', '1') !default;
$bitstyles-button-grouped-border-hover: 1px solid palette('gray', '10') !default;

//
// Active colors ////////////////////////////////////////

$bitstyles-button-grouped-color-active: palette('white') !default;
$bitstyles-button-grouped-background-color-active: palette('brand-2', '100') !default;
$bitstyles-button-grouped-border-active: 1px solid palette('brand-2', '100') !default;

//
// Pressed colors ////////////////////////////////////////

$bitstyles-button-grouped-color-pressed: palette('gray', '60') !default;
$bitstyles-button-grouped-background-color-pressed: palette('gray', '5') !default;
$bitstyles-button-grouped-border-pressed: 1px solid palette('gray', '10') !default;

//
// Disabled colors ////////////////////////////////////////

$bitstyles-button-grouped-color-disabled: palette('black', '50') !default;
$bitstyles-button-grouped-background-color-disabled: palette('black', '10') !default;
$bitstyles-button-grouped-border-disabled: 1px solid palette('gray', '5') !default;
