// Expander
//
// Needs JS to function. The toggle is an interactive element of some kind (button, link),
// the body is the content you want to be revealed — it starts at zero height,
// expands to size of content once active.
//
// Use the `.o-button` classes on the `.o-expander__toggle` to set size & appearance.
//
// markup:
// <button class="o-expander-toggle" aria-expanded="false" aria-controls="expander-0">Show/Hide</button>
// <p>Other content</p>
// <div class="o-expander-body" id="expander-0" aria-hidden="true"><p>Lots of content here…</p><p>…even more content here…</p></div>
//
// Styleguide 1.9

.#{$bitstyles-namespace}o-expander-toggle {
  .#{$bitstyles-namespace}o-icon {
    transform: rotate(180deg);
    transition: transform $bitstyles-transition-duration $bitstyles-transition-easing;
  }

  &.#{$bitstyles-namespace}is-active {
    .#{$bitstyles-namespace}o-icon {
      transform: rotate(0deg); /* stylelint-disable-line length-zero-no-unit */
    }
  }
}

.#{$bitstyles-namespace}o-expander-body {
  height: auto;
  max-height: 0;
  overflow: hidden;
  transition: max-height $bitstyles-transition-duration-long $bitstyles-transition-easing;

  &.#{$bitstyles-namespace}is-active {
    max-height: 99999rem;
  }
}
