@import './settings';

@include output-properties(
  $property-name: 'gap',
  $classname-root: 'gap',
  $values: $bitstyles-gap-sizes
);

@each $breakpoint-alias in $bitstyles-gap-breakpoints {
  @include media-query($breakpoint-alias) {
    @include output-properties(
      $property-name: 'gap',
      $classname-root: 'gap',
      $values: $bitstyles-gap-sizes,
      $breakpoint-suffix: '\\\@#{$breakpoint-alias}'
    );
  }
}
