@import './settings';

@each $breakpoint-alias in $bitstyles-gap-breakpoints {
  @if $breakpoint-alias == 'base' {
    @include output-properties(
      $property-name: 'gap',
      $classname-root: 'gap',
      $values: $bitstyles-gap-sizes
    );
  }

  @else {
    @include media-query($breakpoint-alias) {
      @include output-properties(
        $property-name: 'gap',
        $classname-root: 'gap',
        $values: $bitstyles-gap-sizes,
        $breakpoint-suffix: '\\\@#{$breakpoint-alias}'
      );
    }
  }
}
