@forward 'settings';
@use './settings';
@use '../../tools/properties';

@include properties.output(
  $property-name: 'gap',
  $classname-root: 'gap',
  $values: settings.$sizes,
  $breakpoints: settings.$breakpoints
);
