@use '../../settings/typography';
@use './settings';

/* stylelint-disable selector-max-type */
html {
  font-family: typography.$font-family-body;
  line-height: typography.$line-height-base;
  color: settings.$color;
  -webkit-text-size-adjust: 100%; // stylelint-disable-line property-no-vendor-prefix
  background: settings.$background-color;
}
/* stylelint-enable selector-max-type */
