@use '../../design-tokens/typography';
@use '../../tools/design-token';

/* stylelint-disable selector-max-type */
html {
  font-family: typography.$font-family-body;
  line-height: var(design-token.get('line-height', '4'));
  -webkit-text-size-adjust: 100%; // stylelint-disable-line property-no-vendor-prefix
}
/* stylelint-enable selector-max-type */
