/** @define bordered-header */
//
// Bordered Header
//
// Creates equally-sized horizontal lines to the left & right of the text within
// the element.
//
// markup:
// <h2 class="o-bordered-header">Bordered header</h2>
//
// Styleguide 4.4

@import '../settings/bordered-header';

.#{$bitstyles-namespace}o-bordered-header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
  white-space: nowrap;

  &::before,
  &::after {
    display: inline-block;
    min-width: $bitstyles-bordered-header-line-min-width;
    vertical-align: middle;
    flex-grow: 1;
    border-top: $bitstyles-bordered-header-border;
    content: '';
  }

  &::before {
    margin-right: $bitstyles-bordered-header-gutter;
  }

  &::after {
    margin-left: $bitstyles-bordered-header-gutter;
  }
}
