/** @define button */
//
// Buttons
//
// **Buttons perform actions (they’re not links, nor navigation)**, and are ideally a `<button>`
// element. Sometimes out of technical necessity this class can be applied to `<a>` elements
// but beware — that’s code smell…
//
// Styleguide 4.7

// Button - generic
//
// **Produces a larger-than-text hit target**. Intended to be an action,
// not a link, therefore most often a `<button>` rather than `<a href="…">` (and never
// `<a href="#">`).
//
// markup:
// <button class="o-button {$modifiers}">
//   <span class="o-button__label">Button Text</span>
// </button>
// <a href="#" class="o-button {$modifiers}">
//   <span class="o-button__label">Button Text</span>
// </a>
//
//              - Base state
// :hover       - Hover state.
// :focus       - Focus state.
// :disabled    - Disabled state.
//
// Styleguide 4.7.1

@import '../settings/button';

.#{$bitstyles-namespace}o-button {
  position: relative;
  display: inline-block;
  padding: $bitstyles-button-padding-vertical $bitstyles-button-padding-horizontal;
  margin: 0;
  overflow: visible;
  font: inherit;
  color: $bitstyles-button-color;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  background: $bitstyles-button-background-color;
  border: $bitstyles-button-border;
  border-radius: $bitstyles-button-border-radius;
  transition: $bitstyles-button-transition;
  -webkit-appearance: none; // stylelint-disable-line property-no-vendor-prefix
  user-select: none;
  touch-action: manipulation;

  &:visited {
    color: $bitstyles-button-color;
  }

  &:hover,
  &:focus {
    color: $bitstyles-button-color-hover;
    text-decoration: none;
    background: $bitstyles-button-background-color-hover;
    outline: none;
  }

  &:disabled {
    color: $bitstyles-button-color-disabled;
    cursor: default;
    background: $bitstyles-button-background-color-disabled;
    border-color: $bitstyles-button-border-color-disabled;
  }
}

.#{$bitstyles-namespace}o-button__label {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

// Button - with icon
//
// **The same base button can contain an optional decorative icon**.
//
// Here it’s placed before the text. Source order dictates icon position. There must be no whitespace between the icon and text — can be achieved using comments as shown here.
//
// markup:
// <button class="o-button {$modifiers}">
//   <svg class="o-button__icon o-icon"><use xlink:href="assets/images/icons.svg#icon-twitter"></use></svg><!--
//   --><span class="o-button__label">Button Text</span>
// </button>
//
//              - Base state
// :hover       - Hover state.
// :focus       - Focus state.
//
// Styleguide 4.7.2

// Button - with icon, reversed
//
// **The same base button can contain an optional decorative icon**. Here it’s placed after the
// text. Source order dictates icon position.
//
// markup:
// <button class="o-button {$modifiers}">
//   <span class="o-button__label">Button Text</span><!--
//   --><svg class="o-button__icon o-icon"><use xlink:href="assets/images/icons.svg#icon-twitter"></use></svg>
// </button>
//
//              - Base state
// :hover       - Hover state.
// :focus       - Focus state.
//
// Styleguide 4.7.3

.#{$bitstyles-namespace}o-button__icon + .#{$bitstyles-namespace}o-button__label {
  margin-left: $bitstyles-button-icon-spacing;
}

.#{$bitstyles-namespace}o-button__label + .#{$bitstyles-namespace}o-button__icon {
  margin-left: $bitstyles-button-icon-spacing;
}
