/** @define icon */
//
// Icons
//
// We use an svg-based icon system. All icons are present as symbols within
// `icons.svg`, and are used by embedding svg tags (see example markup).
// Provide a `<title>` element at the point an icon is used to ensure there is
// some text content (equivalent to the alt property on `<img>`s.)
// Set icon sizes by overiding the `$bitstyles-icon-sizes` map (see settings file).
// The default icon size is the same as surrounding text i.e. `1em`.
//
// markup:
// <svg class="o-icon {$modifiers}">
//   <title>Twitter logo</title>
//   <use xlink:href="assets/images/icons.svg#icon-twitter"></use>
// </svg>
//
//                    - Base size, matches font-size of parent element.
// .o-icon--small     - Small icon (given default vars).
// .o-icon--medium    - Medium icon (given default vars).
// .o-icon--large     - Large icon (given default vars).
//
// Styleguide 4.12

@import '../settings/icon';

.#{$bitstyles-namespace}o-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  font-size: 1em;
  vertical-align: middle;
  outline: none;
  transition: fill $bitstyles-transition-duration $bitstyles-transition-easing, stroke $bitstyles-transition-duration $bitstyles-transition-easing, background-color $bitstyles-transition-duration $bitstyles-transition-easing, transform $bitstyles-transition-duration $bitstyles-transition-easing;
  fill: currentColor;
}

@each $icon-size-alias, $icon-size-size in $bitstyles-icon-sizes {
  /* postcss-bem-linter: ignore */
  .#{$bitstyles-namespace}o-icon--#{$icon-size-alias} {
    font-size: $icon-size-size;
  }
}
