/** @define input */
// Form inputs
//
// Basic styling for input elements. All inputs stretch to fill their parent —
// their width can be constrained by the parent element.
//
// Styleguide 4.14

@import '../settings/input';

// Form inputs - text
//
// Text inputs are those that accept a string input — text, email, number, date.
//
// Markup:
//   <label class="o-label" for="input_1">This is labeling text</label>
//   <input type="text" class="o-input o-input--text {$modifiers}" id="input_1" placeholder="Placeholder text" />
//
//
//              - default state
// :disabled    - Disabled state.
// :active      - Active/focus state
//
// Styleguide 4.14.1

.#{$bitstyles-namespace}o-input {
  @include block;

  width: 100%;
}

.#{$bitstyles-namespace}o-input--text {
  padding: $bitstyles-input-padding;
  background-color: $bitstyles-input-background;
  border: $bitstyles-input-border;
  border-radius: $bitstyles-input-border-radius;
  color: $bitstyles-input-color;

  &::placeholder {
    color: $bitstyles-input-placeholder-color;
  }

  &:disabled {
    background: $bitstyles-input-background-color-disabled;
    color: $bitstyles-input-color-disabled;
    cursor: default;
  }

  &:active,
  &:focus {
    border: $bitstyles-input-border-active;
  }
}

// Form inputs - Select
//
// Markup:
//   <label class="o-label" for="select_1">This is labeling text</label>
//   <select class="o-input" id="select_1">
//     <option value="value1">Value 1</option>
//     <option value="value2" selected>Value 2</option>
//     <option value="value3">Value 3</option>
//   </select>
//
// Styleguide 4.14.2

// Form inputs - Checkbox
//
// Markup:
//    <label class="o-label">
//      <input type="checkbox" class="o-input o-input--checkbox">
//      This is labeling text. Jelly cake marshmallow. Pie cotton candy chupa chups marzipan liquorice cheesecake wafer. Jelly cake marshmallow. Pie cotton candy chupa chups marzipan liquorice cheesecake wafer. Jelly cake marshmallow. Pie cotton candy chupa chups marzipan liquorice cheesecake wafer. Jelly cake marshmallow. Pie cotton candy chupa chups marzipan liquorice cheesecake wafer.
//    </label>
//
// Styleguide 4.14.3

.#{$bitstyles-namespace}o-input--checkbox {
  display: inline-block;
  width: $bitstyles-input-checkbox-size;
  height: $bitstyles-input-checkbox-size;
  margin-right: $bitstyles-input-padding;
  vertical-align: middle;
}
