/** @define input */
// Form inputs
//
// **Base styling for input elements**.
// All inputs stretch to fill their parent — their width is constrained by the parent element.
//
// Styleguide 4.13

@import '../settings/input';

// Form inputs - text
//
// **All inputs that accept a string input e.g. text, email, number, date**
//
// Includes styles for focus, active & disabled states.
//
// Markup:
//   <label class="o-label" for="input_1">This is labeling text</label>
//   <input type="text" class="o-input o-input--text {$modifiers}" id="input_1" placeholder="Placeholder text" />
//
//
//              - default state
// :disabled    - Disabled state.
// :active      - Active/focus state
//
// Styleguide 4.13.1

.#{$bitstyles-namespace}o-input {
  @include block;

  width: 100%;
}

.#{$bitstyles-namespace}o-input--text {
  padding: $bitstyles-input-padding;
  color: $bitstyles-input-color;
  background-color: $bitstyles-input-background;
  border: $bitstyles-input-border;
  border-radius: $bitstyles-input-border-radius;

  &::placeholder {
    color: $bitstyles-input-placeholder-color;
  }

  &:disabled {
    color: $bitstyles-input-color-disabled;
    cursor: default;
    background: $bitstyles-input-background-color-disabled;
  }

  &:active,
  &:focus {
    border: $bitstyles-input-border-active;
  }
}

// Form inputs - Select
//
// Base styling for select elements. Not much can be done here, sadly.
//
// Markup:
//   <label class="o-label" for="select_1">This is labeling text</label>
//   <select class="o-input" id="select_1">
//     <option value="value1">Value 1</option>
//     <option value="value2" selected>Value 2</option>
//     <option value="value3">Value 3</option>
//   </select>
//
// Styleguide 4.13.2

// Form inputs - Checkbox
//
// Base styling for checkboxes. Not much can be done here, but size and spacing
// are set.
//
// Markup:
//    <label class="o-label">
//      <input type="checkbox" class="o-input o-input--checkbox">
//      This is labeling text. Jelly cake marshmallow. Pie cotton candy chupa chups marzipan liquorice cheesecake wafer. Jelly cake marshmallow. Pie cotton candy chupa chups marzipan liquorice cheesecake wafer. Jelly cake marshmallow. Pie cotton candy chupa chups marzipan liquorice cheesecake wafer. Jelly cake marshmallow. Pie cotton candy chupa chups marzipan liquorice cheesecake wafer.
//    </label>
//
// Styleguide 4.13.3

.#{$bitstyles-namespace}o-input--checkbox {
  display: inline-block;
  width: $bitstyles-input-checkbox-size;
  height: $bitstyles-input-checkbox-size;
  margin-right: $bitstyles-input-padding;
  vertical-align: middle;
}
