/* @define Link */
// Link
//
// Mimicking the appearance of standard anchor elements e.g. allows a `<button>` to look like a link.
// This is generally a bad practice — if it looks like a link, it should be a link —
// but it’s sometimes necessary for technical reasons e.g. it can’t be a link because no
// url change occurs when displaying a modal or similar. This is always code smell
// but is sometimes necessary.
//
// Markup:
// <button class="o-link {$modifiers}">Privacy Policy</button>
//
//                - Default state
// :hover         - Hover state
// :focus         - Focus state
// :visited       - Visited state
//
// Styleguide Objects.link

@import '../settings/link';

.#{$bitstyles-namespace}o-link {
  @include link;

  padding: 0;
  border: 0;
  transition: $bitstyles-link-transition;
  -webkit-appearance: none; // stylelint-disable-line property-no-vendor-prefix
}
