/* @define Link */
// Link
//
// Mimicking the appearance of standard anchor elements e.g. allows a `<button>` to look like a link.
// This is generally a bad practice — if it looks like a link, it should be a link —
// but it’s sometimes necessary for technical reasons e.g. it can’t be a link because no
// url change occurs when displaying a modal or similar. This is always code smell
// but is sometimes necessary.
//
// Markup:
// <button class="o-link">Privacy Policy</button>
//
// sg-wrapper:
// <p>Read our <sg-wrapper-content/>.</p>
//
// Styleguide 4.15

@import '../settings/link';

.#{$bitstyles-namespace}o-link {
  padding: 0;
  color: $bitstyles-color-link;
  cursor: pointer;
  background: none;
  border: 0;
  -webkit-appearance: none; // stylelint-disable-line property-no-vendor-prefix

  &:visited {
    color: $bitstyles-color-link-visited;
  }

  &:hover,
  &:focus {
    color: $bitstyles-color-link-hover;
  }
}
