/* @define Link */
// Link
//
// Mimicking standard anchors e.g. allows a `<button>` to look like a link
//
// Markup:
// <p>Read our <button class="o-link">Privacy Policy</button>.</p>
//
// Styleguide 4.15

@import '../settings/link';

.#{$bitstyles-namespace}o-link {
  @include link;

  padding: 0;
  border: 0;
  -webkit-appearance: none; // stylelint-disable-line property-no-vendor-prefix
}
