@import './settings.scss';

.#{$bitstyles-namespace}a-button--mode-container {
  border-radius: spacing('s');
}

.#{$bitstyles-namespace}a-button--mode {
  padding-top: 0;
  padding-bottom: 0;

  &,
  &:visited {
    color: $bitstyles-button-mode-color;
    background: $bitstyles-button-mode-background-color;
    border-color: $bitstyles-button-mode-border-color;
    box-shadow: $bitstyles-button-mode-box-shadow;
  }

  &:hover,
  &:focus {
    color: $bitstyles-button-mode-color-hover;
    background: $bitstyles-button-mode-background-color-hover;
    border-color: $bitstyles-button-mode-border-color-hover;
    box-shadow: $bitstyles-button-mode-box-shadow-hover;
  }

  &:active {
    color: $bitstyles-button-mode-color-active;
    background: $bitstyles-button-mode-background-color-active;
    border-color: $bitstyles-button-mode-border-color-active;
    box-shadow: $bitstyles-button-mode-box-shadow-active;
  }

  &[aria-pressed="true"] {
    color: $bitstyles-button-mode-color-pressed;
    background: $bitstyles-button-mode-background-color-pressed;
    border-color: $bitstyles-button-mode-border-color-pressed;
    box-shadow: $bitstyles-button-mode-box-shadow-pressed;
  }

  &:disabled,
  &[aria-disabled="true"] {
    color: $bitstyles-button-mode-color-disabled;
    background: $bitstyles-button-mode-background-color-disabled;
    border-color: $bitstyles-button-mode-border-color-disabled;
    box-shadow: $bitstyles-button-mode-box-shadow-disabled;
  }
}
