@forward 'settings';
@use './settings';
@use '../../settings/setup';
@use '../../tools/size';

.#{setup.$namespace}a-button--mode-container {
  border-radius: size.get('s');
}

.#{setup.$namespace}a-button--mode {
  padding-top: 0;
  padding-bottom: 0;

  &,
  &:visited {
    border-color: settings.$border-color;
    background: settings.$background-color;
    box-shadow: settings.$box-shadow;
    color: settings.$color;
  }

  &:hover,
  &:focus {
    border-color: settings.$border-color-hover;
    background: settings.$background-color-hover;
    box-shadow: settings.$box-shadow-hover;
    color: settings.$color-hover;
  }

  &:active {
    border-color: settings.$border-color-active;
    background: settings.$background-color-active;
    box-shadow: settings.$box-shadow-active;
    color: settings.$color-active;
  }

  &[aria-pressed='true'] {
    border-color: settings.$border-color-pressed;
    background: settings.$background-color-pressed;
    box-shadow: settings.$box-shadow-pressed;
    color: settings.$color-pressed;
  }

  &:disabled,
  &[aria-disabled='true'] {
    border-color: settings.$border-color-disabled;
    background: settings.$background-color-disabled;
    box-shadow: settings.$box-shadow-disabled;
    color: settings.$color-disabled;
  }
}
