@use '../../settings/animation';
@use '../../tools/palette';
@use '../../tools/shadow';
@use '../../tools/size';

//
// Base styles ////////////////////////////////////////

$padding-vertical: size.get('s') !default;
$padding-horizontal: size.get('m') !default;
$border-radius: size.get('xs') !default;
$transition: color animation.$transition-duration animation.$transition-easing,
  background-color animation.$transition-duration animation.$transition-easing,
  border animation.$transition-duration animation.$transition-easing,
  box-shadow animation.$transition-duration animation.$transition-easing !default;
$icon-spacing: size.get('s') !default;

//
// Base colors ////////////////////////////////////////

$color: palette.get('brand-gray', 'darker') !default;
$background-color: transparent !default;
$border-color: transparent !default;
$box-shadow: none !default;

//
// Hover colors ////////////////////////////////////////

$color-hover: palette.get('brand-gray', 'darker') !default;
$background-color-hover: palette.get('brand-gray', 'lighter') !default;
$border-color-hover: palette.get('brand-gray', 'lighter') !default;
$box-shadow-hover: shadow.to-box-shadow(
  shadow.generate(
    $color: rgba(palette.get('brand-1', 'base'), 0.025),
    $blur-radius: size.get('l'),
  )
) !default;

//
// Active colors ////////////////////////////////////////

$color-active: palette.get('white') !default;
$background-color-active: palette.get('brand-1', 'base') !default;
$border-color-active: palette.get('brand-1', 'base') !default;
$box-shadow-active: shadow.to-box-shadow(
  shadow.generate(
    $color: rgba(palette.get('brand-1', 'base'), 0.025),
    $blur-radius: size.get('xs'),
  )
) !default;

//
// Pressed colors ////////////////////////////////////////

$color-pressed: palette.get('brand-gray', 'darker') !default;
$background-color-pressed: palette.get('white', 'base') !default;
$border-color-pressed: palette.get('white', 'base') !default;
$box-shadow-pressed: shadow.to-box-shadow(
  shadow.generate(
    $color: rgba(palette.get('brand-1', 'base'), 0.025),
    $blur-radius: size.get('xs'),
  )
) !default;

//
// Disabled colors ////////////////////////////////////////

$color-disabled: palette.get('text', 'light') !default;
$background-color-disabled: palette.get('text', 'lightest') !default;
$border-color-disabled: palette.get('text', 'lightest') !default;
$box-shadow-disabled: none !default;
