@forward 'settings';
@use './settings';
@use '../button/settings' as button-settings;
@use '../../tools/button';
@use '../../tools/classname';
@use '../../tools/custom-property';
@use '../../tools/themes';
@use 'sass:map';

@each $variant-name, $variant-themes in settings.$variants {
  $variant-default-theme: map.get($variant-themes, 'default');

  /* stylelint-disable custom-property-pattern, max-nesting-depth */
  #{classname.get($classname-items: 'button#{$variant-name}', $layer: 'atom')} {
    @if map.has-key($variant-default-theme, 'default') {
      &,
      &:visited {
        @each $property in button-settings.$allowed-color-properties {
          #{$property}: var(
            #{custom-property.get(
                $items: (
                  'button#{$variant-name}',
                  $property,
                ),
                $layer: 'atom'
              )}
          );
        }
      }
    }

    @if map.has-key($variant-default-theme, 'hover') {
      &:hover,
      &:focus {
        @each $property in button-settings.$allowed-color-properties {
          #{$property}: var(
            #{custom-property.get(
                $items: (
                  'button#{$variant-name}',
                  'hover',
                  $property,
                ),
                $layer: 'atom'
              )}
          );
        }
      }
    }

    @if map.has-key($variant-default-theme, 'active') {
      &:active {
        @each $property in button-settings.$allowed-color-properties {
          #{$property}: var(
            #{custom-property.get(
                $items: (
                  'button#{$variant-name}',
                  'active',
                  $property,
                ),
                $layer: 'atom'
              )}
          );
        }
      }
    }

    @if map.has-key($variant-default-theme, 'pressed') {
      &[aria-expanded='true'],
      &[aria-pressed='true'],
      &[aria-selected='true'],
      &[aria-current] {
        @each $property in button-settings.$allowed-color-properties {
          #{$property}: var(
            #{custom-property.get(
                $items: (
                  'button#{$variant-name}',
                  'pressed',
                  $property,
                ),
                $layer: 'atom'
              )}
          );
        }
      }
    }

    @if map.has-key($variant-default-theme, 'disabled') {
      &:disabled,
      &[aria-disabled='true'],
      &:disabled:hover,
      &[aria-disabled='true']:hover,
      &:disabled:focus,
      &[aria-disabled='true']:focus {
        @each $property in button-settings.$allowed-color-properties {
          #{$property}: var(
            #{custom-property.get(
                $items: (
                  'button#{$variant-name}',
                  'disabled',
                  $property,
                ),
                $layer: 'atom'
              )}
          );
        }
      }
    }
  }
  /* stylelint-enable max-nesting-depth */

  @each $theme-name, $theme in $variant-themes {
    @include themes.get($theme-name) {
      @include button.colors($colors: $theme, $variant-name: $variant-name);
    }
  }
}
