@use '../../tools/custom-property';
@use '../../tools/palette';
@use '../../tools/shadow';
@use '../../tools/size';

/* prettier-ignore */
$default: (
  'default': (
    'default': (
      'color': palette.get('grayscale', 'white'),
      'background-color': palette.get('brand-1', 'dark-1'),
      'box-shadow': none,
    ),
    'hover': (
      'color': palette.get('brand-1', 'dark-2'),
      'background-color': palette.get('brand-1', 'light-2'),
      'box-shadow': none,
    ),
    'active': (
      'color': palette.get('grayscale', 'white'),
      'background-color': palette.get('brand-1', 'dark-1'),
      'box-shadow': none,
    ),
    'pressed': (
      'color':palette.get('grayscale', 'white'),
      'background-color': palette.get('brand-1', 'dark-2'),
      'box-shadow': none,
    ),
    'disabled': (
      'color': palette.get('grayscale'),
      'background-color': palette.get('grayscale', 'light-3'),
      'box-shadow': none,
    ),
  ),
  'dark': (
     'default': (
       'color': palette.get('brand-1'),
       'background-color': palette.get('grayscale', 'light-2'),
       'box-shadow': none,
     ),
     'hover': (
       'color': palette.get('brand-1', 'dark-1'),
       'background-color': palette.get('brand-1', 'light-1'),
       'box-shadow': none,
     ),
     'active': (
       'color': palette.get('brand-1'),
       'background-color': palette.get('grayscale', 'light-2'),
       'box-shadow': none,
     ),
     'pressed': (
       'color': palette.get('grayscale', 'white'),
       'background-color': palette.get('brand-1'),
       'box-shadow': none,
     ),
     'disabled': (
       'color': palette.get('grayscale', 'light-1'),
       'background-color': palette.get('grayscale', 'dark-2'),
       'box-shadow': none,
     ),
   ),
) !default;

/* prettier-ignore */
$secondary: (
  'default': (
    'default': (
      'color': palette.get('grayscale', 'dark-2'),
      'background-color': palette.get('grayscale', 'light-3'),
      'box-shadow': none,
    ),
    'hover': (
      'color': palette.get('grayscale', 'dark-2'),
      'background-color': palette.get('brand-1', 'light-2'),
      'box-shadow': none,
    ),
    'active': (
      'color': palette.get('brand-1', 'dark-2'),
      'background-color': palette.get('brand-1', 'light-2'),
      'box-shadow': none,
    ),
    'pressed': (
      'color': palette.get('brand-1', 'dark-1'),
      'background-color': palette.get('brand-1', 'light-2'),
      'box-shadow':
        shadow.to-box-shadow(
          shadow.generate(
            $color: rgba(palette.get('brand-1', 'light-1-rgb'), 0.075),
            $blur-radius: size.get('s4'),
          )
        ),
    ),
    'disabled': (
      'color': palette.get('grayscale'),
      'background-color': palette.get('grayscale', 'light-3'),
      'box-shadow': none,
    ),
  ),
  'dark': (
    'default': (
      'color': palette.get('grayscale', 'light-2'),
      'background-color': palette.get('grayscale', 'dark-1'),
      'box-shadow': none,
    ),
    'hover': (
      'color': palette.get('grayscale', 'dark-2'),
      'background-color': palette.get('brand-1', 'light-1'),
      'box-shadow': none,
    ),
    'active': (
      'color': palette.get('brand-1', 'dark-1'),
      'background-color': palette.get('brand-1', 'light-1'),
      'box-shadow': none,
    ),
    'pressed': (
      'color': palette.get('brand-1'),
      'background-color': palette.get('brand-1', 'light-1'),
      'box-shadow':
        shadow.to-box-shadow(
          shadow.generate(
            $color: rgba(palette.get('brand-1', 'light-1-rgb'), 0.075),
            $blur-radius: size.get('s4'),
          )
        ),
    ),
    'disabled': (
      'color': palette.get('grayscale', 'light-1'),
      'background-color': palette.get('grayscale', 'dark-2'),
      'box-shadow': none,
    ),
  ),
) !default;

/* prettier-ignore */
$outline: (
  'default': (
    'default': (
      'color': palette.get('grayscale', 'dark-2'),
      'background-color': palette.get('grayscale', 'white'),
      'border-color': palette.get('grayscale', 'dark-2'),
      'box-shadow': none,
    ),
    'hover': (
      'color': palette.get('grayscale', 'dark-2'),
      'background-color': palette.get('brand-1', 'light-4'),
      'border-color': palette.get('grayscale', 'dark-2'),
      'box-shadow': none,
    ),
    'active': (
      'color': palette.get('brand-1', 'dark-1'),
      'background-color': palette.get('brand-1', 'light-4'),
      'border-color': palette.get('brand-1', 'dark-1'),
      'box-shadow': none,
    ),
    'pressed': (
      'color': palette.get('brand-1', 'dark-1'),
      'background-color': palette.get('grayscale', 'white'),
      'border-color': palette.get('brand-1', 'dark-1'),
      'box-shadow':
        shadow.to-box-shadow(
          shadow.generate(
            $color: rgba(palette.get('brand-1', 'light-1-rgb'), 0.075),
            $blur-radius: size.get('s4'),
          )
        ),
    ),
    'disabled': (
      'color': palette.get('grayscale'),
      'background-color': palette.get('grayscale', 'light-3'),
      'border-color': palette.get('grayscale', 'light-3'),
      'box-shadow': none,
    ),
  ),
  'dark': (
    'default': (
      'color': palette.get('grayscale', 'light-2'),
      'background-color': palette.get('grayscale', 'dark-1'),
      'border-color': palette.get('grayscale', 'dark-1'),
      'box-shadow': none,
    ),
    'hover': (
      'color': palette.get('grayscale', 'dark-2'),
      'background-color': palette.get('brand-1', 'light-1'),
      'border-color': palette.get('brand-1', 'light-1'),
      'box-shadow': none,
    ),
    'active': (
      'color': palette.get('brand-1', 'dark-1'),
      'background-color': palette.get('brand-1', 'light-1'),
      'border-color': palette.get('brand-1', 'light-1'),
      'box-shadow': none,
    ),
    'pressed': (
      'color': palette.get('brand-1'),
      'background-color': palette.get('brand-1', 'light-1'),
      'border-color': palette.get('brand-1', 'light-1'),
      'box-shadow':
        shadow.to-box-shadow(
          shadow.generate(
            $color: rgba(palette.get('brand-1', 'light-1-rgb'), 0.075),
            $blur-radius: size.get('s4'),
          )
        ),
    ),
    'disabled': (
      'color': palette.get('grayscale', 'light-1'),
      'background-color': palette.get('grayscale', 'dark-2'),
      'border-color': palette.get('grayscale', 'dark-2'),
      'box-shadow': none,
    ),
  ),
) !default;

/* prettier-ignore */
$transparent: (
  'default': (
    'default': (
      'color': palette.get('grayscale', 'dark-2'),
      'background-color': transparent,
      'border-color': transparent,
      'box-shadow': none,
    ),
    'hover': (
      'color': palette.get('grayscale', 'dark-2'),
      'background-color': palette.get('brand-1', 'light-4'),
      'border-color': transparent,
      'box-shadow': none,
    ),
    'active': (
      'color': palette.get('brand-1', 'dark-1'),
      'background-color': palette.get('brand-1', 'light-4'),
      'border-color': palette.get('brand-1', 'dark-1'),
      'box-shadow': none,
    ),
    'pressed': (
      'color': palette.get('brand-1', 'dark-1'),
      'background-color': palette.get('grayscale', 'white'),
      'border-color': palette.get('brand-1', 'dark-1'),
      'box-shadow':
        shadow.to-box-shadow(
          shadow.generate(
            $color: rgba(palette.get('brand-1', 'dark-1-rgb'), 0.075),
            $blur-radius: size.get('s4'),
          )
        ),
    ),
    'disabled': (
      'color': palette.get('grayscale'),
      'background-color': palette.get('grayscale', 'light-3'),
      'border-color': palette.get('grayscale', 'light-3'),
      'box-shadow': none,
    ),
  ),
  'dark': (
    'default': (
      'color': palette.get('grayscale', 'light-1'),
      'background-color': transparent,
      'border-color': transparent,
      'box-shadow': none,
    ),
    'hover': (
      'color': palette.get('brand-1', 'light-1'),
      'background-color': transparent,
      'border-color': transparent,
      'box-shadow': none,
    ),
    'active': (
      'color': palette.get('brand-1', 'light-1'),
      'background-color': palette.get('grayscale', 'dark-2'),
      'border-color': palette.get('grayscale', 'dark-2'),
      'box-shadow': none,
    ),
    'pressed': (
      'color': palette.get('grayscale', 'white'),
      'background-color': palette.get('grayscale', 'dark-2'),
      'border-color': palette.get('grayscale', 'dark-2'),
      'box-shadow':
        shadow.to-box-shadow(
          shadow.generate(
            $color: rgba(palette.get('grayscale', 'dark-2-rgb'), 0.075),
            $blur-radius: size.get('s4'),
          )
        ),
    ),
    'disabled': (
      'color': palette.get('grayscale', 'light-1'),
      'background-color': palette.get('grayscale', 'dark-2'),
      'border-color': palette.get('grayscale', 'dark-2'),
      'box-shadow': none,
    ),
  ),
) !default;

/* prettier-ignore */
$tab: (
  'default': (
    'default': (
      'color': palette.get('grayscale', 'dark-1'),
      'background-color': transparent,
      'box-shadow': none,
    ),
    'hover': (
      'color': palette.get('brand-1', 'dark-1'),
      'background-color': transparent,
      'box-shadow': none,
    ),
    'active': (
      'color': palette.get('brand-1', 'dark-1'),
      'background-color': transparent,
      'box-shadow': none,
    ),
    'pressed': (
      'color': palette.get('brand-1', 'dark-2'),
      'background-color': transparent,
      'box-shadow': none,
    ),
    'disabled': (
      'color': palette.get('grayscale'),
      'background-color': transparent,
      'box-shadow': none,
    ),
  ),
  'dark': (
    'default': (
      'color': palette.get('grayscale', 'light-2'),
      'background-color': transparent,
      'box-shadow': none,
    ),
    'hover': (
      'color': palette.get('brand-1', 'light-2'),
      'background-color': transparent,
      'box-shadow': none,
    ),
    'active': (
      'color': palette.get('brand-1', 'light-3'),
      'background-color': transparent,
      'box-shadow': none,
    ),
    'pressed': (
      'color': palette.get('grayscale', 'light-1'),
      'background-color': transparent,
      'box-shadow': none,
    ),
    'disabled': (
      'color': palette.get('grayscale', 'dark-2'),
      'background-color': transparent,
      'box-shadow': none,
    ),
  ),
) !default;

/* prettier-ignore */
$danger: (
  'default': (
    'hover': (
      'color': palette.get('grayscale', 'white'),
      'background-color': palette.get('danger', 'dark-1'),
      'border-color': palette.get('danger', 'dark-1'),
      'box-shadow': none,
    ),
    'active': (
      'color': palette.get('danger', 'dark-1'),
      'background-color': palette.get('danger', 'light-2'),
      'border-color': palette.get('danger', 'light-2'),
      'box-shadow': none,
    ),
    'pressed': (
      'color': palette.get('danger', 'dark-2'),
      'background-color': palette.get('danger', 'light-2'),
      'border-color': palette.get('danger', 'light-2'),
      'box-shadow': none,
    ),
  ),
) !default;
$variants: (
  '': $default,
  '--secondary': $secondary,
  '--outline': $outline,
  '--transparent': $transparent,
  '--tab': $tab,
  '--danger': $danger,
) !default;
