@use '../../tools/custom-property';
@use '../../tools/shadow';
@use '../../tools/size';

/* prettier-ignore */
$default: (
  'default': (
    'default': (
      'color': var(#{custom-property.get($items: ('color', 'grayscale', 'white'))}),
      'background-color': var(#{custom-property.get($items: ('color', 'brand-1', 'base'))}),
      'border-color': var(#{custom-property.get($items: ('color', 'brand-1', 'base'))}),
      'box-shadow':
        shadow.to-box-shadow(
          shadow.generate(
            $color: rgba(var(#{custom-property.get($items: ('color', 'accent-gray', 'lighter', 'rgb'))}), 0.075),
            $blur-radius: size.get('m'),
          )
        ),
    ),
    'hover': (
      'color': var(#{custom-property.get($items: ('color', 'brand-1', 'dark'))}),
      'background-color': var(#{custom-property.get($items: ('color', 'brand-1', 'light'))}),
      'border-color': var(#{custom-property.get($items: ('color', 'brand-1', 'light'))}),
      'box-shadow':
        shadow.to-box-shadow(
          shadow.generate(
            $color: rgba(var(#{custom-property.get($items: ('color', 'brand-1', 'base', 'rgb'))}), 0.075),
            $blur-radius: size.get('l'),
          )
        ),
    ),
    'active': (
      'color': var(#{custom-property.get($items: ('color', 'grayscale', 'white'))}),
      'background-color': var(#{custom-property.get($items: ('color', 'brand-1', 'base'))}),
      'border-color': var(#{custom-property.get($items: ('color', 'brand-1', 'base'))}),
      'box-shadow':
        shadow.to-box-shadow(
          shadow.generate(
            $color: rgba(var(#{custom-property.get($items: ('color', 'brand-1', 'base', 'rgb'))}), 0.075),
            $blur-radius: size.get('xs'),
          )
        ),
    ),
    'pressed': (
      'color':var(#{custom-property.get($items: ('color', 'grayscale', 'white'))}),
      'background-color': var(#{custom-property.get($items: ('color', 'brand-1', 'dark'))}),
      'border-color': var(#{custom-property.get($items: ('color', 'brand-1', 'dark'))}),
      'box-shadow':
        shadow.to-box-shadow(
          shadow.generate(
            $color: rgba(var(#{custom-property.get($items: ('color', 'brand-1', 'base', 'rgb'))}), 0.075),
            $blur-radius: size.get('xs'),
          )
        ),
    ),
    'disabled': (
      'color': var(#{custom-property.get($items: ('color', 'accent-gray', 'base'))}),
      'background-color': var(#{custom-property.get($items: ('color', 'accent-gray', 'light'))}),
      'border-color': var(#{custom-property.get($items: ('color', 'accent-gray', 'light'))}),
      'box-shadow': none,
    ),
  ),
  'dark': (
     'default': (
       'color': var(#{custom-property.get($items: ('color', 'brand-1', 'base'))}),
       'background-color': var(#{custom-property.get($items: ('color', 'accent-gray', 'lighter'))}),
       'border-color': var(#{custom-property.get($items: ('color', 'accent-gray', 'lighter'))}),
       'box-shadow':
         shadow.to-box-shadow(
           shadow.generate(
             $color: rgba(var(#{custom-property.get($items: ('color', 'accent-gray', 'lighter', 'rgb'))}), 0.075),
             $blur-radius: size.get('m'),
           )
         ),
     ),
     'hover': (
       'color': var(#{custom-property.get($items: ('color', 'brand-1', 'dark'))}),
       'background-color': var(#{custom-property.get($items: ('color', 'brand-1', 'light'))}),
       'border-color': var(#{custom-property.get($items: ('color', 'brand-1', 'light'))}),
       'box-shadow':
         shadow.to-box-shadow(
           shadow.generate(
             $color: rgba(var(#{custom-property.get($items: ('color', 'brand-1', 'light', 'rgb'))}), 0.075),
             $blur-radius: size.get('l'),
           )
         ),
     ),
     'active': (
       'color': var(#{custom-property.get($items: ('color', 'brand-1', 'base'))}),
       'background-color': var(#{custom-property.get($items: ('color', 'accent-gray', 'lighter'))}),
       'border-color': var(#{custom-property.get($items: ('color', 'accent-gray', 'lighter'))}),
       'box-shadow':
         shadow.to-box-shadow(
           shadow.generate(
             $color: rgba(var(#{custom-property.get($items: ('color', 'accent-gray', 'lighter', 'rgb'))}), 0.075),
             $blur-radius: size.get('xs'),
           )
         ),
     ),
     'pressed': (
       'color': var(#{custom-property.get($items: ('color', 'grayscale', 'white'))}),
       'background-color': var(#{custom-property.get($items: ('color', 'brand-1', 'base'))}),
       'border-color': var(#{custom-property.get($items: ('color', 'brand-1', 'base'))}),
       'box-shadow':
         shadow.to-box-shadow(
           shadow.generate(
             $color: rgba(var(#{custom-property.get($items: ('color', 'brand-1', 'base', 'rgb'))}), 0.075),
             $blur-radius: size.get('xs'),
           )
         ),
     ),
     'disabled': (
       'color': var(#{custom-property.get($items: ('color', 'accent-gray', 'light'))}),
       'background-color': var(#{custom-property.get($items: ('color', 'accent-gray', 'darker'))}),
       'border-color': var(#{custom-property.get($items: ('color', 'accent-gray', 'darker'))}),
       'box-shadow': none,
     ),
   ),
) !default;

/* prettier-ignore */
$secondary: (
  'default': (
    'default': (
      'color': var(#{custom-property.get($items: ('color', 'accent-gray', 'darker'))}),
      'background-color': var(#{custom-property.get($items: ('color', 'accent-gray', 'light'))}),
      'border-color': var(#{custom-property.get($items: ('color', 'accent-gray', 'light'))}),
      'box-shadow':
        shadow.to-box-shadow(
          shadow.generate(
            $color: rgba(var(#{custom-property.get($items: ('color', 'accent-gray', 'light', 'rgb'))}), 0.075),
            $blur-radius: size.get('m'),
          )
        ),
    ),
    'hover': (
      'color': var(#{custom-property.get($items: ('color', 'accent-gray', 'darker'))}),
      'background-color': var(#{custom-property.get($items: ('color', 'brand-1', 'light'))}),
      'border-color': var(#{custom-property.get($items: ('color', 'brand-1', 'light'))}),
      'box-shadow':
        shadow.to-box-shadow(
          shadow.generate(
            $color: rgba(var(#{custom-property.get($items: ('color', 'brand-1', 'light', 'rgb'))}), 0.075),
            $blur-radius: size.get('l'),
          )
        ),
    ),
    'active': (
      'color': var(#{custom-property.get($items: ('color', 'brand-1', 'dark'))}),
      'background-color': var(#{custom-property.get($items: ('color', 'brand-1', 'light'))}),
      'border-color': var(#{custom-property.get($items: ('color', 'brand-1', 'light'))}),
      'box-shadow':
        shadow.to-box-shadow(
          shadow.generate(
            $color: rgba(var(#{custom-property.get($items: ('color', 'brand-1', 'light', 'rgb'))}), 0.075),
            $blur-radius: size.get('xs'),
          )
        ),
    ),
    'pressed': (
      'color': var(#{custom-property.get($items: ('color', 'brand-1', 'base'))}),
      'background-color': var(#{custom-property.get($items: ('color', 'brand-1', 'light'))}),
      'border-color': var(#{custom-property.get($items: ('color', 'brand-1', 'light'))}),
      'box-shadow':
        shadow.to-box-shadow(
          shadow.generate(
            $color: rgba(var(#{custom-property.get($items: ('color', 'brand-1', 'light', 'rgb'))}), 0.075),
            $blur-radius: size.get('xs'),
          )
        ),
    ),
    'disabled': (
      'color': var(#{custom-property.get($items: ('color', 'accent-gray', 'base'))}),
      'background-color': var(#{custom-property.get($items: ('color', 'accent-gray', 'light'))}),
      'border-color': var(#{custom-property.get($items: ('color', 'accent-gray', 'light'))}),
      'box-shadow': none,
    ),
  ),
  'dark': (
    'default': (
      'color': var(#{custom-property.get($items: ('color', 'accent-gray', 'lighter'))}),
      'background-color': var(#{custom-property.get($items: ('color', 'accent-gray', 'dark'))}),
      'border-color': var(#{custom-property.get($items: ('color', 'accent-gray', 'dark'))}),
      'box-shadow':
        shadow.to-box-shadow(
          shadow.generate(
            $color: rgba(var(#{custom-property.get($items: ('color', 'accent-gray', 'base', 'rgb'))}), 0.075),
            $blur-radius: size.get('m'),
          )
        ),
    ),
    'hover': (
      'color': var(#{custom-property.get($items: ('color', 'accent-gray', 'darker'))}),
      'background-color': var(#{custom-property.get($items: ('color', 'brand-1', 'light'))}),
      'border-color': var(#{custom-property.get($items: ('color', 'brand-1', 'light'))}),
      'box-shadow':
        shadow.to-box-shadow(
          shadow.generate(
            $color: rgba(var(#{custom-property.get($items: ('color', 'brand-1', 'light', 'rgb'))}), 0.075),
            $blur-radius: size.get('l'),
          )
        ),
    ),
    'active': (
      'color': var(#{custom-property.get($items: ('color', 'brand-1', 'dark'))}),
      'background-color': var(#{custom-property.get($items: ('color', 'brand-1', 'light'))}),
      'border-color': var(#{custom-property.get($items: ('color', 'brand-1', 'light'))}),
      'box-shadow':
        shadow.to-box-shadow(
          shadow.generate(
            $color: rgba(var(#{custom-property.get($items: ('color', 'brand-1', 'light', 'rgb'))}), 0.075),
            $blur-radius: size.get('xs'),
          )
        ),
    ),
    'pressed': (
      'color': var(#{custom-property.get($items: ('color', 'brand-1', 'base'))}),
      'background-color': var(#{custom-property.get($items: ('color', 'brand-1', 'light'))}),
      'border-color': var(#{custom-property.get($items: ('color', 'brand-1', 'light'))}),
      'box-shadow':
        shadow.to-box-shadow(
          shadow.generate(
            $color: rgba(var(#{custom-property.get($items: ('color', 'brand-1', 'light', 'rgb'))}), 0.075),
            $blur-radius: size.get('xs'),
          )
        ),
    ),
    'disabled': (
      'color': var(#{custom-property.get($items: ('color', 'accent-gray', 'light'))}),
      'background-color': var(#{custom-property.get($items: ('color', 'accent-gray', 'darker'))}),
      'border-color': var(#{custom-property.get($items: ('color', 'accent-gray', 'darker'))}),
      'box-shadow': none,
    ),
  ),
) !default;

/* prettier-ignore */
$transparent: (
  'default': (
    'default': (
      'color': var(#{custom-property.get($items: ('color', 'accent-gray', 'base'))}),
      'background-color': transparent,
      'border-color': transparent,
      'box-shadow': none,
    ),
    'hover': (
      'color': var(#{custom-property.get($items: ('color', 'brand-1', 'base'))}),
      'background-color': transparent,
      'border-color': transparent,
      'box-shadow': none,
    ),
    'active': (
      'color': var(#{custom-property.get($items: ('color', 'brand-1', 'base'))}),
      'background-color': var(#{custom-property.get($items: ('color', 'accent-gray', 'lighter'))}),
      'border-color': var(#{custom-property.get($items: ('color', 'accent-gray', 'lighter'))}),
      'box-shadow':
        shadow.to-box-shadow(
          shadow.generate(
            $color: rgba(var(#{custom-property.get($items: ('color', 'accent-gray', 'lighter', 'rgb'))}), 0.075),
            $blur-radius: size.get('xs'),
          )
        ),
    ),
    'pressed': (
      'color': var(#{custom-property.get($items: ('color', 'brand-1', 'dark'))}),
      'background-color': var(#{custom-property.get($items: ('color', 'accent-gray', 'light'))}),
      'border-color': var(#{custom-property.get($items: ('color', 'accent-gray', 'light'))}),
      'box-shadow':
        shadow.to-box-shadow(
          shadow.generate(
            $color: rgba(var(#{custom-property.get($items: ('color', 'accent-gray', 'light', 'rgb'))}), 0.075),
            $blur-radius: size.get('xs'),
          )
        ),
    ),
    'disabled': (
      'color': var(#{custom-property.get($items: ('color', 'accent-gray', 'base'))}),
      'background-color': var(#{custom-property.get($items: ('color', 'accent-gray', 'light'))}),
      'border-color': var(#{custom-property.get($items: ('color', 'accent-gray', 'light'))}),
      'box-shadow': none,
    ),
  ),
  'dark': (
    'default': (
      'color': var(#{custom-property.get($items: ('color', 'accent-gray', 'light'))}),
      'background-color': transparent,
      'border-color': transparent,
      'box-shadow': none,
    ),
    'hover': (
      'color': var(#{custom-property.get($items: ('color', 'brand-1', 'light'))}),
      'background-color': transparent,
      'border-color': transparent,
      'box-shadow': none,
    ),
    'active': (
      'color': var(#{custom-property.get($items: ('color', 'brand-1', 'light'))}),
      'background-color': var(#{custom-property.get($items: ('color', 'accent-gray', 'darker'))}),
      'border-color': var(#{custom-property.get($items: ('color', 'accent-gray', 'darker'))}),
      'box-shadow':
        shadow.to-box-shadow(
          shadow.generate(
            $color: rgba(var(#{custom-property.get($items: ('color', 'accent-gray', 'darker', 'rgb'))}), 0.075),
            $blur-radius: size.get('xs'),
          )
        ),
    ),
    'pressed': (
      'color': var(#{custom-property.get($items: ('color', 'grayscale', 'white'))}),
      'background-color': var(#{custom-property.get($items: ('color', 'accent-gray', 'darker'))}),
      'border-color': var(#{custom-property.get($items: ('color', 'accent-gray', 'darker'))}),
      'box-shadow':
        shadow.to-box-shadow(
          shadow.generate(
            $color: rgba(var(#{custom-property.get($items: ('color', 'accent-gray', 'darker', 'rgb'))}), 0.075),
            $blur-radius: size.get('xs'),
          )
        ),
    ),
    'disabled': (
      'color': var(#{custom-property.get($items: ('color', 'accent-gray', 'light'))}),
      'background-color': var(#{custom-property.get($items: ('color', 'accent-gray', 'darker'))}),
      'border-color': var(#{custom-property.get($items: ('color', 'accent-gray', 'darker'))}),
      'box-shadow': none,
    ),
  ),
) !default;

/* prettier-ignore */
$tab: (
  'default': (
    'default': (
      'border-color': transparent,
      'background-color': transparent,
      'box-shadow': none,
      'color': var(#{custom-property.get($items: ('color', 'text', 'darker'))}),
    ),
    'hover': (
      'border-color': transparent,
      'background-color': transparent,
      'box-shadow': none,
      'color': var(#{custom-property.get($items: ('color', 'brand-1', 'base'))}),
    ),
    'active': (
      'border-color': transparent,
      'background-color': transparent,
      'box-shadow': none,
      'color': var(#{custom-property.get($items: ('color', 'brand-1', 'dark'))}),
    ),
    'pressed': (
      'border-color': transparent,
      'background-color': transparent,
      'box-shadow': none,
      'color': var(#{custom-property.get($items: ('color', 'brand-1', 'darker'))}),
    ),
    'disabled': (
      'border-color': transparent,
      'background-color': transparent,
      'box-shadow': none,
      'color': var(#{custom-property.get($items: ('color', 'accent-gray', 'light'))}),
    ),
  ),
  'dark': (
    'default': (
      'border-color': transparent,
      'background-color': transparent,
      'box-shadow': none,
      'color': var(#{custom-property.get($items: ('color', 'text', 'lighter'))}),
    ),
    'hover': (
      'border-color': transparent,
      'background-color': transparent,
      'box-shadow': none,
      'color': var(#{custom-property.get($items: ('color', 'brand-1', 'lighter'))}),
    ),
    'active': (
      'border-color': transparent,
      'background-color': transparent,
      'box-shadow': none,
      'color': var(#{custom-property.get($items: ('color', 'brand-1', 'lightest'))}),
    ),
    'pressed': (
      'border-color': transparent,
      'background-color': transparent,
      'box-shadow': none,
      'color': var(#{custom-property.get($items: ('color', 'accent-gray', 'light'))}),
    ),
    'disabled': (
      'border-color': transparent,
      'background-color': transparent,
      'box-shadow': none,
      'color': var(#{custom-property.get($items: ('color', 'accent-gray', 'darker'))}),
    ),
  ),
) !default;

/* prettier-ignore */
$danger: (
  'default': (
    'hover': (
      'color': var(#{custom-property.get($items: ('color', 'grayscale', 'white'))}),
      'background-color': var(#{custom-property.get($items: ('color', 'danger', 'base'))}),
      'border-color': var(#{custom-property.get($items: ('color', 'danger', 'base'))}),
      'box-shadow':
        shadow.to-box-shadow(
          shadow.generate(
            $color: rgba(var(#{custom-property.get($items: ('color', 'danger', 'base'))}), 0.075),
            $blur-radius: size.get('xs'),
          )
        ),
    ),
    'active': (
      'color': var(#{custom-property.get($items: ('color', 'grayscale', 'white'))}),
      'background-color': var(#{custom-property.get($items: ('color', 'danger', 'dark'))}),
      'border-color': var(#{custom-property.get($items: ('color', 'danger', 'dark'))}),
      'box-shadow':
        shadow.to-box-shadow(
          shadow.generate(
            $color: rgba(var(#{custom-property.get($items: ('color', 'danger', 'base'))}), 0.075),
            $blur-radius: size.get('xs'),
          )
        ),
    ),
  ),
) !default;
$variants: (
  '': $default,
  '--secondary': $secondary,
  '--transparent': $transparent,
  '--tab': $tab,
  '--danger': $danger,
) !default;
