@use './settings';
@use '../../settings/setup';

.#{setup.$namespace}a-button--danger {
  &:hover,
  &:focus {
    color: settings.$color-hover;
    background: settings.$background-color-hover;
    border-color: settings.$border-color-hover;
    box-shadow: settings.$box-shadow-hover;
  }

  &:active {
    color: settings.$color-active;
    background: settings.$background-color-active;
    border-color: settings.$border-color-active;
    box-shadow: settings.$box-shadow-active;
  }

  &:disabled,
  &[aria-disabled="true"] {
    color: settings.$color-disabled;
    background: settings.$background-color-disabled;
    border-color: settings.$border-color-disabled;
    box-shadow: settings.$box-shadow-disabled;
  }
}
