@use '../../tools/palette';
@use '../../tools/shadow';
@use '../../tools/size';

//
// Hover colors ////////////////////////////////////////

$color-hover: palette.get('grayscale', 'white') !default;
$background-color-hover: palette.get('danger', 'base') !default;
$border-color-hover: palette.get('danger', 'base') !default;
$box-shadow-hover: shadow.to-box-shadow(
  shadow.generate(
    $color: rgba(palette.get('danger', 'base'), 0.3),
    $blur-radius: size.get('s'),
  )
) !default;

//
// Active colors ////////////////////////////////////////

$color-active: palette.get('grayscale', 'white') !default;
$background-color-active: palette.get('danger', 'dark') !default;
$border-color-active: palette.get('danger', 'dark') !default;
$box-shadow-active: shadow.to-box-shadow(
  shadow.generate(
    $color: rgba(palette.get('danger', 'dark'), 0.3),
    $blur-radius: size.get('xs'),
  )
) !default;

//
// Disabled colors ////////////////////////////////////////

$color-disabled: palette.get('text', 'light') !default;
$background-color-disabled: palette.get('text', 'lighter') !default;
$border-color-disabled: palette.get('text', 'lighter') !default;
$box-shadow-disabled: none !default;
