//
// Hover colors ////////////////////////////////////////

$bitstyles-button-danger-color-hover: palette('white') !default;
$bitstyles-button-danger-background-color-hover: palette('danger', '100') !default;
$bitstyles-button-danger-border-color-hover: palette('danger', '100') !default;
$bitstyles-button-danger-box-shadow-hover: 0 0 spacing('m') rgba(palette('danger', '100'), 0.3) !default;

//
// Active colors ////////////////////////////////////////

$bitstyles-button-danger-color-active: palette('white') !default;
$bitstyles-button-danger-background-color-active: palette('danger', '100') !default;
$bitstyles-button-danger-border-color-active: palette('danger', '100') !default;
$bitstyles-button-danger-box-shadow-active: 0 0 spacing('xs') rgba(palette('danger', '100'), 0.3) !default;

//
// Disabled colors ////////////////////////////////////////

$bitstyles-button-danger-color-disabled: palette('black', '50') !default;
$bitstyles-button-danger-background-color-disabled: palette('black', '10') !default;
$bitstyles-button-danger-border-color-disabled: palette('black', '10') !default;
$bitstyles-button-danger-box-shadow-disabled: none !default;
