@use '../../settings/setup';
@use '../../tools/properties';

/* stylelint-disable scss/dollar-variable-default */
$classname: properties.get-classname(
  $classname-items: (
    setup.$namespace,
    'u',
    'outline',
    '0',
  ),
);
/* stylelint-enable scss/dollar-variable-default */

.#{$classname} {
  &:focus {
    outline: none;
  }
}
